<form>
  <div style="position: relative;">
    <h3 id="h2">{{type}} City</h3>
    <i class="fa fa-times fa-2x" aria-hidden="true" id="closeButton" (click)="closeDialog()" tabindex="0"></i>
  </div>
  <hr id="popup-hr">

  <mat-card style="margin-bottom: 5%;padding-top: 0 !important;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pincodefont">Country</div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <mat-form-field appearance="outline" style="width: 18rem !important;">
            <mat-select disableOptionCentering panelClass="creditSelect creditNgxSelect" name="countryId"
              [(ngModel)]="countryId" (selectionChange)="getStateByCountryId()" placeholder="Select Country"
              (blur)="scrollActiveValue()">
              <ngx-mat-select-search [(ngModel)]="searchCtrlCountry" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search">
                <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search</mat-icon>
              </ngx-mat-select-search>
              <mat-option
                *ngFor="let country of (countryList | stringFilter:searchCtrlCountry:'countryName') | sortBy:'asc':'countryName'"
                [value]="country.id">
                {{country.countryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(isStateenable) == true">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pincodefont">State</div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select disableOptionCentering panelClass="creditSelect creditNgxSelect" name="stateId"
              [(ngModel)]="stateId" (selectionChange)="getCityByStateId()" placeholder="Select State"
              (blur)="scrollActiveValue()">
              <ngx-mat-select-search [(ngModel)]="searchCtrlState" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search">
                <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search</mat-icon>
              </ngx-mat-select-search>
              <mat-option
                *ngFor="let state of (stateList | stringFilter:searchCtrlState:'stateName') | sortBy:'asc':'stateName'"
                [value]="state.id">
                {{state.stateName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="(iscityenable) == true">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pincodefont">Search </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <mat-form-field appearance="outline" style="width: 100%;">
            <input autocomplete="true" matInput placeholder="Search city" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="overflow-2 pincode_scroll">
      <table mat-table [dataSource]="dataSource" aria-describedby="table" class="mat-elevation-z8" *ngIf="(iscityenable) == true">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef scope="row">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef scope="row"> City </th>
          <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </table>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top: 10px;"
      *ngIf="(iscityenable) == true">
      <button class="btn1" id="showbtn" mat-raised-button color="primary" (click)="showCheckBox()">Submit</button>
    </div>


  </mat-card>
</form>
