<div class="modal-container">
  <h5 class="sub_heading">Manage Pin Code Features</h5>
  <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
    cancel
  </em>
  <hr class="border_row">
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="all_form">
    <div fxFlex="80%">
      <mat-grid-list cols="2" rowHeight="62px">
        <mat-grid-tile>
          <mat-label><strong>Feature Name</strong></mat-label>
        </mat-grid-tile>
        <mat-grid-tile class="module_area mg_left_3">
          <mat-form-field appearance="outline">
            <input matInput uppercase name="rateCardCode">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="20px">
        <mat-grid-tile>
          <div class="expand_less_more">
            <em class="material-icons">expand_less</em>
            <em class="material-icons">expand_more</em>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="125px">
        <mat-grid-tile>
          <mat-label><strong>List of Features</strong></mat-label>
        </mat-grid-tile>
        <div class="pin_crid_block">
          <mat-grid-tile class="module_area mg_left_3">
            <div class="pin_code_list">
              <ul>
                <li>Hilly Area</li>
                <li>Congested Area</li>
                <li>Mines</li>
                <li>Mines</li>
                <li>Mines</li>
                <li>Mines</li>
                <li>Mines</li>
              </ul>
            </div>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
  </div>
  <div>
    <div>
      <mat-grid-list cols="1" rowHeight="55px" class="row_height">
        <mat-grid-tile class="module_area">
          <button mat-flat-button class="theme_btn round_btn">Save</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>