.table-heading{
  height: 40px;
    background-color: #efefef;
    text-transform: uppercase;
}
td, th{
  padding: 10px !important;
}

#secondry-button {
  background-color: #fff !important;
  color: #1a1a1a !important;
  border: .2rem solid #27AE60;
  font-weight: bold;
  box-sizing: border-box;
}
.mr10{
  margin-right: 10px;
}