#search_icon {
  color: #585757;
  opacity: 0.5;
  position: relative;
  top: 4px;
  left: -2px;
}
.example-container {
  font-family: "Open Sans", sans-serif !important;
  height: 100vh;
}
.example-icon {
  padding: 0 34px;
}
.example-spacer {
  flex: 1 1 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}

::ng-deep .mat-icon-button {
  right: 3px !important;
}
::ng-deep body {overflow-y: scroll;}
::ng-deep .burger-menu {
  font-size: 35px;
  color: #575555;
  height: 0;
  line-height: 0;
  margin-top: 3px;
}
.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 0px;
}

::ng-deep .mat-sidenav-content {
  font-family: "Open Sans", sans-serif !important;
}
#mat-toolbar {
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif !important;
}

.parent {
  cursor: pointer !important;
  background: #1b904d !important;
  display: block !important;
  border-left: 0.5rem solid #01632a !important;
  padding-left: 1.2rem !important;
  line-height: 5rem !important;
  font-size: 1.6rem !important;
}
#fa-down {
  margin-left: 10px;
}

.mat-drawer-container {
  display: inline-block;
}
.mat-toolbar-row, .mat-toolbar-single-row {
 height: 56px;
}
#topbar .mat-toolbar-multiple-rows {
  border-bottom: 1px solid #f1f1f1;
}

.mat-toolbar-multiple-rows {
  min-height: auto !important;
}
img.circle {
  width: 11rem;
  margin-left: 1rem;
  margin-right: 2.2rem;
}


img.user-img {
  display: inline-block;
  margin-left: 1rem;
  width: 4.6rem;
}

#mat-toolbar .userBtn{ 
  font-size: 1.6rem!important;
  position: relative!important;
  top: 11px!important;
  text-align: center!important;
  font-weight: bold!important;         

}
#mat-toolbar span.user-profile {
  margin-top: 19px!important;
 
  font-size: 1.2rem!important;
  line-height: 7px!important;
}


span.user-profile {
  width: 400px;
  display: block;
}

.defltBranch {
  text-align: right;
  margin-right: -23px;
}

::ng-deep .mat-menu-panel {
  border-radius: 0rem !important;
  position: absolute !important;
  right: 18px !important;
  top: 31px !important;
}
::ng-deep #topbar .user-profile span.mat-button-wrapper {
  border-bottom: 1px solid #27ae60;
}

 .search {position: relative; color: #1a1a1a; font-size: 1.4rem; padding-top:.7rem; width: 90%; }
.search input { width: 100%; height: 4.5rem; border:0px; color:#1a1a1a;}


#buttonid{
  width: 90% !important;
  height: 4rem !important;
  right: 10% !important;}

  hr {
    margin-top: 5px !important;
    border: 1px solid #27ae60;
    height: 0 !important;}


    #topbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 101;
  }

  .logoutScreen {
    position: fixed;
    top: 47px;
    right: 13px;
    width: 16rem;
    background: white;
    box-shadow: 1px 2px 5px #b8b8b8;
    font-size: 1em;
    height: 9rem;
}

.logoutScreen li {
  list-style: none;
}

.logoutScreen a {
  color: #5e5e5e;
  font-size: 1.7rem;
  display: block;
  cursor: pointer;
  text-align: left;
  font-family: inherit;
  line-height: 5rem;
  padding-left: 2rem;
}
.logoutScreen a:hover {
  background: #27ae60;
  text-decoration: none;
  color: #fff!important;
}

