<div class="modal-container">
	<h5 class="sub_heading">Add GST</h5>
	<em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
		cancel
	</em>
	<hr class="border_row">
	<br>
	<div>

		<div class="all_form">
			<form autocomplete="off" name="gstForm" (ngSubmit)="f.form.valid && updateGst()" #f="ngForm"
				novalidate>
				<div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
					<div fxFlex="100%">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="20%%">
								<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
									<div fxFlex="50%">
										<mat-label><strong>GST Value (%) <sup class="mandatory">*</sup>:</strong></mat-label>

									</div>
									<div class="module_area input_height" fxFlex="50%">
										<mat-form-field appearance="outline"
											[ngClass]="{ 'mandatory_input': f.submitted && gstVal.invalid }">
											<input matInput name="gstVal" [(ngModel)]="gstObj.gstVal" maxlength="4"  appTwoDigitDecimaNumber
												 class="form-control" #gstVal="ngModel" required>
										</mat-form-field>
										<div *ngIf="gstVal.touched || (f.submitted && gstVal.invalid)"
											class="invalid-feedback">
											<div *ngIf="gstVal.errors?.required">GST Value is Required</div>
										</div>
									</div>
								</div>
							</div>
							<div fxFlex="5%"></div>
							<div fxFlex="20%">
								<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
									<div fxFlex="50%">
										<mat-label><strong>CGST  (%) <sup class="mandatory">*</sup>:</strong></mat-label>

									</div>
									<div class="module_area input_height" fxFlex="50%">
										<mat-form-field appearance="outline"
											[ngClass]="{ 'mandatory_input': f.submitted && cgstVal.invalid }">
											<input matInput name="cgstVal" [(ngModel)]="gstObj.cgstVal" appTwoDigitDecimaNumber
												(keyup)="addGst()"  class="form-control"
												#cgstVal="ngModel" maxlength="3" required>
										</mat-form-field>
										<div *ngIf="cgstVal.touched ||(f.submitted && cgstVal.invalid)"
											class="invalid-feedback">
											<div *ngIf="cgstVal.errors?.required">CGST is Required</div>
										</div>
									</div>
								</div>
							</div>
							<div fxFlex="5%"></div>
							<div fxFlex="20%">
								<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
									<div fxFlex="50%">
										<mat-label><strong>SGST  (%) <sup class="mandatory">*</sup>:</strong></mat-label>

									</div>
									<div class="module_area input_height" fxFlex="50%">
										<mat-form-field appearance="outline"
											[ngClass]="{ 'mandatory_input': f.submitted && sgstVal.invalid }">
											<input matInput [(ngModel)]="gstObj.sgstVal" (keyup)="addGst()" appTwoDigitDecimaNumber
												 name="sgstVal" class="form-control" #sgstVal="ngModel"
												maxlength="3" required>
										</mat-form-field>
										<div *ngIf="sgstVal.touched || (f.submitted && sgstVal.invalid)"
											class="invalid-feedback">
											<div *ngIf="sgstVal.errors?.required">SGST is Required</div>
										</div>
									</div>
								</div>
							</div>
							<div fxFlex="5%"></div>
							<div fxFlex="20">
								<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
									<div fxFlex="50%">
										<mat-label><strong>IGST  (%) :</strong></mat-label>

									</div>
									<div class="module_area input_height" fxFlex="50%">
										<mat-form-field appearance="outline">
											<input matInput [(ngModel)]="gstObj.igstVal" (keyup)="addGst()" appTwoDigitDecimaNumber
												 name="igstVal" class="form-control" maxlength="3">
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>

						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

							<div fxFlex="45%">

								<div fxFlex="50%">
									<mat-label><strong>Effective Date <sup class="mandatory">*</sup>:</strong></mat-label>
								</div>
								<div class="module_area input_height" fxFlex="50%">
									<mat-form-field appearance="outline" class="date_picker_adjust"
										[ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
										<mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
										</mat-datepicker>
										<input matInput [matDatepicker]="picker"
											[disabled]="gstObj.effectiveDt<currentDate && this.gstObj.id && isChange"
											class="date_input_height" name="effectiveDt" placeholder="DD/MM/YYYY"
											[(ngModel)]="gstObj.effectiveDt" validDate #effectiveDt="ngModel" required
											[min]="currentDate" (change)="isChange=false"
											(dateChange)="changeDateFormat(gstObj.effectiveDt,gstObj.expDt)" />
										<mat-datepicker-toggle (onMenuOpen)="checkForExpiryDate(gstObj.effectiveDt)"
											matSuffix [for]="picker"></mat-datepicker-toggle>
									</mat-form-field>
									<div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)"
										class="invalid-feedback">
										<div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
										<div *ngIf="gstObj.effectiveDt < currentDate ">Effective date cannot be less
											than current date</div>
									</div>
								</div>
							</div>
							<div fxFlex="10%"></div>
							<div fxFlex="45%">
								<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
									<div fxFlex="50%">
										<mat-label><strong>Expiry Date:</strong></mat-label>
									</div>
									<div class="module_area input_height" fxFlex="50%">
										<mat-form-field appearance="outline" class="date_picker_adjust"
											[ngClass]="{ 'mandatory_input': isVar && ((gstObj.expDt<=gstObj.effectiveDt && !gstObj.id) || (currentDate>gstObj.expDt && gstObj.id))  }">
											<mat-datepicker #myDatepicker23
												(opened)="checkForExpiryDate(gstObj.effectiveDt)"
												(closed)="removeMinDate(gstObj.effectiveDt)" panelClass="mdmDatepicker"
												class="myDatepicker23">
											</mat-datepicker>
											<input matInput [matDatepicker]="myDatepicker23" class="date_input_height"
												placeholder="" name="expDt" placeholder="DD/MM/YYYY" validDate
												[(ngModel)]="gstObj.expDt" #expDt="ngModel" [min]="expiryMinDate"
												(dateChange)="changeDateFormat(gstObj.effectiveDt,gstObj.expDt);"
												(change)="isVar=true">
											<mat-datepicker-toggle matSuffix [for]="myDatepicker23">
											</mat-datepicker-toggle>
										</mat-form-field>
										<div *ngIf="isVar" class="invalid-feedback">
											<div *ngIf="gstObj.expDt<=gstObj.effectiveDt">
												Must be Greater than Effective and Current Date.</div>
											<div
												*ngIf="currentDate>gstObj.expDt && !(gstObj.expDt <= gstObj.effectiveDt) && gstObj.id">
												Must be Greater than Effective and Current Date.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="100%">
								<mat-grid-list cols="1" rowHeight="75px" class="row_height">
									<mat-grid-tile class="module_area">
										<button mat-flat-button class="theme_btn round_btn">Save</button>
									</mat-grid-tile>
								</mat-grid-list>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
