<section class="retailContainer header">
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <p style="color: white;font-size: 3.2rem;"><span style="opacity: .9;">{{this.greeting()}},</span>
        <strong> {{userName}}</strong></p>
    </div>
    <div class="col-md-3 text-center">
      <label style="color: white;font-size: 3rem;">Retail Contract</label>
    </div>
  </div>
</div>

<div class="container containerWidth cardMarginTop">
  <div class="row countCard">
    <div class="col-md-4">
      <mat-card class="count_card" style="border-radius: 1rem" (click)="onSelectBlock('ACTIVE')">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem;">
            Total Active Contracts
          </label>
          <h2 class="cardPointer" >
            {{countTotal }}
          </h2>
          <h5>Today</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="count_card" (click)="onSelectBlock('DRAFT')">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem;">
            Draft Mode Contracts </label>
          <h2 class="cardPointerRed" >{{countDraft}} </h2>
          <h5>Today</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div> 
    <div class="col-md-4">
      <mat-card class="count_card" (click)="onSelectBlock('EXPIRING SOON')">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem;">
            Expiring Soon
          </label>
          <h2 class="cardPointerRed" >{{countExpiringSoon}}</h2>
          <h5>This Month</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<section class="container containerWidth">
  <div class="row">
    <div class="col-md-10">
      <mat-card>
        <!--    In case of Pending Contract  start-->
        <div class="row"
          *ngIf="selectedValue === 'PENDING' || selectedValue === 'DRAFT' || selectedValue === 'EXPIRING SOON' || selectedValue === 'INACTIVE'">
          <div class="col-md-6 dashboard-heading">
            <h5 *ngIf="selectedValue === 'PENDING'"><strong>PENDING RATE CONTRACT ({{countPending}})</strong></h5>
            <h5 *ngIf="selectedValue === 'EXPIRING SOON'"><strong>EXPIRING SOON ({{countExpiringSoon}})</strong></h5>
            <h5 *ngIf="selectedValue === 'DRAFT'"><strong>IN DRAFT MODE ({{countDraft}})</strong></h5>
            <h5 *ngIf="selectedValue === 'INACTIVE'"><strong>TERMINATED ({{countInactive}})</strong></h5>
          </div>
          <div class="col-md-6"
            *ngIf="(selectedValue === 'PENDING' || selectedValue === 'DRAFT') && (perList && (perList.includes('MSA_CREATE')))">
            <mat-icon class="pull-right" (click)="createmsa(null)"
              style="background-color: #27AE60; border-radius: 50% ; color: white;">add
            </mat-icon>
            <h5 class="pull-right" style="margin-right: 8px;"><strong>New Retail Contract</strong></h5>
          </div>
          
        </div>

        <div class="row"
          *ngIf="selectedValue === 'PENDING' || selectedValue === 'DRAFT' || selectedValue === 'EXPIRING SOON'||selectedValue === 'INACTIVE'">
          <div class="col-md-3 col-sm-8 col-xs-12">
            <a style="cursor: pointer;">
              <span class="fa fa-search fa-lg" id="defualtBranchSearch"></span>
              <input class="inputfield3 form-control input-md" placeholder="Search" (keyup)="applyFilter($event)"
                style="height: 2.7rem; padding-left: 2.3rem;cursor: pointer;" />
            </a>
          </div>
        </div>

        <!--  In case of Search contract start -->
        <div class="row" *ngIf="selectedValue === 'ACTIVE'">
          <div class="col-md-6">
          <div class="col-md-3 dashboard-heading paddingleftzero">
            <h5><strong>ACTIVE ({{countTotal}})</strong></h5>
          </div>
          <div class="col-md-6" style="padding-top: .5rem !important;">
            <mat-radio-group class="example-radio-group" [(ngModel)]="activeStatusValue" (change) ="activeStatus($event)">
            <mat-radio-button value="ACTIVE" class="example-radio-button" >Active</mat-radio-button>
            <mat-radio-button value="EXPIRED" class="example-radio-button" >Expired</mat-radio-button>
          </mat-radio-group>
          </div>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row" *ngIf="selectedValue === 'ACTIVE'">
          <div class="col-md-3 col-sm-8 col-xs-12 mo_mb10">
            <a style="cursor: pointer;">
              <span class="fa fa-search fa-lg" id="defualtBranchSearch"></span>
              <input class="inputfield3 form-control input-md" placeholder="Search by Retail code" (keyup)="applyFilter($event)"
                style="height: 2.7rem; padding-left: 2.3rem;cursor: pointer;" />
            </a>
          </div>
        </div>
        <!--   In case of search contract end-->
        <div class="row" style="min-height: 60rem;">
          <div class="table-responsive" style="margin-bottom: 30px; margin-top:5px;">
            <table mat-table [dataSource]="dataSource"   aria-describedby="table" class="mat-elevation-z8" matSort  matSortDisableClear
              *ngxPermissionsOnly="['CONTRACT_READ']"> 
              <!-- Name Column -->
              <ng-container matColumnDef="custLevel">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> MSA LEVEL </th>
                <td mat-cell *matCellDef="let element">
                  <a *ngIf="(perList && (perList.includes('CONTRACT_CREATE'))) && (selectedValue != 'ACTIVE' && selectedValue != 'EXPIRING SOON' && selectedValue != 'INACTIVE')"
                    (click)="createmsa(element.id)" class="green">
                    <div class="row_center row_center_width" [matTooltip]="element.custLevel | uppercase"
                      matTooltipPosition="above" style="width: 13rem !important;">
                      {{element.custLevel | uppercase}}</div>
                  </a>
                  <div *ngIf="!(perList && (perList.includes('CONTRACT_CREATE'))) && (selectedValue != 'ACTIVE' && selectedValue != 'EXPIRING SOON' && selectedValue != 'INACTIVE' )"><div class="row_center row_center_width" [matTooltip]="element.custLevel | uppercase" matTooltipPosition="above" style="width: 13rem !important;">
                      {{element.custLevel | uppercase}}</div>
                  </div>
                  <div *ngIf="selectedValue == 'ACTIVE' || selectedValue == 'EXPIRING SOON' || selectedValue == 'INACTIVE'"
                    class="row_center row_center_width" [matTooltip]="element.custLevel | uppercase"  matTooltipPosition="above" style="width: 13rem !important;">
                    {{element.custLevel | uppercase}}</div>
                </td>
              </ng-container>
              <ng-container matColumnDef="custName">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                <td mat-cell *matCellDef="let element"><div class="row_center1"  [matTooltip]="element.custName | uppercase" [matTooltipDisabled]="element.custName?.length<12"   matTooltipPosition="above"> {{element.custName}} </div></td>
              </ng-container>
              <ng-container matColumnDef="serviceOffering">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> SERVICE OFFERING</th>
                <td mat-cell *matCellDef="let element"><div class="row_center1" [matTooltip]="returnserviceoffering(element.attr2) | uppercase" [matTooltipDisabled]="returnserviceoffering(element.attr2)?.length<17"  matTooltipPosition="above"> {{returnserviceoffering(element.attr2)}} </div></td>
              </ng-container>
              <ng-container matColumnDef="attr1">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> RATE CARD </th>
                <td mat-cell *matCellDef="let element"><div class="row_center1" 
                  [matTooltip]="element.attr1" [matTooltipDisabled]="element.attr1?.length<17" matTooltipPosition="above"> {{element.attr1}} </div></td>
              </ng-container>
              <ng-container matColumnDef="cntrCode" *ngIf="selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON'|| selectedValue === 'INACTIVE'">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> RETAIL CODE </th>
                <td mat-cell *matCellDef="let element"><div class="row_center1"> {{element.cntrCode}} </div></td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                <td mat-cell *matCellDef="let element"> {{returnstatus(element.status)}} </td>
              </ng-container>
              <ng-container matColumnDef="updDt" *ngIf="selectedValue != 'PENDING'">
                <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> LAST UPDATE DATE </th>
                <td mat-cell *matCellDef="let element" style="color: red;"> {{element.updDt | date :  dateFormat}} </td>
              </ng-container>
              <ng-container matColumnDef="version" *ngIf="selectedValue == 'ACTIVE' || selectedValue == 'EXPIRING SOON' || selectedValue == 'INACTIVE'">
                <th scope="row" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="padding-right: 0px;" (click)="showVersionPopup(element)">
                  <em class="material-icons iconSize" style="cursor: pointer;"
                    *ngIf="(perList && (perList.includes('CONTRACT_READ')))">visibility</em>
                </td>
              </ng-container>             
              <ng-container matColumnDef="edit" *ngIf="selectedValue == 'ACTIVE' || selectedValue == 'EXPIRING SOON'">
                <th scope="row" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="padding-right: 0px;" (click)="showEditFlowPopup(element)">
                  <em class="material-icons iconSize" style="cursor: pointer;"
                    *ngIf="(perList && (perList.includes('CONTRACT_UPDATE')))">create</em> 
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.getContractIdFlag ? 'backgroundGren' : '' "></tr>
            </table>
          </div>
            <div >
              <mat-paginator class="retailContainer paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
      </mat-card>
    </div>
    
    <div class="col-md-2"  cdkDropList  [ngClass]="draggedObjects?.length == 0 ? 'border' : ''"
    #bookmarked="cdkDropList"
    [cdkDropListData]="draggedObjects"
    [cdkDropListConnectedTo]="[simple]"
    (cdkDropListDropped)="drop($event)">
 <p *ngIf="draggedObjects?.length == 0">Drop Here...</p>
 <div *ngFor="let item of draggedObjects; let j=index">
   <div class="pull-right" *ngxPermissionsOnly="[item.permission]"  [ngClass]="selectedValue === item?.targetValue ? 'greenBlock' : 'whiteBlock'"
        cdkDrag (click)="onSelectBlock(item?.targetValue)">
     <img style="margin-bottom: 0px;" width="26px"   [src]="getImagePath(item?.imagePath,item?.targetValue)" alt="icon"/>
     <h3 *ngIf="item.objectName == 'MSA'" class="fontSizeDashboard text-center"  [title]="item?.objectName"
          style="text-overflow: ellipsis;width: 100%; padding: 0rem 0.7rem;"
          > {{item?.objectName}} </h3>
     <h3 *ngIf="item.objectName != 'MSA'" class="fontSizeDashboard text-center"  [title]="item?.objectName"
          style="text-overflow: ellipsis;width: 100%; padding: 0rem 0.7rem;"
          > {{item?.objectName | titlecase}} </h3>
     <h3 class="fontSizeDashboard" [ngClass]="selectedValue === item?.targetValue ? 'white' : 'red'">
       <span *ngIf="item.count">({{item?.count}})</span></h3>
     <div style="margin-top: 5px;">
       <mat-icon matTooltip="Mark the object as pinned" class="iconSize" (click)="addToPinnedObj(item,j)" [ngClass]="checkIsPinned(item) ? 'orange' : selectedValue === item.targetValue ? 'white' : 'black'">{{item.bookmarkIcon}}</mat-icon>
       <mat-icon matTooltip="Mark the object as favourite" class="iconSize" (click)="addToFavorite(item,j)" [ngClass]="checkIsFavorite(item) ? 'red' : selectedValue === item?.targetValue ? 'white' : 'green'">{{item.favoriteIcon}}</mat-icon>
     </div>
   </div>
 </div>
</div>  

  </div>

  <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise"></ngx-spinner>
</section>


<section class="dragPosition"> 
  <div class="container containerWidth dragPosition" style="margin-top: 2rem;margin-bottom: 50px;">
     <div class="row" cdkDropList [ngClass]="cardDetails?.length == 0 ? 'favourite_block' : '' "
    #simple="cdkDropList"
    [cdkDropListData]="cardDetails"
    [cdkDropListConnectedTo]="[bookmarked]"
    (cdkDropListDropped)="drop($event)">
 <p *ngIf="cardDetails?.length == 0">Drop Here...</p>
 <div class="item item-3 col-md-3 col-sm-6 mo_mb10 dropdown paddingrightzero bottomMargin" *ngFor="let data of cardDetails;  let k=index" cdkDrag (click)="onSelectBlock(data?.targetValue)">
   <mat-card class="example-card matCardBottom" *ngxPermissionsOnly="[data.permission]">
     <mat-card-content>
       <mat-icon matTooltip="Mark the object as pinned"  matTooltipPosition="above" style="padding-top:2px;" (click)="addToPinnedObj(data,k)" [ngClass]="checkIsPinned(data) ? 'orange' : 'black'">{{data.bookmarkIcon}}</mat-icon>
       <mat-icon matTooltip="Mark the object as favourite" matTooltipPosition="above" class="heartIcon1" (click)="addToFavorite(data,k)" [ngClass]="checkIsFavorite(data) ? 'red' : green">{{data.favoriteIcon}}</mat-icon>
       <div class="row cursor">
         <div class="col-md-10 cursor">
           <label *ngIf="data.objectName == 'MSA'"  class="fontSizeDashboard cursor" style="color: #27AE60; font-size: 2rem;display: block;white-space: nowrap;"
                  [title]="data?.objectName" > {{data?.objectName}}
           </label>
           <label *ngIf="data.objectName != 'MSA'" class="fontSizeDashboard cursor" style="color: #27AE60; font-size: 2rem;display: block;white-space: nowrap;"
                  [title]="data?.objectName" > {{data?.objectName | titlecase}}
         </label>
         </div>
         <div class="col-md-2">
           <img style="margin-bottom: 7px;float:right;margin-top: 5PX;" width="30px" alt="image"    src="/assets/images/{{data?.imagePath}}"/>
         </div>
       </div>
     </mat-card-content>
   </mat-card>
 </div>
</div>
  
  </div>
</section>