<section class="bookingContainer header">

</section>
<div class="container greetingcontainer">
  <div class="row mt100">
    <div class="col-md-9">
      <p style="color: white;font-size: 3.2rem;"><span style="opacity: .9;">{{this.greeting()}},</span>
        <b>{{userName}}</b></p>
    </div>
    <div class="col-md-3 text-center">
      <label style="color: white;font-size: 3rem;">Credit Contract</label>
    </div>
  </div>
</div>


<div class="container containerWidth cardMarginTop">
  <div class="row countCard">
    <div class="col-md-4">
      <mat-card class="count_card" style="border-radius: 1rem">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem;">
            Total Active Contracts
          </label>
          <h2 class="cardPointer" (click)="onSelectBlock('ACTIVE')">
            {{count?.totalCount }}
          </h2>
          <h5>Today</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="count_card">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem;" >Pending </label>
          <h2 class="cardPointerRed" (click)="onSelectBlock('PENDING')">{{count?.pendingCount}} </h2>
          <h5>Today</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="count_card">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem;">
            Expiring Soon
          </label>
          <h2 class="cardPointerRed" (click)="onSelectBlock('EXPIRING SOON')">{{count?.expCount}}</h2>
          <h5>This Month</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<section class="container mt15 containerWidth" >
  <div class="row">
    <div class="col-md-10">
      <mat-card style="min-height: 60rem;">
        <!--    In case of Pending Contract  start-->
        <div class="row" *ngIf="selectedValue === 'PENDING'" style="cursor: pointer !important;">
          <div class="col-md-6 dashboard-heading">
            <h5><b>Pending Contracts ( {{count?.pendingCount}} )</b></h5>
          </div>
        </div>

        <div class="row" *ngIf="selectedValue === 'PENDING'">
          <div class="col-md-3 col-sm-8 col-xs-12">
            <a style="cursor: pointer;">
              <span class="fa fa-search fa-lg" id="defualtBranchSearch"></span>
              <input class="inputfield3 form-control input-md" placeholder="Search" (keyup)="applyFilter($event)"
                style="height: 2.7rem; padding-left: 2.3rem;" />
            </a>
          </div>
        </div>
        <!--    In case of Pending Contract  end  -->

        <div class="row" *ngIf="selectedValue === 'EXPIRING SOON' || selectedValue === 'ACTIVE' || selectedValue === 'DRAFT'">
          <div class="col-md-6">
            <h5 *ngIf="selectedValue === 'EXPIRING SOON'"><b>EXPIRING SOON ( {{count?.expCount}} )</b></h5>
            <h5 *ngIf="selectedValue === 'ACTIVE'"><b>ACTIVE ( {{count?.totalCount}} )</b></h5>
            <h5 *ngIf="selectedValue === 'DRAFT'"><b>IN DRAFT MODE ( {{msaData.length}} )</b></h5>
          </div>
        </div>
        <div class="row" *ngIf="selectedValue === 'EXPIRING SOON' || selectedValue === 'ACTIVE' || selectedValue === 'DRAFT'">
          <div class="col-md-3 col-sm-8 col-xs-12">
            <a style="cursor: pointer;">
              <span class="fa fa-search fa-lg" id="defualtBranchSearch"></span>
              <input class="inputfield3 form-control input-md" placeholder="Search" (keyup)="applyFilter($event)"
                style="height: 2.7rem; padding-left: 2.3rem;" />
            </a>
          </div>
        </div>
        <div class="row mt15">
          <div class="table-responsive" style="margin-bottom: 30px; ">

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 dashboardTable" *ngxPermissionsOnly="['CONTRACT_READ']">

              <!-- Position Column -->
              <ng-container matColumnDef="custName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CUSTOMER NAME </th>
                <td mat-cell *matCellDef="let element"> 
                  <a *ngIf="(perList && (perList.includes('CONTRACT_CREATE'))) && selectedValue != 'ACTIVE' && selectedValue !='EXPIRING SOON'" (click)="goToMsa(element)"><div class="row_center row_center_width" [matTooltip]="element.custName | uppercase" matTooltipPosition="above" style="width: 13rem !important;" [matTooltipDisabled]="element.custName.length<14">{{element.custName | uppercase}}</div>
                  </a>
                  <div *ngIf="!(perList && (perList.includes('CONTRACT_CREATE'))) && selectedValue != 'ACTIVE' && selectedValue != 'EXPIRING SOON'" class="row_center row_center_width" [matTooltip]="element.custName | uppercase" matTooltipPosition="above" style="width: 13rem !important;" [matTooltipDisabled]="element.custName.length<14">{{element.custName | uppercase}}</div>
                  <div *ngIf="selectedValue == 'ACTIVE' || selectedValue == 'EXPIRING SOON'" class="row_center row_center_width" [matTooltip]="element.custName | uppercase" matTooltipPosition="above" style="width: 13rem !important;" [matTooltipDisabled]="element.custName.length<14">{{element.custName | uppercase}}</div>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="opprId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>OPPORTUNITY ID </th>
                <td mat-cell *matCellDef="let element"> <div class="row_center row_center_width dashboardOppor" [matTooltip]="element.opprId" matTooltipPosition="above">{{element.opprId}}</div> </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="pan">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PAN NO. </th>
                <td mat-cell *matCellDef="let element"><div class="row_center row_center_width" > {{element.pan}}</div></td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="gstinNum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> GSTIN </th>
                <td mat-cell *matCellDef="let element"> <div class="row_center row_center_width" [matTooltip]="element.gstinNum" matTooltipPosition="above">{{element.gstinNum}}</div> </td>
              </ng-container>
              <!-- Saleforce id -->
              <ng-container matColumnDef="sfdcAccId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SALEFORCE ACC.ID </th>
                <td mat-cell *matCellDef="let element"><div class="row_center row_center_width" [matTooltip]="element.sfdcAccId" matTooltipPosition="above" >{{element.sfdcAccId}} </div></td>
              </ng-container>
              <!-- msaCustAddrs id -->
              <ng-container matColumnDef="msaCustAddrs">
                <th mat-header-cell *matHeaderCellDef > ADDRESS&nbsp;&nbsp;&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngFor="let add of element.msaCustAddrs">
                    <i [matTooltip]="add.addr | uppercase" matTooltipPosition="above" class="material-icons">room</em>
                  </div>
                </td>
              </ng-container>
              <!-- Saleforce id -->
              <ng-container matColumnDef="originatingSrc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE </th>
                <td mat-cell *matCellDef="let element"><div class="row_center row_center_width"> {{element.originatingSrc}} </div></td>
              </ng-container>
              <ng-container matColumnDef="sfxCode" *ngIf="selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SFX CODE </th>
                <td mat-cell *matCellDef="let element"><div class="row_center row_center_width" [matTooltip]="element.cntrCode" matTooltipPosition="above">{{element.cntrCode}}</div> </td>
              </ng-container>

              <!-- Expiry date column -->
              <ng-container matColumnDef="expDt" *ngIf="selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EXPIRY DATE </th>
                <td mat-cell *matCellDef="let element" style="color: red;"> <div class="row_center row_center_width">{{element.cntrExpDt}} </div></td>
              </ng-container>
              
             <!-- Last updated date column -->
              <ng-container matColumnDef="lastUpdateDate" *ngIf="selectedValue === 'DRAFT'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST UPDATE DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.cntrUpdDt}} </td>
              </ng-container>

              <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" style="padding-right: 0px;" >
                  <i class="material-icons iconSize" style="cursor: pointer;" (click)="openDialogContractVersion(element)" *ngIf="(perList && (perList.includes('CONTRACT_READ'))) && (selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON')">visibility</em>
                </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" style="padding-right: 0px;" >
                  <i class="material-icons iconSize" style="cursor: pointer;" (click)="showSfxCodeData(element)" *ngIf="(perList && (perList.includes('CONTRACT_UPDATE'))) && (selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON')">create</em>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div>
              <mat-paginator class="contractContainer paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>

      </mat-card>
    </div>
    <div class="col-md-2" *ngxPermissionsOnly="['CONTRACT_READ']">
      <div class="mo_float_left pull-right" [ngClass]="selectedValue === 'PENDING' ? 'greenBlock' : 'whiteBlock'"
        (click)="onSelectBlock('PENDING')">
        <img  width="26px" [src]="selectedValue === 'PENDING' ? '/assets/images/pending_icon.png': '/assets/images/green_pending.png'" />
        <h3 class="fontSizeDashboard" [ngClass]="selectedValue === 'PENDING' ? 'white' : 'green'">Pending<br>Contract</h3>
        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'PENDING' ? 'white' : 'green'">turned_in_not</mat-icon>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'PENDING' ? 'white' : 'red'">favorite</mat-icon>
        </div>
      </div>

      <div class="pull-right" [ngClass]="selectedValue === 'EXPIRING SOON' ? 'greenBlock' : 'whiteBlock'"
        (click)="onSelectBlock('EXPIRING SOON')" style="cursor: pointer;">
        <img width="26px"
          [src]="selectedValue === 'EXPIRING SOON' ? '/assets/images/expiring_white.png' : '/assets/images/expiring_icon.png'">
        <h3 class="fontSizeDashboard">Expiring<br>Soon</h3>
        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'EXPIRING SOON' ? 'white' : 'green'">turned_in_not</mat-icon>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'EXPIRING SOON' ? 'white' : 'red'">favorite</mat-icon>
        </div>
      </div>

      <div class="mo_float_left pull-right" [ngClass]="selectedValue === 'DRAFT' ? 'greenBlock' : 'whiteBlock'" (click)="onSelectBlock('DRAFT')">
        <img width="26px" [src]="selectedValue === 'DRAFT' ? '/assets/images/draft_white.png' :'/assets/images/inDraftMode_icon.png'">
        <h3 class="fontSizeDashboard">In Draft<br>Mode</h3>
        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'DRAFT' ? 'white' : 'green'">turned_in_not</mat-icon>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'DRAFT' ? 'white' : 'red'">favorite</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise"></ngx-spinner>
</section>


<section>
  <div class="container containerWidth" style="margin-bottom: 50px;margin-top: 2rem;">
    <div class="row">
      <div class="col-md-3 col-sm-6 mo_mb10 paddingrightzero" *ngxPermissionsOnly="['MSA_READ']">
        <mat-card class="example-card matCardBottom">
          <mat-card-content>
            <mat-icon  style="padding-top:2px; color:BLACK">turned_in_not</mat-icon>
            <mat-icon class="heartIcon">favorite</mat-icon>
            <label style="color: #27AE60;font-size: 2rem;display: block;cursor: pointer;" routerLink="/contract/msaoperation" skipLocationChange >MSA
              <mat-icon class="iconSize" style="color: #27AE60;float:right;margin-bottom: 10 PX;font-size:xx-large;">library_books
              </mat-icon>
            </label>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="item item-2 col-md-3 col-sm-6 mo_mb10 paddingrightzero" *ngxPermissionsOnly="['CONTRACT_READ','MSA_READ']">
        <mat-card class="example-card matCardBottom">
          <mat-card-content>
            <mat-icon style="padding-top:2px;color:yellow">turned_in_not</mat-icon>
            <mat-icon class="heartIcon">favorite</mat-icon>
            <label style="color: #27AE60;font-size: 2rem;display: block;cursor: pointer;" (click) = "commandmentSearch()">Bulk Update Commandments
              <mat-icon class="iconSize" style="color: #27AE60;float:right;font-size:xx-large;">library_books</mat-icon>
            </label>

          </mat-card-content>

        </mat-card>
      </div>

      <div class="item item-3 col-md-3 col-sm-6 mo_mb10 paddingrightzero">
        <mat-card class="example-card matCardBottom">
          <mat-card-content>
            <mat-icon style="padding-top:2px;color:black">turned_in_not</mat-icon>
            <mat-icon class="heartIcon1">favorite</mat-icon>
            <label class="fontSizeDashboard" style="color: #27AE60; font-size: 2rem;display: block;">Reports
              <mat-icon style="color: #27AE60;float:right;font-size:xx-large;">timeline</mat-icon>
            </label>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>