<div class="modal-container">
	<h5 class="sub_heading">Manage Branch Feature Master</h5>
	<em class="material-icons modals_cancel_btn" [mat-dialog-close]>
		cancel
	</em>
	<hr class="border_row">
	<div class="add_branch_main dragan_drop_dialog">
		<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="assign_feature_pt">
			<div fxFlex="40%">
				<div class="branch_feature_heading">
					<h3>Feature</h3>
				</div>
			</div>
			<div fxFlex="60%">
				<mat-form-field appearance="outline">
					<input matInput uppercase class="form-control" name="branchFeature" placeholder="AIR HUB"
						[(ngModel)]="feature.branchFeature">
				</mat-form-field>
			</div>
		</div>
		<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="assign_feature_pt">
			<div fxFlex="40%">
				<div class="branch_feature_heading">
					<h3>Description</h3>
				</div>
			</div>
			<div fxFlex="60%">
				<mat-form-field appearance="outline">
					<input matInput uppercase class="form-control" name="description"
						placeholder="Safexpress offers a wide range.." [(ngModel)]="feature.descr">
				</mat-form-field>
				<div class="drag_icon">
					<em class="material-icons" (click)="removeFromList()">arrow_upward</em>
					<em class="material-icons" (click)="addIntoList()">arrow_downward</em>
				</div>
			</div>
		</div>
		<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="assign_feature_pt">
			<div fxFlex="40%">
				<div class="branch_feature_heading">
					<h3>List of Features</h3>
				</div>
			</div>
			<div fxFlex="60%">
				<div class="pin_code_list">
					<ul>
						<li class="cursor-pointer" [ngClass]="{'active' : feature.isSelected}"
							*ngFor="let feature of newList;let i =index" (click)="selectFeature(i)">
							{{feature.branchFeature}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
			<div fxFlex="100%">
				<div class="branch_next_btn">
					<button mat-button (click)="submitFeature()">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>