<div class="modal-container">
    <div class="mat-dialog-header">
        <h4 class="margin-zero" style="color: #B00020;"><strong>Kindly Note</strong></h4>
         <!-- <em class="fa fa-times modal-close" (click)="checkBranchSelectedOrNot()"></em>  -->
    </div>
    <hr style="margin: 0px 0 5px;">
    <div class="mat-dialog-content">
        <div class="">
            <div class="col-md-12" style="padding:0px !important">
                <label for="" class="control-label lable_left_web"> This Booking Will Be Taken As <span>{{data.value}}</span> Inbound</label>
              
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button mat-raised-button class="btn theme-button" [mat-dialog-close]="true">Proceed</button>
            </div>
        </div>
    </div>
</div>
