<div class="modal-container">
    <h5 class="sub_heading">Delete {{data.heading}}</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="'cancel'">
        cancel
    </em>
    <hr class="border_row">
    <div>
        <div class="">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="85px">
                        <mat-grid-tile>
                            <div class="text-center">
                                <mat-label rowHeight="55px"><strong>Are you Sure?</strong></mat-label>
                                <p>Do you really want to delete {{data.title}} ?</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="35px" class="">
                        <ul class="text-center">
                            <li class="display_inline_model"> <button mat-flat-button class="theme_btn round_btn"
                                    [mat-dialog-close]="'cancel'">Cancel</button>
                            </li>
                            <li class="display_inline_model"> <button mat-flat-button class="theme_btn round_btn"
                                    [mat-dialog-close]="true">Delete</button>

                            </li>
                        </ul>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>