<div *ngxPermissionsOnly="['CREATE','UPDATE','READ']">
    <!-- view zone matrix details -->
    <div *ngIf="viewZone">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="18%">    <h3 class="grid_title">Zone Matrix</h3></div>
            <div fxFlex="82%">   <div class="hdr_srch_field">
                    <span matSuffix><em class="material-icons search_icon"
                            (click)="searchZoneMatrix($event)">search</em></span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-grid-list cols="1" rowHeight="40px">
                                <mat-grid-tile class="module_area" rowHeight="40px">
                                    <mat-form-field appearance="outline">
                                        <input matInput name="zoneMatrixName" (keyup)="clearSearch()"
                                            (input)="zoneMatrixName=$event.target.value.toUpperCase()"
                                            (keyup.enter)="searchZoneMatrix($event)" [(ngModel)]="zoneMatrixName" />
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%">
                            <button (click)="addNewZoneMatrix();" mat-button class="add_btn"
                                *ngxPermissionsOnly="['CREATE']">
                                <em class="material-icons">add</em>
                            </button>
                        </div>
                        <div class="invalid-feedback" *ngIf="strLengthValid">
                            Enter Minimum 3 Characters
                        </div>
                    </div>
                </div></div></div>
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="18%">
            
                <h3 class="grid_title mr_top_30">Zone Matrix Value</h3>
            </div>
            <div fxFlex="82%">
             
                <mat-card class="card_body">
                    <div class="mat-table mat_table_main">
                        <div class="mat-row bg bg_light_grey table_main_header">
                            <div class="mat-cell mat_cell_head">NAME</div>
                            <div class="mat-cell mat_cell_head">STATUS</div>
                            <div class="mat-cell mat_cell_head">DESCRIPTION</div>
                            <div class="mat-cell"></div>
                        </div>
                        <div class="mat-row bg_light_grey"
                            *ngFor="let zone of zoneList| paginate: { itemsPerPage:10, currentPage: p }">
                            <div class="mat-cell table_color hyperlink hyperLink_Color" [matTooltip]="zone.zoneMatrixName"
                                [matTooltipPosition]="'above'">
                              <span class="hyperlink"  (click)="editZoneMatrix(zone,1)">  {{ zone.zoneMatrixName }}</span>
                            </div>
                            <div class="mat-cell">{{ zone.status | statusDesc }}</div>
                            <div class="mat-cell display_overflow_hidden" [matTooltip]="zone.description"
                                [matTooltipPosition]="'above'">
                                {{ zone.description }}</div>
                            <div class="mat-cell mat_cell_icon">
                                <mat-label><em class="material-icons icon_btn_display icon_theme_color"
                                        (click)="editZoneMatrix(zone,1)">remove_red_eye</em>
                                </mat-label>
                                <button mat-button (click)="editZoneMatrix(zone,0)" class=""
                                    *ngxPermissionsOnly="['CREATE','UPDATE']">
                                    <em class="material-icons icon_theme_color table_color float_right">edit</em>
                                </button>
                            </div>
                        </div>
                        <div class="mat-row bg_light_grey" *ngIf="!zoneList.length">
                            <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data
                                Present
                            </div>
                        </div>
                        <div class="pagination_area">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- add zone matrix details -->
    <div *ngIf="addZone">
        <div class=" all_form">
            <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && addZoneMatrix()" #f="ngForm" novalidate>
                <h3 class="zone_title"> {{type}} Zone Matrix Details</h3>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Zone Matrix Name <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline"
                                    [ngClass]="{ 'mandatory_input': f.submitted && zoneMatrixName.invalid }">
                                    <input matInput name="zoneMatrixName" class="form-control"
                                        [(ngModel)]="zoneObj.zoneMatrixName" maxlength="50" required
                                        [disabled]="zoneObj.id" #zoneMatrixName="ngModel"
                                        (input)="zoneObj.zoneMatrixName=$event.target.value.toUpperCase()" />
                                </mat-form-field>
                                <div *ngIf="zoneMatrixName.touched || (f.submitted && zoneMatrixName.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="zoneMatrixName.errors?.required">Zone Matrix Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" uppercase
                                    [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">

                                    <mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="zoneObj.status" #status="ngModel" name="status" required>
                                        <mat-option [value]="1">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="0">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                    <div *ngIf="status.errors?.required">Country Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="53px">
                            <mat-grid-tile>
                                <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>

                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust"
                                    [ngClass]="{ 'mandatory_input': (effectiveDate.errors?.required && (effectiveDate.touched || f.submitted)) }">
                                    <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="picker" name="effectiveDate"
                                        class="date_input_height" #effectiveDate="ngModel" validDate
                                        [disabled]="zoneObj.effectiveDate<currentDate && this.zoneObj.id && isChange"
                                        (dateChange)="changeDateFormat(zoneObj.effectiveDate,zoneObj.expiryDate)"
                                        (change)="isChange=false" [(ngModel)]="zoneObj.effectiveDate"
                                        [min]="currentDate" placeholder="DD/MM/YYYY" required />
                                    <mat-datepicker-toggle matSuffix
                                        (onMenuOpen)="checkForExpiryDate(zoneObj.effectiveDate)" [for]="picker">
                                    </mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="effectiveDate.touched || (f.submitted && effectiveDate.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="effectiveDate.errors?.required">Effective Date is required</div>
                                    <div *ngIf="zoneObj.effectiveDate < currentDate ">Effective Date not be less
                                        than
                                        today</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Expiry Date </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust"
                                    [ngClass]="{ 'mandatory_input': isVar && ((zoneObj.expiryDate<=zoneObj.effectiveDate && !zoneObj.id) || (currentDate>zoneObj.expiryDate && zoneObj.id))  }">
                                    <mat-datepicker #myDatepicker23 (opened)="checkForExpiryDate(zoneObj.effectiveDate)"
                                        (closed)="removeMinDate(zoneObj.effectiveDate)" panelClass="mdmDatepicker"
                                        class="myDatepicker23">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="myDatepicker23" class="date_input_height"
                                        placeholder="" [(ngModel)]="zoneObj.expiryDate" name="expiryDate" validDate
                                        placeholder="DD/MM/YYYY" #expiryDate="ngModel" [min]="expiryMinDate"
                                        [required]="isInactive==true"
                                        (dateChange)="changeDateFormat(zoneObj.effectiveDate,zoneObj.expiryDate);"
                                        (change)="isVar=true" />
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker23">
                                    </mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="isVar" class="invalid-feedback">
                                    <div *ngIf="zoneObj.expiryDate<=zoneObj.effectiveDate">
                                        Must be Greater than Effective and Current Date.</div>
                                    <div
                                        *ngIf="(currentDate>zoneObj.expiryDate) && !(zoneObj.expiryDate <= zoneObj.effectiveDate) && zoneObj.id">
                                        Must be Greater than Effective and Current Date</div>
                                </div>
                                <div *ngIf="f.submitted && expiryDate.invalid" class="invalid-feedback">
                                    <div *ngIf="zoneObj.expiryDate< currentDate && zoneObj.expiryDate">Must be Greater
                                        than Effective and Current Date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="60px">
                            <mat-grid-tile>
                                <mat-label><strong>Description</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline">
                                    <input matInput class="form-control" [(ngModel)]="zoneObj.description"
                                        name="description" maxlength="100"
                                        (input)="zoneObj.description=$event.target.value.toUpperCase()" />
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%"></div>
                </div>
                <div class="zone_mapping">
                    <h3 class="zone_title">Zone Matrix Mapping</h3>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Logistic Zone <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input_select': f.submitted && zmLzMap.invalid }">

                                    <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search_3 multipleAnyClass3" 
                                        multiple [(ngModel)]="zmLzMapDTO" name="zmLzMap" #zmLzMap="ngModel"  [dataArr]="logisticZoneList" appAutoSelectFirstOption
                                        [compareWith]="compareZoneObjects" required>
                                        <ngx-mat-select-search [(ngModel)]="logisticCtrl"
                                            [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                            name="search">
                                            <mat-icon
                                                class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                search
                                            </mat-icon>
                                        </ngx-mat-select-search>
                                        <mat-option [value]="logistic"
                                            *ngFor="let logistic of logisticZoneList | stringFilter:logisticCtrl:'name' | sortBy:'name'"
                                            matTooltip=" {{logistic.name ?logistic.name:logistic.zoneName}}"
                                            [matTooltipPosition]="'above'">
                                          {{ logistic.name ?logistic.name:logistic.zoneName }}
                                        </mat-option>
                                    </mat-select> 
<!-- 
                                    <mat-label>Select Zone</mat-label>
                                    <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass" multiple
                                        [(ngModel)]="zmLzMapDTO" name="zmLzMap" #zmLzMap="ngModel"
                                        [compareWith]="compareZoneObjects" required>
                                        <mat-option [value]="logistic" *ngFor="let logistic of logisticZoneList"
                                            matTooltip="{{logistic.name ?logistic.name:logistic.zoneName}}"
                                            [matTooltipPosition]="'above'">
                                            {{ logistic.name ?logistic.name:logistic.zoneName }}
                                        </mat-option>
                                    </mat-select> -->
                                </mat-form-field>
                                <div *ngIf="zmLzMap.touched || (f.submitted && zmLzMap.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="zmLzMap.errors?.required">Logistic Zone is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="55%">
                        <mat-grid-list cols="1" rowHeight="55px">
                            <mat-grid-tile class="module_area">
                                <div class="selected_list">
                                    <ul class="listlogistics">
                                        <li *ngFor="let logistic of zmLzMapDTO; let i = index;">
                                            {{ logistic.name }}
                                            <span *ngIf="i != zmLzMapDTO.length - 1"> , </span>
                                        </li>
                                    </ul>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Rate Group <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input_select': f.submitted && zmRGMap.invalid }">
                                    <mat-label>Select Group</mat-label>
                                    <mat-select disableOptionCentering [dataArr]="rateGroupList" appAutoSelectFirstOption
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                             multiple
                                        [(ngModel)]="zmRGMapDTO" name="zmRGMap" [compareWith]="compareRateObjects"
                                        #zmRGMap="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="rateNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="rate"
                                                *ngFor="let rate of rateGroupList | stringFilter:rateNameSearchCtrl:'name' | sortBy:'name'"
                                                matTooltip="{{rate.name ? rate.name:rate.rateGroupName}}"
                                                [matTooltipPosition]="'above'">
                                                {{  rate.name ? rate.name:rate.rateGroupName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass multipleAnyClass" multiple
                                        [(ngModel)]="zmRGMapDTO" name="zmRGMap" [compareWith]="compareRateObjects"
                                        #zmRGMap="ngModel" required>
                                        <mat-option [value]="rate" *ngFor="let rate of rateGroupList"
                                            matTooltip="{{rate.name ? rate.name:rate.rateGroupName}}"
                                            [matTooltipPosition]="'above'">
                                            {{ rate.name ? rate.name:rate.rateGroupName }}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="zmRGMap.touched || (f.submitted && zmRGMap.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="zmRGMap.errors?.required">Rate Group is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="55%">
                        <mat-grid-list cols="1" rowHeight="55px">
                            <mat-grid-tile class="module_area">
                                <div class="selected_list">
                                    <ul class="listlogistics">
                                        <li *ngFor="let selectedRate of zmRGMapDTO; let i = index;">
                                            {{ selectedRate.name }}
                                            <span *ngIf="i != zmRGMapDTO.length - 1"> , </span>
                                        </li>
                                    </ul>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="30px" class="row_height">
                            <mat-grid-tile class="module_area">

                                <button *ngIf="!submitPermission" mat-flat-button class="theme_btn round_btn"
                                    [disabled]="(zoneObj.status == 0 && !zoneObj.id) || disableNextBtn || (inActiveFlag && zoneObj.status == 0)">
                                    Next
                                </button>
                                <button *ngIf="submitPermission" mat-flat-button class="theme_btn round_btn"
                                    type="button" (click)="nextStep()">
                                    Next
                                </button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>

        <!-- Add city Section -->
    </div>
    <div class=" all_form" *ngIf="zoneMAtrixDetails">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <div class="mat_pad_left">
                    <h3 class="zone_title">Zone Matrix Details - State Code Mapping</h3>
                    <div class="mat-table mat_table_main">
                        <div class="mat-row bg bg_light_grey table_main_header">
                            <div class="mat-cell">Logistic Zone Name</div>
                            <div class="mat-cell">Add State Code Mapping</div>
                        </div>

                        <div class="mat-row bg_light_grey" *ngFor="let zone of zoneMatrixList">
                            <div class="mat-cell">{{ zone.name }}</div>
                            <div class="mat-cell  table_color hyperlink" *ngIf="!zone.states"
                                (click)="showStateModal(zone.id)">
                                Select State Codes
                            </div>
                            <div class="mat-cell  table_color cursor_auto" *ngIf="zone.states">
                                <span *ngFor="let state of zone.states | slice:0:3; let i = index;">
                                    <span *ngIf="state.status ">
                                        {{ state.stateName }}
                                        <span *ngIf="i<2  && i != (zone.states.length-1) "> , </span>
                                    </span>
                                </span>
                                <span *ngIf="zone.states.length>3"> <button class="cursor-none"
                                        [matTooltip]="tooltipCityNames(zone.states)"
                                        [matTooltipPosition]="'above'">....</button></span>
                                <span>
                                    <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission"
                                        (click)="showStateModal(zone.id,zone.states)">
                                        {{zone.states.length ? "Add More.." : "Add State"}}
                                    </button></span>
                            </div>

                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="100%">
                            <mat-grid-list cols="1" rowHeight="200px" class="row_height">
                                <mat-grid-tile class="btn_mt">
                                    <div class="text-center">
                                        <button *ngIf="!submitPermission" mat-flat-button class="theme_btn round_btn"
                                            (click)="submitStateCodeMapping()">
                                            Next
                                        </button>
                                        <button *ngIf="submitPermission" type="button" mat-flat-button
                                            class="theme_btn round_btn" (click)="viewRzlzMap()">
                                            Next
                                        </button>
                                    </div>
                                </mat-grid-tile>

                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" all_form" *ngIf="zoneMatrixCombination">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <div class="mat_pad_left">
                    <h3 class="zone_title">Zone Matrix Details -Zone Rate Group Mapping</h3>
                    <div class="mat-table mat_table_main">
                        <div class="mat-row bg bg_light_grey table_main_header">
                            <div class="mat-cell">FROM ZONE</div>
                            <div class="mat-cell">TO ZONE</div>
                            <div class="mat-cell">RATE GROUP</div>
                        </div>

                        <div class="mat-row bg_light_grey" *ngFor="let zone of logisticZoneComb">
                            <div class="mat-cell">{{ zone.name }}</div>
                            <div class="mat-cell">{{ zone.secondObj.name }}</div>
                            <div class="mat-cell  table_color hyperlink mapping_dropdown">
                                <mat-form-field class="select_box_dropwodn">
                                    <mat-label>Select Group</mat-label>
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            [(ngModel)]="zone.zmLzRgMapDTO" [compareWith]="checkForSelectedRG">
                                            <ngx-mat-select-search [(ngModel)]="rate2NameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="rate"
                                                *ngFor="let rate of rateGroupWithMatrixList | stringFilter:rate2NameSearchCtrl:'rateGroupName' | sortBy:'rateGroupName'"
                                                matTooltip=" {{ rate.name ? rate.name : rate.rateGroupName }}"
                                                [matTooltipPosition]="'above'">
                                                {{ rate.name ? rate.name : rate.rateGroupName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="zone.zmLzRgMapDTO" [compareWith]="checkForSelectedRG">
                                        <mat-option [value]="rate" *ngFor="let rate of rateGroupWithMatrixList"
                                            matTooltip="{{rate.name ? rate.name : rate.rateGroupName}}"
                                            [matTooltipPosition]="'above'">
                                            {{ rate.name ? rate.name : rate.rateGroupName }}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mat-row bg_light_grey" *ngIf="!logisticZoneComb.length">
                            <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data
                                Present
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="100%">
                            <mat-grid-list cols="1" rowHeight="200px" class="row_height">
                                <mat-grid-tile class="btn_mt">
                                    <div class="text-center">
                                        <button *ngIf="!submitPermission" mat-flat-button class="theme_btn round_btn"
                                            (click)="submitLzRzMapping()">
                                            Submit
                                        </button>
                                        <button *ngIf="submitPermission" mat-flat-button class="theme_btn round_btn"
                                            (click)="resetZoneView()">
                                            Back
                                        </button>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
