<mat-nav-list role="list">
  <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
  <a mat-list-item [routerLink]="['/lookup']" routerLinkActive="active">LookUp</a>
  <a mat-list-item [routerLink]="['/zone-matrix']" routerLinkActive="active">Zone Matrix</a>
  <a mat-list-item [routerLink]="['/geography']" routerLinkActive="active">Geography</a>
  <a mat-list-item [routerLink]="['/notepad']" routerLinkActive="active">Notepad</a>
  <a mat-list-item [routerLink]="['/branch']" routerLinkActive="active">Branch</a>
  <a mat-list-item [routerLink]="['/vehicle']" routerLinkActive="active">Vehicle</a>
  <a mat-list-item [routerLink]="['/manage-route']" routerLinkActive="active">Manage Route</a>
  <a mat-list-item [routerLink]="['/commandment']" routerLinkActive="active">Commandment</a>
</mat-nav-list>