<div class="container">

    <ol class="breadcrumb">
        <a [routerLink]="['/bookings-web-booking/web-booking']">Dashboard</a>
        <span class="fa fa-caret-right"></span>
        <a [routerLink]="['/bookings-web-booking/web-booking']">Booking</a>
        <span class="fa fa-caret-right"></span>
        <li class="">Re Booking
    </ol>
    <h3 class="margin-top-0"><strong>Create Re - Booking Request</strong></h3>
    <mat-card class="generated_mat_card">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-5">
                        <label for="" class="control-label">Waybill No.</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-7">
                        <input class="form-control" type="text" (keypress)="numberOnly($event)" name="waybillNumber"
                            maxlength="15" (keyDown.enter)="onKeyUp($event)" (input)="enterWaybill($event)"
                            [(ngModel)]="wayBillNum" [disabled]="isDisable">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="" class="control-label">Waybill Status</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="wayBillStatus"
                            [value]="refType(wayBillData ? wayBillData.wayblCurrStatusLookupId : null)" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="" class="control-label">Mode of Payment</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" name="modeOfPayment" type="text"
                            [value]="refType(wayBillData ? wayBillData.branchMOPLookupId : null)" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="" class="control-label">Requested Service Offering</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-4">
                        <select class="selection" class="form-control" [(ngModel)]="requestedServiceOffering"
                            *ngIf="!isRetail" (change)="offeringChange()">
                            <option *ngFor="let data of offeringData" [value]="data.serviceOfferingId">
                                {{offeringType(data.serviceOfferingId)}}</option>
                        </select>
                        <select class="selection" class="form-control" [(ngModel)]="requestedServiceOffering"
                            *ngIf="isRetail" (change)="retailOfferingChange()">
                            <option *ngFor="let data of offeringData" [value]="data.id">
                                {{offeringType(data.id)}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="" class="control-label">Available Packages</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" (keypress)="numberOnly($event)" maxlength="9"
                            name="availablePackage" (blur)="onKeyValue($event)" [(ngModel)]="availablePackages"
                            [disabled]="!wayBillData || !totalPackageCount">
                    </div>
                    <!-- <div class="col-md-1">
                        <mat-icon mat-card-avatar class="mat-plus-icon wayPlus" aria-label="Example icon">add_circle
                        </mat-icon>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="" class="control-label">Remarks</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-5">
                        <textarea name="" id="" cols="30" rows="4" class="form-control" name="remark"
                            [(ngModel)]="remarks"></textarea>
                    </div>
                </div>
                <input type="file" (change)="handleFileInput($event.target.files)" #file hidden
                    accept="application/pdf" style="display: none;">
                <div class="row mt-3">
                    <div class="col-md-5">
                        <label for="" class="control-label">Attach Customer Email (.pdf)</label>

                    </div>
                    <div class="col-md-7">
                        <button class="btn white-button uploadbtn" (click)="file.click()" [ngClass]="{'dis-btn':!wayBillData}"
                            [disabled]="!wayBillData" mat-raised-button>Upload</button><br>
                        <label *ngIf="fileName">{{fileName}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <div class="col-md-5 txtRight">
                        <label for="" class="control-label">Laying At</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" placeholder="Branch Code"
                            [value]="getBranch(selectedBranchId)" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 txtRight">
                        <label for="" class="control-label">SFX Code</label>
                        <span class="color-danger" *ngIf="!isRetail">*</span>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="sfxCode" [(ngModel)]="sfxPrcContractcode"
                            disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 txtRight">
                        <label for="" class="control-label">Business Type</label>
                        <span class="color-danger" *ngIf="!isRetail">*</span>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="businessType"
                            [value]="refType(wayBillData ? wayBillData.businessTypeLookupId : null)" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 txtRight">
                        <label for="" class="control-label">Service Offering</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="serviceOffering"
                            [value]="offeringType(wayBillData ? wayBillData.serviceOfferingId : null)" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 txtRight">
                        <label for="" class="control-label">Total Packages</label>
                        <span class="color-danger">*</span>

                    </div>
                    <div class="col-md-4">
                        <div>
                            <input class="form-control" type="text" name="totalPackage" [(ngModel)]="totalPackageCount"
                                disabled>
                        </div>
                        <div *ngIf="wayBillData && !totalPackageCount">
                            <span style="color: red;">
                                Total packages cannot be null
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">

                <button mat-raised-button class="btn theme-button" (click)="createReshedule() "
                    [ngClass]="{'dis-btn':!wayBillData}"
                    [disabled]="!wayBillData || !availablePackages || !requestedServiceOffering || !remarks || !selectedBranchId || !sfxPrcContractcode || !wayBillData.businessTypeLookupId || !wayBillData.serviceOfferingId || !totalPackageCount || isDisableApprove"
                    *ngIf="!isRetail">SUBMIT</button>

                <button mat-raised-button class="btn theme-button" (click)="createReshedule() "
                    [ngClass]="{'dis-btn':!wayBillData}"
                    [disabled]="!wayBillData || !availablePackages || !wayBillData.branchMOPLookupId || !requestedServiceOffering || !remarks || !selectedBranchId || !wayBillData.serviceOfferingId || !totalPackageCount || isDisableApprove"
                    *ngIf="isRetail">SUBMIT</button>
            </div>
        </div>
    </mat-card>

</div>