<div class="modal-container">
    <h5 class="sub_heading">{{cityPrefix}} City</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <form autocomplete="off" name="cityForm" (ngSubmit)="f.form.valid && addCity()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Country Name<sup class="mandatory">*</sup></strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && abc.invalid }">
                                <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="countryList" appAutoSelectFirstOption
                                            [(ngModel)]="countryId" [disabled]="isDisabled" (selectionChange)="getStateByCountry()" name="countryId" #abc="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="countryNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="country.id"
                                                *ngFor="let country of countryList | stringFilter:countryNameSearchCtrl:'countryName' | sortBy:'countryName'"
                                                matTooltip=" {{ country.countryName }}"
                                                [matTooltipPosition]="'above'">
                                                {{ country.countryName }}
                                            </mat-option>
                                        </mat-select>

                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                    [(ngModel)]="countryId" [disabled]="isDisabled" (selectionChange)="getStateByCountry()" name="countryId" #abc="ngModel" required>
                                        <mat-option [value]="country.id" *ngFor="let country of countryList" matTooltip="{{country.countryName}}" [matTooltipPosition]="'above'">
                                            {{country.countryName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="abc.touched || (f.submitted && abc.invalid)" class="invalid-feedback">
                                    <div *ngIf="abc.errors?.required">Country Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>State <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && a.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="stateList" appAutoSelectFirstOption
                                            name="stateId" [(ngModel)]="stateId" (selectionChange)="getDistrictByState()" #a="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="stateNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="state.id"
                                                *ngFor="let state of stateList | stringFilter:stateNameSearchCtrl:'stateName' | sortBy:'stateName'"
                                                matTooltip=" {{ state.stateName }}"
                                                [matTooltipPosition]="'above'">
                                                {{ state.stateName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                    name="stateId" [(ngModel)]="stateId" (selectionChange)="getDistrictByState()" #a="ngModel" required>
                                        <mat-option [value]="state.id" *ngFor="let state of stateList" matTooltip="{{state.stateName}}" [matTooltipPosition]="'above'">
                                            {{state.stateName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="a.touched || (f.submitted && a.invalid)" class="invalid-feedback">
                                    <div *ngIf="a.errors?.required">State is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>District Name <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && district.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" [dataArr]="districtList" appAutoSelectFirstOption
                                            name="district" [(ngModel)]="cityObj.district" [compareWith]="checkDistrict" #district="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="districtNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="district" *ngFor="let district of districtList | stringFilter:districtNameSearchCtrl:'districtName' | sortBy:'districtName'"
                                                matTooltip=" {{ district.districtName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  district.districtName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                    name="district" [(ngModel)]="cityObj.district" [compareWith]="checkDistrict" #district="ngModel" required>
                                        <mat-option [value]="district" *ngFor="let district of districtList" matTooltip="{{district.districtName}}" [matTooltipPosition]="'above'">
                                            {{ district.districtName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="district.touched || (f.submitted && district.invalid)" class="invalid-feedback">
                                    <div *ngIf="district.errors?.required">District Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && cityStatus.invalid }">

                                    <mat-select disableOptionCentering panelClass="anyClass" uppercase [(ngModel)]="cityObj.status" name="cityStatus" #cityStatus="ngModel" required>
                                        <mat-option [value]="1">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="0">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="cityStatus.touched || (f.submitted && cityStatus.invalid)" class="invalid-feedback">
                                    <div *ngIf="cityStatus.errors?.required">Status is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>City Code <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && cityCode.invalid }">
                                    <input matInput uppercase class="form-control" name="rateCardCode" [(ngModel)]="cityObj.cityCode" maxlength="20" name="cityCode" #cityCode="ngModel" required>
                                </mat-form-field>
                                <div *ngIf="cityCode.touched || (f.submitted && cityCode.invalid)" class="invalid-feedback">
                                    <div *ngIf="cityCode.errors?.required">City Code is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>City <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && cityName.invalid }">
                                    <input matInput class="form-control" name="cityName" (input)="cityObj.cityName=$event.target.value.toUpperCase()" [(ngModel)]="cityObj.cityName" #cityName="ngModel" maxlength="50" required>
                                </mat-form-field>
                                <div *ngIf="cityName.touched || (f.submitted && cityName.invalid)" class="invalid-feedback">
                                    <div *ngIf="cityName.errors?.required">City is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust" [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                    <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="picker" [disabled]="cityObj.effectiveDt<currentDate && this.cityObj.id && isChange" class="date_input_height" name="effectiveDt" placeholder="DD/MM/YYYY" [(ngModel)]="cityObj.effectiveDt" validDate #effectiveDt="ngModel"
                                        required [min]="currentDate" (change)="isChange=false" (dateChange)="changeDateFormat(cityObj.effectiveDt,cityObj.expDt)" />
                                    <mat-datepicker-toggle (onMenuOpen)="checkForExpiryDate(cityObj.effectiveDt)" matSuffix [for]="picker"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)" class="invalid-feedback">
                                    <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                    <div *ngIf="cityObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Expiry Date</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust" [ngClass]="{ 'mandatory_input': isVar && ((cityObj.expDt<=cityObj.effectiveDt && !cityObj.id) || (currentDate>cityObj.expDt && cityObj.id))  }">
                                    <mat-datepicker #myDatepicker23 (opened)="checkForExpiryDate(cityObj.effectiveDt)" (closed)="removeMinDate(cityObj.effectiveDt)" panelClass="mdmDatepicker" class="myDatepicker23">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="myDatepicker23" class="date_input_height" placeholder="" name="expDt" placeholder="DD/MM/YYYY" validDate [(ngModel)]="cityObj.expDt" #expDt="ngModel" [min]="expiryMinDate" [required]="isInactive" (dateChange)="changeDateFormat(cityObj.effectiveDt,cityObj.expDt);"
                                        (change)="isVar=true">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker23">
                                    </mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="isVar" class="invalid-feedback">
                                    <div *ngIf="cityObj.expDt<=cityObj.effectiveDt">
                                        Must be Greater than Effective and Current Date.</div>
                                    <div *ngIf="currentDate>cityObj.expDt && !(cityObj.expDt <= cityObj.effectiveDt) && cityObj.id">Must be Greater than Effective and Current Date.</div>
                                </div>
                                <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                    <div *ngIf="cityObj.expDt && cityObj.expDt< currentDate">Must be Greater than Effective and Current Date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>


                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Description</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline">
                                    <input matInput class="form-control" name="description" [(ngModel)]="cityObj.descr" maxlength="50" (input)="cityObj.descr=$event.target.value.toUpperCase()">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%"> </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="!hideBtn" [disabled]="(!cityObj.status && !cityObj.id) || (inActiveFlag && cityObj.status == 0)">{{ !cityObj.id ? 'Save':'Update'}}</button>
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="hideBtn" [mat-dialog-close]="true">Back</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>


        <!-- Add city Section -->
    </div>
</div>
