<div class="modal-container">
    <h5 class="sub_heading">{{editMode ? "Edit" : "Add"}} Metro</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div>
            <div class="all_form">
                <form autocomplete="off" name="gstForm" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="100%">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="45%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Select Metro <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-grid-list cols="1" rowHeight="60px">
                                            <mat-grid-tile class="module_area">
                                                <mat-form-field class="select_box_dropwodn"
                                                    [ngClass]="{ 'mandatory_input': f.submitted && fuel.invalid }">
                                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" [dataArr]="fuelIndexList" appAutoSelectFirstOption
                                            [disabled]="isEdit || isAdd"
                                                        name="fuel" #fuel="ngModel" [(ngModel)]="metroObj.lkpFuelIndexId"
                                                        required>
                                            <ngx-mat-select-search [(ngModel)]="fuelNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="fuel.id" *ngFor="let fuel of fuelIndexList | stringFilter:fuelNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ fuel.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  fuel.descr }}
                                            </mat-option>
                                        </mat-select>
                                                    <!--<mat-select disableOptionCentering panelClass="anyClass" [disabled]="isEdit || isAdd"
                                                        name="fuel" #fuel="ngModel" [(ngModel)]="metroObj.lkpFuelIndexId"
                                                        required>
                                                        <mat-option [value]="fuel.id" *ngFor="let fuel of fuelIndexList" matTooltip="{{fuel.descr}}" [matTooltipPosition]="'above'">
                                                            {{fuel.descr}}
                                                        </mat-option>
                                                    </mat-select>-->
                                                </mat-form-field>
                                                <div *ngIf="fuel.touched || (f.submitted && fuel.invalid)" class="invalid-feedback">
                                                    <div *ngIf="fuel.errors?.required">Metro is required</div>
                                                </div>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <div fxFlex="10%"></div>
                                <div fxFlex="45%">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%">
                                            <mat-label><strong>Select City</strong></mat-label>
                                        </div>
                                        <div class="module_area" fxFlex="50%">
                                            <mat-grid-list cols="1" rowHeight="60px">
                                                <mat-grid-tile class="module_area">
                                                    <mat-form-field class="select_box_dropwodn"
                                                    [ngClass]="{ 'mandatory_input': f.submitted && cities.invalid }">
                                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" 
                                            [multiple]="true"
                                                        #cities="ngModel" [(ngModel)]="metroObj.cities" name="cities"
                                                        [compareWith]="checkSelectedCity" (selectionChange)="checkForCitiesNumber($event)" required>
                                            <ngx-mat-select-search [(ngModel)]="cityNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="city" *ngFor="let city of cityList | stringFilter:cityNameSearchCtrl:'cityName' | sortBy:'cityName'"
                                                matTooltip=" {{ city.cityName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  city.cityName }}
                                            </mat-option>
                                        </mat-select>
                                                        <!--<mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search" [multiple]="true"  class="search_select"
                                                        #cities="ngModel" [(ngModel)]="metroObj.cities" name="cities"
                                                        [compareWith]="checkSelectedCity" (selectionChange)="checkForCitiesNumber($event)" required>
                                                            <ngx-mat-select-search [(ngModel)]="searchCtrl" [placeholderLabel]="'Search...'"
                                                              [noEntriesFoundLabel]="'Not found'" name="search">
                                                              <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search</mat-icon>
                                                            </ngx-mat-select-search>
                                                            <mat-option *ngFor="let city of cityList | stringFilter:searchCtrl:'cityName'" [value]="city" [matTooltip]="city.cityName" [matTooltipPosition]="'above'">
                                                            {{city.cityName}}
                                                          </mat-option>
                                                        </mat-select>-->
                                                      </mat-form-field>
                                                    <div *ngIf="cities.touched || (f.submitted && cities.invalid)" class="invalid-feedback">
                                                        <div *ngIf="cities.errors?.required">City is required</div>
                                                    </div>
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p id="errorMsg"></p>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="100%">
                                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                                        <mat-grid-tile class="module_area">
                                            <button mat-flat-button class="theme_btn round_btn" (click)="mapMetroWithCity()">Save</button>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
