<div *ngIf="!allVehicleMaster">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
        <div fxFlex="18%">
            <h3 class="grid_title">Vehicle Make</h3>
        </div>
        <div fxFlex="82%">
            <form autocomplete="off">
                <div class="hdr_srch_field">
                    <span matPrefix><em class="material-icons search_icon">search</em></span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-form-field appearance="outline">
                                <input matInput uppercase name="logicticName">
                            </mat-form-field>
                        </div>
                        <div fxFlex="10%">
                            <button type="button" mat-button class="add_btn" (click)="openAddVechilesMaster()"><em
                                    class="material-icons">add</em></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div>
        <div class="all_form">
            <div class="mat-table mat_table_main">
                <div class="mat-row bg bg_light_grey table_main_header">
                    <div class="mat-cell mat_cell_head">Vehicle Number</div>
                    <div class="mat-cell mat_cell_head">Vandor Name</div>
                    <div class="mat-cell mat_cell_head">Vandor Department</div>
                    <div class="mat-cell mat_cell_head">Effective Date</div>
                    <div class="mat-cell mat_cell_head">Status</div>
                    <div class="mat-cell"></div>
                </div>
                <div class="main_scrollbar">
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell">DL-1AB-2345</div>
                        <div class="mat-cell">Vander 1</div>
                        <div class="mat-cell">BRM</div>
                        <div class="mat-cell">27-10-2028</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div *ngIf="addVehicleMaster">
    <div class="all_form">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <button mat-button class="deactive_btn tab_btn_active">BRM <br>
                    <p>Booking Associate </p>
                </button>
                <button mat-button class="deactive_btn tab_btn_deactive">DRM <br>
                    <p> Delivery Associate</p>
                </button>
                <button mat-button class="deactive_btn tab_btn_deactive">NRM <br>
                    <p>Network Associate</p>
                </button>
                <button mat-button class="deactive_btn tab_btn_deactive">Green Truck</button>
                <button mat-button class="deactive_btn tab_btn_deactive">Milk Run</button>
            </div>
        </div>

        <h3 class="zone_title">Vehicle Details</h3>
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Make</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Make</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <div class="hdr_srch_field">
                                    <span matPrefix><em class="material-icons search_icon">search</em></span>
                                    <mat-form-field appearance="outline">
                                        <input matInput uppercase name="logicticName">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Way Bill</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Make</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="TATA">
                                                    TATA
                                                </mat-option>
                                                <mat-option value="VOLVO">
                                                    VOLVO
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Engine No</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Registration State</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <div class="hdr_srch_field">
                                    <span matPrefix><em class="material-icons search_icon">search</em></span>
                                    <mat-form-field appearance="outline">
                                        <input matInput uppercase name="logicticName">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Insurance No</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Insurance Upto</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                    <mat-datepicker #date_picker_rate_group_9 panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_9"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_rate_group_9"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Tax Paid Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                    <mat-datepicker #date_picker_rate_group_7 panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_7"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_rate_group_7"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>National Permit</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Pollution Check Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                    <mat-datepicker #date_picker_rate_group_3 panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_3"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_rate_group_3"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Fitness Check</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Fitness Validity</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                    <mat-datepicker #date_picker_rate_group_543 panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_543"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_rate_group_543"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Body Width</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Tare Weight</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Painted with Logo</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Is AC Vehicle</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Is GPS enabled</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Is Fast tag</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Effective Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                    <mat-datepicker #date_picker_rate_group_123 panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_123"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_rate_group_123"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Status</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="TATA">
                                                    TATA
                                                </mat-option>
                                                <mat-option value="VOLVO">
                                                    VOLVO
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>


                    </div>
                    <div fxFlex="10%"></div>

                    <div fxFlex="45%">

                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Finance by Safexpress</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Vehicle Owner</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Model</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="ACTIVE">
                                                    ACTIVE
                                                </mat-option>
                                                <mat-option value="INACTIVE">
                                                    INACTIVE
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Vehicle No</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Chassis No</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Registration Upto</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #Registration panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="Registration" class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="Registration" class="date_input_height"
                                        class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Insurance Company</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <div class="hdr_srch_field">
                                    <span matPrefix><em class="material-icons search_icon">search</em></span>
                                    <mat-form-field appearance="outline">
                                        <input matInput uppercase name="logicticName">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Is Tax Paid</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Tax Paid Validity</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #Validity panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="Validity" class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="Validity" class="date_input_height"
                                        class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Pollution Check</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Polution Validity</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #Polution panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="Polution" class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="Polution" class="date_input_height"
                                        class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Fitness Check Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #Fitness panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="Fitness" class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="Fitness" class="date_input_height"
                                        class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Vehicle Body Length</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Vehicle Body Height</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Body Paint Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #Body panelClass="mdmDatepicker" class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="Body" class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="Body" class="date_input_height"
                                        class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Body AC</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-radio-button class="mr_rl_10">Yes</mat-radio-button>
                                        <mat-radio-button class="mr_rl_10">No</mat-radio-button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>GPS Device Id</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Fast TAg ID</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Expiry Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #date_picker_service_line panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_service_line"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_service_line"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Description</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput uppercase name="rateCardCode" class="form-control">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn">Save</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>