<div class="modal-container">
    <h5 class="sub_heading">{{isType}} Segment</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <form autocomplete="off" name="segmentForm" (ngSubmit)="f.form.valid && addSegment()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="45%">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Segment Name <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <div class="module_area input_height">
                                            <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && segmentName.invalid }">
                                                <input matInput name="segmentName" [(ngModel)]="segmentObj.segmentName" class="form-control" #segmentName="ngModel" required maxlength="50" (input)="segmentObj.segmentName=$event.target.value.toUpperCase()">
                                            </mat-form-field>
                                            <div *ngIf="segmentName.touched || (f.submitted && segmentName.invalid)" class="invalid-feedback">
                                                <div *ngIf="segmentName.errors?.required">Segment Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Display Name</strong></mat-label>
                                    </div>
                                    <div class="module_area input_height" fxFlex="50%">
                                        <mat-form-field appearance="outline">
                                            <input matInput name="desc" [(ngModel)]="segmentObj.desc" (input)="segmentObj.desc=$event.target.value.toUpperCase()" maxlength="100" class="form-control">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div fxFlex="10%"></div>

                            <div fxFlex="45%">

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div class="module_area input_height" fxFlex="50%">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 " [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                            <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker" class="date_picker_rate_group_1">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2" class="date_adjust" (onMenuOpen)="checkForExpiryDate(segmentObj.effectiveDt)">
                                            </mat-datepicker-toggle>
                                            <input matInput [matDatepicker]="date_picker_rate_group_2" #effectiveDt="ngModel" validDate required class="date_input_height" class="date_picker_input" [disabled]="segmentObj.effectiveDt<currentDate && this.segmentObj.id && isChange" name="effectiveDt"
                                                [(ngModel)]="segmentObj.effectiveDt" placeholder="DD/MM/YYYY" [min]="currentDate" (change)="isChange=false" (dateChange)="changeDateFormat(segmentObj.effectiveDt,segmentObj.expDt)" />
                                        </mat-form-field>
                                        <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)" class="invalid-feedback">
                                            <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                            <div *ngIf="segmentObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                        </div>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Expiry Date</strong></mat-label>
                                    </div>
                                    <div class="module_area input_height" fxFlex="50%">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8" [ngClass]="{ 'mandatory_input': isVar && ((segmentObj.expDt<=segmentObj.effectiveDt && !segmentObj.id) || (currentDate>segmentObj.expDt && segmentObj.id))  }">
                                            <mat-datepicker #date_picker_service_line panelClass="mdmDatepicker" class="date_picker_rate_group_1" (opened)="checkForExpiryDate(segmentObj.effectiveDt)" (closed)="removeMinDate(segmentObj.effectiveDt)">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_service_line" class="date_adjust">
                                            </mat-datepicker-toggle>
                                            <input matInput [matDatepicker]="date_picker_service_line" class="date_input_height date_picker_input" name="expDt" #expDt="ngModel" validDate [(ngModel)]="segmentObj.expDt" placeholder="DD/MM/YYYY" [min]="expiryMinDate" (dateChange)="changeDateFormat(segmentObj.effectiveDt,segmentObj.expDt);"
                                                (change)="isVar=true" [required]="isInactive">
                                        </mat-form-field>
                                        <div *ngIf="isVar" class="invalid-feedback">
                                            <div *ngIf="segmentObj.expDt<=segmentObj.effectiveDt">
                                                Must be Greater than Effective and Current Date.</div>
                                            <div *ngIf="currentDate>segmentObj.expDt && !(segmentObj.expDt <= segmentObj.effectiveDt) && segmentObj.id">Must be Greater than Effective and Current Date.</div>
                                        </div>
                                        <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                            <div *ngIf="segmentObj.expDt && segmentObj.expDt< currentDate">Must be Greater than Effective and Current Date</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="45%">

                                <div fxFlex="50%">
                                    <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                                </div>
                                <div fxFlex="50%">
                                    <mat-grid-list cols="1" rowHeight="53px">
                                        <mat-grid-tile class="module_area">
                                            <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                                <mat-select disableOptionCentering panelClass="anyClass" name="status" [(ngModel)]="segmentObj.status" #status="ngModel" required uppercase>
                                                    <mat-option [value]="1">
                                                        ACTIVE
                                                    </mat-option>
                                                    <mat-option [value]="0">
                                                        INACTIVE
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                                <div *ngIf="status.errors?.required">Status is required</div>
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>
                            <div fxFlex="10%"></div>
                            <div fxFlex="45%"> </div>
                        </div>
                        <br>
                        <br>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                                    <mat-grid-tile class="module_area">
                                        <button mat-flat-button class="theme_btn round_btn" *ngIf="submitPermission" [mat-dialog-close]="true">Back</button>
                                        <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission" [disabled]="(!segmentObj.status && !segmentObj.id) || (inActiveFlag && segmentObj.status == 0)">Save</button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>


        <!-- Add city Section -->
    </div>

</div>