.searchbar_bw em {
    top: 0.5rem;
    left: 1rem;
}
.lable_left_web{
    float: left;
    margin-right: 15px;
}
.form_right_web{
    float: left;
    position: relative;
}

hr{
    margin-top: 0;
}