<div>
    <div class=" all_form">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="20%" *ngxPermissionsOnly="['CREATE']">
                <mat-card class="manage_route_tab route_active mr-top-0" (click)="showProductcategory=false;productCategory=false;showProductCategoryList=false;clearObj();" [ngClass]="{'color_dark': showProductcategory === true }">
                    <h3>Product Category</h3>
                </mat-card>
            </div>
            <div fxFlex="20%">
                <mat-card class="manage_route_tab bg_gray_color  mr-top-0" (click)="showProductcategory=true;showProductCategoryList=false;productCategory=true;getProductMasterOnLoad()" [ngClass]="{'color_dark':showProductcategory === false, 'route_active':showProductcategory === true }">
                    <h3>Product Master</h3>
                </mat-card>
            </div>
        </div>
        <br>


        <div *ngIf="!productCategory">
             <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                <div fxFlex="18%"><h3 class="grid_title">Search Product Category</h3></div>
                <div fxFlex="82%"> <div class="hdr_srch_field">
                        <span matPrefix><em class="material-icons search_icon"
                                (click)="searchProductCategory($event)">search</em></span>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="29%">
                                <mat-form-field appearance="outline">
                                    <input matInput name="searchProductCategoryName" (keyup)="clearSearchCategory()" (input)="searchProductCategoryName=$event.target.value.toUpperCase()" (keyup.enter)="searchProductCategory($event)" [(ngModel)]="searchProductCategoryName">
                                </mat-form-field>
                            </div>
                            <div fxFlex="10%">
                                <button (click)="showProductCategoryList=true;productCategory=true;submitPermission=false;clearObj()" mat-button class="add_btn" *ngxPermissionsOnly="['CREATE']"><em class="material-icons">add</em></button>
                            </div>
                            <div class="invalid-feedback" *ngIf="strLengthValid">
                                Enter Minimum 3 Characters
                            </div>
                        </div>
                    </div></div>
             </div>
            <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                <div fxFlex="18%">
                    
                    <h3 class="grid_title mr_top_30">Product Category</h3>
                </div>
                <div fxFlex="82%">
                   
                    <mat-card class="card_body">
                        <div class="mat-table mat_table_main">
                            <div class="mat-row bg bg_light_grey table_main_header">
                                <div class="mat-cell mat_cell_head upper-case">Product Category</div>
                                <div class="mat-cell mat_cell_head upper-case">Hsn Code</div>
                                <div class="mat-cell mat_cell_head upper-case">LOB</div>
                                <div class="mat-cell"></div>
                            </div>
                            <div class="mat-row bg_light_grey" *ngFor="let product of prodCategoryList | paginate: { itemsPerPage: 10, currentPage: p }">
                                <div class="mat-cell upper-case  table_color hyperlink upper-case text_wrap" [matTooltip]="product.prdctCtgy" [matTooltipPosition]="'above'">
                                    {{ product.prdctCtgy }}</div>
                                <div class="mat-cell upper-case text_wrap" matTooltip="{{ product.hsnCodeId  | showName : 'hsncode' : hsnCodeList }}" [matTooltipPosition]="'above'">
                                    {{ product.hsnCodeId | showName : 'hsncode' : hsnCodeList }}</div>
                                <div class="mat-cell text_wrap"> <span *ngFor="let lob of product.prdctCtgyLobMaps">
                                    <span *ngIf="lob.status==1"  [matTooltip]="lob.lookupId  | showName : 'descr' : lineOfBusinessList" [matTooltipPosition]="'above'"> {{ lob.lookupId  | showName : 'descr' : lineOfBusinessList}} </span> </span>
                                </div>
                                <div class="mat-cell mat_cell_icon">
                                    <button mat-button (click)="productCategory=true;editProduct(product, 1)">
                                        <em class="material-icons icon_btn_display icon_theme_color">remove_red_eye</em>
                                    </button>
                                    <button mat-button (click)="productCategory=true;editProduct(product, 0)"><em
                                            class="material-icons icon_theme_color table_color float_right"
                                            *ngxPermissionsOnly="['CREATE','UPDATE']">edit</em></button>
                                </div>
                            </div>
                            <div class="mat-row bg_light_grey" *ngIf="!prodCategoryList.length">
                                <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data Present
                                </div>
                            </div>
                        </div>
                        <div class="pagination_area">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </mat-card>


                </div>

            </div>
        </div>
        <div *ngIf="showProductCategoryList">
            <form autocomplete="off" name="productCategoryForm" (ngSubmit)="f.form.valid && saveProduct()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="50%">
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="53px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Product Category <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">

                                        <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && prdctCtgy.invalid }">
                                            <input matInput uppercase name="prdctCtgy" [(ngModel)]="productAllObj.prdctCtgy" #prdctCtgy="ngModel" required class="form-control" maxlength="50">
                                        </mat-form-field>
                                        <div *ngIf="prdctCtgy.touched || (f.submitted && prdctCtgy.invalid)" class="invalid-feedback">
                                            <div *ngIf="prdctCtgy.errors?.required">Product Category is required</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                                    <div fxFlex="45%">
                                        <mat-label><strong>Line of Business  <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <div class="module_area">
                                            <div *ngFor="let lineObj of lineOfBusinessList; let i=index">
                                                <mat-checkbox [checked]="isChecked(lineObj)" (change)="listBusiness(lineObj,$event)" required>
                                                    {{lineObj.descr}}
                                                </mat-checkbox>
                                                <br>
                                            </div>
                                            <div *ngIf="f.submitted && lobIsRequired" class="coloe_red pos_relative">Atleast One Line of Business is required
                                            </div>
                                            <br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50%">

                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="53px">
                                    <mat-grid-tile>
                                        <mat-label><strong>HSN <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && hsnCodeId.invalid }">
                                            <mat-select disableOptionCentering  [dataArr]="hsnCodeList" appAutoSelectFirstOption
                                                panelClass="anyClass multipleAnyClass_search_2"
                                                class="search_select_branch mr_top_22"
                                                name="hsnCodeId"
                                            (selectionChange)="getHsnDate(productAllObj.hsnCodeId)" [(ngModel)]="productAllObj.hsnCodeId" #hsnCodeId="ngModel" required>
                                                <ngx-mat-select-search [(ngModel)]="hsncodeNameSearchCtrl"
                                                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                    name="search">
                                                    <mat-icon
                                                        class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                        search
                                                    </mat-icon>
                                                </ngx-mat-select-search>
                                                <mat-option [value]="hsn.id"
                                                *ngFor="let hsn of hsnCodeList | stringFilter:hsncodeNameSearchCtrl:'hsncode' | sortBy:'hsncode'"
                                                    matTooltip="{{hsn.hsncode}}"
                                                    [matTooltipPosition]="'above'">
                                                    {{hsn.hsncode}}
                                                </mat-option>
                                            </mat-select>
                                            <!--<mat-select disableOptionCentering panelClass="anyClass" name="hsnCodeId"
                                            (selectionChange)="getHsnDate(productAllObj.hsnCodeId)" [(ngModel)]="productAllObj.hsnCodeId" #hsnCodeId="ngModel" required>
                                                <mat-option [value]="hsn.id" *ngFor="let hsn of hsnCodeList | sortBy: 'hsncode'" matTooltip="{{hsn.hsncode}}" [matTooltipPosition]="'above'">
                                                    {{hsn.hsncode}}
                                                </mat-option>
                                            </mat-select>-->
                                        </mat-form-field>
                                        <div *ngIf="hsnCodeId.touched || (f.submitted && hsnCodeId.invalid)" class="invalid-feedback">
                                            <div *ngIf="hsnCodeId.errors?.required">HSN is required</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div fxFlex="10%" style="position: relative;">
                                <button mat-button type="button" class="add_btn left_00" (click)="addHsh()" *ngxPermissionsOnly="['CREATE']"><em class="material-icons">add</em></button>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">

                                            <mat-select disableOptionCentering panelClass="anyClass" [(ngModel)]="productAllObj.status" name="status" #status="ngModel" required uppercase>
                                                <mat-option [value]="1">
                                                    ACTIVE
                                                </mat-option>
                                                <mat-option [value]="0">
                                                    INACTIVE
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                            <div *ngIf="status.errors?.required">Status is required</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Description</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput [(ngModel)]="productAllObj.descr" name="descr" class="form-control" maxlength="50" (input)="productAllObj.descr=$event.target.value.toUpperCase()">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>

                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="50%">
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 " [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                            <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker" class="date_picker_rate_group_1">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2" class="date_adjust" (onMenuOpen)="checkForExpiryDate(productAllObj.effectiveDt)">
                                            </mat-datepicker-toggle>
                                            <input matInput [matDatepicker]="date_picker_rate_group_2" disabled class="date_input_height date_picker_input" validDate #effectiveDt="ngModel" required [(ngModel)]="productAllObj.effectiveDt" name="effectiveDt" placeholder="DD/MM/YYYY" [min]="currentDate"
                                                (change)="isChange=false" (dateChange)="changeDateFormat(productAllObj.effectiveDt,productAllObj.expDt)" />
                                        </mat-form-field>
                                        <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)" class="invalid-feedback">
                                            <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                            <div *ngIf="productAllObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50%">
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Expiry Date</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 " [ngClass]="{ 'mandatory_input': isVar && ((productAllObj.expDt<=productAllObj.effectiveDt && !productAllObj.id) || (currentDate>productAllObj.expDt && productAllObj.id))  }">
                                            <mat-datepicker #date_picker_rate_group_1 (opened)="checkForExpiryDate(productAllObj.effectiveDt)" (closed)="removeMinDate(productAllObj.effectiveDt)" panelClass="mdmDatepicker" class="date_picker_rate_group_1">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_1" class="date_adjust">
                                            </mat-datepicker-toggle>
                                            <input matInput [matDatepicker]="date_picker_rate_group_1" disabled class="date_input_height" class="date_picker_input" #expDt="ngModel" validDate [(ngModel)]="productAllObj.expDt" name="expDt" placeholder="DD/MM/YYYY" [min]="expiryMinDate" [required]="expiryMinDate"
                                                (dateChange)="changeDateFormat(productAllObj.effectiveDt,productAllObj.expDt);" (change)="isVar=true">
                                        </mat-form-field>
                                        <div *ngIf="isVar" class="invalid-feedback">
                                            <div *ngIf="productAllObj.expDt<=productAllObj.effectiveDt">
                                                Must be Greater than Effective and Current Date.</div>
                                            <div *ngIf="currentDate>productAllObj.expDt && !(productAllObj.expDt <= productAllObj.effectiveDt) && productAllObj.id">
                                                Must be Greater than Effective and Current Date.</div>
                                        </div>
                                        <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                            <div *ngIf="productAllObj.expDt && productAllObj.expDt< currentDate">Must be Greater than Effective and Current Date</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" (click)="productCategory=false;showProductCategoryList=false" *ngIf="submitPermission">Back</button>
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission" [disabled]="!productAllObj.status && !productAllObj.id || (isdisabled && productAllObj.status==0)">Save</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="showProductcategory">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="70%">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="50%">
                            <mat-grid-list cols="2" rowHeight="53px">
                                <mat-grid-tile>
                                    <mat-label><strong>Product Category</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn">
                                        <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search_2" class="search_select_branch mr_top_22"  [dataArr]="prodCategoryList" appAutoSelectFirstOption [(ngModel)]="searchCaegoryIndex.prodCat" name="prodCat" (selectionChange)="getProductListById(searchCaegoryIndex.prodCat)">
                                            <ngx-mat-select-search [(ngModel)]="productCategorySearchCtrl" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'" name="search">
                                                <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="prodCat.id" *ngFor="let prodCat of prodCategoryList | stringFilter:productCategorySearchCtrl:'prdctCtgy' | sortBy:'prdctCtgy'" matTooltip="{{prodCat.prdctCtgy}}" [matTooltipPosition]="'above'">
                                                {{prodCat.prdctCtgy}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="invalid-feedback2 text-center mr-top-5" *ngIf="enterProduct">
                                        Please Select Product Category
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="100%" *ngxPermissionsOnly="['CREATE']">
                            <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                                <div style="width: 75px">
                                    <mat-label><strong>Add Product</strong></mat-label>
                                </div>
                                <div fxFlex="10%" style="position: relative;">
                                    <button mat-button class="add_btn left_00"><em class="material-icons"
                                            (click)="productMasterModelOpen(searchCaegoryIndex,5,0); ">add</em></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-card class="card_body">
                        <div class="mat-table mat_table_main">
                            <div class="mat-row bg bg_light_grey table_main_header">
                                <div class="mat-cell mat_cell_head upper-case">Product Code</div>
                                <div class="mat-cell mat_cell_head upper-case">product name</div>
                                <div class="mat-cell mat_cell_head upper-case">description</div>
                                <div class="mat-cell mat_cell_head upper-case">Status</div>
                                <div class="mat-cell"></div>
                            </div>
                            <div class="mat-row bg_light_grey" *ngFor="let productCatObj of productCatList | paginate: { itemsPerPage: 10, currentPage: p }">
                                <div class="mat-cell upper-case  table_color hyperlink upper-case text_wrap" [matTooltip]="productCatObj.prdctCode" [matTooltipPosition]="'above'">
                                    {{productCatObj.prdctCode}} </div>
                                <div class="mat-cell upper-case text_wrap" [matTooltip]="productCatObj.prdctName" [matTooltipPosition]="'above'">
                                    {{productCatObj.prdctName}} </div>
                                <div class="mat-cell text_wrap" [matTooltip]="productCatObj.descr" [matTooltipPosition]="'above'">
                                    {{productCatObj.descr}} </div>
                                <div class="mat-cell">{{productCatObj.status| statusDesc }} </div>
                                <div class="mat-cell mat_cell_icon">
                                    <button mat-button><em
                                            class="material-icons icon_theme_color table_color float_right"
                                            (click)="productMasterModelOpen(productCatObj,null, 1)">remove_red_eye</em></button>
                                    <button mat-button *ngxPermissionsOnly="['CREATE','UPDATE']"><em
                                            class="material-icons icon_theme_color table_color float_right"
                                            (click)="productMasterModelOpen(productCatObj,null, 2)">edit</em></button>
                                </div>
                            </div>
                            <div class="mat-row bg_light_grey" *ngIf="!productCatList.length">
                                <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data Present
                                </div>
                            </div>
                        </div>
                        <div class="pagination_area">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </mat-card>
                </div>

            </div>
            <br>
            <br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            </div>
        </div>
    </div>



</div>
