<div class="container">
  <mat-toolbar class="breadcrumbs_nav">
    <mat-toolbar-row class="breadcrumbs">
      <span><a>Dashboard</a></span>
      <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">arrow_right
      </mat-icon>
      <span><a href="/dashboard">MDM</a></span>
      <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">arrow_right
      </mat-icon>
      <span>Zone Matrix</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <h2 class="sub_heading">Zone Matrix</h2>
  <mat-card class="mat_card_zone">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="15%">
        <mat-grid-list cols="1" rowHeight="400px" class="mobile_height_sidebar">
          <mat-grid-tile>
            <div class="button_grid_position">
              <button mat-button class="active_btn">Organisation</button>
              <button mat-button class="deactive_btn">Geography</button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxFlex="15%">
        <mat-grid-list cols="1" rowHeight="200px" class="coll_lookpup_height">
          <mat-grid-tile>
            <h3 class="grid_title">Organisation<br> <br> lookup Values</h3>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxFlex="70%">
        <mat-grid-list cols="1" rowHeight="500px" class="all_form">
          <mat-grid-tile>
            <div class="hdr_srch_field" fxHide.xs="true">
              <span matPrefix><em class="material-icons search_icon">search</em></span>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="40%">
                  <mat-grid-list cols="1" rowHeight="40px">
                    <mat-grid-tile class="module_area" rowHeight="40px">
                      <mat-form-field appearance="outline">
                        <input matInput uppercase name="rateCardCode">
                      </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
                <div fxFlex="10%">
                  <button mat-button class="add_btn"><em class="material-icons">add</em></button>
                </div>
              </div>
            </div>
            <div class="mat-table mat_table_main">
              <div class="mat-row bg bg_light_grey table_main_header">
                <div class="mat-cell mat_cell_head">NAME</div>
                <div class="mat-cell mat_cell_head">DESCRIPTION</div>
                <div class="mat-cell"></div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em class="material-icons icon_theme_color table_color">delete
                    </em></button>
                </div>
              </div>
              <div class="mat-row bg_light_grey">
                <div class="mat-cell">VALUE 1</div>
                <div class="mat-cell">DESCRIPTION GOES HERE</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button class="float_right"><em
                      class="material-icons icon_theme_color table_color">delete</em></button>
                </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</div>