<div class="modal-container">
  <h5 class="sub_heading">Edit Organisation</h5>
  <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
    cancel
  </em>
  <hr class="border_row">
  <br>
  <mat-card class="mat_card_zone modals_card">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

      <div fxFlex="100%">
        <mat-grid-list cols="1" rowHeight="250px">
          <mat-grid-tile class=" all_form">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
              <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                  <mat-grid-tile>
                    <mat-label><strong>Organisation Name</strong></mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile class="module_area">
                    <form>
                      <input placeholder="Zone Name" type="text">
                    </form>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
              <div fxFlex="10%"></div>
              <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                  <mat-grid-tile>
                    <mat-label><strong>Status</strong></mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile class="module_area">
                    <form>
                      <select>
                        <option>Status One</option>
                        <option>Status Two</option>
                        <option>Status Three</option>
                      </select>
                    </form>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
              <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                  <mat-grid-tile>
                    <mat-label><strong>Country Name</strong></mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile class="module_area">
                    <form>
                      <select>
                        <option>India</option>
                        <option>China</option>
                        <option>Japan</option>
                      </select>

                    </form>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
              <div fxFlex="10%">
                <a><button mat-button class="add_btn"><em class="material-icons">add</em></button></a>

              </div>
              <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                  <mat-grid-tile>
                    <mat-label><strong>Description</strong></mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile class="module_area">
                    <form>
                      <input placeholder="Description" type="text">
                    </form>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
              <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                  <mat-grid-tile>
                    <mat-label><strong>Line of Business</strong></mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile class="module_area">
                    <form>
                      <mat-checkbox>B2B</mat-checkbox>
                      <br>
                      <mat-checkbox>B2C</mat-checkbox>
                      <br>
                      <mat-checkbox>FTL</mat-checkbox>
                    </form>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
              <div fxFlex="100%">
                <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                  <mat-grid-tile class="module_area">
                    <button mat-flat-button class="theme_btn round_btn">Save</button>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</div>