<div class="container">

    <ol class="breadcrumb">
        <li><a (click)='gotoDashboard()'>Dashboard</a></li>
    </ol>
    <div class="navigation_section">

        <div class="row">
            <div class="col-md-4 pl-0">
            <div class="col-md-5">
                <div class="nav_card navPro cursor_pointer forNav" (click)='gotoDashboard()'>
                  <label for="" class="control-label color-primary flexD"><img src="../assets/images/leftArr.png" alt="" class="postionArro"><span>Go Back</span> </label>
                </div>
              </div>
            <div class="col-md-7 forNav">
                <div class="nav_card active groupNav">
                    <label for="" class="control-label color-primary mr_left_10">Edit Waybill</label>
                    <img src="../assets/images/white_edit_waybill.png"  class="groupImg" alt="">
                </div>
            </div>
            </div>
        </div>





        <!-- <div class="row">
            <div class="col-md-2">
                <div class="nav_card cursor_pointer" [routerLink]="['/bookings-web-booking/web-booking']">
                    <div style="margin-top: 10px !important;">
                        <div class="col-md-2 color-primary">
                            <em class="fa fa-angle-left fa-4x"></em>
                        </div>
                        <div class="col-md-9">
                            <label for="" class="control-label color-primary" style="margin-top:7px;">Go Back</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav_card active" style="width: 80%;">
                    <div class="col-md-9">
                        <label for="" class="control-label color-primary" style="font-size: small !important; margin-top:10px !important">Edit Waybill</label>
                    </div>
                    <div class="col-md-3">
                        <img src="../assets/images/white_edit_waybill.png" alt="" style="height: 50px; width: 50px;">
                    </div>

                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-2">
                <div class="nav_card cursor_pointer" [routerLink]="['/bookings-web-booking/web-booking']">
                    <label for="" class="control-label color-primary"><em class="fa fa-angle-left"></em> Go Back</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="nav_card active">
                    <label for="" class="control-label color-primary">Edit Waybill</label>
                </div>
            </div>
        </div> -->
    </div> 

    <mat-card class="generated_mat_card">
        <div class="row" style="margin: 0 0 20px;">
            <form name="editForm" autocomplete="off" (ngSubmit)="f.form.valid && gettingWaybillByDate()" #f="ngForm"
            novalidate>
            <div class="display_flex">
                <div class="display_flex mr-5">
                    <h4 class="table_heading mr_top_0 mr_right_20" style="margin-left:13px; position: relative;"><strong>Search Waybill</strong></h4>
                <div class="searchbar_bw position_relative">
                    <mat-form-field appearance="outline">
                        <input matInput name="rateCardCode" [(ngModel)] ="waybillNumber"  (keyup)="applyWaybillFilter($event.target.value)" class="form-control" placeholder="">
                    </mat-form-field>
                    <em class="fa fa-search"></em>
                </div>
            </div>
            
            <!-- <div class="col-md-2">
                <div class="searchbar_bw">
                    <mat-form-field appearance="outline">
                        <input matInput name="rateCardCode"  (keyup)="applyWaybillFilter($event.target.value)" class="form-control" placeholder="">
                    </mat-form-field>
                    <em class="fa fa-search"></em>
                </div>
            </div> -->
            <div class="display_flex cus-error">
                <div class="display_flex mr-5">
                    <h4 class="table_heading"><strong>From <sup class="required" *ngIf="isFromDateMandatory"> *</sup></strong></h4>
                    <mat-form-field hideRequiredMarker style="max-width:120px;" class="ssbox">
                    <input matInput class="form-control" name="a" [matDatepicker]="picker1" 
                       [ngClass]="{ 'mandatory_input': (f.submitted && a.invalid && fromdate && a.touched) || (a.invalid && fromdate && a.touched) }"
                       (dateChange)="checkForExpiryDate(fromdate)"
                       (click)="checkForExpiryDate(fromdate);" [max]="todayDate" 
                        (ngModelChange)="fromdatechange($event)" #a="ngModel"  [required] = "isFromDateMandatory"
                        [(ngModel)]="fromdate" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="picker1"  (onMenuOpen)="checkForExpiryDate(fromdate)"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div *ngIf="a.touched || (f.submitted && a.invalid)" class="hasErrorMsg">
                    <div *ngIf="a.errors?.required">Required!</div>
                    <div *ngIf=" fromdate && a.touched && a.invalid">Invalid!</div>
                </div>
            </div>
            </div>
            <!-- <div class="col-md-2">
                <mat-form-field hideRequiredMarker>
                    <input matInput class="form-control" name="a" [matDatepicker]="picker1" 
                       [ngClass]="{ 'mandatory_input': (f.submitted && a.invalid && fromdate && a.touched) || (a.invalid && fromdate && a.touched) }"
                       (dateChange)="checkForExpiryDate(fromdate)"
                       (click)="checkForExpiryDate(fromdate);" [max]="todayDate" 
                        (ngModelChange)="fromdatechange($event)" #a="ngModel"  required
                        [(ngModel)]="fromdate" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="picker1"  (onMenuOpen)="checkForExpiryDate(fromdate)"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div *ngIf="a.touched || (f.submitted && a.invalid)" class="hasErrorMsg">
                    <div *ngIf="a.errors?.required">Required!</div>
                    <div *ngIf=" fromdate && a.touched && a.invalid">Invalid!</div>
                </div>
            </div> -->
            <div class="display_flex cus-error">
                <div class="display_flex mr-5">
                    <h4 class="table_heading"><strong>To <sup class="required" *ngIf="toDateMandatory"> *</sup></strong></h4>
                    <mat-form-field hideRequiredMarker style="max-width:120px;" class="ssbox">
                    <input matInput class="form-control" name="todate" [matDatepicker]="picker2"
                        (ngModelChange)="todatechange($event)"  [min]="expiryMinDate"  [max]="todayDate"
                        (dateChange)="changeDateFormat(fromdate,todate);"
                        (change)="isVar=true"   [ngClass]="{ 'mandatory_input': f.submitted && b.invalid }"
                        [(ngModel)]="todate" #b="ngModel" [required] ="toDateMandatory"
                        placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <div *ngIf="b.touched || (f.submitted && b.invalid)" class="hasErrorMsg">
                    <div *ngIf="b.errors?.required">Required!</div>
                    <div *ngIf="b.touched && todate && b.invalid">Invalid!</div>
                </div>
            </div>
            </div>
           
            <div class="col-md-2">
                <button class="btn theme-button" type="submit"  style="margin: -4px 0 0 0;">SEARCH</button>
            </div>
        </div>
            
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <div>
                    <table  aria-describedby="table"  mat-table [dataSource]="dataSource5" matSort class="mat-elevation-z8" style="margin: 0px !important;">
                        <ng-container matColumnDef="waybillNumber">
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef mat-sort-header> WAYBILL NO. </th>
                            <td mat-cell *matCellDef="let element" style="color: #27ae60;">{{element.waybillNumber}}</td>
                        </ng-container>

                        <ng-container matColumnDef="userType">
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER NAME </th>
                            <td mat-cell *matCellDef="let element"> {{ getCustNameForRetail(element)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="wayblCurrStatusLookupId">
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.wayblCurrStatusLookupId  | showName :  'lookupVal' : allLookupList }} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="branchMOPLookupId">
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef mat-sort-header>    MOP    </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.branchMOPLookupId | showName :  'lookupVal' : allLookupList }}
                        </ng-container>
                            <!-- {{element.branchMOPLookupId | showName :  'branchMOPValue' : mopList }} </td> -->

                        <ng-container matColumnDef="serviceOfferingId">
                            <!-- | showName : 'branchType':allLookupList -->
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef mat-sort-header>SERVICE OFFERING</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.serviceOfferingId | showName :  'serviceOffering' : allOfferingList }} </td>
                        </ng-container>
                        <ng-container matColumnDef="pickupDate">
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef mat-sort-header>PICK UP DATE</th>
                            <td mat-cell *matCellDef="let element"> {{element.pickupDate | date: 'dd/MM/yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th scope="row" id="" mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> <em
                                    class="material-icons icon_btn_display icon_theme_color" (click)="editWaybill(element)">edit</em> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                </div>
                    <div [hidden]='!waybillList.length' class="paginator">
                        <mat-paginator [pageSizeOptions]="[10,20, 50 , 100]" showFirstLastButtons></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </mat-card>
</div>