<div class="modal-container">
    <div class="mat-dialog-header">
        <h4 class="margin-zero"><strong>Attach Part Number</strong></h4>
        <em class="fa fa-times modal-close" [mat-dialog-close]="true"></em>
    </div>
    <hr>
    <div class="mat-dialog-content">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-6">
                        <label style="background-color:#F1F1F1;">Part Number</label>
                    </div>
                    <div class="col-md-6">
                        <label style="background-color:#F1F1F1;">Quantity</label>
                    </div>
                </div>
                <form [formGroup]="dynamicForm">
                    <div formArrayName="dataSource">
                        <div *ngFor="let comp of dynamicFormGroup.controls; let i=index">
                            <fieldset>
                                <!-- <legend><h3>COMPANY {{i+1}}: </h3></legend> -->

                                <div [formGroupName]="i" style="margin-top:5px;">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <mat-form-field class="select_box_dropwodn overline_hidden "
                                                class="form-control">
                                                <mat-select #part (selectionChange)="selectPartNumber(part.value, i)"
                                                    formControlName="id" >
                                                    <mat-option [value]="data.id" *ngFor="let data of partsArray" [disabled]="isAlreadyAdded(data)">
                                                        {{data.partNumber}}
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-5">
                                            <input formControlName="quantity" (keypress)="numberOnly($event)" type="text" maxlength="9"/>
                                        </div>
                                        <div class="col-md-2">
                                            <img style="margin-bottom: 12px;cursor: pointer;" class="tile-img"
                                                src="../assets/images/delete.png" alt="" (click)="deleteCompany(i)">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><br>

                </form>
            </div>
            <div class="col-md-1">
                <mat-icon mat-card-avatar class="mat-plus-icon add-circle" aria-label="Example icon" (click)="addRow()">
                    add_circle
                </mat-icon>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <button mat-raised-button class="btn theme-button" [disabled]="dynamicForm.invalid"
                    (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>