<mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile class="ml_grid all_form">
        <h3 class="zone_title">SLA</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                    <mat-grid-tile>
                        <mat-label><strong>Service Line</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="module_area">
                        <form>
                            <select>
                                <option>Service Line 1</option>
                                <option>Service Line 2</option>
                            </select>
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div fxFlex="10%"></div>
            <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                    <mat-grid-tile>
                        <mat-label><strong>Service Offering</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="module_area">
                        <form>
                            <select>
                                <option>AIR</option>
                                <option>Offering</option>
                            </select>
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                    <mat-grid-tile>
                        <mat-label><strong>SLA</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="module_area">
                        <form>
                            <input type="text" placeholder="SLA">
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div fxFlex="10%"></div>
            <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                    <mat-grid-tile>
                        <mat-label><strong>Price</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="module_area">
                        <form>
                            <input type="text" placeholder="Price" maxlength="8">
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                    <mat-grid-tile>
                        <mat-label><strong>Effective Date</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="module_area">
                        <form>
                            <input type="date">
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div fxFlex="10%"></div>
            <div fxFlex="45%">
                <mat-grid-list cols="2" rowHeight="55px">
                    <mat-grid-tile>
                        <mat-label><strong>Expiry Date</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="module_area">
                        <form>
                            <input type="date">
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                    <mat-grid-tile class="module_area">
                        <button mat-flat-button class="theme_btn round_btn">Add</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>