<div class="modal-container">
    <div class="mat-dialog-header">
        <h4 class="margin-zero"><strong>E-Waybill</strong></h4>
        <em class="fa fa-times modal-close" [mat-dialog-close]="true"></em>
    </div>
    <hr>
    <h6 *ngIf="hideEwayBillCol" class="margin-zero"><strong style="margin-left: 15px;">Scanned E-Waybills:</strong></h6>
    <div class="mat-dialog-content">
        <div class="table-responsive" style="overflow:hidden">
            <table  aria-describedby="table"  *ngIf="!hideEwayBillCol" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="waybill">
                    <th scope="row" mat-header-cell *matHeaderCellDef class="tableHeader"> E-Waybill No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.ewaybillNumber}} </td>
                </ng-container>

                <ng-container  matColumnDef="weight">
                    <th scope="row" mat-header-cell *matHeaderCellDef class="tableHeader"> Invoice No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="packages">
                    <th scope="row" mat-header-cell *matHeaderCellDef class="tableHeader"> Invoice Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceAmount}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th scope="row" mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <em class="material-icons icon_btn_display icon_theme_color"
                            (click)="deleteEwayBill(element)">delete</em></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="row" *ngIf="hideEwayBillCol">
                <div class="col-md-10">
                    <table  aria-describedby="table"  mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
                        <ng-container matColumnDef="waybill">
                            <th scope="row" mat-header-cell *matHeaderCellDef class="tableHeader"> E-Waybill No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.ewaybillNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th scope="row" mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element">
                                <em class="material-icons icon_btn_display icon_theme_color"
                                    (click)="deleteEwayBill(element)">delete</em></td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="barcode">
                            <th  mat-header-cell *matHeaderCellDef>
                                <img src="../assets/images/scanner.png" style="height: 2.7rem;" alt="">
                            </th>
                            <td mat-cell *matCellDef="let element"></td>
        
                        </ng-container> -->
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                </div>
                <div class="col-md-2">
                    <img src="../assets/images/scanner.png" style="height: 4.3rem;" alt="">
                </div>
            </div>

            


        </div>
    </div>
</div>