<div class="modal-container">
    <h5 class="sub_heading">ADD HSN</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && addHsn()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>HSN Code <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && hsncode.invalid }">
                                    <input matInput uppercase name="hsncode" [(ngModel)]="hsnObj.hsncode" class="form-control" maxlength="20" #hsncode="ngModel" required>
                                </mat-form-field>
                                <div *ngIf="hsncode.touched || (f.submitted && hsncode.invalid)" class="invalid-feedback">
                                    <div *ngIf="hsncode.errors?.required">Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Tax Exempted</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-radio-group [(ngModel)]="hsnObj.wayblExempt" name="wayblExempt" #radioGroup="matRadioGroup">

                                    <mat-radio-button [value]="'Y'" style="margin-right: 20px;">Yes</mat-radio-button>
                                    <mat-radio-button [value]="'N'">No</mat-radio-button>

                                </mat-radio-group>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="53px">
                            <mat-grid-tile>
                                <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust top_10" [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                    <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="picker" name="effectiveDt" validDate [disabled]="hsnObj.effectiveDt<currentDate && this.hsnObj.id && isChange" [(ngModel)]="hsnObj.effectiveDt" class="date_input_height" #effectiveDt="ngModel" placeholder="DD/MM/YYYY"
                                        required [min]="currentDate" (change)="isChange=false" (dateChange)="changeDateFormat(hsnObj.effectiveDt,hsnObj.expDt)" />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)" class="invalid-feedback">
                                    <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                    <div *ngIf="hsnObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Expiry Date</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust" [ngClass]="{ 'mandatory_input': expDt.invalid }">
                                    <mat-datepicker #myDatepicker23 panelClass="mdmDatepicker" class="date_picker" (opened)="checkForExpiryDate(hsnObj.effectiveDt)" (closed)="removeMinDate(hsnObj.effectiveDt)">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="myDatepicker23" [(ngModel)]="hsnObj.expDt" class="date_input_height" validDate #expDt="ngModel" name="expDt" placeholder="DD/MM/YYYY" [min]="expiryMinDate" [required]="isInactive" (dateChange)="changeDateFormat(hsnObj.effectiveDt,hsnObj.expDt);"
                                        (change)="isVar=true">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker23"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="isVar" class="invalid-feedback">
                                    <div *ngIf="hsnObj.expDt<=hsnObj.effectiveDt">
                                        Must be Greater than Effective and Current Date.</div>
                                    <div *ngIf="currentDate>hsnObj.expDt && !(hsnObj.expDt <= hsnObj.effectiveDt) && hsnObj.id">Must be Greater than Effective and Current Date.</div>
                                </div>
                                <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                    <div *ngIf="hsnObj.expDt && hsnObj.expDt< currentDate">Must be Greater than Effective and Current Date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">

                                    <mat-select disableOptionCentering panelClass="anyClass" [(ngModel)]="hsnObj.status" #status="ngModel" name="status" required uppercase>
                                        <mat-option [value]="1">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="0">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                    <div *ngIf="status.errors?.required">Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="53px">
                            <mat-grid-tile>
                                <mat-label><strong>Description</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline">
                                    <input matInput class="form-control" [(ngModel)]="hsnObj.descr" name="descr" maxlength="50" (input)="hsnObj.descr=$event.target.value.toUpperCase()">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" [disabled]="!hsnObj.status && !hsnObj.id">Save</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>