<div class="modal-container">
    <h5 class="sub_heading">{{pincodePrefix}} Pincode</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && addPincode()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Country Name <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && a.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                             name="a"  [dataArr]="countryList" appAutoSelectFirstOption
                                        [disabled]="isDisabled" [(ngModel)]="countryId"
                                        (selectionChange)="getStateByCountry()" #a="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="countryNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option  [value]="country.id"
                                            *ngFor="let country of countryList | stringFilter:countryNameSearchCtrl:'countryName' | sortBy:'countryName'"
                                                matTooltip=" {{ country.countryName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  country.countryName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass" name="a"
                                        [disabled]="isDisabled" [(ngModel)]="countryId"
                                        (selectionChange)="getStateByCountry()" #a="ngModel" required>
                                        <mat-option [value]="country.id"
                                            *ngFor="let country of countryList   | sortBy:'countryName'" matTooltip="{{country.countryName}}" [matTooltipPosition]="'above'">
                                            {{country.countryName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="f.submitted && a.invalid" class="invalid-feedback">
                                    <div *ngIf="a.errors?.required">Country Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>State <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && b.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                             name="b"  [dataArr]="stateList" appAutoSelectFirstOption
                                        [(ngModel)]="stateId"
                                        (selectionChange)="getDistrictByState()" #b="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="stateNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="state.id"
                                            *ngFor="let state of stateList | stringFilter:stateNameSearchCtrl:'stateName' | sortBy:'stateName'"
                                                matTooltip=" {{ state.stateName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  state.stateNamer }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass" name="b"
                                        [(ngModel)]="stateId"
                                        (selectionChange)="getDistrictByState()" #b="ngModel" required>
                                        <mat-option [value]="state.id"
                                            *ngFor="let state of stateList  | sortBy:'stateName'" matTooltip="{{state.stateName}}" [matTooltipPosition]="'above'">
                                            {{state.stateName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="b.touched || (f.submitted && b.invalid)" class="invalid-feedback">
                                    <div *ngIf="b.errors?.required">State is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>District Name <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && c.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            [(ngModel)]="districtId"  [dataArr]="districtList" appAutoSelectFirstOption
                                       name="c" (selectionChange)="getCitiesByDestrict()"
                                        #c="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="districtNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="district.id"
                                            *ngFor="let district of districtList | stringFilter:districtNameSearchCtrl:'districtName' | sortBy:'districtName'"
                                                matTooltip=" {{ district.districtName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  district.districtName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass" [(ngModel)]="districtId"
                                       name="c" (selectionChange)="getCitiesByDestrict()"
                                        #c="ngModel" required>
                                        <mat-option [value]="district.id"
                                            *ngFor="let district of districtList  | sortBy:'districtName'" matTooltip="{{district.districtName}}" [matTooltipPosition]="'above'">
                                            {{ district.districtName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="c.touched || (f.submitted && c.invalid)" class="invalid-feedback">
                                    <div *ngIf="c.errors?.required">District Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>City <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && city.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="cityList" appAutoSelectFirstOption
                                            [(ngModel)]="pincodeObj2.City" name="city" #city="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="cityNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="city.id"
                                            *ngFor="let city of cityList | stringFilter:cityNameSearchCtrl:'cityName' | sortBy:'cityName'"
                                                matTooltip=" {{ city.cityName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  city.cityName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="pincodeObj2.City" name="city" #city="ngModel" required>
                                        <mat-option [value]="city.id"
                                            *ngFor="let city of cityList  | sortBy :'cityName'" matTooltip="{{city.cityName}}" [matTooltipPosition]="'above'">
                                            {{city.cityName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="city.touched || (f.submitted && city.invalid)" class="invalid-feedback">
                                    <div *ngIf="city.errors?.required">City is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Pincode <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline"
                                    [ngClass]="{ 'mandatory_input': f.submitted && pincode.invalid }">
                                    <input matInput uppercase class="form-control" name="pincode" appNumbersOnly
                                        [(ngModel)]="pincodeObj.pincode" #pincode="ngModel" maxlength="6" minlength="6"
                                        required>
                                </mat-form-field>
                                <div *ngIf="pincode.touched || (f.submitted && pincode.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="pincode.invalid">Pincode is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Local Area Name:</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase class="form-control" name="localAreaName"
                                        [(ngModel)]="pincodeObj.localAreaName">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                      <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Status <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">

                                    <mat-select disableOptionCentering panelClass="anyClass" uppercase
                                        [(ngModel)]="pincodeObj.status" name="status" #status="ngModel">
                                        <mat-option [value]="1">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="0">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                    <div *ngIf="status.errors?.required">State is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Select Features <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && pincodeFeature.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="stateFeatureList" appAutoSelectFirstOption
                                            [compareWith]="selectedFeature" name="pincodeFeature"
                                        [(ngModel)]="pincodeObj2.pincodeFeature" multiple #pincodeFeature="ngModel"
                                        required>
                                            <ngx-mat-select-search [(ngModel)]="pincodeFeatureNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="features" *ngFor="let features of stateFeatureList | stringFilter:pincodeFeatureNameSearchCtrl:'pincodeFeature' | sortBy:'pincodeFeature'"
                                                matTooltip=" {{ features.pincodeFeature }}"
                                                [matTooltipPosition]="'above'">
                                                {{  features.pincodeFeature }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                        [compareWith]="selectedFeature" name="pincodeFeature"
                                        [(ngModel)]="pincodeObj2.pincodeFeature" multiple #pincodeFeature="ngModel"
                                        required>
                                        <mat-option [value]="features" *ngFor="let features of stateFeatureList" matTooltip="{{features.pincodeFeature}}" [matTooltipPosition]="'above'">
                                            {{features.pincodeFeature}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="pincodeFeature.touched || (f.submitted && pincodeFeature.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="pincodeFeature.errors?.required">Select Features is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Effective Date <sup class="mandatory">*</sup> :</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust"
                                    [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                    <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="picker"
                                        [disabled]="pincodeObj.effectiveDt<currentDate && this.pincodeObj.id && isChange"
                                        class="date_input_height" placeholder="" name="effectiveDt"
                                        placeholder="DD/MM/YYYY" validDate [(ngModel)]="pincodeObj.effectiveDt"
                                        #effectiveDt="ngModel" required [min]="currentDate" (change)="isChange=false"
                                        (dateChange)="changeDateFormat(pincodeObj.effectiveDt,pincodeObj.expDt)">
                                    <mat-datepicker-toggle (onMenuOpen)="checkForExpiryDate(pincodeObj.effectiveDt)"
                                        matSuffix [for]="picker"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                    <div *ngIf="pincodeObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="53px">
                            <mat-grid-tile>
                                <mat-label><strong>Expiry Date:</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">

                                <mat-form-field appearance="outline" class="date_picker_adjust"
                                    [ngClass]="{ 'mandatory_input': isVar && ((pincodeObj.expDt<=pincodeObj.effectiveDt && !pincodeObj.id) || (currentDate>pincodeObj.expDt && pincodeObj.id))  }">
                                    <mat-datepicker #myDatepicker23
                                        (opened)="checkForExpiryDate(pincodeObj.effectiveDt)"
                                        (closed)="removeMinDate(pincodeObj.effectiveDt)" panelClass="mdmDatepicker"
                                        class="myDatepicker23">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="myDatepicker23" class="date_input_height"
                                        placeholder="" name="expDt" validDate [(ngModel)]="pincodeObj.expDt"
                                        #expDt="ngModel" placeholder="DD/MM/YYYY" [min]="expiryMinDate" [required]="isInactive"
                                        (dateChange)="changeDateFormat(pincodeObj.effectiveDt,pincodeObj.expDt);"
                                        (change)="isVar=true">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker23">
                                    </mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="isVar" class="invalid-feedback">
                                    <div
                                        *ngIf="pincodeObj.expDt<=pincodeObj.effectiveDt">
                                        Must be Greater than Effective and Current Date.</div>
                                    <div *ngIf="today > pincodeObj.expDt && !(pincodeObj.expDt <= pincodeObj.effectiveDt) && pincodeObj.id">Must be Greater than Effective and Current Date.</div>
                                </div>
                                <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                    <div *ngIf="pincodeObj.expDt && pincodeObj.expDt< currentDate">Must be
                                        Greater than Effective and Current Date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>


                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                      <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="95px">
                            <mat-grid-tile>
                                <mat-label><strong>Safe Extension Type:</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            name="lkpSafextTypeId"
                                        [(ngModel)]="pincodeObj.lkpSafextTypeId">
                                            <ngx-mat-select-search [(ngModel)]="selfExeNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="selfExe.id" *ngFor="let selfExe of safexTypesList | stringFilter:selfExeNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ selfExe.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  selfExe.descr }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass" name="lkpSafextTypeId"
                                        [(ngModel)]="pincodeObj.lkpSafextTypeId">
                                        <mat-option [value]="selfExe.id" *ngFor="let selfExe of safexTypesList" matTooltip="{{selfExe.descr}}" [matTooltipPosition]="'above'">
                                            {{selfExe.descr}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <p class="safetextmsg"> Only Safext1 and Safext2 will be configured , rest all will be 'Scheduled' by default </p>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Description:</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline">
                                    <input matInput class="form-control" name="description"
                                        [(ngModel)]="pincodeObj.descr" maxlength="50" (input)="pincodeObj.descr=$event.target.value.toUpperCase()">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>


                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="!hideBtn"
                                    [disabled]="(!pincodeObj.status && !pincodeObj.id) || (inActiveFlag && pincodeObj.status == 0)">{{ !pincodeObj.id ? 'Save':'Update'}}</button>
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="hideBtn"
                                    [mat-dialog-close]="true">Back</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>


        <!-- Add city Section -->
    </div>
</div>
