<div class="modal-container">
    <h5 class="sub_heading">{{isType}} Feature</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>

    <div>
        <div class=" all_form">
            <form autocomplete="off" name="addressForm" (ngSubmit)="f.form.valid && updataAddressFeature()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="50%">
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Feature Name <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                            <input matInput name="featureName" [(ngModel)]="addressFeatureObj.featureName" class="form-control" required #status="ngModel" maxlength="50" (input)="addressFeatureObj.featureName=$event.target.value.toUpperCase()">
                                        </mat-form-field>
                                        <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                            <div *ngIf="status.errors?.required">Status is required</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>


                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 " [ngClass]="{ 'mandatory_input': (effectiveDate.errors?.required && (effectiveDate.touched || f.submitted)) }">
                                            <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker" class="date_picker_rate_group_1">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2" class="date_adjust" (onMenuOpen)="checkForExpiryDate(addressFeatureObj.effectiveDate)">
                                            </mat-datepicker-toggle>
                                            <input matInput uppercase [matDatepicker]="date_picker_rate_group_2" required #effectiveDate="ngModel" [disabled]="addressFeatureObj.effectiveDate<currentDate && this.addressFeatureObj.id && isChange" [(ngModel)]="addressFeatureObj.effectiveDate" name="effectiveDate"
                                                class="date_picker_input date_input_height" placeholder="DD/MM/YYYY" [min]="currentDate" (change)="isChange=false" (dateChange)="changeDateFormat(addressFeatureObj.effectiveDate,addressFeatureObj.expiryDate)"
                                            />

                                        </mat-form-field>
                                        <div *ngIf="effectiveDate.touched || (f.submitted && effectiveDate.invalid)" class="invalid-feedback">
                                            <div *ngIf="effectiveDate.errors?.required">Effective Date is required</div>
                                            <div *ngIf="addressFeatureObj.effectiveDate < currentDate ">Effective date cannot be less than current date</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass" uppercase [(ngModel)]="addressFeatureObj.status" name="status" required #status="ngModel">
                                                <mat-option [value]="1">
                                                    ACTIVE
                                                </mat-option>
                                                <mat-option [value]="0">
                                                    INACTIVE
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                            <div *ngIf="status.errors?.required">Status is required</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50%">
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="53px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Feature Type</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && featureTypeId.invalid }">
                                            <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="LoadList" appAutoSelectFirstOption
                                           [disabled]="addressFeatureObj.id" [(ngModel)]="addressFeatureObj.featureTypeId"
                                           name="featureTypeId" #featureTypeId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="featureTypeNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="featureType.id"
                                                             *ngFor="let featureType of LoadList | stringFilter:featureTypeNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ featureType.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  featureType.descr }}
                                            </mat-option>
                                        </mat-select>
                                            <!--<mat-select disableOptionCentering panelClass="anyClass" [disabled]="addressFeatureObj.id" [(ngModel)]="addressFeatureObj.featureTypeId" name="featureTypeId" #featureTypeId="ngModel" required>
                                                <mat-option [value]="featureType.id" class="upper-case" matTooltip="{{featureType.descr}}" [matTooltipPosition]="'above'" *ngFor="let featureType of LoadList">
                                                    {{featureType.descr}}
                                                </mat-option>
                                            </mat-select>-->
                                        </mat-form-field>
                                        <div *ngIf="featureTypeId.touched || (f.submitted && featureTypeId.invalid)" class="invalid-feedback">
                                            <div *ngIf="featureTypeId.errors?.required">Status is required</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Expiry Date</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8" [ngClass]="{ 'mandatory_input': isVar && ((addressFeatureObj.expiryDate<=addressFeatureObj.effectiveDate && !addressFeatureObj.id) || (currentDate>addressFeatureObj.expiryDate && addressFeatureObj.id))  }">
                                            <mat-datepicker #date_picker_rate_group_1 panelClass="mdmDatepicker" class="date_picker_rate_group_1" (opened)="checkForExpiryDate(addressFeatureObj.effectiveDate)" (closed)="removeMinDate(addressFeatureObj.effectiveDate)">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_1" class="date_adjust">
                                            </mat-datepicker-toggle>
                                            <input matInput [matDatepicker]="date_picker_rate_group_1" validDate [(ngModel)]="addressFeatureObj.expiryDate" name="expiryDate" #expiryDate="ngModel" [required]="isInactive" class="date_picker_input date_input_height" placeholder="DD/MM/YYYY" [min]="expiryMinDate"
                                                (dateChange)="changeDateFormat(addressFeatureObj.effectiveDate,addressFeatureObj.expiryDate);" (change)="isVar=true">
                                        </mat-form-field>
                                        <div *ngIf="isVar" class="invalid-feedback">
                                            <div *ngIf="addressFeatureObj.expiryDate<=addressFeatureObj.effectiveDate">
                                                Must be Greater than Effective and Current Date.</div>
                                            <div *ngIf="currentDate>addressFeatureObj.expiryDate && !(addressFeatureObj.expiryDate <= addressFeatureObj.effectiveDate) && addressFeatureObj.id">Must be Greater than Effective and Current Date.</div>
                                        </div>
                                        <div *ngIf="f.submitted && expiryDate.invalid && !isVar" class="invalid-feedback">
                                            <div *ngIf="addressFeatureObj.expiryDate && addressFeatureObj.expiryDate< currentDate">Must be Greater than Effective and Current Date</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                            <div fxFlex="90%">
                                <mat-grid-list cols="2" rowHeight="55px">
                                    <mat-grid-tile>
                                        <mat-label><strong>Description</strong></mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field appearance="outline">
                                            <input matInput name="description" [(ngModel)]="addressFeatureObj.description" class="form-control" maxlength="50" (input)="addressFeatureObj.description=$event.target.value.toUpperCase()">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>



                    </div>
                </div>
                <br>
                <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="submitPermission" [mat-dialog-close]="true">Back</button>
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission" [disabled]="(inActiveFlag && addressFeatureObj.status == 0)">Save</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
