<div class="hero-content">
  <div class="row text-left parent">      
        <div class="breadcrumb">
          <a href="#" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
          <a href="#" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
          <a href="#" target="_self">Customer</a><span class="fa fa-caret-right"></span>
          CREDIT
      </div>
      <stepper></stepper>
    </div>
  
  <h3>Credit Contract</h3>
  <div id="mat-card-heading" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start" class="mat-card-header-container">
      <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Customer Name : </span><span>{{custName}}</span></div>
      <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Salesforce Account Id : </span><span>{{sfdcAccId}}</span></div>
      <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>SFX Code : </span><em>{{sfxCode}}</em></div>
  </div>
  
  <form name="docform" (ngSubmit)="docform.form.valid" #docform="ngForm" novalidate>
    

    <mat-card  style="box-shadow: none;">  
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paddingzero">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingzero">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingtopzero paddingleftzero label-text">Document Type<span style="color: red;"> *</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
              <mat-form-field appearance="outline" style="width: 100%;">
              <mat-select disableOptionCentering panelClass="creditSelect" #doctype='ngModel' required name="docTypeId" [(ngModel)]="docTypeId" (selectionChange)="subDocTypeData(); getDocumentDetailbyId(); clearDate()" placeholder="Select Option">
                <mat-option [value]="">Select Option</mat-option>
                <mat-option *ngFor="let item of docTypeList" [value]="item.id">
                  {{item.lookupVal}}
                </mat-option>
              </mat-select>
              </mat-form-field>
             <p *ngIf="(doctype.errors?.required && doctype.touched)" class="hasErrorMsgRight paddingtopone"><em>Required&nbsp;!</em></p>
             </div>
          </div>     

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingzero">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingtopzero label-text" style="text-align: left !important">Sub Type<span style="color: red;"> *</span></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-select disableOptionCentering panelClass="creditSelect" #Subdoctype='ngModel' required name="subTypeId" [(ngModel)]="subTypeId" placeholder="Select Option">
                  <mat-option [value]="">Select Option</mat-option>
                  <mat-option *ngFor="let item of subTypeList" [value]="item.id">
                    {{item.lookupVal}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p *ngIf="(Subdoctype.errors?.required && Subdoctype.touched)" class="hasErrorMsgRight paddingtopone"><em>Required&nbsp;!</em></p>
            </div>
          </div>       
          </div>
    
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paddingrightzero paddingleftzero">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingleftzero">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingtopzero label-text" *ngIf="(isToggle) == true" style="text-align: left">Expiry<span style="color: red;">*</span></div>                 
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  *ngIf="(isToggle) == true"> 
                <mat-form-field appearance="outline" id="datepick" class="exprity">
                <input #dtpicr='ngModel' required matInput [matDatepicker]="picker2" name="rateCardSignDt" [min]="minDate" [max]="maxDate" (dateChange)="docExpiryDt()" class="date_picker"
                (blur)="docExpiryDt()" placeholder="DD/MM/YYYY"  [(ngModel)]="docExpiryDate">
                <mat-datepicker panelClass="creditDatepicker" #picker2></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              </mat-form-field>
              <span *ngIf="(dtpicr.errors?.required && dtpicr.touched)" class="hasErrorMsgRight paddingtopone">
              <em>Required&nbsp;!</em>
              </span>
              <span *ngIf="isValidDocExpiryDate && !(dtpicr.errors?.required)" class="hasErrorMsgRight paddingtopone">
                Invalid Expiry Date!
              </span>
            </div> 
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" *ngIf="(isToggle) == false">
              <button *ngxPermissionsOnly="['SEARCH_READ','SEARCH_CREATE','SEARCH_UPDATE']" class="btn1 docUpload" id="secondry-button" mat-raised-button color="primary" [disabled]="!docform.form.valid" (click)="getDocumentDetailbyId()">Search</button> 
            </div>
          </div>
         

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-text paddingtopzero relative" *ngIf="(isToggle) == true" style="margin-bottom: 1rem !important;">
              <input type="file" #browseFile id="file" (click)="browseFile.value = null" (change)="handleFileInput($event)" style="display:none">
              <span style="position: relative;right: 1.3rem;">File<span style="color: red;">* &nbsp;&nbsp;</span></span>
             <button *ngxPermissionsOnly="['UPLOAD_CREATE','UPLOAD_UPDATE']" id="secondry-button" mat-raised-button color="primary" (click)="browseFile.click()" class="docUpload">
              Browse</button>
              <p class="file_name" [matTooltip]="uploadedFileName | uppercase" matTooltipPosition="left">{{uploadedFileName}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngIf="(isToggle) == true">
              <button *ngxPermissionsOnly="['SEARCH_READ','SEARCH_CREATE','SEARCH_UPDATE','UPLOAD_CREATE','UPLOAD_UPDATE']" class="btn1 docUpload" id="secondry-button" mat-raised-button color="primary" [disabled]="!docform.form.valid" (click)="postDocumentUploadDetail()">Upload</button> 
            </div>            
                </div>
          </div>         
      </div>      

      </div>

      <div class="row paddingleftzero">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingzero">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paddingzero">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingtopzero paddingleftzero label-text">Entity Type<span style="color: red;"> *</span></div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-select disableOptionCentering panelClass="creditSelect" #Entitytype='ngModel' required name="subTypeId1" [(ngModel)]="moduleEntityId" placeholder="Select Option">
                <mat-option *ngFor="let item of moduleEntityList" [value]="item.id">
                  {{item.lookupVal}}
                </mat-option>
              </mat-select>  
            </mat-form-field>
            <p *ngIf="(Entitytype.errors?.required && Entitytype.touched)" class="hasErrorMsgRight paddingtopone"><em>Required&nbsp;!</em></p>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 label-text">
        Search<mat-slide-toggle class = "docToggle tp-margin" (click)="swapOffToggleButton()" >Upload</mat-slide-toggle>
      </div>
      <div *ngIf="(isToggle) == true" class="label-text"> Note : {{validFormatsMgs}}</div>
      </div>
      </div>

    
    <div class="row background" style="margin-top: 2rem !important">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 label-text paddingtop">Name</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 label-text paddingtop">Document Type</div>
      </div>
    
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 label-text paddingtop">Document Sub Type</div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-text paddingtop">Expiry</div>    
      </div>
    </div>
    
    <div class="row fonts bottom-border" style="margin-top: 1.5rem !important;" *ngFor="let item of docList">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fonts">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 wordBreakall">{{item.docRef}}</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 " >{{item.docType}}</div>  
      </div>
    
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >{{item.docSubtype}}</div>  
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">&nbsp;{{item.expDt}}</div>    
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
          <i class="material-icons fontSizeforview" (click)="downloadDocument(item.docPathRef)" >remove_red_eye</em>
        </div>  
      </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    </mat-card>
    <div >
    <div class="row">
    <div class="col-lg-3 col-lg-3 col-sm-3 col-md-3" style="margin-top: 3%;">
        <div class="example-button-row text-center" style="margin-top: 5%">
          <button class="btn1" id="previewButton" mat-raised-button color="primary" (click)="navigateToPreview()">Preview</button> 
          </div>
    </div>
    <div class="col-lg-6 col-lg-6 col-sm-6 col-md-6"></div>
  
    </div>
  
    </div>
  
  
  </form>

 
  <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">  </ngx-spinner>
  </div>
  