<mat-card style="padding: .5rem;" class="retailContainer">
  <div style="position: relative;">
    <h3 id="h2">Consignor Mapping</h3>
    <i class="fa fa-times fa-2x" aria-hidden="true" (click)="closeDialog()"></i>
  </div>
  <hr id="popup-hr">
  <mat-card-content>
    <div style="margin-top: 1.2rem;overflow:auto;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="col-md-3" style="margin-bottom:20px;" >
          <em class="fa fa-search" id="defualtBranchSearch3" style="cursor: pointer;"></em>
          <input class="inputfield3 form-control input-md" minlength="3" type="text"  placeholder="Search..." required
          (keyup.enter)="searchConsignor($event)" name="searchByConsign"  #searchByConsign="ngModel" [(ngModel)]="searchStr" style="height: 2.7rem; padding-left: 2.3rem;cursor: pointer;" />
          <div *ngIf="searchByConsign?.invalid && (searchByConsign?.dirty || searchByConsign?.touched)">                      
            <div *ngIf="searchByConsign?.errors?.minlength || searchByConsign?.errors?.maxlength"  class="error">
              Enter Minimum 3 Characters !
            </div>             
          </div>
        </div>
      </div>

      <div *ngIf="cneecnor?.length>0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12" style="height: 30rem; overflow-y: auto;">
          <div *ngIf="branchName != null" class="col-lg-6 col-md-6 col-sm-6 col-xl-6 font-size" name="branchName"> For
            Branch: &nbsp; &nbsp; {{branchName}}</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 zonalheadingbar"></div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xl-3 zonalheadingbar fonts">Name</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 zonalheadingbar fonts">Address</div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12" *ngFor="let ccData of cneecnor; let i = index">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 border-bottom">
              <mat-checkbox name="ischecked" [(ngModel)]="ccData.ischecked" [checked]=ccData.ischecked></mat-checkbox>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 border-bottom">{{ccData.name | uppercase}}</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 border-bottom">
              {{ccData.addrBook.addr1 | uppercase}}&nbsp;{{ccData.addrBook.addr2 | uppercase}}&nbsp;{{ccData.addrBook.addr2 | uppercase}}
              &nbsp;{{ccData.addrBook.pincodeId}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="example-button-row text-center">
   
      <button mat-button class="btn1" style="text-align: center; margin-top: 5%; margin-bottom: 2%;" mat-raised-button
        (click)="changeCheckProp()" color="primary">SUBMIT</button>
    </div>

  </mat-card-content>
</mat-card>