<div class="modal-container">
    <h5 class="sub_heading">Commandment Offering</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form add_branch_main">
            <form autocomplete="off" name="commandmentRRForm" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="20%">
                        <mat-label><strong>Service Offering </strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <div class="pos_relative" [ngClass]="{ 'mandatory_input': f.submitted && serviceOfferingId.invalid }">
                            <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                           name="serviceOfferingId" [(ngModel)]="commandmentOfferingObj.serviceOfferingId"
                                #serviceOfferingId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="serviceOfferingNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="Offering.id"
                                                             *ngFor="let Offering of offeringGetList.selectedServiceOfferingList | stringFilter:serviceOfferingNameSearchCtrl:'Offering.serviceOffering' | sortBy:'Offering.serviceOffering'"
                                                matTooltip=" {{ Offering.serviceOffering }}"
                                                [matTooltipPosition]="'above'">
                                                {{  Offering.serviceOfferinge }}
                                            </mat-option>
                                        </mat-select>
                            <!--<mat-select disableOptionCentering panelClass="anyClass" class="mat_select"
                                name="serviceOfferingId" [(ngModel)]="commandmentOfferingObj.serviceOfferingId"
                                #serviceOfferingId="ngModel" required>
                                <mat-option [value]="Offering.id" matTooltip="{{Offering.serviceOffering}}" [matTooltipPosition]="'above'"
                                    *ngFor="let Offering of offeringGetList.selectedServiceOfferingList">
                                    {{Offering.serviceOffering}}
                                </mat-option>
                            </mat-select>-->
                            <div *ngIf="serviceOfferingId.touched || (f.submitted && serviceOfferingId.invalid)" class="invalid-feedback">
                                <div *ngIf="serviceOfferingId.errors?.required">Service Offering is required</div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="20%"></div>
                    <div fxFlex="20%">
                        <mat-label><strong>Customer Type</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <div class="pos_relative" [ngClass]="{ 'mandatory_input': f.submitted && customerTypeId.invalid }">
                            <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                          name="customerTypeId" [(ngModel)]="commandmentOfferingObj.customerTypeId"
                                #customerTypeId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="contractNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="contract.id"
                                                             *ngFor="let contract of offeringGetList.selectedCustomerTypeList | stringFilter:contractNameSearchCtrl:'contract.descr' | sortBy:'contract.descr'"
                                                matTooltip=" {{ contract.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  contract.descr }}
                                            </mat-option>
                                        </mat-select>
                            <!--<mat-select disableOptionCentering panelClass="anyClass" class="mat_select"
                                name="customerTypeId" [(ngModel)]="commandmentOfferingObj.customerTypeId"
                                #customerTypeId="ngModel" required>
                                <mat-option [value]="contract.id" matTooltip="{{contract.descr}}" [matTooltipPosition]="'above'"
                                    *ngFor="let contract of offeringGetList.selectedCustomerTypeList">
                                    {{contract.descr}}
                                </mat-option>
                            </mat-select>-->
                            <div *ngIf="customerTypeId.touched || (f.submitted && customerTypeId.invalid)" class="invalid-feedback">
                                <div *ngIf="customerTypeId.errors?.required">Customer Type is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="20%">
                        <mat-label><strong>Calculation Unit</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <div class="pos_relative" [ngClass]="{ 'mandatory_input': f.submitted && calculationUnit.invalid }">
                            <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                          name="calculationUnit" [(ngModel)]="commandmentRrObj.calculationUnit"
                                #calculationUnit="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="calculationUnitNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="calculationUnit.id"
                                                             *ngFor="let calculationUnit of offeringGetList.selectedCalculationUnitList | stringFilter:calculationUnitNameSearchCtrl:'calculationUnit.descr' | sortBy:'calculationUnit.descr'"
                                                matTooltip=" {{ calculationUnit.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  calculationUnit.descr }}
                                            </mat-option>
                                        </mat-select>
                            <!--<mat-select disableOptionCentering panelClass="anyClass" class="mat_select"
                                name="calculationUnit" [(ngModel)]="commandmentRrObj.calculationUnit"
                                #calculationUnit="ngModel" required>
                                <mat-option [value]="calculationUnit.id" matTooltip="{{calculationUnit.descr}}" [matTooltipPosition]="'above'"
                                    *ngFor="let calculationUnit of offeringGetList.selectedCalculationUnitList">
                                    {{calculationUnit.descr}}
                                </mat-option>
                            </mat-select>-->
                            <div *ngIf="calculationUnit.touched || (f.submitted && calculationUnit.invalid)" class="invalid-feedback">
                                <div *ngIf="calculationUnit.errors?.required">Calculation Unit is required</div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="20%"></div>
                    <div fxFlex="20%">
                        <mat-label><strong>Calculation Measure</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <div class="pos_relative" [ngClass]="{ 'mandatory_input': f.submitted && calculationMeasureId.invalid }">
                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            name="calculationMeasureId" [(ngModel)]="commandmentRrObj.calculationMeasureId"
                                #calculationMeasureId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="calculationMeasureNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="calculationMeasure.id"
                                                             *ngFor="let calculationMeasure of offeringGetList.selectionCalculationMeasureList | stringFilter:calculationMeasureNameSearchCtrl:'calculationMeasure.descr' | sortBy:'calculationMeasure.descr'"
                                                matTooltip=" {{ calculationMeasure.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  calculationMeasure.descr }}
                                            </mat-option>
                                        </mat-select>
                            <!--<mat-select disableOptionCentering panelClass="anyClass" class="mat_select"
                                name="calculationMeasureId" [(ngModel)]="commandmentRrObj.calculationMeasureId"
                                #calculationMeasureId="ngModel" required>
                                <mat-option [value]="calculationMeasure.id" matTooltip="{{calculationMeasure.descr}}" [matTooltipPosition]="'above'"
                                    *ngFor="let calculationMeasure of offeringGetList.selectionCalculationMeasureList">
                                    {{calculationMeasure.descr}}
                                </mat-option>
                            </mat-select>-->
                            <div *ngIf="calculationMeasureId.touched || (f.submitted && calculationMeasureId.invalid)" class="invalid-feedback">
                                <div *ngIf="calculationMeasureId.errors?.required">Calculation Measure is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="20%">
                        <mat-label><strong>Calculation Type</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <div [ngClass]="{ 'mandatory_input': f.submitted && calculationTypeId.invalid }">
                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            name="calculationTypeId" [(ngModel)]="commandmentRrObj.calculationTypeId"
                                (selectionChange)="showSlab(commandmentRrObj.calculationTypeId)"
                                #calculationTypeId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="serviceOfferingeNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="Offering.id"
                                                             *ngFor="let Offering of offeringGetList.selectedCalculationTypeList | stringFilter:serviceOfferingeNameSearchCtrl:'Offering.serviceOffering' | sortBy:'Offering.serviceOffering'"
                                                matTooltip=" {{ Offering.serviceOffering }}"
                                                [matTooltipPosition]="'above'">
                                                {{  Offering.serviceOfferinge }}
                                            </mat-option>
                                        </mat-select>
                            <!--<mat-select disableOptionCentering panelClass="anyClass" class="mat_select"
                                name="calculationTypeId" [(ngModel)]="commandmentRrObj.calculationTypeId"
                                (selectionChange)="showSlab(commandmentRrObj.calculationTypeId)"
                                #calculationTypeId="ngModel" required>
                                <mat-option [value]="calculation.id" matTooltip="{{Offering.serviceOfferinge}}" [matTooltipPosition]="'above'"
                                    *ngFor="let calculation of offeringGetList.selectedCalculationTypeList">
                                    {{Offering.serviceOfferinge}}
                                </mat-option>
                            </mat-select>-->
                        </div>
                    </div>
                    <div fxFlex="20%"></div>
                    <div fxFlex="20%">
                        <mat-label><strong>Business Type</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <div class="pos_relative" [ngClass]="{ 'mandatory_input': f.submitted && businessTypeId.invalid }">
                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            name="businessTypeId" [(ngModel)]="commandmentOfferingObj.businessTypeId"
                                #businessTypeId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="businessNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="business.id"
                                                            *ngFor="let business of offeringGetList.selectedBusinessTypeList | stringFilter:businessNameSearchCtrl:'business.descr' | sortBy:'business.descr'"
                                                matTooltip=" {{ business.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  business.descr }}
                                            </mat-option>
                                        </mat-select>
                            <!--<mat-select disableOptionCentering panelClass="anyClass" class="mat_select"
                                name="businessTypeId" [(ngModel)]="commandmentOfferingObj.businessTypeId"
                                #businessTypeId="ngModel" required>
                                <mat-option [value]="business.id" matTooltip="{{business.descr}}" [matTooltipPosition]="'above'"
                                    *ngFor="let business of offeringGetList.selectedBusinessTypeList">
                                    {{business.descr}}
                                </mat-option>
                            </mat-select>-->
                            <div *ngIf="businessTypeId.touched || (f.submitted && businessTypeId.invalid)" class="invalid-feedback">
                                <div *ngIf="businessTypeId.errors?.required">Business Type is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="radio_btn_margin">
                    <div fxFlex="20%">
                        <mat-label [hidden]="offeringGetList.obj.rrFlag==0"><strong>Minimum Freight Flag</strong></mat-label>
                    </div>
                    <div fxFlex="30%">
                        <mat-radio-group [hidden]="offeringGetList.obj.rrFlag==0"
                            [(ngModel)]="commandmentOfferingObj.minFrieghtFlg" name="minFrieghtFlg">
                            <mat-grid-list cols="2" rowHeight="40px">
                                <mat-grid-tile>
                                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button [value]="0">No</mat-radio-button>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-radio-group>
                    </div>

                    <div fxFlex="20%"></div>
                    <div fxFlex="20%"></div>
                    <div fxFlex="20%"></div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="40%">
                        <div [hidden]="offeringGetList.obj.minAmountFlag==0">
                            <mat-grid-list cols="2" rowHeight="40px" [hidden]="offeringGetList.obj.minAmountFlag==0">
                                <mat-grid-tile>
                                    <mat-label><strong>Minimum Amount</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area mg_left_3">
                                    <mat-form-field appearance="outline">
                                        <input class="form-control" [(ngModel)]="commandmentRrObj.minValue"
                                            appTwoDigitDecimaNumber decimals="2" matInput name="rateCardCode">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxFlex="20%"></div>
                    <div fxFlex="40%">
                        <div [hidden]="offeringGetList.obj.maxAmountFlag===0">
                            <mat-grid-list cols="2" rowHeight="40px" [hidden]="offeringGetList.obj.maxAmountFlag===0">
                                <mat-grid-tile>
                                    <mat-label><strong>Maximum Amount</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area mg_left_3">
                                    <mat-form-field appearance="outline">
                                        <input class="form-control" matInput name="rateCardCode"
                                            [(ngModel)]="commandmentRrObj.maxValue" appTwoDigitDecimaNumber decimals="2"
                                            [hidden]="offeringGetList.obj.minAmountFlag==0">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="20%">
                        <mat-label><strong>RR Value</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                        <mat-form-field appearance="outline">
                            <input class="form-control" appTwoDigitDecimaNumber [(ngModel)]="commandmentRrObj.rrValue"
                                matInput name="rateCardCode">
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%"></div>
                    <div fxFlex="20%"> </div>
                    <div fxFlex="20%"> </div>
                </div>


                <div [hidden]="showSlabInput">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                        <div fxFlex="55%">
                            <mat-card class="card_body mat_table_input">
                                <div class="mat-table mat_table_main">
                                    <div class="mat-row bg bg_light_grey table_main_header">
                                        <div class="mat-cell mat_cell_head">From</div>
                                        <div class="mat-cell mat_cell_head">To</div>
                                        <div class="mat-cell mat_cell_head">Value</div>
                                        <div class="mat-cell" fxFlex="10%"></div>
                                    </div>
                                    <div>
                                        <div class="mat-row" *ngFor="let obj of commandmentRrSlabList;let i =index">
                                            <div class="mat-cell hyperlink upper-case">
                                                <mat-form-field appearance="outline">
                                                    <input matInput uppercase [(ngModel)]="obj.slabFrom"
                                                        class="form-control" name="rateCardCode">
                                                </mat-form-field>
                                            </div>
                                            <div class="mat-cell upper-case">
                                                <mat-form-field appearance="outline">
                                                    <input matInput uppercase [(ngModel)]="obj.slabTo"
                                                        class="form-control" name="rateCardCode">
                                                </mat-form-field>
                                            </div>
                                            <div class="mat-cell upper-case">
                                                <mat-form-field appearance="outline">
                                                    <input matInput uppercase [(ngModel)]="obj.rrValue"
                                                        class="form-control" name="rateCardCode">
                                                </mat-form-field>
                                            </div>
                                            <div class="mat-cell mat_cell_icon" fxFlex="10%">
                                                <button mat-button><em
                                                        class="material-icons icon_theme_color table_color float_right"
                                                        (click)="deleteRowInput(i)">delete</em></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </mat-card>
                        </div>
                        <div fxFlex="5%">
                            <div class="">
                                <button mat-button class="theme_btn round_icon_btn" [hidden]="showSlabInput"><em
                                        class="material-icons" (click)="AddInputRow()">add</em></button>
                            </div>
                        </div>
                    </div>
                </div>

                <br> <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn"
                                    (click)="saveCommandmentRR()">ADD</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
