
<div class="menu_group">
  <span *ngFor="let child of items; let i = index" class="itemGroup">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.childMenu && child.childMenu.length > 0">
      <button
        mat-menu-item
        color="primary"
        class="parent"
        toggleMe        
      >
        <span >{{ child.menuLabel }} {{ child }}</span>
      </button>
      <app-repeat-child-item
        #menu
        [items]="child.childMenu"
        [mainSection]="mainSection"
        [subSection]="child.menuLabel"
        class="sectionGroup"
      ></app-repeat-child-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.childMenu || child.childMenu.length === 0"  routerLinkActive="active" >

    <!-- for credit only -->
      <button *ngIf="subSection && child.target == 'CREDIT'"
      mat-menu-item      
      routerLink="{{mainSection | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}"  
      class="menuBtn" id="{{mainSection | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}"
      >
      <span style="line-height: 1.5rem;">{{ child.menuLabel }} {{ child  }}</span>
    </button>
   <!-- end for credit only -->




    <!-- if sub menu -->
     <button *ngIf="subSection && child.target != 'CREDIT'"
      mat-menu-item      
      routerLink="{{child.target | nvaUrlPipe}}-{{mainSection | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}"  
      class="menuBtn" id="{{mainSection | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}"
    >
      <span style="line-height: 1.5rem;">{{ child.menuLabel }} {{ child  }}</span>
    </button>

   



      <!-- if not sub menu for all (except associate management) -->
    <button *ngIf="!subSection && mainSection != 'ASSOCIATE MANAGEMENT'"
      mat-menu-item      
    (click)="navigateTo(mainSection, child.target, $event)"  
    class="menuBtn" id="{{mainSection | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}"
    >
     <span style="line-height: 1.5rem;">{{ child.menuLabel }} {{ child  }}</span>
   </button>  

  

 <!-- for ASSOCIATE management ONLY-->
   <button *ngIf="!subSection && mainSection == 'ASSOCIATE MANAGEMENT'"
   mat-menu-item
   routerLink="{{mainSection | nvaUrlPipe}}-{{child.target | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}" 
   id="{{mainSection | nvaUrlPipe}}-{{child.target | nvaUrlPipe}}/{{child.target | nvaUrlPipe}}"
 >





  <span style="line-height: 1.5rem;">{{ child.menuLabel }} {{ child  }}</span>
</button> 


    </span>
  </span>
</div>

