
<form > 
<form >
  <div style="position: relative;">
    <h3 id="h2">Existing SFX</h3>
    <em class="fa fa-times fa-2x" aria-hidden="true" id="closeButton" (click)="closeDialog()"></em>
  </div>
  <hr id="popup-hr"> 
  <mat-card class="existingSfx">  
  <div class="overflow-2 pincode_scroll">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
    <ng-container matColumnDef="cntrCode">
      <th mat-header-cell *matHeaderCellDef> SFX CODE </th>
      <td mat-cell *matCellDef="let element"> 
        <a  style="cursor: pointer;" (click)="showSfxCodeData(element)">{{element.cntrCode}} </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="lkpBizTypeId">
      <th mat-header-cell *matHeaderCellDef> BUSINESS TYPE </th>
      <td mat-cell *matCellDef="let element"> {{element.businessType}} </td>
    </ng-container>
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef> SERVICES </th>
      <td mat-cell *matCellDef="let element"> {{element.servicetype}} </td>
    </ng-container>
    <ng-container matColumnDef="effectiveDt">
      <th mat-header-cell *matHeaderCellDef> CONTRACT START DATE </th>
      <td mat-cell *matCellDef="let element"> {{element.effectiveDt | date:'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="expDt">
        <th mat-header-cell *matHeaderCellDef> CONTRACT END DATE </th>
        <td mat-cell *matCellDef="let element"> {{element.expDt | date:'MM/dd/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="crtdDt">
        <th mat-header-cell *matHeaderCellDef> CONTRACT SIGNED DATE </th>
        <td mat-cell *matCellDef="let element"> {{element.crtdDt | date:'MM/dd/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" (click)="openDialogContractVersion(element)"  style="padding-right: 0px;">       <i class="material-icons" style="cursor: pointer;">visibility
          </em></td>
      </ng-container>
      <ng-container *ngIf="isEditflow" matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" (click)="showSfxCodeData(element)" style="padding-right: 0px;"> <i class="material-icons" style="cursor: pointer;">create</em> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  </div>
  
  </mat-card>
  </form>
  
  <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">  
  
  </ngx-spinner>
  
  
  