<div class="retailContainer" style="height: 19%;width: 100%;position:fixed;bottom:5px;right:5px;margin:0;padding:5px 3px;box-shadow: -1px -3px 5px #00000029;background: #FFFFFF 0% 0% no-repeat padding-box;">
    <div class="row">
        <div class="col-md-6 pull-left">
          <div class="example-button-row text-center">
            <button style="margin-top: 5%;margin-right: 34%;" id="branchNextButton" class="btn1" mat-raised-button
              color="primary" (click)="previewData()">PREVIEW & SHARE</button>
    
          </div>
        </div>
        <div class="col-md-6 pull-right">
          <div class="example-button-row text-center">
            <button style="margin-top: 5%;" id="branchNextButton" class="btn1" mat-raised-button color="primary"
            (click)="submitRateCard()"
              >SUBMIT</button>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6 pull-left">
          <div class="example-button-row text-center">
    
    
            <button style="margin-top: 5%;margin-right: 34%;" id="branchNextButton" class="btn1" mat-raised-button
              color="primary" >SAVE AS DRAFT</button>
          </div>
        </div>
        <div class="col-md-6 pull-right">
          <div class="example-button-row text-center">
    
          </div>
        </div>
      </div>
</div>