<!-- show logistic details -->
<div *ngxPermissionsOnly="['CREATE','UPDATE','READ']">
    <div *ngIf="!addLogistic">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="18%">
                  <h3 class="grid_title mr_1rem">Add/Search Logistic Zone</h3>
            </div>
            <div fxFlex="82%">
 <div class="hdr_srch_field">
                    <span matSuffix><em class="material-icons search_icon" (click)="searchLogistic($event)">search</em></span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-form-field appearance="outline">
                                <input matInput name="logicticName" (keyup)="clearSearchInput()" (input)="logicticName=$event.target.value.toUpperCase()" (keyup.enter)="searchLogistic($event)" [(ngModel)]="logicticName" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="10%">
                            <button (click)="addLogisticOpen()" type="button" mat-button class="add_btn" *ngxPermissionsOnly="['CREATE']">
                                <em class="material-icons">add</em>
                            </button>
                        </div>
                        <div class="invalid-feedback" *ngIf="strLengthValid">
                            Enter Minimum 3 Characters
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="18%">
              
                <h3 class="grid_title mr_top_30">Logistic Zones</h3>
            </div>
            <div fxFlex="82%">
                <mat-card class="card_body">
                    <div class="mat-table mat_table_main">
                        <div class="mat-row bg bg_light_grey table_main_header">
                            <div class="mat-cell mat_cell_head">NAME</div>
                            <div class="mat-cell mat_cell_head">EXPIRY DATE</div>
                            <div class="mat-cell mat_cell_head">STATUS</div>
                            <div class="mat-cell mat_cell_head">DESCRIPTION</div>
                            <div class="mat-cell"></div>
                        </div>
                        <div class="mat-row bg_light_grey" *ngFor="let logistic of logisticMatrixList| paginate: { itemsPerPage: 10, currentPage: p }">
                            <div class="mat-cell table_color hyperlink hyperLink_Color"  [matTooltip]="logistic.zoneName" [matTooltipPosition]="'above'">
                                <span class="hyperlink"  (click)="editLogisticMatrix(logistic,1)"> {{ logistic.zoneName }}</span> 
                            </div>
                            <div class="mat-cell">{{ logistic.expDt | dateFormat }}</div>
                            <div class="mat-cell" width="60%">
                                {{ logistic.status | statusDesc }}
                            </div>
                            <div class="mat-cell display_overflow_hidden" [matTooltipPosition]="'above'" [matTooltip]="logistic.descr">
                                {{ logistic.descr }}</div>
                            <div class="mat-cell mat_cell_icon">
                                <mat-label><em class="material-icons icon_btn_display icon_theme_color" (click)="editLogisticMatrix(logistic, 1)">remove_red_eye</em>
                                </mat-label>
                                <button mat-button (click)="editLogisticMatrix(logistic,0)" *ngxPermissionsOnly="['CREATE','UPDATE']">
                                    <em class="material-icons icon_theme_color table_color float_right">edit</em>
                                </button>
                            </div>
                        </div>
                        <div class="mat-row bg_light_grey" *ngIf="!logisticMatrixList.length">
                            <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data Present
                            </div>
                        </div>
                        <div class="pagination_area">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>


                    </div>
                </mat-card>
            </div>
        </div>
    </div>
 
    <!-- add logistic details -->
    <div *ngIf="addLogistic">
        <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && saveLogisticZone()" #f="ngForm" novalidate>
            <h3 class="zone_title">
                {{ type}} Logistic Zone {{ logisticObj.id ? "Details" : "" }}
            </h3>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="48px">
                        <mat-grid-tile>
                            <mat-label><strong>Zone Name <sup class="mandatory">*</sup> </strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && zoneName.invalid }">
                                <input matInput name="zoneName" class="form-control" [disabled]="logisticObj.id" [(ngModel)]="logisticObj.zoneName" #zoneName="ngModel" maxlength="20" required (input)="logisticObj.zoneName=$event.target.value.toUpperCase()" />
                            </mat-form-field>
                            <div *ngIf="zoneName.touched || (f.submitted && zoneName.invalid)" class="invalid-feedback">
                                <div *ngIf="zoneName.errors?.required">Zone Name is required</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div fxFlex="10%"></div>
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">

                                <mat-select disableOptionCentering panelClass="anyClass" name="status" [(ngModel)]="logisticObj.status" #status="ngModel" uppercase>
                                    <mat-option [value]="1">
                                        ACTIVE
                                    </mat-option>
                                    <mat-option [value]="0">
                                        INACTIVE
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                <div *ngIf="status.errors?.required">Status is required</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="53px">
                        <mat-grid-tile>

                            <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline" class="date_picker_adjust top_10" [ngClass]="{ 'mandatory_input': (effectiveDate.errors?.required && (effectiveDate.touched || f.submitted)) }">
                                <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker"></mat-datepicker>
                                <input matInput [matDatepicker]="picker" name="effectiveDate" validDate class="date_input_height" #effectiveDate="ngModel" [disabled]="logisticObj.effectiveDate<currentDate && this.logisticObj.id && isChange" [(ngModel)]="logisticObj.effectiveDate" placeholder="DD/MM/YYYY"
                                    required [min]="currentDate" (change)="isChange=false" (dateChange)="changeDateFormat(logisticObj.effectiveDate,logisticObj.expDt)" />
                                <mat-datepicker-toggle matSuffix (onMenuOpen)="checkForExpiryDate(logisticObj.effectiveDate)" [for]="picker">
                                </mat-datepicker-toggle>
                            </mat-form-field>
                            <div *ngIf="effectiveDate.touched || (f.submitted && effectiveDate.invalid)" class="invalid-feedback">
                                <div *ngIf="effectiveDate.errors?.required">Effective Date is required</div>
                                <div *ngIf="logisticObj.effectiveDate < currentDate ">Effective date cannot be less than current date</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div fxFlex="10%"></div>
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Expiry Date</strong></mat-label>
                        </mat-grid-tile>
                        <br>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline" class="date_picker_adjust" [ngClass]="{ 'mandatory_input': isVar  && logisticObj.expDt && ((logisticObj.expDt<=logisticObj.effectiveDate && !logisticObj.id) || (currentDate>logisticObj.expDt && logisticObj.id))  }">
                                <mat-datepicker (opened)="checkForExpiryDate(logisticObj.effectiveDate)" (closed)="removeMinDate(logisticObj.effectiveDate)" #myDatepicker23 panelClass="mdmDatepicker" class="date_picker">
                                </mat-datepicker>
                                <input matInput [matDatepicker]="myDatepicker23" #expiryDate='ngModel' class="date_input_height" name="expiryDate" validDate placeholder="DD/MM/YYYY" [(ngModel)]="logisticObj.expDt" [min]="expiryMinDate" [required]="isInactive" (dateChange)="changeDateFormat(logisticObj.effectiveDate,logisticObj.expDt);"
                                    (change)="isVar=true" />
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker23"></mat-datepicker-toggle>
                            </mat-form-field>

                            <div *ngIf="isVar" class="invalid-feedback">
                                <div *ngIf="logisticObj.expDt<=logisticObj.effectiveDate">
                                    Must be Greater than Effective and Current Date</div>
                                <div *ngIf="currentDate > logisticObj.expDt && !(logisticObj.expDt <= logisticObj.effectiveDate) && logisticObj.id">Must be Greater than Effective and Current Date</div>
                            </div>
                            <div *ngIf="f.submitted && expiryDate.invalid && !isVar" class="invalid-feedback">
                                <div *ngIf="logisticObj.expDt && logisticObj.expDt < currentDate">Must be Greater than Effective and Current Date</div>
                            </div>
                        </mat-grid-tile>

                    </mat-grid-list>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Description</strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area mg_left_3">
                            <mat-form-field appearance="outline">
                                <input matInput name="description" class="form-control" [(ngModel)]="logisticObj.description" name="description" #description="ngModel" maxlength="50" (input)="logisticObj.description=$event.target.value.toUpperCase()" />
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div fxFlex="10%"></div>
                <div fxFlex="45%"></div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="30px" class="row_height">
                        <mat-grid-tile class="module_area">
                            <button mat-flat-button class="theme_btn round_btn" *ngIf="submitPermission" (click)="addLogistic=false">Back</button>
                            <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission" [disabled]="(isDisabled || (!logisticObj.id && logisticObj.status == 0)) || (inActiveFlag && logisticObj.status == 0)">
                                {{ logisticObj.id ? "Save" : "Submit" }}
                            </button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </form>
    </div>
</div>