<div class="container head_container">
    <div class="row">
      <div class="col-md-12 bread_crumb">
        <a href="/dashboard">Dashboard</a>
        <span class="fa fa-caret-right"></span>
        <a href="/dashboard">MDM</a>
        <span class="fa fa-caret-right"></span>
        <a class="">Geography</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <p style="color: white;font-size: 2.8rem;">{{this.greeting()}},
          <strong style="padding-left: 8px;">{{userName | uppercase}}</strong></p>
      </div>
      <div class="col-md-2 text-right">
        <label style="color: white;font-size: 2.4rem !important;">MASTER DATA MANAGEMENT</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <p style="color: white;font-size: 2.8rem;">Geography</p>
      </div>
    </div>
  </div>
  
<div class="container">
    <mat-card class="mat_card_zone">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="16%" style="border-right:0.5px solid">
                <div class="button_grid_position">
                    <button mat-button class="deactive_btn" [ngClass]="{'active_btn': id === 1 }" *ngIf="org.length"
                        (click)="loadComponent(organisationComp,1)">ORGANISATION</button>
                    <button mat-button class="deactive_btn" [ngClass]="{'active_btn': id === 2 }" *ngIf="geo.length"
                        (click)="loadComponent(geographyComp,2)">GEOGRAPHY</button>
                </div>
            </div>
            <div fxFlex="84%">
                <ng-template appAdHost></ng-template>

            </div>
        </div>
    </mat-card>
</div>