<div class="modal-container">
    <h5 class="sub_heading">{{statePriceObj.id ? "Edit" : "Add"}} Fuel</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class="all_form">
            <form autocomplete="off" name="fuelForm" (ngSubmit)="f.form.valid &&  submitData()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="45%">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>State <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-grid-list cols="1" rowHeight="53px">
                                            <mat-grid-tile class="module_area">
                                                <mat-form-field class="select_box_dropwodn"
                                                    [ngClass]="{ 'mandatory_input': f.submitted && entityId.invalid }">
                                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="fuelStateList" appAutoSelectFirstOption
                                            #entityId="ngModel" required
                                                        [(ngModel)]="statePriceObj.entityId" name="entityId">
                                            <ngx-mat-select-search [(ngModel)]="fuelEntityNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="fuelEntity.id" class="upper-case"
                                                             *ngFor="let fuelEntity of fuelStateList | stringFilter:fuelEntityNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ fuelEntity.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  fuelEntity.descr }}
                                            </mat-option>
                                        </mat-select>
                                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                                        #entityId="ngModel" required
                                                        [(ngModel)]="statePriceObj.entityId" name="entityId">
                                                        <mat-option [value]="fuelEntity.id" class="upper-case" matTooltip="{{fuelEntity.descr}}" [matTooltipPosition]="'above'"
                                                            *ngFor="let fuelEntity of fuelStateList">
                                                            {{fuelEntity.descr}}
                                                        </mat-option>
                                                    </mat-select>-->
                                                </mat-form-field>
                                                <div *ngIf="entityId.touched || (f.submitted && entityId.invalid)" class="invalid-feedback">
                                                    <div *ngIf="entityId.errors?.required">State is required</div>
                                                </div>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Contract Type <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-grid-list cols="1" rowHeight="53px">
                                            <mat-grid-tile class="module_area">
                                                <mat-form-field class="select_box_dropwodn"
                                                    [ngClass]="{ 'mandatory_input': f.submitted && contractTypeId.invalid }">
                                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="fuelContractTypeList" appAutoSelectFirstOption
                                             #contractTypeId="ngModel" required
                                                        [(ngModel)]="statePriceObj.contractTypeId"
                                                        name="contractTypeId">
                                            <ngx-mat-select-search [(ngModel)]="fuelContractNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="fuelContract.id" class="upper-case"
                                                             *ngFor="let fuelContract of fuelContractTypeList | stringFilter:fuelContractNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ fuelContract.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  fuelContract.descr }}
                                            </mat-option>
                                        </mat-select>
                                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                                        #contractTypeId="ngModel" required
                                                        [(ngModel)]="statePriceObj.contractTypeId"
                                                        name="contractTypeId">
                                                        <mat-option [value]="fuelContract.id" class="upper-case" matTooltip="{{fuelContract.descr}}" [matTooltipPosition]="'above'"
                                                            *ngFor="let fuelContract of fuelContractTypeList">
                                                            {{fuelContract.descr}}
                                                        </mat-option>
                                                    </mat-select>-->
                                                </mat-form-field>
                                                <div *ngIf="contractTypeId.touched || (f.submitted && contractTypeId.invalid)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="contractTypeId.errors?.required">Contract Type is
                                                        required</div>
                                                </div>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div class="module_area" fxFlex="50%">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 "
                                            [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                            <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker"
                                                class="date_picker_rate_group_1">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2"
                                                class="date_adjust">
                                            </mat-datepicker-toggle>
                                            <input matInput  [matDatepicker]="date_picker_rate_group_2"
                                                [min]="minDate" validDate #effectiveDt="ngModel" required
                                                class="date_input_height" (blur)="effDate()" (dateChange)="effDate()"
                                                class="date_picker_input" [(ngModel)]="statePriceObj.effectiveDt"
                                                name="effectiveDt" placeholder="DD/MM/YYYY">

                                        </mat-form-field>
                                        <div *ngIf="(effectiveDt.errors?.required && (effectiveDt.touched || f.submitted))"
                                            class="invalid-feedback">
                                            Effective Date is required
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Expiry Date</strong></mat-label>
                                    </div>
                                    <div class="module_area" fxFlex="50%">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 "
                                            [ngClass]="{ 'mandatory_input': expDt.invalid }">
                                            <mat-datepicker #date_picker_rate_group_4 panelClass="mdmDatepicker"
                                                class="date_picker_rate_group_4">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_4"
                                                class="date_adjust">
                                            </mat-datepicker-toggle>
                                            <input matInput  [matDatepicker]="date_picker_rate_group_4"
                                                validDate [min]="statePriceObj.effectiveDt" class="date_input_height"
                                                (blur)="expDate()" (dateChange)="expDate()" class="date_picker_input"
                                                [min]="statePriceObj.effectiveDt" [(ngModel)]="statePriceObj.expDt"
                                                name="expDt" #expDt="ngModel" placeholder="DD/MM/YYYY">

                                        </mat-form-field>
                                        <div *ngIf="expDt.invalid" class="invalid-feedback">
                                            <div>Must be Greater than Effective and Current Date.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div fxFlex="10%"></div>



                            <div fxFlex="45%">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Fuel Type <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-grid-list cols="1" rowHeight="53px">
                                            <mat-grid-tile class="module_area">
                                                <mat-form-field class="select_box_dropwodn"
                                                    [ngClass]="{ 'mandatory_input': f.submitted && lkpFuelTypeId.invalid }">
                                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="fuelFuelTypeList" appAutoSelectFirstOption
                                             #lkpFuelTypeId="ngModel" required
                                                        [(ngModel)]="statePriceObj.lkpFuelTypeId" name="lkpFuelTypeId">
                                            <ngx-mat-select-search [(ngModel)]="fuelTypeNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option  [value]="fuelType.id" class="upper-case"
                                                              *ngFor="let fuelType of fuelFuelTypeList | stringFilter:fuelTypeNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ fuelType.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  fuelType.descr }}
                                            </mat-option>
                                        </mat-select>
                                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                                        #lkpFuelTypeId="ngModel" required
                                                        [(ngModel)]="statePriceObj.lkpFuelTypeId" name="lkpFuelTypeId">
                                                        <mat-option [value]="fuelType.id" class="upper-case" matTooltip="{{fuelType.descr}}" [matTooltipPosition]="'above'"
                                                            *ngFor="let fuelType of fuelFuelTypeList">
                                                            {{fuelType.descr}}
                                                        </mat-option>
                                                    </mat-select>-->
                                                </mat-form-field>
                                                <div *ngIf="lkpFuelTypeId.touched || (f.submitted && lkpFuelTypeId.invalid)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="lkpFuelTypeId.errors?.required">Fuel Type is required
                                                    </div>
                                                </div>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Fuel Base Price <sup class="mandatory">*</sup> </strong>
                                            <p style="margin: 0px;">(Fuel Base Price)</p>
                                        </mat-label>

                                    </div>
                                    <div class="module_area" fxFlex="50%">
                                        <mat-form-field appearance="outline"
                                            [ngClass]="{ 'mandatory_input': f.submitted && fuelbasePrice.invalid }">
                                            <input matInput uppercase [(ngModel)]="statePriceObj.fuelbasePrice"
                                                appNumbersOnly maxlength="8" name="fuelbasePrice"
                                                #fuelbasePrice="ngModel" required class="form-control">
                                        </mat-form-field>
                                        <div *ngIf="fuelbasePrice.touched || (f.submitted && fuelbasePrice.invalid)" class="invalid-feedback">
                                            <div *ngIf="fuelbasePrice.errors?.required">Fuel Base Price is required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-label><strong>Base Price Date <sup class="mandatory">*</sup> </strong></mat-label>
                                    </div>
                                    <div class="module_area" fxFlex="50%">
                                        <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                            <mat-datepicker #date_picker_rate_group_3 panelClass="mdmDatepicker"
                                                class="date_picker_rate_group_1">
                                            </mat-datepicker>
                                            <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_3"
                                                class="date_adjust">
                                            </mat-datepicker-toggle>
                                            <input matInput  [matDatepicker]="date_picker_rate_group_3"
                                                class="date_input_height" validDate class="date_picker_input"
                                                (blur)="fuelBaseDate()" (dateChange)="fuelBaseDate()"
                                                [(ngModel)]="statePriceObj.fuelbaseDt" name="fuelbaseDt"
                                                placeholder="DD/MM/YYYY">

                                        </mat-form-field>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <br>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                                    <mat-grid-tile class="module_area">
                                        <button mat-flat-button class="theme_btn round_btn">Submit</button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
