<div class="modal-container">
    <h5 class="sub_heading">Edit By Billing By & Billing Level Mapping</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div class=" all_form">
        <form autocomplete="off" name="billingForm" (ngSubmit)="f.form.valid && updateBillingByValue()" #f="ngForm"
            novalidate>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="50%">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="53px">
                                <mat-grid-tile>
                                    <mat-label><strong>Billing Level</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn"
                                        [ngClass]="{ 'mandatory_input': f.submitted && lkpBillingLevelId.invalid }">
                                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                           [(ngModel)]="editBilingObj.lkpBillingLevelId" name="lkpBillingLevelId"  [dataArr]="lookuplist" appAutoSelectFirstOption
                                            #lkpBillingLevelId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="BillingByValueObjNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option class="upper-case" [value]="BillingByValueObj.id"
                                                             *ngFor="let BillingByValueObj of lookuplist | stringFilter:BillingByValueObjNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ BillingByValueObj.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  BillingByValueObj.descr }}
                                            </mat-option>
                                        </mat-select>
                                        <!--<mat-select disableOptionCentering panelClass="anyClass"
                                            [(ngModel)]="editBilingObj.lkpBillingLevelId" name="lkpBillingLevelId"
                                            #lkpBillingLevelId="ngModel" required>
                                            <mat-option class="upper-case" [value]="BillingByValueObj.id" matTooltip="{{BillingByValueObj.descr}}" [matTooltipPosition]="'above'"
                                                *ngFor="let BillingByValueObj of lookuplist">
                                                {{BillingByValueObj.descr}}
                                            </mat-option>
                                        </mat-select>-->
                                    </mat-form-field>
                                    <div *ngIf="f.submitted && lkpBillingLevelId.invalid" class="invalid-feedback">
                                        <div *ngIf="lkpBillingLevelId.errors?.required">Billing Level is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%" style="position: relative;">
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Effective Date</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust pd_8 "
                                        [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                        <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_1">
                                        </mat-datepicker>
                                        <mat-datepicker-toggle (onMenuOpen)="checkForExpiryDate(editBilingObj.effectiveDt)"
                                        matSuffix [for]="date_picker_rate_group_2"
                                            class="date_adjust">
                                        </mat-datepicker-toggle>
                                        <input matInput  [matDatepicker]="date_picker_rate_group_2"
                                        (dateChange)="checkForExpiryDate(editBilingObj.effectiveDt)" class="date_input_height"
                                            class="date_picker_input" validDate
                                            [disabled]="editBilingObj.effectiveDt<currentDate && this.editBilingObj.id && isChange"
                                            #effectiveDt="ngModel" required [(ngModel)]="editBilingObj.effectiveDt"
                                            name="effectiveDt" placeholder="DD/MM/YYYY"
                                            [min]="currentDate" (change)="isChange=false"
                                            (dateChange)="changeDateFormat(editBilingObj.effectiveDt,editBilingObj.expDt)" />
                                    </mat-form-field>
                                    <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                        <div *ngIf="editBilingObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Status</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn"
                                        [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                        <mat-select disableOptionCentering panelClass="anyClass" #status="ngModel"
                                            required [(ngModel)]="editBilingObj.status" name="status" uppercase>
                                            <mat-option [value]="1">
                                                ACTIVE
                                            </mat-option>
                                            <mat-option [value]="0">
                                                INACTIVE
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                        <div *ngIf="status.errors?.required">Status is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
                <div fxFlex="50%">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="53px">
                                <mat-grid-tile>
                                    <mat-label><strong>Billing By</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn"
                                        [ngClass]="{ 'mandatory_input': f.submitted && lkpBillingById.invalid }">
                                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            multiple  [dataArr]="billingByMultipleList" appAutoSelectFirstOption
                                            #lkpBillingById="ngModel" required
                                            [(ngModel)]="editBilingObj.lkpBillingById" name="lkpBillingById">
                                            <ngx-mat-select-search [(ngModel)]="BillingByObjNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option class="upper-case" [value]="BillingByObj.id"
                                                             *ngFor="let BillingByObj of billingByMultipleList | stringFilter:BillingByObjNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ BillingByObj.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  BillingByObj.descr }}
                                            </mat-option>
                                        </mat-select>
                                        <!--<mat-select disableOptionCentering panelClass="anyClass multipleAnyClass" multiple
                                            #lkpBillingById="ngModel" required
                                            [(ngModel)]="editBilingObj.lkpBillingById" name="lkpBillingById">
                                            <mat-option class="upper-case" [value]="BillingByObj.id" matTooltip="{{BillingByObj.lookupdescrVal}}" [matTooltipPosition]="'above'"
                                                *ngFor="let BillingByObj of billingByMultipleList">
                                                {{BillingByObj.descr}}
                                            </mat-option>
                                        </mat-select>-->
                                    </mat-form-field>
                                    <div *ngIf="lkpBillingById.touched || (f.submitted && lkpBillingById.invalid)" class="invalid-feedback">
                                        <div *ngIf="lkpBillingById.errors?.required">Billing By is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%" style="position: relative;">
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Expiry Date</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust pd_8"
                                    [ngClass]="{ 'mandatory_input': isVar && ((editBilingObj.expDt<=editBilingObj.effectiveDt && !editBilingObj.id) || (currentDate>editBilingObj.expDt && editBilingObj.id))  }">
                                        <mat-datepicker #date_picker_rate_group_1 panelClass="mdmDatepicker" (opened)="checkForExpiryDate(editBilingObj.effectiveDt)"
                                        (closed)="removeMinDate(editBilingObj.effectiveDt)"
                                            class="date_picker_rate_group_1">
                                        </mat-datepicker>
                                        <mat-datepicker-toggle (opened)="checkForExpiryDate(editBilingObj.effectiveDt)"
                                        matSuffix [for]="date_picker_rate_group_1"
                                            class="date_adjust">
                                        </mat-datepicker-toggle>
                                        <input matInput  [matDatepicker]="date_picker_rate_group_1"
                                             class="date_input_height"
                                             validDate class="date_picker_input"
                                            [(ngModel)]="editBilingObj.expDt" name="expDt" #expDt="ngModel"
                                            placeholder="DD/MM/YYYY" [min]="expiryMinDate"
                                            (dateChange)="changeDateFormat(editBilingObj.effectiveDt,editBilingObj.expDt);"
                                            (change)="isVar=true">
                                    </mat-form-field>
                                    <div *ngIf="isVar" class="invalid-feedback">
                                        <div
                                            *ngIf="editBilingObj.expDt<=editBilingObj.effectiveDt">
                                            Must be Greater than Effective and Current Date.</div>
                                        <div *ngIf="currentDate>editBilingObj.expDt && !(editBilingObj.expDt <= editBilingObj.effectiveDt) && editBilingObj.id">Must be Greater than Effective and Current Date.</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Description</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline">
                                        <input matInput uppercase [(ngModel)]="editBilingObj.descr" name="descr"
                                            maxlength="100" class="form-control">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>


                </div>
            </div>
            <br>
            <br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                        <mat-grid-tile class="module_area">
                            <button mat-flat-button class="theme_btn round_btn" *ngIf="submitPermission" [mat-dialog-close]="true">Back</button>
                            <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission" [disabled]="inActiveFlag && editBilingObj.status == 0">Save</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </form>
    </div>
</div>
