@keyframes fadeIn {

  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeOut {

  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
 #snackbar_module h2 {
  color: #FFFFFF;
  margin: 0;
  text-transform: capitalize !important;
  font-weight: 500;
  font-size: 1.6rem !important;
}
#snackbar_module {
  display: none;
  position: fixed;
  background: #27AE60 ;
  padding: 15px;
  right: 2%;
  border-radius: 5px;
  text-transform: capitalize !important;
  z-index: 9999;
  top: 4%;
  text-align: left;
  width: 20%;

}