p {
    margin-left: 2%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 27px
  }
  table {
    width: 100%;
  }
  .tlabel{
      background: whitesmoke
  }
  
   

  