
   <div class="hero-content contractContainer">
    <div class="row text-left parent">
      <div class="breadcrumb">
        <a routerLink="/contract/credit" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
        <a routerLink="/contract/credit" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
        <a routerLink="/contract/credit" target="_self">Customer</a><span class="fa fa-caret-right"></span>
        CREDIT
    </div>
        </div>
    <div class="msaOperation">
    <h3>Search MSA</h3>    
    <div *ngIf="(perList && perList.includes('MSA_CREATE')) && !isDisable" class="row" class="msabutton">
    <button class="btn1"  mat-raised-button color="primary"  (click)="passResultData({},0)">New MSA</button>
    </div>
    </div>
    <mat-card>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">MSA Name</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input autocomplete="true" matInput name="custName" [(ngModel)]="searchModel.custName" (ngModelChange)="searchModel.custName = $event.toUpperCase()" (keyup.enter)="getMSAsearch(searchModel)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">Email</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input autocomplete="true" matInput name="email" [(ngModel)]="searchModel.email" (keyup.enter)="getMSAsearch(searchModel)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">PAN</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input autocomplete="true" matInput name="pan" [(ngModel)]="searchModel.pan" (keyup.enter)="getMSAsearch(searchModel)" (ngModelChange)="searchModel.pan = $event.toUpperCase()">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">Salesforce Id</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input autocomplete="true" matInput name="sfdcAccId" (keyup.enter)="getMSAsearch(searchModel)" [(ngModel)]="searchModel.sfdcAccId">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">GSTIN</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input autocomplete="true" matInput name="gstinNum" (keyup.enter)="getMSAsearch(searchModel)" [(ngModel)]="searchModel.gstinNum" applyFilter>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        </div>
    </div>

    <div style="margin-top: 3%;" *ngxPermissionsOnly="['MSA_READ']">
        <mat-accordion>
          <div class="example-button-row text-center" style="margin-top: 2%">
            <button class="btn1" mat-raised-button color="primary"  (click)="getMSAsearch(searchModel)" (keyup.enter)="getMSAsearch(searchModel)" 
              >Search</button>
          </div>
        </mat-accordion>
      </div>
</mat-card>

<mat-card style="margin-bottom: 10rem !important;">

    <div *ngIf='dataSource' class="filter">
        <span class="fa fa-search fa-lg" id="dashboard-search"></span>
        <input maxlength="50" class="banner-input1"  placeholder="Search"  autocomplete="true" (keyup)="applyFilter($event)">
       </div>
         <hr class="green-border-heading">


    <table *ngIf='dataSource' mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        
        <ng-container matColumnDef="custName">
          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> CUSTOMER NAME </th>
          <td mat-cell *matCellDef="let element"> <div class="msaSearchName"  
            [matTooltip]="element.custName" [matTooltipDisabled]="element.custName?.length<14" matTooltipPosition="above">{{element.custName | uppercase}}</div></td>
        </ng-container>
      
        
        <ng-container matColumnDef="sfdcAccId">
          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNT ID </th>
          <td mat-cell *matCellDef="let element"><div class="msaSearchName" 
            [matTooltip]="element.sfdcAccId" [matTooltipDisabled]="element.sfdcAccId?.length < 14" matTooltipPosition="above"> 
            {{element.sfdcAccId}} </div></td>
        </ng-container>

        <ng-container matColumnDef="sfdcAccType">
          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNT TYPE </th>
          <td mat-cell *matCellDef="let element"><div class="msaSearchName" 
            [matTooltip]="element.accType" [matTooltipDisabled]="element.accType.length<14" matTooltipPosition="above">
             {{element.accType}}</div> </td>
        </ng-container>
      
     
        <ng-container matColumnDef="pan">
          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> PAN</th>
          <td mat-cell *matCellDef="let element"><div class="msaSearchPAN">
             {{element.pan}}</div></td>
        </ng-container>
     
        <ng-container matColumnDef="gstinNum">
          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> GSTIN </th>
          <td mat-cell *matCellDef="let element"><div class="msaSearchGST">
             {{element.gstinNum}} </div></td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL </th>
          <td mat-cell *matCellDef="let element"><div class="msaSearchEmail" 
            [matTooltip]="element.email" [matTooltipDisabled]="element.email?.length<27" matTooltipPosition="above">
            {{element.email}}</div></td>
        </ng-container>
        <ng-container matColumnDef="actions1">
          <th scope="row" mat-header-cell *matHeaderCellDef >  </th>
          <td mat-cell *matCellDef="let element"> 
                <button *ngIf="(perList && perList.includes('MSA_CREATE')) && !isDisable"  class="btn1" mat-raised-button color="primary" routerLink="/contract/msa"  skipLocationChange (click)="showMSA(element)">New Opportunity</button>
             </td>
        </ng-container>

        <ng-container matColumnDef="actions2">
          <th scope="row" mat-header-cell *matHeaderCellDef >  
            <a style="cursor: pointer;"  *ngIf="(perList && (perList.includes('COMMANDMENT_UPDATE') && perList.includes('CONTRACT_UPDATE'))) && isDisable"
        #tooltip="matTooltip"   matTooltip="Commandment Bulk Upload Template" matTooltipPosition="right" (click)="downloadCmdTemplate()">Download Template</a>
          </th>
          <td mat-cell *matCellDef="let element"> 
                <button *ngIf="(perList && perList.includes('MSA_CREATE')) && !isDisable" class="btn1" mat-raised-button color="primary" (click)="passResultData(element,1)">Link</button>
                <input type="file" accept=".xls" #browseFile id="file" (click)="browseFile.value = null" (change)="handleFileInput($event,element.id)" style="display:none ;cursor: pointer;">
                <a *ngIf="(perList && (perList.includes('COMMANDMENT_UPDATE') && perList.includes('CONTRACT_UPDATE'))) && isDisable" (click)="browseFile.click()"> Update Commandment</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a  *ngIf="(perList && (perList.includes('COMMANDMENT_UPDATE') && perList.includes('CONTRACT_UPDATE'))) && isDisable" (click)="openDialogForDownloadError(element.id)">View Uploaded Files</a>&nbsp;
              </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf='dataSource'><mat-paginator class="paginator"  [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator></div>
</mat-card>
</div>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>
