
   <div class="hero-content retailContainer">
    <div class="row text-left parent">
          <div class="breadcrumb">
            <a routerLink="/retail-contract/retail" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
            <a routerLink="/retail-contract/retail" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
            <a routerLink="/retail-contract/retail" target="_self">Customer</a><span class="fa fa-caret-right"></span>
            CREDIT
          </div>
        </div>
    <div class="msaOperation">
    <h3>Search MSA</h3>    
    <div *ngIf="!isDisable" class="row" class="msabutton">
    <button class="btn1"  mat-raised-button color="primary"  routerLink='/msacreation' (click)="passResultData({})">New MSA</button>
    </div>
    </div>

    <mat-card>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">MSA Name</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input matInput name="custName" [(ngModel)]="searchModel.custName" (ngModelChange)="searchModel.custName = $event.toUpperCase()">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">Email</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input matInput name="email" [(ngModel)]="searchModel.email">
                </mat-form-field>
            </div>

         
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">PAN</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input matInput name="pan" [(ngModel)]="searchModel.pan" (ngModelChange)="searchModel.pan = $event.toUpperCase()" (ngModelChange)="searchModel.pan = $event.toUpperCase()">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">Salesforce Id</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input matInput name="sfdcAccId" [(ngModel)]="searchModel.sfdcAccId">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">GSTIN</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="outline">
                    <input matInput name="gstinNum" [(ngModel)]="searchModel.gstinNum" applyFilter>
                </mat-form-field>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   
        </div>
    </div>

    <div style="margin-top: 3%;">
        <mat-accordion>
          <div class="example-button-row text-center" style="margin-top: 2%">
            <button class="btn1" mat-raised-button color="primary"  (click)="getMSAsearch()"
              >SEARCH</button>
          </div>
        </mat-accordion>
      </div>

</mat-card>

<mat-card>
    <div *ngIf="msaSearchResult" class="container heading-bar" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem" fxLayoutGap.xs="0" >
        <div class="item item-1" fxFlex="13%">CUSTOMER NAME</div>
        <div class="item item-2" fxFlex="13%">ACCOUNT ID</div>
        <div class="item item-3" fxFlex="13%">PAN</div>
        <div class="item item-4" fxFlex="13%">GSTIN</div>
        <div class="item item-5" fxFlex="15%">EMAIL</div>
        <div *ngIf="!isDisable" class="item item-7" fxFlex="14%"></div>
        <div *ngIf="!isDisable" class="item item-8" fxFlex="14%"></div>
        <div *ngIf="isDisable" class="item item-9" fxFlex="29%"></div>
      </div>

      <div  class="container heading-bar2" *ngFor="let msaData of msaSearchResult" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem" fxLayoutGap.xs="0" >
        <div class="row_center item item-2" fxFlex="13%">{{msaData.custName}}</div>
        <div class="row_center item item-3" fxFlex="13%">{{msaData.sfdcAccId}}</div>
        <div class="row_center item item-4" fxFlex="13%">{{msaData.pan}}</div>
        <div class="row_center item item-5" fxFlex="13%">{{msaData.gstinNum}}</div>
        <div class="row_center item item-6" fxFlex="15%">{{msaData.email}}</div>
        <div *ngIf="!isDisable" class="row_centeritem item-7" fxFlex="16%">
            <button class="btn1" mat-raised-button color="primary" routerLink="/msa" (click)="showMSA(msaData)">NEW OPPORTUNITY</button>
        </div>
        <div *ngIf="!isDisable" class="row_center item item-8" fxFlex="12%">
            <button class="btn1" mat-raised-button color="primary" routerLink="/msacreation" (click)="passResultData(msaData)">Link</button>
        </div>
        <div *ngIf="isDisable" class="row_center item item-9" fxFlex="29%">
            <button class="btn1" mat-raised-button color="primary"  (click)="openDialogSFXSearch(msaData)">VIEW/EDIT CONTRACTS</button>
        </div>
      </div>
</mat-card>
</div>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>
