<div class="hero-content retailContainer">
  <div class="row text-left parent">
        <div class="breadcrumb">
            <a routerLink="/retail-contract/retail" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
            <a routerLink="/retail-contract/retail" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
            <a routerLink="/retail-contract/retail" target="_self">Customer</a><span class="fa fa-caret-right"></span>
            MSA
        </div>
    </div>
    <h3> Credit Contract</h3>
    <div id="mat-card-heading" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
        fxLayoutAlign.xs="space-between start" class="mat-card-header-container">
        <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>&nbsp;</span><span>&nbsp;</span>
        </div>
    </div>
<mat-card>
<form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  
  <div>
      <div class="row" style="padding-left: 0;">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
          <div class="row" style="padding-top:1rem;">
            <div class="col-lg-6 col-md-6 label-text">Customer Name<span style="color: red;"> *</span></div>
            <div class="col-lg-6 col-md-6 ">              
                  <mat-form-field appearance="outline" style="width: 88%;">
                      <input required #custname="ngModel" alphanumeric matInput name="custName" [(ngModel)]="msaSelectedData.custName" (ngModelChange)="msaSelectedData.custName = $event.toUpperCase()"/>
                    </mat-form-field>
                </div>
          </div>
          <app-validation-msg *ngIf="(custname.errors?.required && custname.touched)" [msg]="'Required !'"></app-validation-msg>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
            </div>
  
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">Account Type<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 label-text-value">              
                      <mat-form-field appearance="outline" style="width: 88%;">
                      <mat-select name="accType" required #actype='ngModel' [(ngModel)]="msaSelectedData.accType">
                        <mat-option matOption *ngFor="let item of accountTypeDropdownList" [value]="item.lookupVal" selected>
                          {{item.lookupVal}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>             
                    </div>
                </div>
          <app-validation-msg *ngIf="(actype.errors?.required && actype.touched)" [msg]="'Required !'"></app-validation-msg>
                </div>
          </div>
          <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">PAN NO<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input (input)="onPanChange(msaSelectedData.pan)" matInput name="pan" appPancard required #pan="ngModel" minlength="10" maxlength="10" [(ngModel)]="msaSelectedData.pan" (ngModelChange)="msaSelectedData.pan = $event.toUpperCase()">
                          </mat-form-field> 
                      </div>
                </div>
                <app-validation-msg *ngIf="(pan.errors?.required && pan.touched)" [msg]="'Required !'"></app-validation-msg>
                <app-validation-msg *ngIf="(pan.errors?.minlength) && !pan.errors?.required" [msg]="'Invalid PAN !'"></app-validation-msg>
                <app-validation-msg *ngIf='panChk && !pan.errors?.required && !pan.invalid' [msg]="'Invalid PAN !'"></app-validation-msg>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                  </div>
        
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                      <div class="row" style="padding-top:1rem;">
                        <div class="col-lg-6 col-md-6 label-text">Contact Person<span style="color: red;"> *</span></div>
                        <div class="col-lg-6 col-md-6 ">              
                          <mat-form-field appearance="outline" style="width: 88%;">
                              <input matInput required alphanumeric #contactPersn='ngModel' name="contactPerson" [(ngModel)]="msaSelectedData.contactPerson" (ngModelChange)="msaSelectedData.contactPerson = $event.toUpperCase()">
                            </mat-form-field> 
                        </div>

                      </div> <app-validation-msg *ngIf="(contactPersn.errors?.required && contactPersn.touched)" [msg]="'Required !'"></app-validation-msg>
                      </div>
           </div>
           
            <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">

                  <div class="col-lg-6 col-md-6 label-text">Contact No.(L)<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput name="phone" required #contact="ngModel" numeric [(ngModel)]="msaSelectedData.phone" maxlength="10" minlength="10">
                          </mat-form-field> 
                      </div>
                </div>
                <app-validation-msg *ngIf="(contact.errors?.required && contact.touched)" [msg]="'Required !'"></app-validation-msg>
                <app-validation-msg *ngIf="contact.invalid && (contact.dirty || contact.touched) && !contact.errors?.required" [msg]="'Phone should be 10 digits !'"></app-validation-msg>
                
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                  </div>
        
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                      <div class="row" style="padding-top:1rem;">
                        <div class="col-lg-6 col-md-6 label-text">Base Location</div>
                        <div class="col-lg-6 col-md-6 label-text-value">
                          
                          <ng-select [items]="tableData" id="baseLocation"
                          name="baseLocation"
                          bindLabel="branchName"
                          [virtualScroll]="true"
                          bindValue="branchTypeId"
                          appendTo="body"
                          (search) ='advanceDefaultBranchName($event)'
                          [(ngModel)]="msaSelectedData.baseLocation"
                          required #baseLocation="ngModel"> 
                          </ng-select>              


                     
                          </div>
                      </div>
                    <app-validation-msg *ngIf="(baseLocation.errors?.required && baseLocation.touched)" [msg]="'Required !'"></app-validation-msg>
                      </div>
           </div>
           
           <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
               
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                  </div>
        
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                      <div class="row" style="padding-top:1rem;">
                  
                      </div>
                      </div>
           </div>
            <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">Contact No.(M)<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput name="mobile" required #mContect="ngModel" numeric [(ngModel)]="msaSelectedData.mobile" maxlength="10" minlength="10">
                          </mat-form-field> 
                      </div>
                </div>
              <app-validation-msg *ngIf="(mContect.errors?.required && mContect.touched)" [msg]="'Required !'"></app-validation-msg>
              <app-validation-msg *ngIf="mContect.invalid && (mContect.dirty || mContect.touched) && !mContect.errors?.required" [msg]="'Mobile should be 10 digits !'"></app-validation-msg>  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                  </div>
        
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                      <div class="row" style="padding-top:1rem;">
                        <div class="col-lg-6 col-md-6 label-text">SLA(%)<span style="color: red;"> *</span></div>
                        <div class="col-lg-6 col-md-6 label-text-value">              
                            <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput name="baseLocation" required #sla="ngModel" numeric decimals="2" maxlength="4" [(ngModel)]="msaSelectedData.sla" (ngModelChange)="msaSelectedData.sla = $event.toUpperCase()">
                          </mat-form-field>             
                          </div>
                      </div>
              <app-validation-msg *ngIf="(sla.errors?.required && sla.touched)" [msg]="'Required !'"></app-validation-msg>
                      </div>
           </div>
           <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">GSTIN<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput name="gstinNum" appGstin alphanumeric required #gstn="ngModel"  minlength="15" maxlength="15" [(ngModel)]="msaSelectedData.gstinNum" (ngModelChange)="msaSelectedData.gstinNum = $event.toUpperCase()">
                          </mat-form-field> 
                      </div>
                </div>
              <app-validation-msg *ngIf="(gstn.errors?.required && gstn.touched)" [msg]="'Required !'"></app-validation-msg>
              <app-validation-msg *ngIf="gstn.invalid && (gstn.dirty ||gstn.errors?.minlength || gstn.touched) && !gstn.errors?.required" [msg]="'Invalid GSTIN !'"></app-validation-msg>  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">PIN Code</div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput required #pin="ngModel" name="pincodeId" numeric minlength="6" maxlength="6" [(ngModel)]="regAddress.pincodeId">
                          </mat-form-field> 
                      </div>
                </div>	
                <app-validation-msg *ngIf="(pin.errors?.required && pin.touched)" [msg]="'Required !'"></app-validation-msg>
                <app-validation-msg *ngIf="pin.invalid && (pin.dirty || pin.touched) && !pin.errors?.required" [msg]="'PIN should be 6 digits !'"></app-validation-msg>    
                  </div>
           </div>
            <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">Group Code</div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput name="groupCode" [(ngModel)]="msaSelectedData.groupCode" disabled (ngModelChange)="msaSelectedData.groupCode = $event.toUpperCase()">
                          </mat-form-field> 
                      </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">	
                    <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">Registered Address<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 ">              
                        <mat-form-field appearance="outline" style="width: 88%;">
                            <input matInput name="addr" alphanumeric required #addres='ngModel' [(ngModel)]="regAddress.addr">
                          </mat-form-field> 
                      </div>
                </div>	
                <app-validation-msg *ngIf="(addres.errors?.required && addres.touched)" [msg]="'Required !'"></app-validation-msg>
                </div>
           </div>
           <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">Customer Segment<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 "> 
                    <mat-form-field appearance="outline" style="width: 88%;">             
                        <mat-select name="segment" required #Csegment="ngModel" [(ngModel)]="msaSelectedData.segment" (selectionChange)="createSubSegmentDownList()">
                        <mat-option matOption *ngFor="let item of segmentDropdownList" [value]="item.segmentName" selected>
                          {{item.segmentName}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                  <app-validation-msg *ngIf="(Csegment.errors?.required && Csegment.touched)" [msg]="'Required !'"></app-validation-msg>
                </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">	
                </div>
              </div>
           </div>
          <div class="row" style="padding-left: 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                <div class="row" style="padding-top:1rem;">
                  <div class="col-lg-6 col-md-6 label-text">Customer Sub-Segment<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 ">  
                     <mat-form-field appearance="outline" style="width: 88%;">             
                        <mat-select required #subseg="ngModel" name="subsegment" [(ngModel)]="msaSelectedData.subsegment" (selectionChange)="segmentFlg()">
                        <mat-option *ngFor="let item of subSegmentDropdownList" [value]="item.subsegmentName" selected>
                          {{item.subsegmentName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>  
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
                  <app-validation-msg *ngIf="(subSegmentFlage) && !subseg.errors?.required" [msg]="'Required !'"></app-validation-msg>		
                  <app-validation-msg *ngIf="(subseg.errors?.required && subseg.touched)" [msg]="'Required !'"></app-validation-msg>			
                </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">	
                </div>
              </div>
           </div><br>
              
  
<!--consigner and consignee components start-->
    <mat-accordion id="shadow">
      <mat-expansion-panel id="box-shadow">
        <mat-expansion-panel-header (click)="getConsigneeConsignerData()">
          Consignor & Consignee Details                         
               <mat-icon *ngIf="!msaSelectedData.id" id="plusicon"  (click)="openDialog()" mat-card-avatar aria-label="Example icon">add_circle</mat-icon>            
        </mat-expansion-panel-header>
  <div class="example-container mat-elevation-z8" #TABLE style="margin-top: 2rem;">  
   <table  mat-table  [dataSource]="dataSource" matSort aria-describedby="table" >

    <ng-container matColumnDef="name">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="service-fonts-checkbox">NAME</span>
      </th>
      <td mat-cell  *matCellDef="let element; let j = index;">
       
          <span class="service-fonts-checkbox">{{element.name | uppercase}}</span>
           </td>
    </ng-container>
    <ng-container matColumnDef="lkpConsigntypeId">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>TYPE </th>
      <td mat-cell *matCellDef="let element"> {{element.lkpConsigntypeId}} </td>
    </ng-container>
    <ng-container matColumnDef="panNum">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> PAN NO.</th >
      <td mat-cell *matCellDef="let element"> {{element.panNum | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="gstinNum">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> GST NO. </th>
      <td mat-cell *matCellDef="let element"> {{element.gstinNum | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="tanNum">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> TAN NO. </th>
      <td mat-cell *matCellDef="let element"> {{element.tanNum | uppercase}} </td >
    </ng-container>
    <ng-container matColumnDef="mob">
      <th scope="row" mat-header-cell *matHeaderCellDef  mat-sort-header> MOBILE NO. </th >
      <td mat-cell *matCellDef="let element"> {{element.mob | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="addr1">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS </th >
      <td mat-cell *matCellDef="let element" > {{element.addrBook.addr1+element.addrBook.addr2+element.addrBook.addr3 | uppercase }} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> CITY </th >
      <td mat-cell *matCellDef="let element"> {{element.city | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="pincode">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>PINCODE  </th>
      <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
    </ng-container>
    <ng-container matColumnDef="dealerCode">
      <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>DEALER CODE  </th>
      <td mat-cell *matCellDef="let element"> {{element.dealerCode | uppercase}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table >
</div>  
</mat-expansion-panel>
</mat-accordion>
<!--consigner and consignee components ends-->

<div style="margin-top: 3%;">
  <mat-accordion>       
    <div class="example-button-row text-center" style="margin-top: 5%">
        <button class="btn1" [disabled]='!f.form.valid' style="text-align: center" mat-raised-button color="primary"  (click)="MSANext()">Next</button>
      </div>
  </mat-accordion>
</div>
</div>
</form>
</mat-card></div>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise"></ngx-spinner>
