<div class="modal-container">
    <h5 class="sub_heading">{{LookupName}} Lookup Value</h5>
    <em class="material-icons modals_cancel_btn" (click)="saveLookup()">
        cancel
    </em>
    <hr class="border_row" style="margin: 10px 0 !important;">

    <div class="dialog_scroll">
        <form autocomplete="off" name="lookupForm" (ngSubmit)="f.form.valid && addLookup()" #f="ngForm" novalidate>
            <div class=" all_form">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Lookup Value <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && lookupVal.invalid }">
                                    <input matInput name="lookupVal" [disabled]="lookupValObj.id" [(ngModel)]="lookupValObj.lookupVal" (blur)="checkLookupValue()" (keyup)="isDisableLookup=false" (input)="lookupValObj.lookupVal=$event.target.value.toUpperCase()" #lookupVal="ngModel" required class="form-control" maxlength="50">
                                </mat-form-field>
                                <div *ngIf="lookupVal.touched || (f.submitted && lookupVal.invalid)" class="invalid-feedback">
                                    <div *ngIf="lookupVal.errors?.required">Lookup Value is required</div>
                                    <div *ngIf="isDisableLookup"> {{lookupValObj.lookupVal}} Is Already Present</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Select Parent Value</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn">
                                 <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" 
                                            [disabled]="!lookupValueList.length || ( lookupValObj.parentId && lookupValObj.id && isDisableParent)" [compareWith]="selectParentCompare" (selectionChange)="isDisableParent=false"
                                            [(ngModel)]="lookupValObj.parentId" name="ParentId" [disabled]="lookupValObj.obj">
                                            <ngx-mat-select-search [(ngModel)]="lookupNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="lookup.id" *ngFor="let lookup of lookupValueList | stringFilter:lookupNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ lookup.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  lookup.descr }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass" [disabled]="!lookupValueList.length" [compareWith]="selectParentCompare" [(ngModel)]="lookupValObj.parentId" name="ParentId" [disabled]="lookupValObj.obj">
                                        <mat-option [value]="lookup.id" *ngFor="let lookup of lookupValueList" matTooltip="{{lookup.descr}}" [matTooltipPosition]="'above'">
                                            {{lookup.descr}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust top_10" [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                    <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker"></mat-datepicker>
                                    <input matInput [matDatepicker]="picker" name="effectiveDt" [disabled]="lookupValObj.effectiveDt<currentDate && this.lookupValObj.id && isChange" #effectiveDt="ngModel" required validDate class="date_input_height" placeholder="DD/MM/YYYY" [(ngModel)]="lookupValObj.effectiveDt"
                                        [min]="currentDate" (change)="isChange=false" (dateChange)="changeDateFormat(lookupValObj.effectiveDt,lookupValObj.expDt)" />
                                    <mat-datepicker-toggle (onMenuOpen)="checkForExpiryDate(lookupValObj.effectiveDt)" matSuffix [for]="picker"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)" class="invalid-feedback">
                                    <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                    <div *ngIf="lookupValObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Expiry Date</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust" [ngClass]="{ 'mandatory_input': isVar && ((lookupValObj.expDt<=lookupValObj.effectiveDt && !lookupValObj.id) || (currentDate>lookupValObj.expDt && lookupValObj.id))  }">
                                    <mat-datepicker #myDatepicker23 (opened)="checkForExpiryDate(lookupValObj.effectiveDt)" (closed)="removeMinDate(lookupValObj.effectiveDt)" panelClass="mdmDatepicker" class="date_picker"></mat-datepicker>
                                    <input matInput [matDatepicker]="myDatepicker23" class="date_input_height" #expDt="ngModel" name="expDt" placeholder="DD/MM/YYYY" validDate [(ngModel)]="lookupValObj.expDt" [min]="expiryMinDate" [required]="isInactive" (dateChange)="changeDateFormat(lookupValObj.effectiveDt,lookupValObj.expDt);"
                                        (change)="isVar=true">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker23"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="isVar" class="invalid-feedback">
                                    <div *ngIf="lookupValObj.expDt<=lookupValObj.effectiveDt">
                                        Must be Greater than Effective and Current Date.</div>
                                    <div *ngIf="currentDate>lookupValObj.expDt && !(lookupValObj.expDt <= lookupValObj.effectiveDt) && lookupValObj.id">Must be Greater than Effective and Current Date.</div>
                                </div>
                                <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                    <div *ngIf="lookupValObj.expDt && lookupValObj.expDt< currentDate">Must be Greater than Effective and Current Date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Display Value  <sup class="mandatory">*</sup>  </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" [ngClass]="{ 'mandatory_input': f.submitted && descr.invalid }">
                                    <input matInput (input)="lookupValObj.descr=$event.target.value.toUpperCase()" name="descr" class="form-control" maxlength="100" #descr="ngModel" required [(ngModel)]="lookupValObj.descr">
                                </mat-form-field>
                                <div *ngIf="descr.touched || (f.submitted && descr.invalid)" class="invalid-feedback">
                                    <div *ngIf="descr.errors?.required">Display Value is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                    <mat-select disableOptionCentering panelClass="anyClass" name="status" #status="ngModel" required [(ngModel)]="lookupValObj.status" uppercase>
                                        <mat-option [value]="1">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="0">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                    <div *ngIf="status.errors?.required">Status is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="21.8%">
                        <mat-label><strong>Attribute 1</strong></mat-label>

                    </div>
                    <div fxFlex="60%">
                        <div class="module_area">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="lookupValObj.attr1" name="attr1" (input)="lookupValObj.attr1=$event.target.value.toUpperCase()" class="form-control">
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="21.8%">
                        <mat-label><strong>Attribute 2</strong></mat-label>

                    </div>
                    <div fxFlex="60%">
                        <div class="module_area">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="lookupValObj.attr2" name="attr2" (input)="lookupValObj.attr2=$event.target.value.toUpperCase()" class="form-control">
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="21.8%">
                        <mat-label><strong>Attribute 3</strong></mat-label>

                    </div>
                    <div fxFlex="60%">
                        <div class="module_area">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="lookupValObj.attr3" name="attr3" (input)="lookupValObj.attr3=$event.target.value.toUpperCase()" class="form-control">
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="45px" class="row_height" *ngIf="!permissionType">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" [disabled]="checkType(lookupValObj.id)=='string' && lookupValObj.status==0">{{lookupValObj.id ? "Edit" : "Add"}}</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </form>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="80%">
                <div class="card_body1">
                    <div class="mat-table mat_table_main" *ngIf="!permissionType">
                        <div class="mat-row bg bg_light_grey table_main_header table_fixed">
                            <div class="mat-cell mat_cell_head upper-case">NAME</div>
                            <div class="mat-cell mat_cell_head upper-case">Attribute 1</div>
                            <div class="mat-cell mat_cell_head upper-case">Attribute 2</div>
                            <div class="mat-cell mat_cell_head upper-case">Attribute 3</div>
                            <div class="mat-cell mat_cell_head upper-case">Parent Value</div>

                            <div class="mat-cell mat_cell_head"></div>
                        </div>
                        <div *ngFor="let lookupvall of lookupvalueTableList;let i =index">
                            <div class="mat-row bg_light_grey">
                                <div class="mat-cell table_color hyperlink upper-case">
                                    {{lookupvall.lookupVal}} </div>
                                <div class="mat-cell table_color hyperlink upper-case primary_color text_wrap" [matTooltip]="lookupvall.attr1" [matTooltipPosition]="'above'">
                                    See Values </div>
                                <div class="mat-cell table_color hyperlink upper-case primary_color text_wrap" [matTooltip]="lookupvall.attr2" [matTooltipPosition]="'above'">
                                    See Value </div>
                                <div class="mat-cell table_color hyperlink upper-case primary_color text_wrap" [matTooltip]="lookupvall.attr3" [matTooltipPosition]="'above'">
                                    See Values </div>
                                <div class="mat-cell upper-case" *ngIf="lookupvall.parentIdValue">
                                    {{lookupvall.parentIdValue}}</div>
                                <div class="mat-cell upper-case" *ngIf="!lookupvall.parentIdValue">
                                    {{lookupvall.parentId| showName:'lookupVal':lookupValueList}}</div>
                                <div class="mat-cell mat_cell_icon">
                                    <button mat-button><em class="material-icons icon_theme_color table_color float_right"
									(click)="addLookUpVAlue(lookupvall, i)">edit</em></button>
                                    <button mat-button *ngIf="(!lookupvall.id || checkType(lookupvall.id)=='string')"><em class="material-icons icon_theme_color table_color float_right"
									(click)="deleteLookupValue(lookupvall,i)">delete</em></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                    <mat-grid-tile class="module_area">
                        <button mat-flat-button class="theme_btn round_btn" type="button" (click)="saveLookup()" *ngIf="!permissionType">Submit</button>
                        <button mat-flat-button class="theme_btn round_btn" type="button" (click)="saveLookup()" *ngIf="permissionType">Back</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>
