.mat_card_zone .mat-row.table_main_header {
  background: #F1F1F1;
}

.mat_card_zone .mat-row {
  border: none;
  background: #F1F1F1;
  margin-top: 7px;
  min-height: auto !important;
  /* padding: 2px; */
}
