  <div style="padding: 1.8rem;" class="cDetails retailContainer">
  <div style="position: relative;">
    <h3 id="h3">Consignor & Consignee Details</h3>
    <i class="fa fa-times fa-2x" aria-hidden="true" (click)="closeDialog()"></i>
  </div>
  <hr id="popup-hr">  
  <div layout="row" fxLayout.xs="column" fxLayoutAlign="center center">            
  <div>              
  <form name="form" (ngSubmit)="addElement(f.form.valid, f)" #f="ngForm" novalidate>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutGap.lt-md="0px" [style.margin-top]="'2rem'">
      <div fxFlex>
      <div fxFlex class="fonts">Name<span style="color: red;"> *</span></div>
      <div fxFlex >
        <input class="form-control" type="text"  name="name" [(ngModel)]="model.name" placeholder="Name"    
        #name="ngModel" required alphanumeric [ngClass]="{ 'is-invalid':   name.invalid }" maxlength="100">
        <app-validation-msg *ngIf="(name.errors?.required && name.touched)" [msg]="'Required !'"></app-validation-msg>
      </div>
    </div>
    <div fxFlex>
      <div fxFlex class="fonts">Select<span style="color: red;"> *</span></div>
      <div fxFlex>
        <select required #lkpConsigntypeId="ngModel" name="lkpConsigntypeId" #lkpConsigntypeId="ngModel" required class="form-control"  [(ngModel)]="model.lkpConsigntypeId">
          <option *ngFor="let data of AddressType" [value]="data.value">{{data.value}}</option>      
          </select>
            <app-validation-msg *ngIf="(lkpConsigntypeId.errors?.required && lkpConsigntypeId.touched)" [msg]="'Required !'"></app-validation-msg>
      </div>
    </div>
    <div fxFlex>
      <div fxFlex class="fonts">Pan No.<span style="color: red;"> *</span></div>
      <div fxFlex>
        <input class="form-control" alphanumeric minlength="10" maxlength="10" type="text" name="panNum" [(ngModel)]="model.panNum" placeholder="Pan Num."
        #panNum="ngModel" required appPancard [ngClass]="{ 'is-invalid':panNum.invalid }" (input)="onPanChange(model.panNum)" >
      <app-validation-msg *ngIf="(panNum.errors?.required && panNum.touched)" [msg]="'Required !'"></app-validation-msg>
      <app-validation-msg *ngIf="panNum.invalid && (panNum.dirty || panNum.touched) && !panNum.errors?.required" [msg]="'Invalid PAN !'"></app-validation-msg>
      <app-validation-msg *ngIf='panChk && !panNum.errors?.required && !panNum.invalid' [msg]="'Invalid PAN !'"></app-validation-msg>
    </div>
    </div>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutGap.lt-md="0px" [style.margin-top]="'2rem'">
      <div fxFlex>
      <div fxFlex class="fonts">GSTIN<span style="color: red;"> *</span></div>
      <div fxFlex>
        <input class="form-control" type="text" name="gstinNum" [(ngModel)]="model.gstinNum" placeholder="Gst Num."
        #gstNum="ngModel" appGstin alphanumeric  maxlength="15" minlength="15" required [ngClass]="{ 'is-invalid':gstNum.invalid }">
        <app-validation-msg *ngIf="(gstNum.errors?.required && gstNum.touched)" [msg]="'Required !'"></app-validation-msg>
        <app-validation-msg *ngIf="gstNum.invalid && (gstNum.dirty || gstNum.touched) && !gstNum.errors?.required" [msg]="'invalid GSTIN !'"></app-validation-msg>
      </div>
    </div>
    <div fxFlex>
      <div fxFlex class="fonts">TAN No.<span style="color: red;"> *</span></div>
      <div fxFlex>
        <input class="form-control" type="text" name="tanNum" [(ngModel)]="model.tanNum" placeholder="Tan Num" (input)="onTanChange(model.tanNum)"
        required #tanNum="ngModel" minlength="10" maxlength="10" alphanumeric appTan [ngClass]="{ 'is-invalid':tanNum.invalid }">
        <app-validation-msg *ngIf="(tanNum.errors?.required && tanNum.touched)" [msg]="'Required !'"></app-validation-msg>
        <app-validation-msg *ngIf="tanNum.invalid && (tanNum.dirty || tanNum.touched) && !tanNum.errors?.required" [msg]="'invalid TAN !'"></app-validation-msg>
        <app-validation-msg *ngIf='tanChk && !tanNum.errors?.required && !tanNum.invalid' [msg]="'Invalid TAN !'"></app-validation-msg>
      </div>
    </div>
    <div fxFlex>
      <div fxFlex class="fonts">Mobile No.<span style="color: red;"> *</span></div>
      <div fxFlex>
        <input class="form-control" type="text" (keypress)="numberOnly($event)"  name="mob" [(ngModel)]="model.mob" placeholder="MobileNumber" 
        required  numeric #mob="ngModel" maxlength="10" minlength="10" [ngClass]="{ 'is-invalid':mob.invalid }">
        <app-validation-msg *ngIf="(mob.errors?.required && mob.touched)" [msg]="'Required !'"></app-validation-msg>
        <app-validation-msg *ngIf="mob.invalid && (mob.dirty || mob.touched) && !mob.errors?.required" [msg]="'Mobile should be 10 digits !'"></app-validation-msg>
      </div>
    </div>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutGap.lt-md="0px" [style.margin-top]="'2rem'">
      <div fxFlex>
      <div fxFlex class="fonts">Address line 1<span style="color: red;"> *</span></div>
      <div fxFlex>
        <input class="form-control" type="text" name="Address" [(ngModel)]="model.Address" placeholder="Address"
        required #Address="ngModel" maxlength="100">
        <app-validation-msg *ngIf="(Address.errors?.required && Address.touched)" [msg]="'Required !'"></app-validation-msg>
      </div>
    </div>
    <div fxFlex>
      <div fxFlex class="fonts">Address line 2</div>
      <div fxFlex>
        <input class="form-control" type="text" name="addressone" [(ngModel)]="model.addressone" placeholder="Address"
        [ngClass]="{ 'is-invalid':   addressone.invalid }"  #addressone="ngModel" maxlength="100">
      </div>
    </div>
       <div fxFlex>
         <div fxFlex class="fonts">Address line 3</div>
         <div fxFlex>
          <input class="form-control" type="text" name="addresstwo" [(ngModel)]="model.addresstwo" placeholder="Address"
          [ngClass]="{ 'is-invalid':   addresstwo.invalid }"  #addresstwo="ngModel" maxlength="100">
          </div>
       </div>
       </div>
       <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutGap.lt-md="0px" [style.margin-top]="'2rem'">
         <div fxFlex>
           <div fxFlex class="fonts">Pincode No.<span style="color: red;"> *</span></div>
           <div fxFlex>
             <input class="form-control" type="text" name="pincode" (keypress)="numberOnly($event)" #pincode="ngModel" maxlength="6" minlength="6" required
             [(ngModel)]="model.pincode" placeholder="Pincode" [ngClass]="{ 'is-invalid':   pincode.invalid }"/>      
            <app-validation-msg *ngIf="(pincode.errors?.required && pincode.touched)" [msg]="'Required !'"></app-validation-msg>
            <app-validation-msg *ngIf="pincode.invalid && (pincode.dirty || pincode.touched) && !pincode.errors?.required" [msg]="'Pin should be 6 digits !'"></app-validation-msg>
           </div>
         </div>
         <div fxFlex>
           <div fxFlex class="fonts">Dealer Code</div>
           <div fxFlex>
             <input class="form-control" alphanumeric type="text" name="dealerCode"[(ngModel)]="model.dealerCode" placeholder="DealerCode"
             [ngClass]="{ 'is-invalid':   dealerCode.invalid }" ng-required="true" #dealerCode="ngModel" maxlength="20">
             <app-validation-msg *ngIf="(dealerCode.errors?.required && dealerCode.touched)" [msg]="'Required !'"></app-validation-msg>
           </div>           
         </div>
         <div fxFlex>                
           <button type="submit" [disabled]="!f.form.valid" [style.color]="f.invalid ? 'gray' : 'green'" 
           style="color: rgb(33, 110, 36),;width: 2.4rem; left: 0%; font-size: 3.2rem;cursor: pointer; border: none; background: transparent;position: relative;
           top: .3rem;" class="material-icons">add_circle</button>
         </div>
        </div>
     </form>
             
   <div class="example-container mat-elevation-z8" style="margin-top: 1.5rem; width: 136rem;">    
   <mat-table #table [dataSource]="dataSource1" >
       <ng-container matColumnDef="name">
       <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
       <mat-header-cell *matHeaderCellDef></mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.name | uppercase}} </mat-cell>
     </ng-container>
       <ng-container matColumnDef="lkpConsigntypeId">
       <mat-header-cell *matHeaderCellDef> ADDRESS TYPE </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.lkpConsigntypeId | uppercase }} </mat-cell>
     </ng-container>
        
            <ng-container matColumnDef="panNum">
              <mat-header-cell *matHeaderCellDef> PAN NO. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.panNum | uppercase}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="gstNum">
              <mat-header-cell *matHeaderCellDef> GST NO.</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.gstinNum | uppercase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tanNum">
              <mat-header-cell *matHeaderCellDef> TAN NO. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.tanNum | uppercase}} </mat-cell>
            </ng-container> 
            <ng-container matColumnDef="mob">
              <mat-header-cell *matHeaderCellDef> MOBILE NO. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.mob | uppercase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef> ADDRESS </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?.address | uppercase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="city">
              <mat-header-cell *matHeaderCellDef> CITY </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.city | uppercase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pincode">
              <mat-header-cell *matHeaderCellDef>PINCODE  </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.pincode | uppercase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dealercode">
              <mat-header-cell *matHeaderCellDef>DEALER CODE  </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.dealerCode | uppercase}} </mat-cell>
            </ng-container>        
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> DELETE </mat-header-cell>
                <mat-cell *matCellDef="let element; let j = index;">
                  <button mat-button color="warn" (click)="removeData(element,j)">
                    <mat-icon class="example-icon">delete</mat-icon>
                  </button></mat-cell>                
              </ng-container>        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>  
            <div style="margin-top: 3%;">
              <mat-accordion>       
                <div class="example-button-row text-center" style="margin-top: 5%">
                  <button class="btn1" [disabled]='dataSource1==null' mat-raised-button  mat-button color="primary" (click)="putMsa()">Save</button> 
                  </div>
              </mat-accordion>
            </div>
            </div>
           </div>
          </div>