<form name="msaForm" (ngSubmit)="msaForm.form.valid " #msaForm="ngForm" >
<div class="hero-content">
  <div class="row text-left parent">      
        <div class="breadcrumb">
          <a routerLink="/contract/credit" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
          <a routerLink="/contract/credit" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
          <a routerLink="/contract/credit" target="_self">Customer</a><span class="fa fa-caret-right"></span>
          CREDIT
      </div>
      <stepper></stepper>
    </div>
  <h3>Credit Contract</h3> 
  <div id="mat-card-heading" fxLayout="row"  *ngFor="let user of msa.responseData" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start" class="mat-card-header-container">
      <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Customer Name : </span>
        <span class="row_center salesForceWidth" 
        [matTooltip]="user.custName | uppercase" matTooltipPosition="above" [matTooltipDisabled]="user.custName?.length<33">{{user.custName}}</span></div>
      <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Salesforce Account Id : </span>
        <span class="row_center salesForceWidth">{{user.sfdcAccId}}</span></div>
      <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>SFX Code : </span><em class="row_center salesForceWidth">{{sfxCode}}</em></div>
    </div> 
    <mat-card>
      <!-- sfx -->
      <div *ngIf="msa.responseData">
        <div class="row"   *ngFor="let user of msa.responseData">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">						
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">PAN No</div>
              <div class="col-lg-6 col-md-6 label-text-value" >              
                {{user.pan}} </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Contact Person</div>
              <div class="col-lg-6 col-md-6 label-text-value" >
                {{user.contactPerson}}</div>
            </div> 
                     
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Contact No. (L)</div>
              <div class="col-lg-6 col-md-6 label-text-value mNo"> {{ user.phone }}</div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Contact No. (M)</div>
              <div class="col-lg-6 col-md-6 label-text-value mNo"  >
                {{user.mobile}}
              </div>
            </div> 
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">GSTIN</div>
              <div class="col-lg-6 col-md-6 label-text-value"  > {{user.gstinNum}}</div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Group Code</div>
              <div class="col-lg-6 col-md-6 label-text-value">{{user.groupCode}}</div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Customer Segment</div>
              <div class="col-lg-6 col-md-6 label-text-value">{{user.segment}}  
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Customer Sub-segment</div>
              <div class="col-lg-6 col-md-6 label-text-value">{{ user.subsegment }}  </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 label-text">Registered Address</div>
              <div class="col-lg-6 col-md-6 label-text-value" style="overflow: hidden !important;"  [matTooltip]="cnee.addr"  matTooltipPosition="above"  *ngFor="let cnee of user.msaCustAddrs">{{cnee.addr}}  </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 label-text">Base Location<span style="color: red;">*</span></div>              
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top: .5rem !important;">
               <ng-select [items]="tableData" id="baseLoacation"
                   name="baseLocation"
                   bindLabel="baseLocation"
                   class="creditNgDropdown"
                   bindValue="baseLocationBranchId"
                   appendTo="body"
                   (search) ='advanceDefaultBranchName($event)'
                   [(ngModel)]="user.baseLocationBranchId"
                   (click)="onClear()"
                   (clear)="emptyData()"
                   required #baseLocation="ngModel">
              </ng-select>              
                </div>
                </div>  
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-md-6">
                  <app-validation-msg *ngIf="(baseLocation.errors?.required && baseLocation.touched) && !(baseLocationError==true)" [msg]="'Required !'"></app-validation-msg>
                  <app-validation-msg  *ngIf="(baseLocationError==true)" [msg]="'Enter min. 3 character !'"></app-validation-msg>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-md-6"></div>
              </div>          
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3"></div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5">          
            <div class="col-lg-6 col-md-6"></div>
            <div class="col-lg-6 col-md-6"></div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Salesforce Monthly Potential (Air)</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">{{user.sfdcMnthPotentialAir}} </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Salesforce Monthly Potential (Surface)</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">{{user.sfdcMnthPotentialSurface}}  </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Salesforce Monthly Potential (3PL)</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value"> {{user.sfdcMnthPotential3pl}}
                 </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Account Type</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">
                  {{user.accType}}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Monthly Potential</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">{{user.monthlyPotential}}  </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Credit Limit</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">{{user.creditRisk}}</div>
            </div>

            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">Email</div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">
                <div class="emailTextMsa" [matTooltip]="user.email"  matTooltipPosition="above">{{user.email}}</div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 label-text">SLA (%)<span style="color: red;"> *</span></div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 label-text-value">
                  <div class="form-group">
                  <input autocomplete="true" id="inputtext" type ="text" required #sla1='ngModel' class="inputBox form-control input-field padding-left"  name="sla"  [(ngModel)]="user.sla" maxlength="4" pattern="^[0-9][0-9]*$">                 
                      </div>
                        <app-validation-msg *ngIf="(sla1.errors?.required && sla1.touched)" [msg]="'Required !'"></app-validation-msg>
                        <app-validation-msg  *ngIf="(sla1.errors?.pattern && sla1.touched && !sla1.errors?.required)" [msg]="'Only Numbers Allowed !'"></app-validation-msg>
                      </div>
            </div>           

          </div>
        </div>
  </div>
  <div class="row" *ngIf="msa.responseData">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
        <input type="file" #browseFile id="file" (click)="browseFile.value = null" (change)="handleFileInput($event)" style="display:none">
      <a *ngxPermissionsOnly="['MSA_CREATE']" class="msaMatExpBar" (click)="browseFile.click()">Bulk Upload</a>&nbsp;&nbsp;<a class="msaMatExpBar">{{ uploadedBFileName }} |</a>&nbsp;&nbsp;
      <a *ngxPermissionsOnly="['MSA_CREATE']" class="msaMatExpBar" (click)="downloadTemplate()">Download Template |</a>&nbsp;
      <a *ngxPermissionsOnly="['MSA_CREATE']" class="msaMatExpBar" (click)="openDialogForDownloadError()">View Uploaded Files |</a>&nbsp;
      <a *ngxPermissionsOnly="['MSA_CREATE']" class="msaMatExpBar" (click)="ExportTOExcel()">Export Consignor/Consignee</a>
    </div>
  </div>
  <mat-accordion id="shadow" *ngIf="msa.responseData" >
    <mat-expansion-panel id="box-shadow" *ngxPermissionsOnly="['MSA_READ', 'MSA_UPDATE', 'MSA_CREATE']" [expanded]="true">
      <mat-expansion-panel-header>Consignor & Consignee Details 
        <mat-icon *ngxPermissionsOnly="['MSA_UPDATE', 'MSA_CREATE']" id="plusicon"  (click)="openDialog()" mat-card-avatar aria-label="Example icon">add_circle</mat-icon> 
      </mat-expansion-panel-header>
<div class="example-container mat-elevation-z8" #TABLE style="margin-top: 1rem;">  
<button *ngxPermissionsOnly="['MSA_UPDATE', 'MSA_CREATE']" class="btn1" style="text-align: left;" mat-raised-button color="primary" (click)="deactivateCneeCor()" style="margin-bottom: 1rem;">Delete</button>
<div class="filter" style="width: 95%">
  <span class="fa fa-search fa-lg" id="dashboard-search"></span>
  <input style="margin-left: 1%" maxlength="50" class="banner-input1"  placeholder="Search"  autocomplete="true" (keyup)="applyFilter($event)" autocomplete="true">
 </div>
   <hr class="green-border-heading"> 
<table  mat-table  [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-checkbox [checked]="selFlag" (change)="selectAll($event)" color="primary">
        <span class="service-fonts-checkbox fontWeight">NAME</span>
      </mat-checkbox>
    </th>
    <td mat-cell  *matCellDef="let element; let j = index;">
     <mat-checkbox [checked]="selFlag" color="primary" (change)="prepareDeactivateUsersList($event,element)">
       <div class="msaName">
        <span class="service-fonts-checkbox" [matTooltip]="element.name"  [matTooltipDisabled]="element.name.length<25" matTooltipPosition="above">
          {{element.name | uppercase}}</span></div>
     </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="lkpConsigntypeName">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>TYPE </th>
    <td mat-cell *matCellDef="let element"> {{element.lkpConsigntypeName | uppercase}} </td>
  </ng-container>
  <ng-container matColumnDef="panNum">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> PAN NO.</th >
    <td mat-cell *matCellDef="let element"> {{element.panNum | uppercase}} </td>
  </ng-container>
  <ng-container matColumnDef="gstinNum">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> GST NO. </th>
    <td mat-cell *matCellDef="let element"> {{element.gstinNum | uppercase}} </td>
  </ng-container>
  <ng-container matColumnDef="tanNum">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> TAN NO. </th>
    <td mat-cell *matCellDef="let element"> {{element.tanNum | uppercase}} </td >
  </ng-container>
  <ng-container matColumnDef="mob">
    <th scope="row" mat-header-cell *matHeaderCellDef  mat-sort-header> MOBILE NO. </th >
    <td mat-cell *matCellDef="let element"> {{element.mob | uppercase}} </td>
  </ng-container>
  <ng-container matColumnDef="addr1">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS </th >
    <td mat-cell *matCellDef="let element" ><div class="row_center1" [matTooltip]="element.addrBook.addr1 + ' ' + element.addrBook.addr2 + ' ' + element.addrBook.addr3"
      matTooltipPosition="above">{{element.addrBook.addr1 | uppercase }} {{element.addrBook.addr2 | uppercase}} {{element.addrBook.addr3 | uppercase }}</div> </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header> CITY </th >
    <td mat-cell *matCellDef="let element"> {{element.city | uppercase}} </td>
  </ng-container>
  <ng-container matColumnDef="pincode">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>PINCODE  </th>
    <td mat-cell *matCellDef="let element"> {{element.pincode | uppercase}} </td>
  </ng-container>
  <ng-container matColumnDef="dealerCode">
    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header>DEALER CODE  </th>
    <td mat-cell *matCellDef="let element"> {{element.dealerCode | uppercase}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table >
<div><mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator></div>
</div>  
    </mat-expansion-panel>
      </mat-accordion>       
        <div style="margin-top: 3%;">
        <mat-accordion>       
          <div class="example-button-row text-center" style="margin-top: 5%">
            <button class="btn1" id="secondry-button" mat-raised-button color="primary" [disabled]='!msaForm.form.valid'  (click)="putMsa(0)" *ngxPermissionsOnly="['MSA_UPDATE', 'MSA_CREATE']">Save As Draft</button> 
            <button class="btn1" id="msaNextButton" style="text-align: center" mat-raised-button color="primary" [disabled]='!msaForm.form.valid' (click)="msaNext()" *ngxPermissionsOnly="['MSA_UPDATE', 'MSA_CREATE']">Next</button>
            </div>
        </mat-accordion>
      </div>  
    </mat-card>
  </div>
</form>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise"></ngx-spinner>
