<div class="modal-container">
    <h5 class="sub_heading">{{districtPrifix}} District</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <form autocomplete="off" name="distritctForm" (ngSubmit)="f.form.valid && addDistrict()" #f="ngForm"
                novalidate>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Country Name <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && countryNameobj.invalid }">
                                    <mat-select disableOptionCentering 
                                            panelClass="anyClass multipleAnyClass_search_2"  [dataArr]="countryList" appAutoSelectFirstOption
                                            class="search_select_branch mr_top_22"
                                           name="countryNameobj"  [dataArr]="countryList" appAutoSelectFirstOption
                                        [(ngModel)]="countryId" (selectionChange)="getStateByCountry()"
                                        [compareWith]="checkCountry" [disabled]="isDisabled" #countryNameobj="ngModel"
                                        required>
                                            <ngx-mat-select-search [(ngModel)]="countryNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="country" *ngFor="let country of countryList | stringFilter:countryNameSearchCtrl:'countryName' | sortBy:'countryName'"
                                                matTooltip=" {{ country.countryName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  country.countryName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass" name="countryNameobj"
                                        [(ngModel)]="countryId" (selectionChange)="getStateByCountry()"
                                        [compareWith]="checkCountry" [disabled]="isDisabled" #countryNameobj="ngModel"
                                        required>
                                        <mat-option [value]="country"  matTooltip="{{country.countryName}}" [matTooltipPosition]="'above'"
                                            *ngFor="let country of countryList  | sortBy:'countryName'">
                                            {{country.countryName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="countryNameobj.touched || (f.submitted && countryNameobj.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="countryNameobj.errors?.required">Country Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>State <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>

                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && aa.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"  [dataArr]="stateList" appAutoSelectFirstOption
                                            class="search_select_branch mr_top_22"  [dataArr]="stateList" appAutoSelectFirstOption
                                           [(ngModel)]="districtObj.state" name="aa" [compareWith]="checkState"
                                        #aa="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="stateNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="state" *ngFor="let state of stateList | stringFilter:stateNameSearchCtrl:'stateName' | sortBy:'stateName'"
                                                matTooltip=" {{ state.stateName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  state.stateName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="districtObj.state" name="aa" [compareWith]="checkState"
                                        #aa="ngModel" required>
                                        <mat-option [value]="state" matTooltip="{{state.stateName}}" [matTooltipPosition]="'above'"
                                            *ngFor="let state of stateList  | sortBy: 'stateName'">
                                            {{state.stateName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="aa.touched || (f.submitted && aa.invalid)" class="invalid-feedback">
                                    <div *ngIf="aa.errors?.required">State Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>District Name <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline"
                                    [ngClass]="{ 'mandatory_input': f.submitted && districtName.invalid }">
                                    <input matInput  name="rateCardCode" [(ngModel)]="districtObj.districtName"
                                        name="districtName" class="form-control" #districtName="ngModel" (input)="districtObj.districtName=$event.target.value.toUpperCase()" required>
                                </mat-form-field>
                                <div *ngIf="districtName.touched || (f.submitted && districtName.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="districtName.errors?.required">District Name is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field class="select_box_dropwodn" uppercase
                                    [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">

                                    <mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="districtObj.status" name="status" #status="ngModel" required>
                                        <mat-option [value]="1">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="0">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="status.touched || (f.submitted && status.invalid)" class="invalid-feedback">
                                    <div *ngIf="status.errors?.required">Status is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="53px">
                            <mat-grid-tile>
                                <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust"
                                    [ngClass]="{ 'mandatory_input': (effectiveDt.errors?.required && (effectiveDt.touched || f.submitted)) }">
                                    <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="picker" validDate
                                        [disabled]="districtObj.effectiveDt<currentDate && this.districtObj.id && isChange"
                                        class="date_input_height" [(ngModel)]="districtObj.effectiveDt"
                                        name="effectiveDt" placeholder="" placeholder="DD/MM/YYYY"
                                        #effectiveDt="ngModel" required [min]="currentDate" (change)="isChange=false"
                                        (dateChange)="changeDateFormat(districtObj.effectiveDt,districtObj.expDt)" />
                                    <mat-datepicker-toggle (onMenuOpen)="checkForExpiryDate(districtObj.effectiveDt)"
                                        matSuffix [for]="picker"></mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="effectiveDt.touched || (f.submitted && effectiveDt.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="effectiveDt.errors?.required">Effective Date is required</div>
                                    <div *ngIf="districtObj.effectiveDt < currentDate ">Effective date cannot be less than current date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Expiry Date</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area">
                                <mat-form-field appearance="outline" class="date_picker_adjust"
                                    [ngClass]="{ 'mandatory_input': isVar && ((districtObj.expDt<=districtObj.effectiveDt && !districtObj.id) || (currentDate>districtObj.expDt && districtObj.id))  }">
                                    <mat-datepicker #myDatepicker23
                                        (opened)="checkForExpiryDate(districtObj.effectiveDt)"
                                        (closed)="removeMinDate(districtObj.effectiveDt)" panelClass="mdmDatepicker"
                                        class="myDatepicker23">
                                    </mat-datepicker>
                                    <input matInput [matDatepicker]="myDatepicker23" [(ngModel)]="districtObj.expDt"
                                        name="expDt" class="date_input_height" validDate #expDt="ngModel"
                                        placeholder="DD/MM/YYYY" [min]="expiryMinDate" [required]="isInactive"
                                        (dateChange)="changeDateFormat(districtObj.effectiveDt,districtObj.expDt);"
                                        (change)="isVar=true">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker23">
                                    </mat-datepicker-toggle>
                                </mat-form-field>
                                <div *ngIf="isVar" class="invalid-feedback">
                                    <div
                                        *ngIf="districtObj.expDt<=districtObj.effectiveDt">
                                        Must be Greater than Effective and Current Date.</div>
                                    <div *ngIf="currentDate>districtObj.expDt && !(districtObj.expDt <= districtObj.effectiveDt) && districtObj.id">Must be Greater than Effective and Current Date.</div>
                                </div>
                                <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                    <div *ngIf="districtObj.expDt && districtObj.expDt< currentDate">Must be
                                        Greater than Effective and Current Date</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="45%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile>
                                <mat-label><strong>Description</strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile class="module_area mg_left_3">
                                <mat-form-field appearance="outline">
                                    <input matInput  class="form-control" [(ngModel)]="districtObj.descr"
                                        name="descr" (input)="districtObj.descr=$event.target.value.toUpperCase()">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%"> </div>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="!hideBtn"
                                    [disabled]="(!districtObj.status && !districtObj.id) || (inActiveFlag && districtObj.status == 0)">{{ !districtObj.id ? 'Save':'Update'}}</button>
                                <button mat-flat-button class="theme_btn round_btn" *ngIf="hideBtn"
                                    [mat-dialog-close]="true">Back</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </form>
        </div>


        <!-- Add city Section -->
    </div>
</div>
