<div class="container head_container">
    <div class="row">
      <div class="col-md-12 bread_crumb">
        <a href="/dashboard">Dashboard</a>
        <span class="fa fa-caret-right"></span>
        <a href="/dashboard">MDM</a>
        <span class="fa fa-caret-right"></span>
        <a class="">Notepad</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <p style="color: white;font-size: 2.8rem;">{{this.greeting()}},
          <strong style="padding-left: 8px;">{{userName | uppercase}}</strong></p>
      </div>
      <div class="col-md-2 text-right">
        <label style="color: white;font-size: 2.4rem !important;">MASTER DATA MANAGEMENT</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <p style="color: white;font-size: 2.8rem;">Notepad</p>
      </div>
    </div>
  </div>
<div class="container mat_figure_block notepad_css">
    <div class="mat_card_padding">
        <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && getEntityTableByModuleValue()" #f="ngForm"
            novalidate>
            <mat-card gutterSize="15px" class="mat_card_zone mr_00 bdr_radius_0">
                <p class="notepad_details_head sub_sub_heading">Notepad Details</p>
                <!-- angular flex start -->
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="35%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile class="module_area module_txt">
                                <mat-label><strong>Module <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && moduleId.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"  [dataArr]="notepadModuleList" appAutoSelectFirstOption
                                            [(ngModel)]="moduleobj.moduleId" name="moduleId"
                                        (selectionChange)="getEntityByModuleValue(moduleobj.moduleId)"
                                        #moduleId="ngModel" uppercase required>
                                            <ngx-mat-select-search [(ngModel)]="notepadModuleNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="notepadModule"
                                                             *ngFor="let notepadModule of notepadModuleList | stringFilter:notepadModuleNameSearchCtrl:'menuLabel' | sortBy:'menuLabel'"
                                                matTooltip=" {{ notepadModule.menuLabel }}"
                                                [matTooltipPosition]="'above'">
                                                {{  notepadModule.menuLabel }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="moduleobj.moduleId" name="moduleId"
                                        (selectionChange)="getEntityByModuleValue(moduleobj.moduleId)"
                                        #moduleId="ngModel" uppercase required>
                                        <mat-option [value]="notepadModule" matTooltip="{{notepadModule.menuLabel}}" [matTooltipPosition]="'above'"
                                            *ngFor="let notepadModule of notepadModuleList">
                                            {{notepadModule.menuLabel}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="moduleId.touched || (f.submitted && moduleId.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="moduleId.errors?.required">Module is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="15%"></div>
                    <div fxFlex="35%">
                        <mat-grid-list cols="2" rowHeight="55px">
                            <mat-grid-tile class="module_area module_txt">
                                <mat-label><strong>Entity <sup class="mandatory">*</sup> </strong></mat-label>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="select_box_dropwodn"
                                    [ngClass]="{ 'mandatory_input': f.submitted && moduleEntityId.invalid }">
                                    <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" [dataArr]="notepadmoduleByEntityList" appAutoSelectFirstOption
                                           [(ngModel)]="moduleobj.moduleEntityId" name="moduleEntityId"
                                        (selectionChange)="getEntityListByModuleValue(moduleobj.moduleEntityId)"
                                        #moduleEntityId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="notepadEntityNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="notepadEntity"
                                                             *ngFor="let notepadEntity of notepadmoduleByEntityList | stringFilter:notepadEntityNameSearchCtrl:'entityName' | sortBy:'entityName'"
                                                matTooltip=" {{ notepadEntity.entityName }}"
                                                [matTooltipPosition]="'above'">
                                                {{  notepadEntity.entityName }}
                                            </mat-option>
                                        </mat-select>
                                    <!--<mat-select disableOptionCentering panelClass="anyClass"
                                        [(ngModel)]="moduleobj.moduleEntityId" name="moduleEntityId"
                                        (selectionChange)="getEntityListByModuleValue(moduleobj.moduleEntityId)"
                                        #moduleEntityId="ngModel" required>
                                        <mat-option [value]="notepadEntity" matTooltip="{{notepadEntity.entityName}}" [matTooltipPosition]="'above'"
                                            *ngFor="let notepadEntity of notepadmoduleByEntityList">
                                            {{notepadEntity.entityName}}
                                        </mat-option>
                                    </mat-select>-->
                                </mat-form-field>
                                <div *ngIf="(f.submitted && moduleEntityId.invalid)"
                                    class="invalid-feedback">
                                    <div *ngIf="moduleEntityId.errors?.required">Entity is required</div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div fxFlex="15%">
                        <mat-grid-list cols="1" rowHeight="55px" class="row_height">
                            <mat-grid-tile class="module_area module_btn">
                                <button mat-flat-button type="submit" color="primary" class="theme_btn round_btn">Search</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                </div>

            </mat-card>
        </form>


        <div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="0.5%" class="bg_grey">
                <div fxFlex="25%">
                    <div *ngIf="moduleobj.moduleId">
                        <mat-toolbar class="text_white toolbar_heading">Module: {{moduleobj.moduleId.menuLabel}}
                        </mat-toolbar>
                    </div>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="45%">
                    <div *ngIf="moduleobj.moduleEntityId">
                        <mat-toolbar class="text_white toolbar_heading">Entity: {{moduleobj.moduleEntityId.entityName}}
                        </mat-toolbar>
                    </div>
                </div>
            </div>

            <div class="table_scroll">
                <div *ngIf="addNotepad">
                    <form autocomplete="off" name="form" (ngSubmit)="f.form.valid &&
                    saveNotePad()" #f="ngForm" novalidate>
                        <mat-card gutterSize=" 15px" class="bdr_radius_0">
                            <div  *ngxPermissionsOnly="['CREATE']">
                            <span class="notepad_details_head sub_sub_heading"
                                *ngIf="moduleobj.moduleEntityId || showtest"><span>Add
                                    New Notepad</span></span></div>
                            <p *ngIf="moduleobj.moduleEntityId || showtest" (click)="getNotepad(); f.reset()"
                                class="back_notepad">
                                Back</p>
                            <hr class="notepad_bdr">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="45%">
                                    <mat-grid-list cols="2" rowHeight="55px">
                                        <mat-grid-tile>
                                            <mat-label><strong>Notepad Name <sup class="mandatory">*</sup> </strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="module_area">
                                            <mat-form-field appearance="outline"
                                                [ngClass]="{ 'mandatory_input': f.submitted && notepadName.invalid }">
                                                <input matInput name="notepadName" uppercase
                                                    #notepadName="ngModel" required class="form-control"
                                                    [(ngModel)]="notepadObj.notepadName" maxlength="50" (input)="notepadObj.notepadName=$event.target.value.toUpperCase()">
                                            </mat-form-field>
                                            <div *ngIf="notepadName.touched || (f.submitted && notepadName.invalid)"
                                                class="invalid-feedback">
                                                <div *ngIf="notepadName.errors?.required">Notepad Name is required</div>
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                                <div fxFlex=" 10%">
                                </div>
                                <div fxFlex="45%">
                                    <mat-grid-list cols="2" rowHeight="55px">
                                        <mat-grid-tile>
                                            <mat-label><strong>Attribute Type <sup class="mandatory">*</sup> </strong>
                                            </mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="module_area">
                                            <mat-form-field class="select_box_dropwodn"
                                                [ngClass]="{ 'mandatory_input': f.submitted && attributeTypeId.invalid }">
                                                <mat-select disableOptionCentering [dataArr]="AttributeList" appAutoSelectFirstOption
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                            [(ngModel)]="notepadObj.attributeTypeId" uppercase maxlength="8"
                                                    (selectionChange)="getAttributeIdentifier()" name="attributeTypeId"
                                                    #attributeTypeId="ngModel" required>
                                            <ngx-mat-select-search [(ngModel)]="attributeNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="attribute.id"
                                                             *ngFor="let attribute of AttributeList | stringFilter:attributeNameSearchCtrl:'descr' | sortBy:'descr'"
                                                matTooltip=" {{ attribute.descr }}"
                                                [matTooltipPosition]="'above'">
                                                {{  attribute.descr }}
                                            </mat-option>
                                        </mat-select>
                                                <!--<mat-select disableOptionCentering panelClass="anyClass"
                                                    [(ngModel)]="notepadObj.attributeTypeId" uppercase maxlength="8"
                                                    (selectionChange)="getAttributeIdentifier()" name="attributeTypeId"
                                                    #attributeTypeId="ngModel" required>
                                                    <mat-option [value]="attribute.id" matTooltip="{{attribute.descr}}" [matTooltipPosition]="'above'"
                                                        *ngFor="let attribute of AttributeList">
                                                        {{attribute.descr}}
                                                    </mat-option>
                                                </mat-select>-->
                                            </mat-form-field>
                                            <div *ngIf="attributeTypeId.touched || (f.submitted && attributeTypeId.invalid)"
                                                class="invalid-feedback">
                                                <div *ngIf="attributeTypeId.errors?.required">Attribute Type is required
                                                </div>
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="45%">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%">
                                            <mat-label><strong>Attribute Identifier <sup class="mandatory">*</sup> </strong>
                                            </mat-label>
                                        </div>
                                        <div class="module_area" fxFlex="50%">
                                            <mat-form-field appearance="outline"
                                                [ngClass]="{ 'mandatory_input': f.submitted && attributeIdentifier.invalid }">
                                                <input matInput name="attributeIdentifier" disabled class="form-control"
                                                    [(ngModel)]="notepadObj.attributeIdentifier"
                                                    #attributeIdentifier="ngModel" maxlength="20" required>
                                            </mat-form-field>
                                            <div *ngIf="attributeIdentifier.touched || (f.submitted && attributeIdentifier.invalid)"
                                                class="invalid-feedback">
                                                <div *ngIf="attributeIdentifier.errors?.required">Attribute Identifier
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="hidenotepad">
                                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                            <div fxFlex="50%">
                                                <mat-label><strong>Notepad Order <sup class="mandatory">*</sup> </strong>
                                                </mat-label>
                                            </div>
                                            <div fxFlex="50%" class="module_area">
                                                <mat-form-field appearance="outline"
                                                    [ngClass]="{ 'mandatory_input': f.submitted && notepadOrder.invalid }">
                                                    <input matInput uppercase name="notepadOrder" uppercase
                                                        class="form-control" maxlength="8"
                                                        [(ngModel)]="notepadObj.notepadOrder" #notepadOrder="ngModel"
                                                        required>
                                                </mat-form-field>
                                                <div *ngIf="notepadOrder.touched || (f.submitted && notepadOrder.invalid)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="notepadOrder.errors?.required">Notepad Order is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="input_height">
                                        <div fxFlex="50%" class="module_area input_height">
                                            <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong>
                                            </mat-label>
                                        </div>
                                        <div fxFlex="50%" class="module_area input_height">
                                            <mat-form-field appearance="outline" class="date_picker_adjust top_10"
                                                [ngClass]="{ 'mandatory_input': (effectiveDate.errors?.required && (effectiveDate.touched || f.submitted)) }">
                                                <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker">
                                                </mat-datepicker>
                                                <input matInput [matDatepicker]="picker" name="effectiveDate" validDate
                                                    class="date_input_height" #effectiveDate="ngModel"
                                                    [disabled]="notepadObj.effectiveDate<today && this.notepadObj.id && isChange"
                                                    [(ngModel)]="notepadObj.effectiveDate" placeholder="DD/MM/YYYY"
                                                    required [min]="today"
                                                    (dateChange)="changeDateFormat(notepadObj.effectiveDate,notepadObj.expiryDate)" />
                                                <mat-datepicker-toggle matSuffix
                                                    (onMenuOpen)="checkForExpiryDate(notepadObj.effectiveDate)"
                                                    [for]="picker">
                                                </mat-datepicker-toggle>
                                            </mat-form-field>
                                            <div *ngIf="effectiveDate.touched || (f.submitted && effectiveDate.invalid)"
                                                class="invalid-feedback">
                                                <div *ngIf="effectiveDate.errors?.required">Effective Date is required
                                                </div>
                                                <div *ngIf="notepadObj.effectiveDate < today">Effective date cannot be less than current date</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div fxFlex="10%"></div>

                                <div fxFlex="45%">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%" class="module_area ">
                                            <mat-label><strong>Attribute Value </strong></mat-label>

                                        </div>
                                        <div fxFlex="50%" class="module_area">
                                            <mat-form-field appearance="outline" class="date_picker_adjust"
                                                [ngClass]="{ 'mandatory_input': isNotValid }">
                                                <input matInput type="text" multiple class="form-control formgroup"
                                                    uppercaseOnly [disabled]="isDisabledAttributeType" (keyup)="textCheck()"
                                                    [(ngModel)]="notepadObj.attributeValue" name="attributeValue">
                                            </mat-form-field>
                                            <div *ngIf="isNotValid" class="invalid-feedback">
                                                <div>Enter Comma Separated Two Value</div>
                                            </div>
                                        </div>
                                    </div>



                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" class="input_height">
                                        <div fxFlex="50%" class="module_area input_height">
                                            <mat-label><strong>Expiry Date </strong></mat-label>

                                        </div>
                                        <div fxFlex="50%" class="module_area input_height">
                                            <mat-form-field appearance="outline" class="date_picker_adjust"
                                                [ngClass]="{ 'mandatory_input': isVar && ((notepadObj.expiryDate<=notepadObj.effectiveDate && !notepadObj.id) || (today>notepadObj.expiryDate && notepadObj.id))  }">
                                                <mat-datepicker (opened)="checkForExpiryDate(notepadObj.effectiveDate)"
                                                    (closed)="removeMinDate(notepadObj.effectiveDate)" #myDatepicker23
                                                    panelClass="mdmDatepicker" class="date_picker">
                                                </mat-datepicker>
                                                <input matInput [matDatepicker]="myDatepicker23" #expiryDate='ngModel'
                                                    class="date_input_height" name="expiryDate" validDate
                                                    placeholder="DD/MM/YYYY" [(ngModel)]="notepadObj.expiryDate"
                                                    [min]="expiryMinDate"
                                                    (dateChange)="changeDateFormat(notepadObj.effectiveDate,notepadObj.expiryDate);"
                                                    (change)="isVar=true" />
                                                <mat-datepicker-toggle matSuffix [for]="myDatepicker23">
                                                </mat-datepicker-toggle>
                                            </mat-form-field>

                                            <div *ngIf="isVar" class="invalid-feedback">
                                                <div *ngIf=" notepadObj.expiryDate <= notepadObj.effectiveDate">
                                                    Must be Greater than Effective and Current Date.</div>
                                                <div *ngIf="today>notepadObj.expiryDate && !(notepadObj.expiryDate <= notepadObj.effectiveDate) && notepadObj.id">Must be Greater than Effective and Current Date.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="45%">
                                    <mat-grid-list cols="2" rowHeight="105px">
                                        <mat-grid-tile>
                                            <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="module_area">
                                            <mat-form-field class="select_box_dropwodn"
                                                [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                                <mat-label>Select Status</mat-label>
                                                <mat-select disableOptionCentering panelClass="anyClass"
                                                    [(ngModel)]="notepadObj.status" name="status" uppercase
                                                    #status="ngModel" required>
                                                    <mat-option [value]="1">
                                                        ACTIVE
                                                    </mat-option>
                                                    <mat-option [value]="0">
                                                        INACTIVE
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div *ngIf="status.touched || (f.submitted && status.invalid)"
                                                class="invalid-feedback">
                                                <div *ngIf="status.errors?.required">Status is required</div>
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                                <div fxFlex="10%"></div>
                                <div fxFlex="45%">
                                    <mat-grid-list cols="2" rowHeight="105px">
                                        <mat-grid-tile>
                                            <mat-label><strong>Display Value </strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="module_area" style="overflow: initial !important;">
                                            <mat-form-field appearance="outline">
                                                <textarea matInput name="Description"
                                                    [(ngModel)]="notepadObj.description" maxlength="50" (input)="notepadObj.description=$event.target.value.toUpperCase()"></textarea>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="100%">
                                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                                        <mat-grid-tile class="module_area">
                                            <button mat-flat-button class="theme_btn round_btn"
                                                [disabled]="notepadObj.status==0">Save</button>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>
                        </mat-card>
                    </form>
                </div>
                <div>
                    <mat-card class="bdr_radius_0">
                        <span class="sub_sub_heading" (click)="showNotePadTable()"
                            *ngIf="moduleobj.moduleEntityId && addtext"><span style="cursor: pointer;"
                                *ngxPermissionsOnly="['CREATE']">Add New <em
                                    class="material-icons add_btn_icon">add</em></span>
                        </span>
                        <div *ngIf="hideNotepadTable">
                            <mat-grid-list cols="5" rowHeight="30px" class=" mb_2 bg_light_grey branch_table_head">
                                <mat-grid-tile class="notepad_card font-wt-600">
                                    <mat-label>Notepad Name</mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="notepad_card font-wt-600">
                                    <mat-label>Attribute Type</mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="notepad_card font-wt-600">
                                    <mat-label>Display Value</mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="notepad_card font-wt-600">
                                    <mat-label>Status</mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="notepad_card font-wt-600"
                                    *ngxPermissionsOnly="['UPDATE','CREATE']">
                                </mat-grid-tile>
                            </mat-grid-list>

                            <div 
                                *ngFor="let note of notepadList | paginate: { itemsPerPage: 8, currentPage: p }; let i = index;">
                                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                                    <mat-grid-tile class="notepad_card">
                                        <mat-label matTooltip="{{note.notepadName}}" [matTooltipPosition]="'above'">{{note.notepadName}}</mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="notepad_card">
                                        <mat-label>{{note.attributeTypeId | showName: 'descr' : AttributeList}}
                                        </mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="notepad_card">
                                        <mat-label>{{note.description}}</mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="notepad_card">
                                        <mat-label>{{ note.status==0 ? "INACTIVE": "ACTIVE"}}</mat-label>
                                    </mat-grid-tile>
                                    <mat-grid-tile class="notepad_card">
                                        <mat-label>
                                            <mat-label>
                                                <em class="material-icons icon_btn_display icon_theme_color"
                                                    (click)="viewNotepadList(8 * (p - 1) + i)" *ngIf="note.isVisible">visibility_off</em>
                                                <em class="material-icons icon_btn_display icon_theme_color"
                                                    (click)="viewNotepadList(8 * (p - 1) + i)" *ngIf="!note.isVisible">remove_red_eye</em>
                                            </mat-label>
                                            <mat-label>
                                                <span class="mat-button-wrapper">
                                                    <em class="material-icons icon_btn_display icon_theme_color"
                                                        (click)="editNotepadData(note)">edit</em>
                                                </span>
                                            </mat-label>
                                        </mat-label>
                                    </mat-grid-tile>
                                </mat-grid-list>

                                <!-- View Notepad Data in Table CommentSection -->
                                <div *ngIf="note.isVisible">

                                    <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Notepad Name</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.notepadName}}</mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Attribute Type</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.attributeTypeId | showName: 'descr' : AttributeList}}
                                            </mat-label>
                                        </mat-grid-tile>
                                    </mat-grid-list>

                                    <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Effective Date</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.effectiveDate|dateFormat}}</mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Expiry Date</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.expiryDate|dateFormat}}</mat-label>
                                        </mat-grid-tile>
                                    </mat-grid-list>

                                    <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Attribute Identifier</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.attributeIdentifier}}</mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Attribute Value</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.attributeValue}} <br></mat-label>
                                        </mat-grid-tile>
                                    </mat-grid-list>

                                    <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Description</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{note.description}}</mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label><strong>Status</strong></mat-label>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="notepad_open_card">
                                            <mat-label>{{ note.status==0 ? "INACTIVE": "ACTIVE"}}</mat-label>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>

                            </div>
                            <mat-grid-list cols="1" rowHeight="30px" class=" mb_2 bg_light_grey"
                                *ngIf="!notepadEntityList.length">
                                <mat-grid-tile class="notepad_card text-center">
                                    <mat-label>No Data
                                        Present</mat-label>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <div class="pagination_area">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

            <!-- Add New NotePad Form CommentSection -->

        </div>



    </div>
</div>
