<div *ngxPermissionsOnly="['READ']">
	<div fxFlex="85%">
		<mat-grid-list cols="1" rowHeight="600px">
			<mat-grid-tile class="ml_grid all_form">
				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="10%"></div>
					<div fxFlex="50%">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="50%">
								<mat-grid-list cols="1" rowHeight="55px">
									<mat-grid-tile>
										<mat-label><strong>Country Name</strong></mat-label>
									</mat-grid-tile>
								</mat-grid-list>
							</div>
							<div fxFlex="50%">
								<div style="position: relative !important;">
									<em class="material-icons search_icon_dropdown">search</em>
									<ngx-select class="selection_dropdown" [items]="countryList" uppercase
										(select)="getStateByCountry()" [(ngModel)]="countryId"
										[optionTextField]="'nameWithStatus'" >
										<ng-template ngx-select-option let-option let-text="nameWithStatus">
											<span  customToolTip [tooltipMsg]="option.data.nameWithStatus">{{option.data.nameWithStatus}}</span>
										</ng-template>
									</ngx-select>
								</div>
							</div>
						</div>
					</div>
					<div fxFlex=" 40%">
						<div class="add_edit_btn">
							<em class="material-icons add_btn_icon" (click)="openCountryDialog()"
								*ngxPermissionsOnly="['CREATE']">add</em>
							<mat-label *ngIf="countryId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openCountryDialog(countryId,1)">remove_red_eye</em>
								</span>
							</mat-label>
							<mat-label *ngIf="countryId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openCountryDialog(countryId,0)"
										*ngxPermissionsOnly="['UPDATE','UPDATE']">edit</em>
								</span>
							</mat-label>

						</div>
					</div>
				</div>

				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="10%"></div>
					<div fxFlex="50%">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="50%">
								<mat-grid-list cols="1" rowHeight="55px">
									<mat-grid-tile>
										<mat-label><strong>State</strong></mat-label>
									</mat-grid-tile>
								</mat-grid-list>
							</div>
							<div fxFlex="50%">
								<div style="position: relative !important;">
									<em class="material-icons search_icon_dropdown">search</em>
									<ngx-select class="selection_dropdown" [items]="stateList" uppercase
										(select)="getDistrictByState()" [(ngModel)]="stateId"
										[optionTextField]="'nameWithStatus'" >
										<ng-template ngx-select-option let-option let-text="nameWithStatus">
											<span  customToolTip [tooltipMsg]="option.data.nameWithStatus">{{option.data.nameWithStatus}}</span>
										</ng-template>
									</ngx-select>
								</div>
							</div>
						</div>
					</div>
					<div fxFlex="40%">
						<div class="add_edit_btn">
							<div class="add_edit_btn">
								<em class="material-icons add_btn_icon" (click)="openStateDialog()"
									*ngxPermissionsOnly="['CREATE']">add</em>
								<mat-label *ngIf="stateId">
									<span class="mat-button-wrapper">
										<em class="material-icons icon_btn_display edit_btn_color"
											(click)="openStateDialog(stateId,1)">remove_red_eye</em>
									</span>
								</mat-label>
								<mat-label *ngIf="stateId">
									<span class="mat-button-wrapper">
										<em class="material-icons icon_btn_display edit_btn_color"
											(click)="openStateDialog(stateId,0)"
											*ngxPermissionsOnly="['UPDATE','CREATE']">edit</em>
									</span>
								</mat-label>
							</div>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="10%"></div>

					<div fxFlex="50%">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="50%">
								<mat-grid-list cols="1" rowHeight="55px">
									<mat-grid-tile>
										<mat-label><strong>District</strong></mat-label>
									</mat-grid-tile>
								</mat-grid-list>
							</div>
							<div fxFlex="50%">
								<div style="position: relative !important;">
									<em class="material-icons search_icon_dropdown">search</em>
									<ngx-select class="selection_dropdown" [items]="districtList" uppercase
										(select)="getCitiesByDestrict()" [(ngModel)]="districtId"
										[optionTextField]="'nameWithStatus'" >
										<ng-template ngx-select-option let-option let-text="nameWithStatus">
											<span  customToolTip [tooltipMsg]="option.data.nameWithStatus">{{option.data.nameWithStatus}}</span>
										</ng-template>
									</ngx-select>
								</div>
							</div>
						</div>
					</div>
					<div fxFlex="40%">
						<div class="add_edit_btn">
							<em class="material-icons add_btn_icon" (click)="openDistrictDialog()"
								*ngxPermissionsOnly="['CREATE']">add</em>
							<mat-label *ngIf="districtId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openDistrictDialog(districtId,1)">remove_red_eye</em>
								</span>
							</mat-label>
							<mat-label *ngIf="districtId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openDistrictDialog(districtId,0)"
										*ngxPermissionsOnly="['UPDATE','CREATE']">edit</em>
								</span>
							</mat-label>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="10%"></div>
					<div fxFlex="50%">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="50%">
								<mat-grid-list cols="1" rowHeight="55px">
									<mat-grid-tile>
										<mat-label><strong>City</strong></mat-label>
									</mat-grid-tile>
								</mat-grid-list>
							</div>
							<div fxFlex="50%">
								<div style="position: relative !important;">
									<em class="material-icons search_icon_dropdown">search</em>
									<ngx-select class="selection_dropdown" [items]="cityList"
										(select)="getPincodesByCity()" [(ngModel)]="cityId" uppercase
										[optionTextField]="'nameWithStatus'" >
										<ng-template ngx-select-option let-option let-text="nameWithStatus">
											<span  customToolTip [tooltipMsg]="option.data.nameWithStatus">{{option.data.nameWithStatus}}</span>
										</ng-template>
									</ngx-select>
								</div>
							</div>
						</div>
					</div>
					<div fxFlex="40%">
						<div class="add_edit_btn">
							<em class="material-icons add_btn_icon" (click)="openCityDialog()"
								*ngxPermissionsOnly="['CREATE']">add</em>
							<mat-label *ngIf="cityId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openCityDialog(cityId,1)">remove_red_eye</em>
								</span>
							</mat-label>
							<mat-label *ngIf="cityId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openCityDialog(cityId,0)"
										*ngxPermissionsOnly="['UPDATE','CREATE']">edit</em>
								</span>
							</mat-label>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="10%"></div>
					<div fxFlex="50%">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
							<div fxFlex="50%">
								<mat-grid-list cols="1" rowHeight="55px">
									<mat-grid-tile>
										<mat-label><strong>Pincode</strong></mat-label>
									</mat-grid-tile>
								</mat-grid-list>
							</div>
							<div fxFlex="50%">
								<div style="position: relative !important;">
									<em class="material-icons search_icon_dropdown">search</em>
									<ngx-select class="selection_dropdown" [items]="pincodeList" [(ngModel)]="pincodeId" uppercase
										[optionTextField]="'nameWithStatus'" >
										<ng-template ngx-select-option let-option let-text="nameWithStatus">
											<span  customToolTip [tooltipMsg]="option.data.nameWithStatus">{{option.data.nameWithStatus}}</span>
										</ng-template>
									</ngx-select>
								</div>
							</div>
						</div>
					</div>

					<div fxFlex="40%">
						<div class="add_edit_btn">
							<em class="material-icons add_btn_icon" (click)="openPinCodeDialog()"
								*ngxPermissionsOnly="['CREATE']">add</em>
							<mat-label *ngIf="pincodeId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openPinCodeDialog(pincodeId,1)">remove_red_eye</em>
								</span>
							</mat-label>
							<mat-label *ngIf="pincodeId">
								<span class="mat-button-wrapper">
									<em class="material-icons icon_btn_display edit_btn_color"
										(click)="openPinCodeDialog(pincodeId,0)"
										*ngxPermissionsOnly="['UPDATE','CREATE']">edit</em>
								</span>
							</mat-label>
						</div>
					</div>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>