<div class="modal-container">
    <div class="mat-dialog-header">
        <h4 class="margin-zero"><strong>Switch Branch</strong></h4>
        <em class="fa fa-times modal-close" [mat-dialog-close]="true"></em>
    </div>
    <hr>
    <div class="mat-dialog-content">
        <div class="row">
            <div class="col-md-2">
                <label for="" class="control-label">Search Branch</label>
            </div>
            <div class="col-md-4">
                <div class="searchbar_bw">
                    <mat-form-field appearance="outline">
                      <input matInput name="rateCardCode" class="form-control" placeholder="Search Associate">
                    </mat-form-field>
                    <em class="fa fa-search"></em>
                  </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table  aria-describedby="table"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <ng-container matColumnDef="radio">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1"></mat-radio-button>
                                </mat-radio-group>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="waybill">
                            <th mat-header-cell *matHeaderCellDef> Branch Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.waybill}} </td>
                        </ng-container>

                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Branch Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef> Address </th>
                            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>