<div class="modal-container">
    <h5 class="sub_heading">Search Branch</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="false">
        cancel
    </em>
    <hr class="border_row">
    <div>
        <div class="add_branch_main">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" style="text-align: center;">
                <!-- <div fxFlex="25%">
                    <mat-label><strong>State</strong></mat-label>
				</div> -->
                 <div fxFlex="23%" *ngIf="isAllignCenter"></div>
                <div fxFlex="20%">
                    <div class="all_branch_select">
						<mat-select disableOptionCentering panelClass="anyClass" class="bg_theme pd_4_modal" [(ngModel)]="searchObj.criteria" (selectionChange)="branchAdvanceSearch('clearPrev')">
							<mat-option value="branchName">
								Name
							</mat-option>
							<mat-option value="REGION">
								Region
							</mat-option>
							<mat-option value="AREA">
								Area
							</mat-option>
							<mat-option value="type">
								Type
							</mat-option>
							<mat-option value="pincode">
								Pincode
							</mat-option>
						</mat-select>
					</div>
				</div>
                <div fxFlex="30%" *ngIf="changeType=='branchName'">
                     <div class="search_branch_detail" style="position: relative;">
                        <em class="material-icons search_icon_bar">search</em>
                        <mat-form-field appearance="outline">
                            <input matInput (input)="searchObj.value=$event.target.value.toUpperCase()" class="form-control pd_left_22" name="pincodeSearch" (keyup)="clearSearch()"  [(ngModel)]="searchObj.value" (keyup.enter)="branchAdvanceSearch()">
                        </mat-form-field>
                         <div class="invalid-feedback" *ngIf="strLengthValid">
							Enter Minimum 3 Characters
						</div>
                    </div>
                </div>
                <div fxFlex="30%" *ngIf="changeType=='REGION' || changeType=='AREA'">
                     <div class="search_branch_detail" style="position: relative;">
                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                           msInfiniteScroll (infiniteScroll)="branchAdvanceSearch()" #selectSesarchValue
                        (selectionChange)="searchByRegionArea(searchObj.criteria,selectSesarchValue.value,'getbranchType')">
                                            <ngx-mat-select-search [(ngModel)]="branchNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="branch.branchId" *ngFor="let branch of branchDropdown | stringFilter:branchNameSearchCtrl:'branchCode' | sortBy:'branchCode'"
                                                matTooltip=" {{ branch.branchCode }}"
                                                [matTooltipPosition]="'above'">
                                                {{  branch.branchCode }}
                                            </mat-option>
                                        </mat-select>
                        <!--<<mat-select disableOptionCentering panelClass="anyClass"
                        msInfiniteScroll (infiniteScroll)="branchAdvanceSearch()" #selectSesarchValue
                        (selectionChange)="searchByRegionArea(searchObj.criteria,selectSesarchValue.value,'getbranchType')">
							mat-option [value]="branch.branchId" *ngFor="let branch of branchDropdown">
								{{branch.branchCode}}
							</mat-option>
						</mat-select>-->
                    </div>
                </div>
                <div fxFlex="30%" *ngIf="changeType=='type'">
                     <div class="search_branch_detail" style="position: relative;">
                     <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22"
                                           #selectSesarchValue 
                                           (selectionChange)="searchByRegionArea('branchtype',selectSesarchValue.value,'getbranchType')">
                                            <ngx-mat-select-search [(ngModel)]="typetNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option  [value]="type" *ngFor="let type of branchDropdown | stringFilter:typetNameSearchCtrl:'type'"
                                                matTooltip=" {{ type }}"
                                                [matTooltipPosition]="'above'">
                                                {{  type }}
                                            </mat-option>
                                        </mat-select>
                        <!--<mat-select disableOptionCentering panelClass="anyClass" #selectSesarchValue (selectionChange)="searchByRegionArea('branchtype',selectSesarchValue.value,'getbranchType')">
							<mat-option [value]="type" *ngFor="let type of branchDropdown">
								{{type}}
							</mat-option>
						</mat-select>-->
                    </div>
                </div>
                <div fxFlex="30%" *ngIf="changeType=='pincode'">
					 <div class="search_branch_detail" style="position: relative;">
						<div *ngIf="!pincodeList.length">
							<em class="material-icons search_icon_bar">search</em>
							<mat-form-field appearance="outline">
								<input matInput appNumbersOnly (input)="pincode=$event.target.value.toUpperCase()" class="form-control pd_left_22" name="pincodeSearch" (keyup)="clearSearch()"  [(ngModel)]="pincode" (keyup.enter)="searchPincode()" placeholder="110044">
							</mat-form-field>
							<div class="invalid-feedback" *ngIf="strPincodeLengthValid">
								Enter Minimum 3 Characters
							</div>
						</div>
						<mat-select *ngIf="pincodeList.length" disableOptionCentering panelClass="anyClass multipleAnyClass_search_2" class="search_select_branch mr_top_22"  name="branchPincodes"  
							(selectionChange)="searchByRegionArea('pincode',branchPincodes.value,'getbranchType')" #branchPincodes >
							<ngx-mat-select-search [(ngModel)]="pincodeSearch"
								[placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'" name="search">
								<mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">
									search
								</mat-icon>
							</ngx-mat-select-search>
							<mat-option [value]="object.pincode"
								*ngFor="let object of pincodeList | stringFilter:pincodeSearch:'pincode' | sortBy:'pincode'"
								[matTooltip]="object.pincode" [matTooltipPosition]="'above'">
								{{object.pincode}}
							</mat-option>
						</mat-select>
                    </div>
                </div>
			</div>
			<div *ngIf="showTable" >
				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="100%">
                         <div fxFlex="28%" *ngIf="isAllignCenter"></div>
						<div fxFlex="21%">
							<div class="search_branch_detail" style="position: relative;">
							<label for="" style="margin:0 5px 0 0">Search Branch</label>
						</div>
					</div>
						<div fxFlex="25%">
							<div class="search_branch_detail" style="position: relative;">
							<em class="material-icons search_icon_bar">search</em>
							<mat-form-field appearance="outline">
								<input matInput class="form-control pd_left_22" name="pincodeSearch" [(ngModel)]="localSearch"  (input)="localSearch=$event.target.value.toUpperCase()" >
							</mat-form-field>
						</div>
					</div>
					<div fxFlex="30%"></div>


					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
					<div fxFlex="100%">
						<div class="card_body1">
							<div class="mat-table mat_table_main">
								<div class="mat-row bg bg_light_grey table_main_header table_fixed">
									<div class="mat-cell mat_cell_head upper-case">BRANCH CODE</div>
									<div class="mat-cell mat_cell_head upper-case">BRANCH NAME</div>
									<div class="mat-cell mat_cell_head upper-case">ADDRESS</div>
									<div class="mat-cell mat_cell_head upper-case">REGION</div>
									<div class="mat-cell mat_cell_head upper-case">TYPE</div>
								</div>
								<div>
									<div >
										<div class="mat-row branch_table_dis bg_branch_geay" *ngFor="let branch of tableBranchList | stringFilter:localSearch:'branchName';let i=index">
											<div class="mat-cell table_color hyperlink dislay_flex">
												 <mat-radio-group aria-label="Select an option" class="pd_00"
                                                    [(ngModel)]="branch.checked"
                                                    name="minFrieghtFlg" #minFrieghtFlg="ngModel" required>
                                                    <mat-radio-button [value]="true" class="radio_button_pr">
                                                    </mat-radio-button>
                                                </mat-radio-group>
												<span class="adjust_text_overflow" [matTooltip]="branch.branchCode" [matTooltipPosition]="'above'">{{branch.branchCode}}</span>
											</div>
											<div class="mat-cell table_color hyperlink dislay_flex"  [matTooltip]="branch.branchName" [matTooltipPosition]="'above'">
												<span class="adjust_text_overflow">{{branch.branchName}}</span>
											</div>
											<div class="mat-cell table_color hyperlink dislay_flex" [matTooltip]="branch.addressWithPincodeName ?  branch.addressWithPincodeName : branch.address"
												[matTooltipPosition]="'above'">
												<em class="material-icons icon_theme_color table_color">room </em>
											</div>
											<div class="mat-cell table_color hyperlink dislay_flex">
												{{branch.regionBranch}}
											</div>
											<div class="mat-cell table_color hyperlink dislay_flex">
												{{branch.branchTypeId | showName:'branchType':branchTypes}}
											</div>

										</div>
										<div class="mat-cell  upper-case text-center" style="text-align: center !important;" *ngIf="tableBranchList.length==0">
											Not Data Present
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <br>
            <div *ngIf="showTable && tableBranchList.length" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <div class="branch_next_btn">
                        <button mat-button (click)="selectedName()">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
