<div class="modal-container">
    <h5 class="sub_heading">Edit Lookup Value</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <div>
        <div class=" all_form dialog_scroll">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Lookup Value</strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline">
                                <input matInput uppercase name="lookupVal"  [disabled]="lookupValueObj.id" [(ngModel)]="lookupValueObj.lookupVal"
                                    class="form-control">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div fxFlex="10%"></div>
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Select Parent Value</strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field class="select_box_dropwodn">
                            <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" [disabled]=" lookupValueObj.lookupTypeId && lookupValueObj.id" 
                                            [(ngModel)]="lookupValueObj.lookupTypeId" name="lookupTypeId">
                                            <ngx-mat-select-search [(ngModel)]="lookupTypeNameSearchCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="lookup.id"
                                                             *ngFor="let lookup of lookupList | stringFilter:lookupTypeNameSearchCtrl:'lookupType' | sortBy:'lookupType'"
                                                matTooltip=" {{ lookup.lookupType }}"
                                                [matTooltipPosition]="'above'">
                                                {{  lookup.lookupType }}
                                            </mat-option>
                                        </mat-select>
                                <!--<mat-select disableOptionCentering panelClass="anyClass"
                                    [(ngModel)]="lookupValueObj.lookupTypeId" name="lookupTypeId">
                                    <mat-option [value]="lookup.id" *ngFor="let lookup of lookupList" matTooltip="{{lookup.lookupType}}" [matTooltipPosition]="'above'">
                                        {{lookup.lookupType}}
                                    </mat-option>
                                </mat-select>-->
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Effective Date </strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline" class="date_picker_adjust top_10">
                                <mat-datepicker #picker panelClass="mdmDatepicker" class="date_picker"></mat-datepicker>
                                <input matInput  [matDatepicker]="picker" name="effectiveDt" (blur)="effDate()" (dateChange)="effDate()"
                                    class="date_input_height" [min]="minDate" placeholder="DD/MM/YYYY"
                                    validDate [(ngModel)]="lookupValueObj.effectiveDt">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div fxFlex="10%"></div>
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Expiry Date</strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline" class="date_picker_adjust"
                                [ngClass]="{ 'mandatory_input': expDt.invalid }">
                                <mat-datepicker #myDatepicker23 panelClass="mdmDatepicker" class="date_picker">
                                </mat-datepicker>
                                <input matInput  [matDatepicker]="myDatepicker23" (blur)="expDate()"
                                    (dateChange)="expDate()" class="date_input_height" name="expDt" #expDt="ngModel"
                                    validDate [min]="lookupValueObj.effectiveDt" placeholder="DD/MM/YYYY"
                                    [(ngModel)]="lookupValueObj.expDt">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker23"></mat-datepicker-toggle>
                            </mat-form-field>
                            <div *ngIf="expDt.invalid" class="invalid-feedback">
                                <div>Must be Greater than Effective and Current Date.</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Display Value</strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field appearance="outline">
                                <input matInput uppercase name="descr" class="form-control"
                                    [(ngModel)]="lookupValueObj.descr">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div fxFlex="10%"></div>
                <div fxFlex="45%">
                    <mat-grid-list cols="2" rowHeight="55px">
                        <mat-grid-tile>
                            <mat-label><strong>Status</strong></mat-label>
                        </mat-grid-tile>
                        <mat-grid-tile class="module_area">
                            <mat-form-field class="select_box_dropwodn">
                                <mat-select disableOptionCentering panelClass="anyClass" name="status"
                                    [(ngModel)]="lookupValueObj.status" uppercase>
                                    <mat-option [value]="1">
                                        ACTIVE
                                    </mat-option>
                                    <mat-option [value]="0">
                                        INACTIVE
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                        <mat-grid-tile class="module_area">
                            <button mat-flat-button class="theme_btn round_btn"
                                (click)="updatelookupValue()">ADD</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>
</div>
