<div class="modal-container">
    <h5 class="sub_heading">{{segmentObj.id ? "Edit": "Add"}} Sub Segment</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && addSegment()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-card>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="45%">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%">
                                            <mat-label><strong>Segment Name</strong></mat-label>
                                        </div>
                                        <div fxFlex="50%">
                                            <div rowHeight="75px">
                                                <mat-form-field class="select_box_dropwodn">
                                                    <input matInput name="segmentName"
                                                        [(ngModel)]="segmentObj.segmentName" class="form-control"
                                                        (input)="segmentObj.segmentName=$event.target.value.toUpperCase()">
                                                </mat-form-field>

                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%">
                                            <mat-label><strong>Effective Date</strong></mat-label>
                                        </div>
                                        <div class="module_area" fxFlex="50%">
                                            <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                                <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker"
                                                    class="date_picker_rate_group_1">
                                                </mat-datepicker>
                                                <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2"
                                                    class="date_adjust">
                                                </mat-datepicker-toggle>
                                                <input matInput [matDatepicker]="date_picker_rate_group_2" validDate
                                                    (blur)="effDate()" (dateChange)="effDate()"
                                                    class="date_input_height date_picker_input" [min]="minDate"
                                                    [(ngModel)]="segmentObj.effectiveDt" name="effectiveDt"
                                                    placeholder="DD/MM/YYYY">

                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex="10%"></div>

                                <div fxFlex="45%">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%">
                                            <mat-label><strong>Expiry Date</strong></mat-label>
                                        </div>
                                        <div class="module_area" fxFlex="50%">
                                            <mat-form-field appearance="outline" class="date_picker_adjust pd_8"
                                                [ngClass]="{ 'mandatory_input': expDt.invalid }">
                                                <mat-datepicker #date_picker_service_line panelClass="mdmDatepicker"
                                                    class="date_picker_rate_group_1"
                                                    (closed)="removeMinDate(segmentObj.effectiveDt)">
                                                </mat-datepicker>
                                                <mat-datepicker-toggle matSuffix [for]="date_picker_service_line"
                                                    class="date_adjust">
                                                </mat-datepicker-toggle>
                                                <input matInput [matDatepicker]="date_picker_service_line" validDate
                                                    class="date_input_height date_picker_input" (blur)="expDate()"
                                                    (dateChange)="expDate()" [required]="isInactive"
                                                    [min]="segmentObj.effectiveDt" [(ngModel)]="segmentObj.expDt"
                                                    #expDt="ngModel" name="expDt" placeholder="DD/MM/YYYY"
                                                    (change)="isVar=true">

                                            </mat-form-field>
                                            <!-- <div *ngIf="expDt.invalid" class="invalid-feedback">
                                                <div>Must be Greater than Effective and Current Date.</div>
                                            </div>
                                            <div *ngIf="f.submitted && expDt.invalid && !isVar" class="invalid-feedback">
                                                <div *ngIf="segmentObj.expDt && segmentObj.expDt< currentDate">Must be Greater than Effective and Current Date</div>
                                            </div> -->


                                            <div *ngIf="isVar" class="invalid-feedback">
                                                <div *ngIf="segmentObj.expDt<=segmentObj.effectiveDt">
                                                    Must be Greater than Effective and Current Date. {{isVar}}</div>
                                                <div
                                                    *ngIf="currentDate>segmentObj.expDt && !(segmentObj.expDt <= segmentObj.effectiveDt) && segmentObj.id">
                                                    Must be Greater than Effective and Current Date.  {{isVar}}</div>
                                            </div>
                                            <div *ngIf="f.submitted && expDt.invalid && !isVar"
                                                class="invalid-feedback">
                                                <div *ngIf="segmentObj.expDt && segmentObj.expDt< currentDate">Must be
                                                    Greater than Effective and Current Date  {{isVar}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                                <div fxFlex="45%">

                                    <div fxFlex="50%">
                                        <mat-label><strong>Status</strong></mat-label>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-grid-list cols="1" rowHeight="53px">
                                            <mat-grid-tile class="module_area">
                                                <mat-form-field class="select_box_dropwodn">
                                                    <mat-select disableOptionCentering panelClass="anyClass" uppercase
                                                        [(ngModel)]="segmentObj.status" name="status">
                                                        <mat-option [value]="1">
                                                            ACTIVE
                                                        </mat-option>
                                                        <mat-option [value]="0">
                                                            INACTIVE
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <div fxFlex="10%"></div>
                                <div fxFlex="45%">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                        <div fxFlex="50%">
                                            <mat-label><strong>Display Name</strong></mat-label>
                                        </div>
                                        <div class="module_area" fxFlex="50%">
                                            <mat-form-field appearance="outline">
                                                <input matInput [(ngModel)]="segmentObj.desc"
                                                    (input)="segmentObj.desc=$event.target.value.toUpperCase()"
                                                    class="form-control" name="desc">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                                <div fxFlex="100%">
                                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                                        <mat-grid-tile class="module_area">
                                            <button mat-flat-button class="theme_btn round_btn">Save</button>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>