hr{
    margin-top: 0;
}
.greenTab:hover {
    text-decoration: underline;
}
.whiteTab:hover{
    text-decoration: underline;
}

.custom-timepicker-class{
    position: relative;
    z-index: 99;
}