<div *ngIf="!addGst">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
        <div fxFlex="18%"><h3 class="grid_title">GST:</h3></div>
        <div fxFlex="82%"><form autocomplete="off">
                <div class="hdr_srch_field">
                    <span matPrefix><em class="material-icons search_icon" (click)="searchGstType($event)">search</em></span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-form-field appearance="outline">
                                <input matInput name="gstType" (keyup)="clearSearch()"  (input)="gstType=$event.target.value.toUpperCase()" 
                                    (keyup.enter)="searchGstType($event)" [(ngModel)]="gstType">
                            </mat-form-field>
                        </div>
                        <div fxFlex="10%">
                            <button (click)="addGst=true;strLengthValid=false;clearObj()" type="button" mat-button class="add_btn" 
                                *ngxPermissionsOnly="['CREATE']"><em class="material-icons">add</em></button>
                        </div>
                          <div class="invalid-feedback" *ngIf="strLengthValid">
                            Enter Minimum 3 Characters
                        </div>
                    </div>
                </div>
            </form></div>
    </div>
    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
        <div fxFlex="18%">
            
            <h3 class="grid_title mr_top_30">GST Details:</h3>
        </div>
        <div fxFlex="82%">
            
            <mat-card class="card_body">
                <div class="mat-table mat_table_main">
                    <div class="mat-row bg bg_light_grey table_main_header">
                        <div class="mat-cell mat_cell_head upper-case">GST Name</div>
                        <div class="mat-cell mat_cell_head upper-case">GST Value</div>
                        <div class="mat-cell mat_cell_head upper-case">Status</div>
                        <div class="mat-cell"></div>
                    </div>
                    <div class="mat-row bg_light_grey"
                        *ngFor="let gst of gstList | paginate: { itemsPerPage: 10, currentPage: p };let i=index">
                        <div class="mat-cell upper-case  table_color hyperlink upper-case" [matTooltip]="gst.gstName" [matTooltipPosition]="'above'">
                            {{gst.gstName}} </div>
                        <div class="mat-cell upper-case"> {{gst.gstVal}}%</div>
                        <div class="mat-cell"> {{gst.status==1 ? "Active" : "Inactive"}} </div>
                        <div class="mat-cell mat_cell_icon">
                              <mat-label><em class="material-icons icon_btn_display icon_theme_color"
                                    (click)="View(gst,1)">remove_red_eye</em>
                            </mat-label> <em class="material-icons icon_btn_display icon_theme_color"  (click)="editGst(gst.gstName)"
                                *ngxPermissionsOnly="['CREATE','UPDATE']">edit</em>
                           
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey" *ngIf="!gstList.length">
                        <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data
                            Present
                        </div>
                    </div>
                </div>
                <div class="pagination_area">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </mat-card>
        </div>

    </div>
</div>
<div *ngIf="addGst">
    <div class="all_form">
        <div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="7%">
                    <mat-label><strong>GST Name:</strong></mat-label>

                </div>
                <div fxFlex="30%">
                    <mat-form-field appearance="outline">
                        <input matInput name="descr" [(ngModel)]="gstObj.gstName" [disabled]="gstObj.id || isdisabled" (input)="gstObj.gstName=$event.target.value.toUpperCase()"
                            (keyup)="searchGstName()" class="form-control" maxlength="50">
                    </mat-form-field>
                     <div class="invalid-feedback2 text-center" *ngIf="enterGst">
                                    Please Enter GST Name
                                </div>
                </div>

                <div fxFlex="43"></div>
                <div fxFlex="20%">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="100%">
                            <mat-grid-list cols="1" rowHeight="53px">
                                <mat-grid-tile>
                                    <mat-label><strong>Current Value: {{gstObj.gstVal ? gstObj.gstVal : "0"}}%</strong></mat-label>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="50%">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="100%" *ngxPermissionsOnly="['CREATE']">
                            <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%" *ngIf="!submitPermission">
                                <div fxFlex="13%">
                                    <mat-label><strong>Add GST:</strong></mat-label>
                                </div>
                                <div fxFlex="10%" style="position: relative;">
                                    <button mat-button class="add_btn left_00" ><em class="material-icons" 
                                            (click)="editModalOpen()">add</em></button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <br>

                </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-card class="card_body">
                        <div class="mat-table mat_table_main">
                            <div class="mat-row bg bg_light_grey table_main_header">
                                <div class="mat-cell mat_cell_head upper-case">GST value</div>
                                <div class="mat-cell mat_cell_head upper-case">cgst</div>
                                <div class="mat-cell mat_cell_head upper-case">sgst</div>
                                <div class="mat-cell mat_cell_head upper-case">igst</div>
                                <div class="mat-cell mat_cell_head upper-case">effective Date</div>
                                <div class="mat-cell mat_cell_head upper-case">Expiry Date</div>
                                <div class="mat-cell mat_cell_head upper-case">Status</div>
                            </div>
                            <div class="mat-row bg_light_grey"
                                *ngFor="let gst of gstNameList;let i=index">
                                <div class="mat-cell upper-case"> {{gst.gstVal}}%</div>
                                <div class="mat-cell">{{gst.cgstVal ? gst.cgstVal:"NA"}}{{gst.cgstVal ? "%":""}}</div>
                                <div class="mat-cell">{{gst.sgstVal ? gst.sgstVal :"NA"}}{{gst.sgstVal ? "%" :""}}</div>
                                <div class="mat-cell">{{gst.igstVal ? gst.igstVal : "NA"}}{{gst.igstVal ? "%" : ""}}
                                </div>
                                <div class="mat-cell">{{gst.effectiveDt}}</div>
                                <div class="mat-cell">{{gst.expDt ? gst.expDt : '-'}}</div>
                                <div class="mat-cell">{{gst.status==1 ? "Active" : "Inactive"}}</div>
                            </div>
                            <div class="mat-row bg_light_grey" *ngIf="!gstNameList.length">
                                <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No
                                    Data
                                    Present
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

            </div>
            <br>
            <br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                        <mat-grid-tile class="module_area">
                            <button mat-flat-button class="theme_btn round_btn" (click)="addGst=false" *ngIf="submitPermission">Back</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>
</div>