<div *ngIf="!allVehicleModel">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
        <div fxFlex="18%">
            <h3 class="grid_title">Vehicle Make</h3>
        </div>
        <div fxFlex="82%">
            <form autocomplete="off">
                <div class="hdr_srch_field">
                    <span matPrefix><em class="material-icons search_icon">search</em></span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-form-field appearance="outline">
                                <input matInput uppercase name="logicticName">
                            </mat-form-field>
                        </div>
                        <div fxFlex="10%">
                            <button (click)="addVehicleModelPopup()" type="button" mat-button class="add_btn"><em
                                    class="material-icons">add</em></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div>
        <div class="all_form">
            <div class="mat-table mat_table_main">
                <div class="mat-row bg bg_light_grey table_main_header">
                    <div class="mat-cell mat_cell_head">Vehicle Model</div>
                    <div class="mat-cell mat_cell_head">Vehicle Make</div>
                    <div class="mat-cell mat_cell_head">Fuel Type</div>
                    <div class="mat-cell mat_cell_head">Status</div>
                    <div class="mat-cell"></div>
                </div>
                <div class="main_scrollbar">
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey">
                        <div class="mat-cell"> Tata Prima</div>
                        <div class="mat-cell">TATA</div>
                        <div class="mat-cell">Diesel</div>
                        <div class="mat-cell">ACTIVE</div>
                        <div class="mat-cell mat_cell_icon">
                            <button mat-button (click)="viewVehicleModelDetails()"><em
                                    class="material-icons icon_theme_color">remove_red_eye</em></button>
                            <button mat-button (click)="editVehicleModelPopup()"><em
                                    class="material-icons icon_theme_color">edit</em></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div *ngIf="vehicleModelDetails">
    <div>
        <div class=" all_form">
            <h3 class="zone_title">Vehicle Details</h3>
            <mat-grid-list cols="5" rowHeight="30px" class=" mb_2 bg_light_grey">
                <mat-grid-tile class="notepad_card">
                    <mat-label>Vehicle Model</mat-label>
                </mat-grid-tile>
                <mat-grid-tile class="notepad_card">
                    <mat-label>Vehicle Make</mat-label>
                </mat-grid-tile>
                <mat-grid-tile class="notepad_card">
                    <mat-label>Fuel Type</mat-label>
                </mat-grid-tile>
                <mat-grid-tile class="notepad_card">
                    <mat-label>Status</mat-label>
                </mat-grid-tile>
            </mat-grid-list>

            <div class="main_scrollbar">
                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA Prima</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card upper-case">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Vehicle Model</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>Tata Prima</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Vehicle Make</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Vehicle Type</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>Truck</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Fuel Type</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>



                <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Cargo Capacity</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>4.3 Ton - 12 Ton</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Mileage</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>10.0 kmpl</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Axle Number</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>Ax1234</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Status</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Effective Date</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>20-10-2019</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Expiry Date</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>20-10-2020</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="4" rowHeight="30px" class="mb_2">
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label><strong>Description</strong></mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_open_card">
                        <mat-label>Safexpress Offers A Wide Range</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Tata Texa</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Tata Texa</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Tata Texa</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Tata Texa</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Tata Texa</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="5" rowHeight="30px" class="mb_2 bg_light_grey">
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Tata Texa</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>TATA</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>Diesel</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>ACTIVE</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile class="notepad_card">
                        <mat-label>
                            <mat-label><button mat-button><em
                                        class="material-icons icon_theme_color">remove_red_eye</em></button>
                            </mat-label>
                            <mat-label><button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                            </mat-label>
                        </mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>


        <!-- Add city Section -->
    </div>
</div>

<div *ngIf="addVehicleModel">
    <div class="all_form">
        <h3 class="zone_title">Vehicle Details</h3>
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="45%">

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Make</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="TATA">
                                                    TATA
                                                </mat-option>
                                                <mat-option value="VOLVO">
                                                    VOLVO
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Type</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="CAR">
                                                    CAR
                                                </mat-option>
                                                <mat-option value="TRUCK">
                                                    TRUCK
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Cargo Capacity</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="4.3 Ton - 10.2 Ton">
                                                    4.3 Ton - 10.2 Ton
                                                </mat-option>
                                                <mat-option value="2.3 Ton - 5.2 Ton">
                                                    2.3 Ton - 5.2 Ton
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Axie Number</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Effective Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8 ">
                                    <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_rate_group_2"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div fxFlex="10%"></div>

                    <div fxFlex="45%">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Vehicle Model</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="Prima">
                                                    Prima
                                                </mat-option>
                                                <mat-option value="Activa">
                                                    Activa
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Fuel Type</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="Diesel">
                                                    Diesel
                                                </mat-option>
                                                <mat-option value="Petrol">
                                                    Petrol
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Mileage</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                            <div fxFlex="50%">
                                <mat-label><strong>Status</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-grid-list cols="1" rowHeight="53px">
                                    <mat-grid-tile class="module_area">
                                        <mat-form-field class="select_box_dropwodn">
                                            <mat-select disableOptionCentering panelClass="anyClass">
                                                <mat-option value="ACTIVE">
                                                    ACTIVE
                                                </mat-option>
                                                <mat-option value="INACTIVE">
                                                    INACTIVE
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-label><strong>Expiry Date</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%" rowHeight="53px">
                                <mat-form-field appearance="outline" class="date_picker_adjust pd_8">
                                    <mat-datepicker #date_picker_service_line panelClass="mdmDatepicker"
                                        class="date_picker_rate_group_1">
                                    </mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="date_picker_service_line"
                                        class="date_adjust">
                                    </mat-datepicker-toggle>
                                    <input matInput uppercase [matDatepicker]="date_picker_service_line"
                                        class="date_input_height" class="date_picker_input" placeholder="DD/MM/YYYY">

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">

                    <div fxFlex="45%">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="50%" rowHeight="53px">
                                <mat-label><strong>Description</strong></mat-label>
                            </div>
                            <div class="module_area" fxFlex="50%">
                                <mat-form-field appearance="outline">
                                    <input matInput uppercase name="rateCardCode" class="form-control">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="10%"></div>
                    <div fxFlex="45%">
                    </div>
                </div>
                <br>
                <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn">Save</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>