<div class="all_form">
       <mat-card class="card_mb" *ngIf="!showRoute">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
               <div fxFlex="18%" class="route_details_h">
          <div class="pin_branch_mapping">
            <h3>Route</h3>
          </div>
          <div class="pin_branch_mapping">
            <h3>Route Details</h3>
          </div>
        </div>
        <div fxFlex="82%">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
            <div fxFlex="25%">
              <div class="add_branch_main brnach_add_assign route_searchbar">
                <em class="material-icons search_bar">search</em>
                <mat-form-field appearance="outline">
                  <input class="form-control" matInput name="rateCardCode">
                </mat-form-field>
                <button type="button" mat-button class="add_btn" (click)="showRoute=true"><em
                    class="material-icons">add</em></button>
              </div>
            </div>
          </div>
          <div class="all_branch_right manage_route_table route_tale_inhancement">
            <div class="mat-table">
              <div class="mat-row branch_table_head">
                <div class="mat-cell"><strong>Route Code</strong></div>
                <div class="mat-cell"><strong>Source</strong></div>
                <div class="mat-cell"><strong>Destination</strong></div>
                <div class="mat-cell"><strong>Effective date</strong></div>
                <div class="mat-cell"><strong>Expiry Date</strong></div>
                <div class="mat-cell"></div>
              </div>
              <div class="mat-row branch_table_dis">
                <div class="mat-cell">Route1234</div>
                <div class="mat-cell">DL 11</div>
                <div class="mat-cell">BLG12</div>
                <div class="mat-cell">27/07/2020</div>
                <div class="mat-cell">30/07/2020</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                  <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row branch_table_dis">
                <div class="mat-cell">Route1234</div>
                <div class="mat-cell">DL 11</div>
                <div class="mat-cell">BLG12</div>
                <div class="mat-cell">27/07/2020</div>
                <div class="mat-cell">30/07/2020</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                  <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row branch_table_dis">
                <div class="mat-cell">Route1234</div>
                <div class="mat-cell">DL 11</div>
                <div class="mat-cell">BLG12</div>
                <div class="mat-cell">27/07/2020</div>
                <div class="mat-cell">30/07/2020</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                  <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                </div>
              </div>
              <div class="mat-row branch_table_dis">
                <div class="mat-cell">Route1234</div>
                <div class="mat-cell">DL 11</div>
                <div class="mat-cell">BLG12</div>
                <div class="mat-cell">27/07/2020</div>
                <div class="mat-cell">30/07/2020</div>
                <div class="mat-cell mat_cell_icon">
                  <button mat-button><em class="material-icons icon_theme_color">remove_red_eye</em></button>
                  <button mat-button><em class="material-icons icon_theme_color">edit</em></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  
<section *ngIf="showRoute">
  <div class="container">
    <mat-card class="card_mb">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
        <div fxFlex="100%">
          <div class="add_branch_main">
            <div class="create_branch">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Route Code</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline">
                    <input class="form-control" matInput name="rateCardCode">
                  </mat-form-field>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="15%">
                  <mat-label><strong>Route Name:</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline">
                    <input class="form-control" matInput name="rateCardCode">
                  </mat-form-field>
                  <!-- <mat-select disableOptionCentering panelClass="anyClass" class="mat_select">
                    <mat-option value="dfsdgfsgsgsg">
                      Surface
                    </mat-option>
                    <mat-option value="dfsdgfsgsgsg">
                      Comming Soon
                    </mat-option>
                  </mat-select> -->
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Source Branch</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <div class="search_branch_detail">
                    <em class="material-icons search_icon">search</em>
                    <mat-form-field appearance="outline" class="search_form_route">
                      <input class="form-control" matInput name="rateCardCode" (click)="routeAdvencedSearch()"  readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="15%">
                  <mat-label><strong>Mode of Dispatch:</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-select disableOptionCentering panelClass="anyClass" class="mat_select">
                    <mat-option value="dfsdgfsgsgsg">
                      Air
                    </mat-option>
                    <mat-option value="dfsdgfsgsgsg">
                      Air
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Route Category</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline">
                    <input class="form-control" matInput name="rateCardCode">
                  </mat-form-field>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="15%">
                  <mat-label><strong>Destination Branch:</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <div class="search_branch_detail">
                    <em class="material-icons search_icon">search</em>
                    <mat-form-field appearance="outline" class="search_form_route">
                      <input class="form-control" matInput name="rateCardCode"  (click)="routeAdvencedSearch()"  readonly>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Effective Date</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline" class="date_picker_adjust">
                    <mat-datepicker #branchEffective panelClass="mdmDatepicker" class="date_picker"></mat-datepicker>
                    <input matInput uppercase [matDatepicker]="branchEffective" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="branchEffective"></mat-datepicker-toggle>
                  </mat-form-field>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="15%">
                  <mat-label><strong>Total Kms</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline">
                    <input class="form-control" matInput name="rateCardCode">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Description</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline">
                    <input class="form-control" matInput name="rateCardCode">
                  </mat-form-field>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="15%">
                  <mat-label><strong>Expiry Date:</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline" class="date_picker_adjust">
                    <mat-datepicker #branchExpiry panelClass="mdmDatepicker" class="date_picker"></mat-datepicker>
                    <input matInput uppercase [matDatepicker]="branchExpiry" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="branchExpiry"></mat-datepicker-toggle>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Status</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-select disableOptionCentering panelClass="anyClass" class="mat_select">
                    <mat-option value="dfsdgfsgsgsg">
                      ACTIVE
                    </mat-option>
                    <mat-option value="dfsdgfsgsgsg">
                      ACTIVE
                    </mat-option>
                  </mat-select>
                </div>
                <div fxFlex="30%"></div>
                <div fxFlex="15%">
                  <mat-label><strong>Route Cost:</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-form-field appearance="outline">
                    <input class="form-control" matInput name="rateCardCode">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="15%">
                  <mat-label><strong>Touch Point</strong></mat-label>
                </div>
                <div fxFlex="20%">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" class="radio_button_pr" (click)="searchPoint=true; routeSubmit=true">Yes
                    </mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" *ngIf="!routeSubmit">
                <div fxFlex="100%">
                  <div class="branch_next_btn">
                    <button mat-button>Submit</button>
                  </div>
                </div>
              </div>
              <div *ngIf="searchPoint">
                <div class="route_touch_point route_touch_new">
                  <h4>Assign Touch Point</h4>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="14%">
                      <mat-label><strong>Add Touch Point</strong></mat-label>
                    </div>
                    <div fxFlex="20%">
                      <div class="search_branch_detail">
                        <em class="material-icons search_icon">search</em>
                        <mat-form-field appearance="outline" class="search_form_route">
                          <input class="form-control" matInput name="rateCardCode"  (click)="routeAdvencedSearch()"  readonly>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="20%">
                      <button type="button" mat-button class="add_btn" (click)="addTouchPoint()"><em class="material-icons">add</em></button>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="40%">
                      <div class="all_branch_right route_tale_inhancement padding_0">
                        <div class="mat-table">
                          <div class="mat-row branch_table_head">
                            <div class="mat-cell"><strong>Branch</strong></div>
                            <div class="mat-cell"><strong>Order</strong></div>
                          </div>
                          <div class="mat-row branch_table_dis" *ngFor="let touchPoint of touchPointList;let i = index">
                            <div class="mat-cell">Branch</div>
                            <div class="mat-cell dragndrop_delete">
                              <button mat-button><em class="material-icons icon_theme_color">arrow_upward</em></button>
                              <button mat-button><em
                                  class="material-icons icon_theme_color">arrow_downward</em></button>
                              <i class="material-icons" (click)="deleteTOuchPoint(touchPoint,i)">delete</i>
                            </div>
                          </div>
                          <div class="mat-row bg_light_grey" *ngIf="!touchPointList.length">
                                <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No
                                    Data
                                    Present
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                    <div fxFlex="100%">
                      <div class="branch_next_btn">
                        <button mat-button (click)="showConfirmationMsg()">CONTINUE</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                  <mat-accordion>
                    <mat-expansion-panel class="shadow_none" [expanded]="isExpand">
                      <mat-expansion-panel-header class="brnch_feature_header">
                        <mat-panel-title class="branch_sub_heading">
                          Assign Schedule
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="manage_schedule">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                          <div fxFlex="12%">
                            <h4>Assign Schedule</h4>
                          </div>
                          <div fxFlex="20%">
                            <button type="button" mat-button class="add_btn" (click)="assigSchedule=true"><em
                                class="material-icons">add</em></button>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="75%">
                          <div class="manage_schedule">
                            <h4>Route 1</h4>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                              <div fxFlex="25%">
                                <mat-label><strong>Scheduled Departure Time</strong></mat-label>
                              </div>
                              <div fxFlex="20%">
                                <mat-form-field appearance="outline">
                                  <input class="form-control" matInput name="rateCardCode">
                                </mat-form-field>
                              </div>
                              <div fxFlex="10%"></div>
                              <div fxFlex="25%">
                                <mat-label><strong>Total Transit Time</strong></mat-label>
                              </div>
                              <div fxFlex="20%">
                                <mat-form-field appearance="outline">
                                  <input class="form-control" matInput name="rateCardCode">
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                              <div fxFlex="25%">
                                <mat-label><strong>Start Date</strong></mat-label>
                              </div>
                              <div fxFlex="20%">
                                <mat-form-field appearance="outline" class="date_picker_adjust">
                                  <mat-datepicker #scheduleStartDate panelClass="mdmDatepicker" class="date_picker">
                                  </mat-datepicker>
                                  <input matInput uppercase [matDatepicker]="scheduleStartDate"
                                    placeholder="DD/MM/YYYY">
                                  <mat-datepicker-toggle matSuffix [for]="scheduleStartDate"></mat-datepicker-toggle>
                                </mat-form-field>
                              </div>
                              <div fxFlex="10%"></div>
                              <div fxFlex="25%">
                                <mat-label><strong>Expiry Date</strong></mat-label>
                              </div>
                              <div fxFlex="20%">
                                <mat-form-field appearance="outline" class="date_picker_adjust">
                                  <mat-datepicker #scheduleEndDate panelClass="mdmDatepicker" class="date_picker">
                                  </mat-datepicker>
                                  <input matInput uppercase [matDatepicker]="scheduleEndDate" placeholder="DD/MM/YYYY">
                                  <mat-datepicker-toggle matSuffix [for]="scheduleEndDate"></mat-datepicker-toggle>
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                              <div fxFlex="175%">
                                <div class="all_branch_right padding_0">
                                  <div class="mat-table">
                                    <div class="mat-row branch_table_head">
                                      <div class="mat-cell"><strong></strong></div>
                                      <div class="mat-cell"><strong>ETA</strong></div>
                                      <div class="mat-cell"><strong>Waiting Time</strong></div>
                                      <div class="mat-cell"><strong>Time of Departure</strong></div>
                                      <div class="mat-cell"><strong>Transit Time</strong></div>
                                    </div>
                                    <div class="mat-row branch_table_dis">
                                      <div class="mat-cell"><strong>Delhi (S)</strong></div>
                                      <div class="mat-cell table_input">

                                      </div>
                                      <div class="mat-cell table_input">

                                      </div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                    </div>
                                    <div class="mat-row branch_table_dis">
                                      <div class="mat-cell"><strong>Bhopal (T1)</strong></div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                    </div>
                                    <div class="mat-row branch_table_dis">
                                      <div class="mat-cell"><strong>Bangalore (D)</strong></div>
                                      <div class="mat-cell table_input">
                                        <mat-form-field appearance="outline">
                                          <input class="form-control" matInput name="rateCardCode">
                                        </mat-form-field>
                                      </div>
                                      <div class="mat-cell table_input">

                                      </div>
                                      <div class="mat-cell table_input">

                                      </div>
                                      <div class="mat-cell table_input">

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="100%">
                          <div class="branch_next_btn">
                            <button mat-button>Submit</button>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>
</div>