<div class="container">
  <mat-toolbar class="breadcrumbs_nav">
    <mat-toolbar-row class="breadcrumbs">
      <span><a>Dashboard</a></span>
      <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">arrow_right
      </mat-icon>
      <span><a>MDM</a></span>
      <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">arrow_right
      </mat-icon>
      <span>Search Organisation</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/geography']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Geography</p>
            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/lookup']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Lookup And Others</p>
            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/commandment']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Commandment</p>
            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/branch']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Branch</p>
            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/notepad']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Notepad</p>
            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>

          <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
          <p>Associate</p>
          <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="25%">
      <a [routerLink]="['/zone-matrix']">
        <mat-grid-list cols="1" rowHeight="113px" class="card_white">
          <mat-grid-tile>
            <a mat-list-item [routerLink]="['/mdm/zone-matrix']">
              <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
              <p>Zone Matrix</p>
              <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </a>
    </div>
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/route']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Route</p>
            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <a mat-list-item [routerLink]="['/mdm/vehicle']">
            <em _ngcontent-diw-c0="" class="material-icons dashboard_icon">dashboard</em>
            <p>Vehicle</p>

            <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="25%">
      <mat-grid-list cols="1" rowHeight="113px" class="card_white">
        <mat-grid-tile>
          <p>User Roles</p>
          <em _ngcontent-diw-c0="" class="material-icons location_icon">add_location</em>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>