.header{position: relative;
  height: 39rem;
  background: #27AE60;
  border-bottom-left-radius: 55% 45%;
  border-bottom-right-radius: 55% 45%;
  margin-top: 1% !important;}
.countCard{margin-top: -14rem !important;}
.dashboard .container{width: 89% !important;}
.mt100{margin-top: 4rem;}
.Morning {
  color: #fff !important;
  font-size: 3.2rem !important;
  padding-left: -4rem !important;
  margin-top: 7rem;
  margin-left: -4.4rem;
}

.update{background: #B00020 0% 0% no-repeat padding-box;color: #B00020 !important;height: 40px;display: flex;justify-content: center; align-items: center; margin-left: -2rem;}
.update p{color: #fff;font-size: 1.8rem;font-weight: bold;margin-bottom: 0 !important;}
.lendingInput{width: 100%;height: 40px;background-color: #fff;}
::ng-deep  .dashboard .mat-form-field-appearance-outline .mat-form-field-outline{color: transparent !important; box-shadow: none !important; top: 0em !important;}
::ng-deep  .dashboard .lendingInput .mat-form-field-outline{height: 40px !important;}
::ng-deep  .dashboard .lendingInput .mat-form-field-appearance-outline .mat-form-field-flex{margin-top: 0.75rem !important;}
::ng-deep  .dashboard .lendingInput .mat-form-field-infix{height: 20px !important; margin: 0;padding: 0;}
::ng-deep  .dashboard .lendingInput .mat-form-field-appearance-outline .mat-form-field-outline-thick {color: transparent !important;}
::ng-deep  .dashboard .lendingInput .mat-select{padding: 1.5rem !important;}
::ng-deep  .dashboard .lendingInput .mat-select-arrow{border-left: 1rem solid transparent !important;border-right: 1rem solid transparent !important;border-top: 2rem solid !important;color: #27AE60 !important; margin-top: 8px;}
::ng-deep  .dashboard .lendingInput .mat-select-placeholder{font-size: 1.4rem !important;}
.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .mat-select-panel.ng-animating.dropPanel {display: none !important;}

::ng-deep  .mat-select-panel.dropPanel{ font-size: 1.4rem !important; min-width: calc(125% + 32px) !important;position: absolute !important;right: -4% !important;top: 5rem;}

::ng-deep .cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing.dropPanel{background-color: #000 !important; opacity: .5 !important; }
::ng-deep .mat-option.dropPanel{height: 4.5rem !important;border-top: .1rem solid #27AE60 !important;}


.row {margin-right: -1.5rem !important; margin-left: -1.5rem !important;}
a{color: #27AE60; font-size: 1.4rem;font-weight: 600;}
a:hover{color: #fff !important;}
.paddingleftzero{padding-left: 0 !important;padding-right: 0;}
.favourites{font-size: 2.4rem; color: #fff;margin-top: 1.5rem;}
.containerWidth{width: 77%;}
.count_card {background: #fff;border-radius: 8px;height: 13rem;padding: 0 !important;}
@media only screen and (max-width: 991px){
    .count_card {margin-bottom: 1.5rem;}
    .lnedingDropPosition{position: relative !important; width: 100% !important;}
    .countCard .col-md-2{width: 100% !important;}
    .counterWidth.mainCards{display: block !important;}
    .lendingDropDownabsolute{position: relative !important;width: 100% !important;}
    ::ng-deep  .mat-select-panel.dropPanel{
      font-size: 1.4rem !important; min-width: calc(95% + 32px) !important;}
    .greenAdd{margin-top: 2rem !important;}
    .column{max-width: 100% !important;flex: 100% !important;-ms-flex: 25% !important;}
    .paddingrightzero{padding-right: 0 !important;}
}

.countCard .col-md-2{width: 20%;}
.counterWidth{width: 78%; margin-top: 6rem;}
.count_card2{margin-top: 2rem;background: #fff;border-radius: 1rem;cursor: pointer;}
.clickcount_card{margin-top: 2rem;background: #fff;border-radius: 0rem;cursor: pointer; height: 18rem;}
.heartIcon{font-size: 2.5rem !important;float: right !important; color: #B00020 !important; cursor: pointer;}
.clickheartIcone{font-size: 2.5rem !important;float: right !important; color: wheat !important;}
.bookMark{font-size: 2.5rem !important;padding-left: 1rem;position: relative;top: -.4rem;color: #1a1a1a !important;cursor: pointer;}
.clickBookMark{font-size: 2.5rem !important;padding-left: 1rem;position: relative;top: -.5rem;color: yellow !important;}


.secondRow p{padding-left: 1rem;width: 62%;font-size: 1.8rem;font-weight: bold;color: #27AE60;margin-bottom: 0 !important;}
.secondRow{display: flex; position: relative;}
.iconImage{float: right;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 8.2rem;
  right: 1.2rem;}
.topRow1{height: 18rem;display: flex;flex-direction: column;justify-content: center;align-items: center;width: 100%;}
.topRow1 p{font-size: 2rem;font-weight: bold;color: #27AE60; margin-bottom: 0 !important;}
.greenAdd{background: #27AE60;height: 2.5rem;margin-bottom: -2rem;border-top-left-radius: 1rem;border-top-right-radius: 1rem;}
.addIcon{color: #fff !important;font-size: 2.8rem;font-weight: bold;float: right;cursor: pointer;}
.dropO{padding-top: .5rem; height: 3.5rem;border-top: .1rem solid #27AE60;display: flex;align-items: center;justify-content: center;position: relative;}
.dropoHeart{font-size:2rem; position: absolute;right: 1rem;padding-top: .5rem;color: #1a1a1a !important;cursor: pointer;}
.clickdropHeart{font-size:2rem; position: absolute;right: 1rem;padding-top: .5rem;color: yellow !important;}
.heartIcon1{float:right !important;  columns: #27AE60 !important; cursor: pointer}
.dropOfavro{font-size: 2rem;position: absolute;right: -1rem;columns: #27AE60 !important; padding-top: .5rem;cursor: pointer;}
.heartIcon{float: right !important; color: #B00020; cursor: pointer; margin-top: 1rem;}
.red {
  color: #B00020 !important;
}
.green{
    color: #27AE60 !important;
}

.orange {
  color: orange !important;
}

.deselected_bookmark{

color : #1a1a1a !important
}
.secondRow >p {
  margin-left: .5rem;
  font-size: 1.8rem;
}


.dropO p{font-size: 1.5rem; color: #27AE60; margin-bottom: 0 !important;}
.cardIconBox{width: 5rem;height: 5rem;}
.lendingDropDown{transition: width 2s;border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem;background: #fff;}
.lendingDropDownabsolute{    transition: width 2s;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #fff;
  position: relative;
  width: 100%;}

.dateText:hover{color: #27AE60 !important;}

.cardMargintop{margin-top: 2rem !important;}
.lnedingDropPosition{position: absolute; width: 91%;}
.borderRow{border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem;}
.dropOfavroBor{font-size: 2rem;position: absolute;right: -1rem;color: #27AE60;padding-top: .5rem;}

.clickdropOfavroBor{font-size: 2rem;position: absolute;right: -1rem;color: yellowgreen !important;padding-top: .5rem;}
.textColor{color: #27AE60; margin-top: 5%;}
.whiteBlock{color: yellow;}
.greenBlock{color: red;}
.blue{color: blue !important;}


.lendingInput .mat-select {
    padding: 0rem !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 !important;
}


.counterWidth.mainCards{display: flex;flex-wrap: wrap;}


/* width */
::ng-deep  ::-webkit-scrollbar {
    width: .7rem;
  }

  /* Track */
  ::ng-deep  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::ng-deep  ::-webkit-scrollbar-thumb {
    background: #6A6868;  border-radius: 1.0rem;  max-height: 1.0rem;
  }

  /* Handle on hover */
  ::ng-deep  ::-webkit-scrollbar-thumb:hover {
    background: #585757;
  }


.table_scroll{
  overflow-x: scroll !important;
  width: 100% !important;
}



.row.countCard::before {
  content: 'Your Favourites,';
  color: #fff;
  position: relative;
  display: block;
  margin-top: 0rem;
  margin-left: 2rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}
