<div class="modal-container">
  <h5 class="sub_heading">Commandment Order</h5>
  <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
    cancel
  </em>
  <hr class="border_row">
  <br>
</div>

<!-- commandment order modal start -->
<div class="add_branch_main orgination_modal_inner">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="20%">
      <mat-label><strong>Service Offering</strong></mat-label>
    </div>
    <div fxFlex="20%">
      <mat-select disableOptionCentering panelClass="anyClass" class="mat_select">
        <mat-option value="50KG-100KG">
          50KG-100KG
        </mat-option>
        <mat-option value="100KG-300KG">
          100KG-300KG
        </mat-option>
        <mat-option value="300KG-600KG">
          300KG-600KG
        </mat-option>
        <mat-option value="600KG-900KG">
          600KG-900KG
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="20%">
      <mat-label><strong>Type</strong></mat-label>
    </div>
    <div fxFlex="20%">
      <mat-select disableOptionCentering panelClass="anyClass" class="mat_select">
        <mat-option value="50KG-100KG">
          50KG-100KG
        </mat-option>
        <mat-option value="100KG-300KG">
          100KG-300KG
        </mat-option>
        <mat-option value="300KG-600KG">
          300KG-600KG
        </mat-option>
        <mat-option value="600KG-900KG">
          600KG-900KG
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="80%">
      <div class="all_branch_right manage_route_table">
        <div class="mat-table">
          <div class="mat-row branch_table_dis">
            <div class="mat-cell">Commandment 1</div>
          </div>
          <div class="mat-row branch_table_dis">
            <div class="mat-cell">Commandment 1</div>
          </div>
          <div class="mat-row branch_table_dis">
            <div class="mat-cell">Commandment 1</div>
          </div>
          <div class="mat-row branch_table_dis">
            <div class="mat-cell">Commandment 1</div>
          </div>
          <div class="mat-row branch_table_dis theme_bg_color">
            <div class="mat-cell color_white">Commandment New</div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="10" class="position_relative">
      <div class="order_dragan_drop">
        <em class="material-icons">arrow_upward</em>
        <em class="material-icons">arrow_downward</em>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
    <div fxFlex="100%">
      <div class="branch_next_btn">
        <button mat-button>Confirm</button>
      </div>
    </div>
  </div>
</div>
<!-- commandment order modal end -->