<mat-toolbar color="primary" >
  <mat-toolbar-row  style="background:white;  color:black; font-family: 'Open Sans', sans-serif !important">    
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon" (click)="drawer.toggle()" style="font-size: 3.5rem;color: #575555;height: 0;line-height: 0;margin-top: .3rem;" >menu</mat-icon>
    </button>
    <a><img  style="width: 13rem; margin-left: 1.7rem; margin-right: 4rem;" class="circle" src="../assets/images/logo.png" width="100"></a> 
    <span  class="fa fa-search search-icon"></span>

    <div class="search"><input placeholder="Track WAYBILL"></div>
     <span class="example-spacer"></span>
    
    <div style="font-size: 1.6rem; width: 25rem; text-align: center;margin-top: 1rem;">
      <button mat-icon-button [matMenuTriggerFor]="menu" id="profile-button">
        <p style="position: relative;top: 1.5rem; right: 3rem;">Anuj Gupta<i id="fa-down" class="fa fa-caret-down" aria-hidden="true"></i></p>       
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/navigation/changepass" >
          <span>Change Password</span>
        </button>
        <button mat-menu-item ><span>Sign Out</span></button>
      </mat-menu>
      <hr class="green-border-heading" style="margin-bottom: -0.4rem;height: .1rem;position: relative;top: -1rem;">
      <p style="position: relative;bottom: 1.5rem;">Branch Name</p>
    </div>
  </mat-toolbar-row>  
</mat-toolbar>
<mat-sidenav-container class="example-container"  >
  <mat-sidenav #drawer mode="side"  role="navigation" style="background-color:#27AE60">
    <mat-nav-list style="color: white">     
<a style="color: white" mat-list-item routerLink='/creditdashboard' skipLocationChange >Contract</a>
      <mat-divider></mat-divider>
<a style="color: white" mat-list-item routerLink='/msa' skipLocationChange >MSA</a>
      <mat-divider></mat-divider>
<a style="color: white" mat-list-item routerLink='/opportunity' skipLocationChange >Opportunity</a>
      <mat-divider></mat-divider>
<a style="color: white" mat-list-item routerLink='/service' skipLocationChange >Service</a>
      <mat-divider></mat-divider>
<a style="color: white" mat-list-item routerLink='/ratecard' skipLocationChange >Ratecard</a>
      <mat-divider></mat-divider>
<a style="color: white" mat-list-item routerLink='/billing' skipLocationChange >Billing</a>
      <mat-divider></mat-divider>
  
</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content  style="background:#F1F1F1;">
      <div style="width: 100%; margin-top: -5%;" fxLayout="row" fxLayoutAlign="end center">
      </div>
     <router-outlet></router-outlet> 
     </mat-sidenav-content>   

</mat-sidenav-container>
