   <!-- global -->
   <p *ngIf="item.target != 'CUSTOMER' && item.target !== 'ASSOCIATE MANAGEMENT' && item.target !== 'ASSOCIATE' && item.target !== 'BOOKING MODULE'" style="cursor: pointer;" routerLink="/{{item.target.toString().replace(' ','-') | lowercase}}/{{innerItem.target.toString().replace(' ','-') | lowercase}}" >{{innerItem.menuLabel}} </p>
   <!-- RETAIL | PRC | CREDI | ASSOCIATE -->
   <p *ngIf="(item.target == 'CUSTOMER' || item.target == 'ASSOCIATE' || item.target == 'BOOKING MODULE') && innerItem.target !=='CREDIT'"  style="cursor: pointer;" routerLink="/{{innerItem.target.toString().replace(' ','-') | lowercase}}-contract/{{innerItem.target.toString().replace(' ','-') | lowercase}}" >{{innerItem.menuLabel}} </p>

   <!-- FOR CREDIT ONLY -->
   <p *ngIf="innerItem.target == 'CREDIT'"  style="cursor: pointer;" routerLink="/contract/{{innerItem.target.toString().replace(' ','-') | lowercase}}" >{{innerItem.menuLabel}} </p>

   <!-- ASSOCIATE MANAGEMENT-->
    <p *ngIf="item.target == 'ASSOCIATE MANAGEMENT'" style="cursor: pointer;"  routerLink="/{{item.target.toString().replace(' ','-') | lowercase}}-{{innerItem.target.toString().replace(' ','-') | lowercase}}/{{innerItem.target.toString().replace(' ','-') | lowercase}}" >{{innerItem.menuLabel}} </p>
 