<!-- panal -->
<mat-card style="padding: .5rem;" class="retailContainer">
    <div style="position: relative;">
        <h3 id="h2">State Surcharges 
            <button type="submit" [disabled]="!fState.form.valid" (click)="addCharge()" [style.color]="!fState.form.valid ? '#CCC' : '#27AE60'" 
           class="material-icons addButtonSlab" style="top: 0 !important;">add_circle</button>
            
        </h3>
        <em class="fa fa-times fa-2x" aria-hidden="true" id="closeButton" (click)="closeDialog()"></em>
      </div> 
      <hr id="popup-hr"> 
    <mat-card-content>
        <form class="hero-content" name="stateCharge" (ngSubmit)="fState.form.valid" #fState="ngForm" novalidate>
                <div class="scrollable_table retailContainer bottmScroll" #bottmScrollEl tabindex="1"  style="overflow-x: auto !important; scrollbar-width: 1rem;">
                    <table mat-table [dataSource]="cmdmntGeoWiseChargeList"  aria-describedby="table">
                        <ng-container matColumnDef="state">
                            <th scope="row" mat-header-cell *matHeaderCellDef>STATE<span class="redMark"> *</span></th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="tableBoxState marginBottom parent">
                                <mat-form-field appearance="outline">
                                    <mat-select disableOptionCentering panelClass="creditSelect creditNgxSelect" [(value)]="element.stateId" required
                                        (selectionChange)="getCity($event.value,i,false); updateList(i, 'stateId', $event.value)" (blur)="scrollActiveValue()">
                                        <ngx-mat-select-search [(ngModel)]="searchCtrl" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="search">
                                        <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search</mat-icon>
                                      </ngx-mat-select-search>
                                        <mat-option *ngFor="let item of ( element.stateList | stringFilter:searchCtrl:'lookupVal') | sortBy:'asc':'lookupVal'" [value]="item.id" 
                                        [matTooltip]="item.lookupVal" [matTooltipDisabled]="item.lookupVal.length<15" matTooltipPosition="above">
                                            {{item.lookupVal}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="!element.stateId || element.stateId == null || element.stateId === ''"
                                class="stateValidation">Required&nbsp;!</span>
                            </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="city">
                            <th scope="row" mat-header-cell *matHeaderCellDef>CITY</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="tableBoxState marginBottom flex-box">
                                    <mat-checkbox [checked]="element.disableCity" [disabled] ="element.stateId === null"
                                        (change)="selectAllCity($event.checked,i)"><strong>All &nbsp; </strong>
                                    </mat-checkbox>
                                <mat-form-field appearance="outline" class="cityPanel" style="width: 82% !important;">
                                    <mat-select disableOptionCentering panelClass="creditSelect creditNgxSelect" matTooltip="{{getToolTipData(element)}}" matTooltipPosition="above" [formControl]="element.cityCntrl" multiple [disabled]="element.disableCity" (blur)="scrollActiveValue()">
                                        <ngx-mat-select-search [(ngModel)]="searchCtrlCity" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="search" style="left: 4.7rem !important;">
                                        <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search</mat-icon>
                                        </ngx-mat-select-search>
                                        <mat-option *ngFor="let item of ( element.cityList | stringFilter:searchCtrlCity:'lookupVal') | sortBy:'asc':'lookupVal'" (click)="selectCity(i,element.cityCntrl.value)" 
                                        [value]="item.id" 
                                        [matTooltip]="item.lookupVal" [matTooltipDisabled]="item.lookupVal.length<15" matTooltipPosition="above">
                                            {{item.lookupVal}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </div>
                                <span *ngIf="!element.disableCity && (!element.selectedCityList || element.selectedCityList.length === 0)"
                                class="stateValidation" style="left:20% !important; top:3.5rem !important;">Required&nbsp;!</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="lkpCalcUnitId">
                            <th scope="row" mat-header-cell *matHeaderCellDef>SURCHARGE TYPE<span class="redMark"> *</span></th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="tableBoxState marginBottom parent">
                                <mat-form-field appearance="outline">
                                    <mat-select disableOptionCentering panelClass="creditSelect"  [(value)]="element.lkpCalcUnitId" 
                                        (selectionChange)="updateList(i, 'lkpCalcUnitId', $event.value)" required> 
                                        <mat-option *ngFor="let item of calcUnitList" [value]="item.id">
                                            {{item.lookupVal}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="!element.lkpCalcUnitId || element.lkpCalcUnitId === null || element.lkpCalcUnitId === ''"
                                class="stateValidation">Required&nbsp;!</span>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th scope="row" mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="tableBoxState marginBottom">
                                <mat-form-field appearance="outline">
                                    <input  autocomplete="true" matInput  [(value)]="element.descr"
                                        (keyup)="changeValue(i, 'descr', $event.target.value)"
                                        (blur)="updateList(i, 'descr', $event.target.value)">
                                </mat-form-field>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="expDate">
                            <th scope="row" mat-header-cell *matHeaderCellDef>EXPIRY DATE</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="tableBoxState marginBottom" style="width: 18rem !important;">
             <mat-form-field appearance="outline" id="datepick">
                 <input  matInput [matDatepicker]="picker2"  (dateChange)="updateList(i, 'expDt', $event.target.value)"
                  placeholder="DD/MM/YYYY" [(value)]="element.expDt" [min]="minDate">
                 <mat-datepicker panelClass="creditDatepicker" #picker2></mat-datepicker>
                 <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
               </mat-form-field>
               <span *ngIf="!element.validDt" class="stateValidation" style="top: 3.5rem !important;"> Invalid Expiry Date! </span>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th scope="row" mat-header-cell *matHeaderCellDef>SURCHARGE RATE<span class="redMark"> *</span></th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="tableBoxState marginBottom parent">
                                <mat-form-field appearance="outline">
                                    <input  autocomplete="true" matInput numeric maxlength="7"  decimals="2"
                                        (keyup)="changeValue(i, 'price', $event.target.value)" required [(value)]="element.price"
                                        (blur)="updateList(i, 'price', $event.target.value)">
                                </mat-form-field>
                                <span *ngIf="!element.price || element.price==null || element.price==='' || (element.price && !element.price.toString().trim())"
                                class="stateValidation">Required&nbsp;!</span>
                                <span *ngIf="!(!element.price || element.price==null || element.price==='' || (element.price && !element.price.toString().trim())) && !element.validPrice" class="stateValidation">Invalid !</span>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th scope="row" mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div>
                                <span ><em class="material-icons customeRemoveIcon" (click)="deleteGeoCharge(i)" style="top: -.7rem !important;">delete</em></span>
                                </div>
                            </td>
                        </ng-container>
                        <div>
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        </div>

                        <tr mat-row *matRowDef="let row; columns: columns;" tabindex="1" #commentDiv></tr>

                    </table>
                </div>
                <div class="example-button-row text-center" style="margin: 3%;">
                    <button [disabled]="!fState.form.valid" type="button" class="btn1" style="text-align: center" mat-raised-button color="primary"
                        (click)="addStates()">SAVE</button>
                </div>
                </form>
    </mat-card-content>
</mat-card>
