<div class="modal-container">
    <div class="mat-dialog-header">
         <h4 class="margin-zero Text_color_amount" style="visibility: hidden;"><strong>E-Waybill Required</strong></h4> 
    <em class="fa fa-times modal-close" [mat-dialog-close]="true"></em>
    </div>
    
    <hr style="margin: 0px;">
    
    <div class="mat-dialog-content">
    <div class="row">
        <div class="col-md-12">
            <p style="font-size: 1.9rem !important;">No Ratecard is mapped with {{selectedMop=='PAID' ? 'PAID' : 'TO-PAY'}} MOP . Do you want to proceed with  {{selectedMop=='PAID' ? 'TO-PAY' : 'PAID'}} flow
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-6">
            <button class="btn white-button" [mat-dialog-close]="true" style="padding: 0 4rem !important">No</button>
        </div>
        <div class="col-md-3">
            <button class="btn theme-button btn-block" [mat-dialog-close]="1" style="margin: 0px;">Yes</button>
        </div>
     
    </div>
</div>
</div>