
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Open+Sans&display=swap';
@import '~ngx-toastr/toastr';


.holder section.header{position:fixed;height:34rem;background:#27ae60;border-bottom-left-radius:55% 45%;border-bottom-right-radius:55% 45%;margin-top:6rem!important;top:0;left:0;width:100%;z-index:-1}
@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
.dropoHeart,.dropOfavro{margin-top:-1.7rem}
}
.dashboard :focus,.login-input:focus,img.circle{outline-width:0}
.login-input{cursor:pointer}
html body .contractContainer .mat-datepicker-toggle .mat-icon-button{top:2rem!important}
html body .contractContainer .slaAddIcon.two{margin-top:-4rem;margin-left:18rem}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-outline-end{border-radius:0!important;min-width:0!important}
.shared .upload .mat-focused .mat-form-field-label{color:green!important}
.shared .upload .mat-input-element{position:absolute;top:-.5rem!important;margin-top:.4rem!important}
.shared .upload .mat-datepicker-content .mat-calendar{width:26rem;height:26rem}
.shared .upload #stepper{position:absolute!important;top:0!important;right:2rem!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-outline-end,.shared .upload .mat-form-field-appearance-outline .mat-form-field-outline-start{border:.1rem solid currentColor!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-outline-start{display:none!important}
.uploadDocument .mat-select-value-text{font-size:1.6rem}
.shared .upload .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-datepicker-toggle-default-icon,.shared .upload .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon{width:15px!important;height:15px!important}
.shared .upload .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,.shared .upload .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{height:0!important}
.shared .upload .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .mat-select-panel.ng-animating{display:none!important}
.mat-select-panel.uploadDocument{min-width:calc(100% + 12px)!important;width:100%!important;top:1.9rem!important;margin-top:0!important;left:1.5rem!important;box-shadow:none!important;position:absolute!important;border:.1rem solid #6A6868!important;border-radius:.2rem!important}
.shared .upload .mat-select-panel::-webkit-scrollbar-track{background:transparent!important}
.shared .upload .mat-select{position:absolute;top:0}
.shared .upload .mat-select-value-text{position:relative;top:-.2rem;font-size:1.4rem!important;text-transform:uppercase}
.uploadDocument .mat-option{height:2.7rem!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-suffix{left:1.2rem!important;top:-.2rem!important;right:0!important}
.shared .upload .mat-form-field-outline{height:2.7rem;width:100%}
.shared .upload .mat-form-field-infix{height:3.2rem;border-top:none!important;top:1.2rem!important;font-size:1.4rem!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-infix{padding:0}
.shared .upload .mat-form-field{width:100%!important; top:-.5rem;font-family:'Open Sans',sans-serif!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-wrapper{margin:0!important}
.shared .upload .mat-form-field-wrapper{padding-bottom:0!important}
.shared .upload .mat-form-field-appearance-outline{margin:0;position:relative!important;top:0!important}
.shared .upload .mat-form-field-appearance-outline:hover{border-color:#27AE60}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-outline{position:absolute;top:0;color:#6a6868!important;box-shadow:0 .2rem .2rem #00000029}
.shared .upload .mat-form-field.mat-focused .mat-form-field-ripple{background:#27AE60!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-outline-thick{color:#27AE60!important}
.shared .upload .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{color:#27AE60!important}
.shared .upload .padding-left{padding-left:.6rem}
.shared .upload .paddingzero{padding:0!important}
.shared .upload .paddingtopzero{padding-top:0!important}
.shared .upload .mat-form-field-appearance-outline .mat-form-field-flex{position:static!important;padding:0 .45em!important}
.shared .upload .label-text{font-size:1.6rem;font-weight:700;padding-top:.6rem}
.shared .upload .label-text-value{font-size:1.6rem;font-weight:100;padding-top:.6rem;text-overflow:ellipsis;white-space:nowrap}
.shared .background{background:#F1F1F1;font-size:1.4rem}
.shared .fonts{font-size:1.4rem}
.shared .bottom-border{border-bottom:.1rem solid #f1f1f1}
.shared #secondry-button{background:#fff!important;color:#1a1a1a!important;border:.2rem solid #27AE60;font-weight:700;box-sizing:border-box;line-height:2.7rem;border-radius:2rem;padding:.1rem 2rem}
.shared button#previewButton{line-height:4rem;border-radius:3rem}
.shared .material-icons{cursor:pointer!important}
.shared .tp-section{display:flex;align-content:center;align-items:center;height:6rem}
.shared .tp-margin{margin:0!important}
.shared .mat-slide-toggle{height:2.4rem!important;line-height:1.8}
.shared .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{background:#27AE60!important}
.shared .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{background:#27AE60!important}
.shared .file_name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:180%!important}
.uploadDocument .mat-option.mat-active{background:#27AE60!important;color:#fff!important}
.shared .upload .exprity{width:14rem!important;position:relative!important;top:0!important}
.shared .upload .docToggle{position:relative!important;top:.4rem!important;left:1rem!important;cursor:pointer!important}
.shared .upload .cdk-overlay-pane{transform:none!important}
.shared .upload .mat-calendar-controls .mat-icon-button{width:5.5rem!important;height:5.5rem!important}
.shared .upload .biilingTable{width:206rem!important}
.shared .upload .bilingConsinee{min-height:4.5rem!important;display:flex;align-items:center;font-size:1.6rem!important}
.shared .upload .billingFonts{font-size:1.8rem!important}
.shared .upload .commercialSlab-container{width:160rem!important}
.shared .upload .mat-stepper-horizontal-line.ng-tns-c19-3.ng-star-inserted{opacity:0}
.docUpload .mat-datepicker-content .mat-calendar{width:20rem;height:20rem}
mat-calendar.docUpload{width:24rem!important;height:31rem!important}
th.mat-calendar-table-header-divider{display:none!important}
mat-calendar.docUpload th.mat-calendar-table-header-divider{display:none!important}
.docUpload .mat-calendar-header{padding:0}
.docUpload .mat-calendar-body-cell-content{font-size:1.3rem}
.shared .upload th.mat-calendar-table-header-divider{display:none}
.shared .upload em.material-icons.fontSizeforview{color:#27AE60!important;font-size:2.6rem}
::-webkit-scrollbar{width:7px;max-height:100px}
::-webkit-scrollbar-track{display:none;border-radius:10px}
::-webkit-scrollbar-thumb{background:#6A6868;border-radius:10px;max-height:100px}
::-webkit-scrollbar-thumb:hover{background:#585757}
.dashboard .dropO p{font-size:1.5rem;color:#27AE60;margin-bottom:0!important}