/* .btn {background: none;border: none;}
.mat-stepper-horizontal, .mat-stepper-vertical {position: relative;}
.mat-stepper-horizontal-line.ng-tns-c19-3.ng-star-inserted {opacity: 0;}
::ng-deep .round{width: 16px;height: 16px;border-radius: 50%; z-index: 6; background: #6d6d6d;}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {display: flex  !important;
    flex-direction: column !important;justify-content: center;align-items: center !important;align-content: center !important;}
::ng-deep .marginzero{margin: 0 !important;}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon{display: none !important;} */
