
<div id="stepper" fxLayout="row" fxLayoutAlign="end center">  
  <div class="line stepperLine"></div>
  <mat-horizontal-stepper  labelPosition="bottom">      
    <mat-step  > 
        <ng-template matStepLabel matStepperIcon="edit" > 
          <p name='msa' *ngIf='(currentState === "msa")' routerLink="/retail-contract/msa" skipLocationChange (click)="OnNextClick()" [ngClass]="currentState === 'msa' ? 'darkGreenColorText' : ''">MSA</p>  
          <p name='msa' *ngIf='(step1 === "msaEdit")' (click)="OnNextClick('/msa;edit')">MSA</p>  
          <p name='msa' *ngIf='(step1 === "msa")' routerLink="/retail-contract/msa" skipLocationChange (click)="OnNextClick()">MSA</p>  
          <p name='msa' *ngIf='(step1 != "msa" && step1 !="msaEdit" && currentState != "msa")'>MSA</p>  
          <div class="whiteRound"  *ngIf='(currentState === "msa")' >  
              <div class="round" *ngIf='(currentState === "msa")'  [ngClass]="currentState === 'msa' ? 'darkGreenColor' : 'roundGreyColor'  " name='msa' routerLink="/retail-contract/msa" skipLocationChange (click)="OnNextClick()"></div>
          </div>  

          <div class="whiteRound" *ngIf='(step1 === "msaEdit")' >  
              <div class="round" *ngIf='(step1 === "msaEdit")'  [ngClass]="step1 === 'msaEdit' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='msa' (click)="OnNextClick('/msa;edit')"></div>
          </div>

          <div class="whiteRound"  *ngIf='(step1 === "msa")'  >  
              <div class="round" *ngIf='(step1 === "msa")'  [ngClass]="step1 === 'msa' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='msa' routerLink="/retail-contract/msa" skipLocationChange (click)="OnNextClick()"></div>
          </div>

          <div class="whiteRound"  *ngIf='(step1 != "msa" && step1 !="msaEdit" && currentState != "msa")'>  
            <div class="round" *ngIf='(step1 != "msa" && step1 !="msaEdit" && currentState != "msa")' name='msa'></div>
       </div>

          </ng-template>
    </mat-step>         

    <mat-step >  
      <ng-template matStepLabel >
        <p name='contract' *ngIf='(currentState === "contract")' [ngClass]="currentState === 'contract' ? 'darkGreenColorText' : ''">Contract</p>  
        <p name='contract' *ngIf='(step2 === "contractEdit")' (click)="OnNextClick('/contract;edit')">Contract</p>  
        <p name='contract' *ngIf='(step2 === "contract")' routerLink="/retail-contract/contract" skipLocationChange (click)="OnNextClick()">Contract</p>  
        <p name='contract' *ngIf='(step2 != "contract" && step2 !="contractEdit"  && currentState != "contract")'>Contract</p>  


        <div class="whiteRound" *ngIf='(currentState === "contract")'>  
        <div class="round" *ngIf='(currentState === "contract")'  [ngClass]="currentState === 'contract' ? 'darkGreenColor' : 'roundGreyColor'  " name='contract'></div>
       </div>
        <div class="whiteRound"  *ngIf='(step2 === "contractEdit")'  >  
        <div class="round" *ngIf='(step2 === "contractEdit")'  [ngClass]="step2 === 'contractEdit' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='contract' (click)="OnNextClick('/contract;edit')"></div>
        </div>
        <div class="whiteRound" *ngIf='(step2 === "contract")'   >  
        <div class="round" *ngIf='(step2 === "contract")'  [ngClass]="step2 === 'contract' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='contract' routerLink="/retail-contract/contract" skipLocationChange (click)="OnNextClick()"></div>
       </div>
        <div class="whiteRound"  *ngIf='(step2 != "contract" && step2 !="contractEdit"  && currentState != "contract")'  >  
        <div class="round" *ngIf='(step2 != "contract" && step2 !="contractEdit"  && currentState != "contract")' name='contract' ></div>
        </div>
      </ng-template>
  </mat-step> 
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel   >
        <p  name='service' *ngIf='(currentState === "service")' [ngClass]="currentState === 'service' ? 'darkGreenColorText' : ''">Services</p>   
        <p  name='service' *ngIf='(step3 === "serviceEdit")' (click)="OnNextClick('/service;edit')">Services</p>   
        <p  name='service' *ngIf='(step3 === "service")' routerLink="/retail-contract/service" skipLocationChange (click)="OnNextClick()">Services</p>   
        <p  name='service' *ngIf='(step3 != "service" && step3 !="serviceEdit"  && currentState != "service")'>Services</p>   


        
        <div class="whiteRound" *ngIf='(currentState === "service")'   >  
        <div class="round" *ngIf='(currentState === "service")'  [ngClass]="currentState === 'service' ? 'darkGreenColor' : 'roundGreyColor' " name='service'></div>
        </div>

        <div class="whiteRound"  *ngIf='(step3 === "serviceEdit")'  >    
        <div class="round" *ngIf='(step3 === "serviceEdit")'  [ngClass]="step3 === 'serviceEdit' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='service'  (click)="OnNextClick('/service;edit')"></div>
        </div>
        
        <div class="whiteRound"  *ngIf='(step3 === "service")'  >    
        <div class="round" *ngIf='(step3 === "service")'  [ngClass]="step3 === 'service' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='service' routerLink="/retail-contract/service" skipLocationChange (click)="OnNextClick()"></div>
        </div>
        
        <div class="whiteRound"  *ngIf='(step3 != "service" && step3 !="serviceEdit"  && currentState != "service")'  >    
        <div class="round" *ngIf='(step3 != "service" && step3 !="serviceEdit"  && currentState != "service")' name='service' ></div>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup"  >
    <ng-template matStepLabel>
      <p  name='ratecard' *ngIf='(currentState === "ratecard")' [ngClass]="currentState === 'ratecard' ? 'darkGreenColorText' : ''">Rate&nbsp;Card</p>   
      <p  name='ratecard' *ngIf='(step4 === "ratecardEdit")' (click)="OnNextClick('/ratecard;edit')">Rate&nbsp;Card</p>   
      <p  name='ratecard' *ngIf='(step4 === "ratecard")' routerLink="/retail-contract/ratecard" skipLocationChange (click)="OnNextClick()">Rate&nbsp;Card</p>   
      <p  name='ratecard' *ngIf='(step4 != "ratecard" && step4 != "ratecardEdit" && currentState != "ratecard")'>Rate&nbsp;Card</p>   

      <div class="whiteRound"  *ngIf='(currentState === "ratecard")'   >    
      <div class="round" *ngIf='(currentState === "ratecard")'  [ngClass]="currentState === 'ratecard' ? 'darkGreenColor' : 'roundGreyColor' " name='ratecard'></div>
      </div>
      
      <div class="whiteRound"  *ngIf='(step4 === "ratecardEdit")'  >    
      <div class="round" *ngIf='(step4 === "ratecardEdit")'  [ngClass]="step4 === 'ratecardEdit' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='ratecard' name='ratecard' (click)="OnNextClick('/ratecard;edit')"></div>
      </div>
      
      <div class="whiteRound"  *ngIf='(step4 === "ratecard")'  >    
      <div class="round" *ngIf='(step4 === "ratecard")'  [ngClass]="step4 === 'ratecard' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='ratecard' routerLink="/retail-contract/ratecard" skipLocationChange (click)="OnNextClick()"></div>
      </div>
      
      <div class="whiteRound"  *ngIf='(step4 != "ratecard" && step4 != "ratecardEdit" && currentState != "ratecard")'  >    
      <div class="round" *ngIf='(step4 != "ratecard" && step4 != "ratecardEdit" && currentState != "ratecard")' name='ratecard' ></div>
      </div>
    </ng-template>
      </mat-step>
    <mat-step [stepControl]="fifthFormGroup" *ngIf="msaLevel">
    <ng-template matStepLabel>
      <p name='branch' *ngIf='(currentState === "branch")' [ngClass]="currentState === 'branch' ? 'darkGreenColorText' : ''">Branch</p> 
      <p name='branch' *ngIf='(step5 === "branchEdit")' (click)="OnNextClick('/branch;edit')">Branch</p> 
      <p name='branch' *ngIf='(step5 === "branch")' routerLink="/retail-contract/branch" skipLocationChange (click)="OnNextClick()">Branch</p> 
      <p name='branch' *ngIf='(step5 != "branch" && step5 !="branchEdit" && currentState != "branch")'>Branch</p> 
    
      <div class="whiteRound" *ngIf='(currentState === "branch")'   >    
      <div class="round" *ngIf='(currentState === "branch")' [ngClass]="currentState === 'branch' ? 'darkGreenColor' : 'roundGreyColor' " name='branch'></div>
      </div>
      
      <div class="whiteRound" *ngIf='(step5 === "branchEdit")' >    
      <div class="round" *ngIf='(step5 === "branchEdit")'  [ngClass]="step5 === 'branchEdit' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='branch' (click)="OnNextClick('/branch;edit')"></div>
      </div>
      
      <div class="whiteRound"   *ngIf='(step5 === "branch")' >    
      <div class="round" *ngIf='(step5 === "branch")'  [ngClass]="step5 === 'branch' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='branch' routerLink="/retail-contract/branch" skipLocationChange (click)="OnNextClick()"></div>
      </div>
      
      <div class="whiteRound"  *ngIf='(step5 != "branch" && step5 !="branchEdit" && currentState != "branch")'  >    
      <div class="round" *ngIf='(step5 != "branch" && step5 !="branchEdit" && currentState != "branch")' name='branch'></div>
      </div> 
    </ng-template>
      </mat-step>
    <mat-step [stepControl]="sixFormGroup">
      <ng-template matStepLabel>
        <p  name='preview' *ngIf='(currentState === "preview")' [ngClass]="currentState === 'preview' ? 'darkGreenColorText' : ''">Success</p> 
        <p  name='preview' *ngIf='(step6 === "previewEdit")' (click)="OnNextClick('/previewEdit;edit')">Success</p> 
        <p  name='preview' *ngIf='(step6 === "preview")' routerLink="/retail-contract/preview" skipLocationChange (click)="OnNextClick()">Success</p> 
        <p  name='preview' *ngIf='(step6 != "preview" && step6 !="previewEdit" && currentState != "preview")'>Success</p> 

        <div class="whiteRound"  *ngIf='(currentState === "preview")'  >    
        <div class="round" *ngIf='(currentState === "preview")' [ngClass]="currentState === 'preview' ? 'darkGreenColor' : 'roundGreyColor' " name='preview'></div>
        </div>
        
        <div class="whiteRound" *ngIf='(step6 === "previewEdit")'   >    
        <div class="round" *ngIf='(step6 === "previewEdit")'  [ngClass]="step6 === 'previewEdit' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='preview' (click)="OnNextClick('/previewEdit;edit')"></div>
        </div>
        
        <div class="whiteRound"  *ngIf='(step6 === "preview")'   >    
          <div class="round" *ngIf='(step6 === "preview")'  [ngClass]="step6 === 'preview' ? 'ligtGreenColor fa fa-check' : 'roundGreyColor' " name='preview' routerLink="/retail-contract/preview" skipLocationChange (click)="OnNextClick()"></div>
          </div> 
          <div class="whiteRound"   *ngIf='(step6 != "preview" && step6 !="previewEdit" && currentState != "preview")'  >    
          <div class="round" *ngIf='(step6 != "preview" && step6 !="previewEdit" && currentState != "preview")' name='preview'></div>
          </div>
        </ng-template>
    </mat-step>

</mat-horizontal-stepper>
</div>