<div *ngIf="!addAddressFeature">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
        <div fxFlex="18%"><h3 class="grid_title">Feature</h3></div>
        <div fxFlex="82%"><form autocomplete="off">
                <div class="hdr_srch_field">
                    <span matPrefix><em class="material-icons search_icon"
                            (click)="searchFeatureType($event)">search</em></span>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-form-field appearance="outline">
                                <input matInput name="featureType" (keyup)="clearSearch()"  (input)="featureType=$event.target.value.toUpperCase()"
                                    (keyup.enter)="searchFeatureType($event)" [(ngModel)]="featureType" matInput>
                            </mat-form-field>
                        </div>
                        <div fxFlex="10%">
                            <button (click)="addAddressFeature=true;featureTab=true; clearObj()" type="button" mat-button
                                class="add_btn" *ngxPermissionsOnly="['CREATE']"><em
                                    class="material-icons">add</em></button>
                        </div>
                        <div class="invalid-feedback" *ngIf="strLengthValid">
                            Enter Minimum 3 Characters
                        </div>
                    </div>
                </div>
            </form></div>
        </div>
    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
        <div fxFlex="18%">
            
            <h3 class="grid_title mr_top_30">Feature Details</h3>
        </div>
        <div fxFlex="82%">
           
            <mat-card class="card_body">
                <div class="mat-table mat_table_main">
                    <div class="mat-row bg bg_light_grey table_main_header">
                        <div class="mat-cell mat_cell_head upper-case">Feature Name</div>
                        <div class="mat-cell mat_cell_head upper-case">Type</div>
                        <div class="mat-cell mat_cell_head upper-case">description</div>
                        <div class="mat-cell"></div>
                    </div>
                    <div class="mat-row bg_light_grey"
                        *ngFor="let addressFeature of addressFeatureList | paginate: { itemsPerPage: 10, currentPage: p };let i=index">
                        <div class="mat-cell upper-case  table_color hyperlink upper-case text_wrap" [matTooltip]="addressFeature.featureName" [matTooltipPosition]="'above'">
                            {{addressFeature.featureName}}</div>
                        <div class="mat-cell upper-case">{{addressFeature.featureType}}</div>
                        <div class="mat-cell display_overflow_hidden text_wrap" [matTooltip]="addressFeature.description" [matTooltipPosition]="'above'">
                            {{addressFeature.description}}</div>
                        <div class="mat-cell mat_cell_icon">
                            <em class="material-icons icon_btn_display icon_theme_color"
                                (click)="editModal(addressFeature,1)">remove_red_eye</em>
                            <em class="material-icons icon_btn_display icon_theme_color" *ngxPermissionsOnly="['CREATE','UPDATE']"
                                (click)="editModal(addressFeature,0)">edit</em>
                        </div>
                    </div>
                    <div class="mat-row bg_light_grey" *ngIf="!addressFeatureList.length">
                        <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data
                            Present
                        </div>
                    </div>
                </div>
                <div class="pagination_area">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </mat-card>


        </div>

    </div>
</div>
<div *ngIf="addAddressFeature">
    <div class=" all_form">
        <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && addAllAddressFeature()" #f="ngForm" novalidate>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="50%">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                              <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Feature Name <sup class="mandatory">*</sup> </strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline"
                                        [ngClass]="{ 'mandatory_input': f.submitted && featureName.invalid }">
                                        <input matInput name="featureName"
                                            [(ngModel)]="addressFeatureObj.featureName" class="form-control" maxlength="50"
                                            #featureName="ngModel" (input)="addressFeatureObj.featureName=$event.target.value.toUpperCase()" required>
                                    </mat-form-field>
                                    <div *ngIf="featureName.touched || (f.submitted && featureName.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="featureName.errors?.required">Feature Name is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>


                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust pd_8 "
                                    [ngClass]="{ 'mandatory_input': (effectiveDate.errors?.required && (effectiveDate.touched || f.submitted)) }">
                                        <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_1">
                                        </mat-datepicker>
                                        <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_2"
                                            class="date_adjust" (onMenuOpen)="checkForExpiryDate(addressFeatureObj.effectiveDate)">
                                        </mat-datepicker-toggle>
                                        <input matInput [matDatepicker]="date_picker_rate_group_2"
                                        [disabled]="addressFeatureObj.effectiveDate<currentDate && this.addressFeatureObj.id && isChange"
                                            [(ngModel)]="addressFeatureObj.effectiveDate" validDate
                                            name="effectiveDate" class="date_picker_input date_input_height"
                                            #effectiveDate="ngModel" required placeholder="DD/MM/YYYY"
                                            [min]="currentDate" (change)="isChange=false"
                                            (dateChange)="changeDateFormat(addressFeatureObj.effectiveDate,addressFeatureObj.expiryDate)" />

                                    </mat-form-field>
                                    <div *ngIf="effectiveDate.touched || (f.submitted && effectiveDate.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="effectiveDate.errors?.required">Effective Date is required</div>
                                        <div *ngIf="addressFeatureObj.effectiveDate < currentDate ">Effective date cannot be less than current date</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn"
                                        [ngClass]="{ 'mandatory_input': f.submitted && status.invalid }">
                                        <mat-select disableOptionCentering panelClass="anyClass"
                                            [(ngModel)]="addressFeatureObj.status" name="status" #status="ngModel"
                                            required uppercase>
                                            <mat-option [value]="1">
                                                ACTIVE
                                            </mat-option>
                                            <mat-option [value]="0">
                                                INACTIVE
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="status.touched || (f.submitted && status.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="status.errors?.required">Product Category is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
                <div fxFlex="50%">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                          <mat-grid-list cols="2" rowHeight="53px">
                                <mat-grid-tile>
                                    <mat-label><strong>Feature Type <sup class="mandatory">*</sup> </strong></mat-label>

                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn" [ngClass]="{ 'mandatory_input': f.submitted && featureType.invalid }">
                                        <mat-select disableOptionCentering   [dataArr]="LoadList" appAutoSelectFirstOption
                                                panelClass="anyClass multipleAnyClass_search_2"
                                                class="search_select_branch mr_top_22"
                                                [(ngModel)]="addressFeatureObj.featureType" name="featureType"
                                                #featureType="ngModel" required>
                                                <ngx-mat-select-search [(ngModel)]="featureNameSearchCtrl"
                                                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                    name="search">
                                                    <mat-icon
                                                        class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                        search
                                                    </mat-icon>
                                                </ngx-mat-select-search>
                                                <mat-option [value]="feature.descr"
                                                    *ngFor="let feature of LoadList | stringFilter:featureNameSearchCtrl:'descr' | sortBy:'descr'"
                                                    matTooltip="{{feature.descr}}"
                                                    [matTooltipPosition]="'above'">
                                                    {{feature.descr}}
                                                </mat-option>
                                            </mat-select>
                                        <!--<mat-select disableOptionCentering panelClass="anyClass" #featureType="ngModel" required name="featureType"
                                            [(ngModel)]="addressFeatureObj.featureType">
                                            <mat-option [value]="feature.descr" class="upper-case"
                                                *ngFor="let feature of LoadList">
                                                {{feature.descr}}
                                            </mat-option>
                                        </mat-select>-->
                                    </mat-form-field>
                                    <div *ngIf="featureType.touched || (f.submitted && featureType.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="featureType.errors?.required">Feature Type is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Expiry Date</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust pd_8 "
                                    [ngClass]="{ 'mandatory_input': isVar && ((addressFeatureObj.expiryDate<=addressFeatureObj.effectiveDate && !addressFeatureObj.id) || (currentDate>addressFeatureObj.expiryDate && addressFeatureObj.id))  }">
                                        <mat-datepicker #date_picker_rate_group_1 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_1">
                                        </mat-datepicker>
                                        <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_1"
                                            class="date_adjust">
                                        </mat-datepicker-toggle>
                                        <input matInput [matDatepicker]="date_picker_rate_group_1" [(ngModel)]="addressFeatureObj.expiryDate"
                                            #expiryDate="ngModel" validDate
                                            name="expiryDate" class="date_picker_input date_input_height"
                                            placeholder="DD/MM/YYYY" [min]="expiryMinDate"
                                            (dateChange)="changeDateFormat(addressFeatureObj.effectiveDate,addressFeatureObj.expiryDate);"
                                            (change)="isVar=true">
                                    </mat-form-field>
                                    <div *ngIf="isVar" class="invalid-feedback">
                                        <div
                                            *ngIf="addressFeatureObj.expiryDate<=addressFeatureObj.effectiveDate">
                                            Must be Greater than Effective and Current Date.</div>
                                        <div *ngIf="currentDate>addressFeatureObj.expiryDate && !(addressFeatureObj.expiryDate <= addressFeatureObj.effectiveDate) && addressFeatureObj.id">Must be Greater than Effective and Current Date.</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
                        <div fxFlex="90%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Description</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline">
                                        <input matInput name="rateCardCode"
                                            [(ngModel)]="addressFeatureObj.description" class="form-control"
                                            maxlength="50" (input)="addressFeatureObj.description=$event.target.value.toUpperCase()">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>



                </div>
            </div>
            <br>
            <br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <mat-grid-list cols="1" rowHeight="75px" class="row_height">
                        <mat-grid-tile class="module_area">
                            <button mat-flat-button class="theme_btn round_btn"
                                [disabled]="!addressFeatureObj.status && !addressFeatureObj.id">Save</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </form>
    </div>
</div>
