.searchbar_mdm2 i{
    position: absolute;
    top: 8px;
    left: 17px;
    font-size: 1.5rem;
    margin-top: -.7rem;
}
td.mat-cell:first-of-type,td.mat-cell:first-of-type{
    padding-left: 8.4rem !important;
    color: #4faf61;
    cursor: pointer;
}
th.mat-header-cell:first-of-type, th.mat-header-cell:last-of-type{
    padding-left: 8.4rem !important;
}

.Sfx-text{
    padding:13%;
    color: #4faf61;
}
.table_color{
    padding: 0.5% 3%;
    border-bottom: 1px solid #eeeeee;
}
.color-primary em{
    font-size: 21px;
    position: relative;
    top: 2px;
    margin-right: 10px;
    cursor:pointer
}
.overflow_y_scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 66vh;
}
.searchCustP{padding: 0px 5px !important;}
.searchCustNa{font-size: 1.7rem; font-weight: bold;}
