
.otp {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 43%;    
    text-align: center;
    padding-bottom: 4rem;
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 271px;
}

h1 {
    font-size: 2.5rem;
    color: #27AE60 !important;
    margin-bottom: 3rem;
}

button.btnOtp {
    background: #81C784 !important;
    color:#fff;
    padding: 0.8rem 6rem;
    margin-right:1rem;
    border-radius: 0;
    border-radius: 4rem;
 } 
 
 
  button.btnReset {
    border: 1px solid #81c784;
    padding: 0.5rem 2rem;
    background: #fff!important;
    color: #000;
 } 
 
 button.btn.btnOtp.reset {
     background: #fff!important;
     border: 0.1rem #81C784 solid;
     color: #000;
 }

 .optEnter {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 3rem;
    width: 68%;
    margin: 0 auto 5rem auto;
}

.form-control:focus {
    border-color: #27ae60!important;
 
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0!important;
    outline-offset: 0!important;
}


