<mat-card>
    <div style="position: relative;">
        <h3 id="h4">Consignee/Consignor Mapping</h3>
        <em class="fa fa-times fa-2x" aria-hidden="true" id="closeButton" (click)="closeDialog()"></em>
      </div>
    <hr id="popup-hr">
    <mat-card-content>
        <div class="col-lg-12 pincode_scroll">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6" *ngIf="data.element !='CONSIGNEE' && data.cneeList && data.cneeList.length>0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12"><strong class="billingFonts">Consignor List</strong></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12" *ngIf="data.element !='CONSIGNEE'">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 zonalheadingbar"></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 zonalheadingbar fonts">Name</div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 zonalheadingbar fonts">Address</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12" *ngIf="data.element !='CONSIGNEE'">
                            <div class="row" *ngFor="let ccData of data.cnorList; let i = index">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 border-bottom bilingConsinee">
                                    <mat-checkbox name="ischecked" [(ngModel)]="ccData.ischecked" 
                                        [checked]=ccData.ischecked>
                                    </mat-checkbox>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 border-bottom bilingConsinee">
                                    {{ccData.name | uppercase}}</div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 border-bottom bilingConsinee">
                                    {{ccData.addrBook.addr1 | uppercase}}&nbsp;{{ccData.addrBook.addr2 | uppercase}}&nbsp;{{ccData.addrBook.addr3 | uppercase}}
                                    &nbsp;{{ccData.addrBook.pincodeId}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6" *ngIf=" data.cneeList && data.cneeList.length>0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12"><strong class="billingFonts">Consignee List</strong></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 zonalheadingbar"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 zonalheadingbar fonts">Name</div>
                        <div class="col-lg-8 col-md-6 col-sm-8 col-xl-8 zonalheadingbar fonts">Address</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12" >
                        <div class="row" *ngFor="let ccData of data.cneeList; let i = index">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 border-bottom bilingConsinee">
                                <mat-checkbox name="ischecked" [(ngModel)]="ccData.ischecked" [checked]=ccData.ischecked></mat-checkbox>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 border-bottom bilingConsinee">
                                {{ccData.name | uppercase}}</div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 border-bottom bilingConsinee">
                                {{ccData.addrBook.addr1 | uppercase}}&nbsp;{{ccData.addrBook.addr2 | uppercase}}&nbsp;{{ccData.addrBook.addr3 | uppercase}}
                                &nbsp;{{ccData.addrBook.pincodeId}}
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 example-button-row text-center">
                <button mat-button class="btn1" style="text-align: center; margin-top: 5%; margin-bottom: 2%;"
                    mat-raised-button [mat-dialog-close]="data" color="primary">SUBMIT</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">  </ngx-spinner>
