<form class="hero-content retailContainer" name="saveBilling" (ngSubmit)="fBilling.form.valid" #fBilling="ngForm" novalidate>
  <div class="row text-left parent">
    <div class="breadcrumb">
      <a routerLink="/retail-contract/retail" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
      <a routerLink="/retail-contract/retail" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
      <a routerLink="/retail-contract/retail" target="_self">Customer</a><span class="fa fa-caret-right"></span>
      CREDIT
    </div>
    <stepper></stepper>
  </div>
  <h3>Credit Contract</h3>
  <div id="mat-card-heading" fxLayout="row"fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start"
    class="mat-card-header-container">
    <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Customer Name :
      </span><span>{{customerName}}</span></div>
    <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Salesforce Account Id :
      </span><span>{{sfdcAccId}}</span></div>
    <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>SFX Code : </span><em>NOT GENERATED YET</em>
    </div>
  </div>
  <mat-card>
    <!-- <div> -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 row">
        <div class=" col-lg-2 col-md-2 col-sm-2 col-xl-2 label-text row">Billing Level</div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 ">
        <mat-radio-group style="padding-left: 2rem !important;" *ngFor="let billingLevel of billingLevelList" (change)="changeLevel()"
          name="billingLevel" [(ngModel)]="billingData.lkpBillingLevelId">
          <mat-radio-button [value]="billingLevel.id">
            {{billingLevel.descr}}
          </mat-radio-button>
        </mat-radio-group>
        </div>
      </div>
      <mat-accordion>
        <!-- below code to be used in case of rate card billing -->        
        <mat-expansion-panel class="full-width" id="box-shadow " [expanded]="billingLevel=='RATE CARD'" *ngIf="billingLevel=='RATE CARD'" #first>
          <mat-expansion-panel-header>Billing Level (RATE CARD)</mat-expansion-panel-header>
          <mat-card-content>
            <div class="commercialboxflex">
              <div class="commercialbox1" *ngFor="let item of rateCardList" (click)="loadRateCard(item.id)" style="margin: 1rem;">
                <div class="container">
                  <a style="margin-top: .5%; color: #fff;">{{item.rateCardCode}}</a>
                  <p style="margin-top: .5%;">Effective Date:</p><p class="carton-text">{{item.effectiveDt}}</p>
                  <P class="carton-text">{{item.descr}}</P>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-expansion-panel>

        <mat-expansion-panel class="full-width" id="box-shadow" #second>
          <mat-expansion-panel-header>Detailed</mat-expansion-panel-header>
          <mat-card-content>
            <!-- next -->
            <div class="row">
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xl-12" style="padding-top: .4rem;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row" *ngIf="billingLevel=='MSA'">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">SFX Code Name</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  paddingtopone">
                    <mat-form-field appearance="outline">
                      <input readonly matInput name="sfxCode" [(ngModel)]="sfxCode">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row" *ngIf="billingLevel=='SFX' || billingLevel=='RATE CARD'">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Opportunity Name<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  paddingtopone">
                    <mat-form-field appearance="outline" >
                      <input readonly matInput name="opprName" [(ngModel)]="opprName">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 "></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Alias Name<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  paddingtopone">
                    <mat-form-field appearance="outline" >
                      <input required #aliasname1='ngModel' alphanumeric matInput name="aliasName" [(ngModel)]="billingData.aliasName" maxlength="200">
                    </mat-form-field>
                  </div>
                </div>
                <app-validation-msg *ngIf="(aliasname1.errors?.required && aliasname1.touched)" [msg]="'Required !'"></app-validation-msg>
              </div>
            <!-- next -->
            
              <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 row" *ngIf="billingLevel!='RATE CARD'">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4  label-text">Billing Sublevel<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-radio-group *ngFor="let item of billingSubLevelList" 
                      name="lkpBillingSublevelId" [(ngModel)]="billingData.lkpBillingSublevelId" (change)=showOffering(item)>
                      <mat-radio-button [value]="item.id" >
                        <span class="">{{item.descr}}</span>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 " *ngIf="selectOffering">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Select Offering<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select required  #seltOffering='ngModel' [(ngModel)]="serviceOfferingId" name="serviceOfferingId" [(value)]='serviceOfferingId'>
                        <mat-option *ngFor="let item of billingOfferingList" [value]="item.serviceOfferingId">
                          {{item.serviceOffering}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                   <span *ngIf="(seltOffering.errors?.required && (seltOffering.touched || seltOffering.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                </div>
              </div>
         
            <!-- next -->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: .4rem;">
              <div class="row col-lg-4 col-md-4 col-sm-4 col-xl-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 label-text">Billing SubType<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select #selectOff='ngModel' required name="lkpBillingSubtypeId" [(ngModel)]="billingData.lkpBillingSubtypeId" placeholder="Select Option">
                        <mat-option *ngFor="let item of billingSubTypeList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <app-validation-msg *ngIf='(selectOff.errors?.required && selectOff.touched)' [msg]="'Required'"></app-validation-msg>
                  </div>                 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 " style="    margin-left: 24px;">
                    <mat-form-field appearance="outline" >
                      <input #amt='ngModel' numeric  decimals="2" required matInput value="inputfiled" name="billingSubtypeInputVal" placeholder="ENTER AMOUNT HERE"
                          [(ngModel)]="billingData.billingSubtypeInputVal" maxlength="20">
                    </mat-form-field>
                  </div>
                  <app-validation-msg *ngIf='amt.errors?.required && amt.touched' [msg]="'Required !'"></app-validation-msg>
              </div>
              </div>
            <!-- next -->
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xl-12" style="padding-top: -.4rem;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2  label-text">Billing Details<span style="color: red;"> *</span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8  ">
                    <mat-radio-group style="margin-left: -1rem !important;"
                      class="example-radio-group" *ngFor="let item of billingDtlsList " name="billingDtls"
                      [(ngModel)]="billingData.billingDtls">
                      <mat-radio-button class="example-radio-button" [value]="item.value">
                        <span class="">{{item.value}}</span>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
              </div>
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xl-12" style="padding-top: .4rem;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Billing Cycle<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select name="lkpBillingCycleId" [(ngModel)]="billingData.lkpBillingCycleId">
                        <mat-option *ngFor="let item of billingCycleList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Payment Terms<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select name="lkpPymtTermId" [(ngModel)]="billingData.lkpPymtTermId">
                        <mat-option *ngFor="let item of paymentTermList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            <!-- next -->
              <div class=" row col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">E-billing<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                      <mat-radio-group class="example-radio-group"
                        *ngFor="let item of ebillingList " name="ebillFlag" [(ngModel)]="billingData.ebillFlag">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          <span class=""> {{item.value}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text"> Auto Billing<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                      <mat-radio-group class="example-radio-group"
                        *ngFor="let item of autoBillingList" name="autoBillingFlag"
                        [(ngModel)]="billingData.autoBillingFlag">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          <span class="">{{item.value}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                </div>
              </div>
            <!-- NEXT -->
            <!-- next -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">TOD<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  ">
                      <mat-radio-group  class="example-radio-group" *ngFor="let item of todList "
                        name="todFlag" [(ngModel)]="billingData.todFlag">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          {{item.value}}
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text"> Turnover Amount<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 row">
                      <mat-form-field appearance="outline">
                        <input #TurnoverAmount='ngModel' numeric  decimals="2"  required matInput name="todAmt" [(ngModel)]="billingData.todAmt">
                      </mat-form-field>
                    </div>
                  </div>
                  <app-validation-msg *ngIf="(TurnoverAmount.errors?.required && TurnoverAmount.touched)" [msg]="'Required'"></app-validation-msg>
                </div>
              </div>
            <!-- NEXT -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 row" style="padding-top: .4rem;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">TOD Based On<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select name="lkpTodBasedOnId" [(ngModel)]="billingData.lkpTodBasedOnId">
                        <mat-option *ngFor="let item of todBasedOnList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 "></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Billing Format<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select name="lkpBillingFormat" [(ngModel)]="billingData.lkpBillingFormat">
                        <mat-option *ngFor="let item of billingFormatList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            <!-- next -->
            <hr id="collapsedivider">
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xl-12">                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Billing By<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">
                    <mat-form-field appearance="outline">
                      <mat-select name="billingByLevelMapId" [(ngModel)]="billingByLevelMapId"
                        (selectionChange)="changeBillingBy(billingByLevelMapId)">
                        <mat-option *ngFor="let item of billingByList" [value]="item.id" #tooltip="matTooltip"
                          matTooltip="Changing Billing By will reset all table data" matTooltipPosition="right">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Consignor / Consignee Billing<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text ">
                    <mat-radio-group style="padding-left: 1.5rem !important;" class="example-radio-group" *ngFor="let item of cneeCnorFlagList"
                        name="cneeCnorFlag" [(ngModel)]="billingData.cneeCnorFlag">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          <span class="">{{item.value}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 ">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 ">
                    <strong><em class="plusIcon" (click)="addBillingBy()" #tooltip="matTooltip" *ngIf="addBilling==true"
                      matTooltip="ADD BILLING BY" matTooltipPosition="right" class="material-icons">add</em></strong>
                  </div>
                </div>
              </div>

              <div class=" row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 row " *ngIf="billingData.cneeCnorFlag==1">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">Category<span style="color: red;"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6  label-text">
                    <mat-form-field appearance="outline">
                      <mat-select name="cneeCnorBillingCateg" [(ngModel)]="billingData.cneeCnorBillingCateg" (selectionChange)="assignConnCnee(billingData.cneeCnorBillingCateg)">
                        <mat-option *ngFor="let item of categoryList" [value]="item.value">
                          {{item.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>           
            <hr id="collapsedivider">
            <!-- next -->
            <div class="row" *ngIf="billingData.cneeCnorBillingCateg=='CONSIGNEE'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8  label-text">Consignee wise Billing
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 ">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 zonalheadingbar ">Mapped Consignee</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 " *ngFor="let item of billingData.billingCneeCnorMap">
                    {{item.cneeName}}
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="billingby-container example-container mat-elevation-z8" *ngIf="billingByLevelMapId" style="width: 100% !important;">
                <table mat-table [dataSource]="billingData.billingBy"  aria-describedby="table" >
                  <ng-container matColumnDef="state">
                    <th scope="row" mat-header-cell *matHeaderCellDef >STATE</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" style="width: 80%;">
                        <mat-select name="stateId" [(value)]="element.stateId" (selectionChange)="updateList(i, 'stateId', $event.value)">
                          <mat-option *ngFor="let item of stateList" [value]="item.id">
                            {{item.descr}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="assignBranchId">
                    <th scope="row" mat-header-cell *matHeaderCellDef >ASSIGN BRANCH</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #assignBranchId='ngModel' [(ngModel)]="element.assignBranchName" matInput name="assignBranchId-{{i}}" readonly [(value)]="element.assignBranchName" >
                      </mat-form-field>
                      <span *ngIf="(assignBranchId.errors?.required && (assignBranchId.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="billingBranchId">
                    <th scope="row" mat-header-cell *matHeaderCellDef >BILLING BRANCH</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <a><span class="fa fa-search fa-lg" id="billingSearch" (click)="searchBillingBranch(element)"></span></a>  
                        <input required #billingBranchId='ngModel' [(ngModel)]="element.billingBranchName" matInput name="billingBranchId-{{i}}" [(value)]="element.billingBranchName" (keyup.enter)="searchBillingBranch(element)"
                        (keyup)="changeValue(i, 'billingBranchName', $event.target.value)" (blur)="updateList(i, 'billingBranchName', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(billingBranchId.errors?.required && (billingBranchId.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>assignBranchName
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="submsnBranchId">
                    <th scope="row" mat-header-cell *matHeaderCellDef >SUBMISSION BRANCH</th>
                    <td mat-cell *matCellDef="let element; let i = index" >
                      <div class="relative">
                      <a><span class="fa fa-search fa-lg" id="billingSearch" (click)="searchSubmissionBranch(element)"></span></a>
                      <mat-form-field appearance="outline" >                        
                        <input required #submsnBranchId='ngModel' [(ngModel)]="element.submsnBranchName" class="paddingleft1point5rem" matInput name="submsnBranchId-{{i}}" [(value)]="element.submsnBranchName" (keyup.enter)="searchSubmissionBranch(element)"
                        (keyup)="changeValue(i, 'submsnBranchName', $event.target.value)" (blur)="updateList(i, 'submsnBranchName', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(submsnBranchId.errors?.required && (submsnBranchId.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="billtoAddr">
                    <th scope="row" mat-header-cell *matHeaderCellDef >
                      <div style="min-width: 22rem !important;">BILL TO ADDRESS</div></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <mat-select required #billtoAddr='ngModel' [(ngModel)]="element.billtoAddr" name="billtoAddr-{{i}}" [(value)]="element.billtoAddr">
                          <mat-option *ngFor="let item of element.billtoAddrList" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <span *ngIf="(billtoAddr.errors?.required && (billtoAddr.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                      <strong><em style="color: #27AE60; font-size: 3rem; cursor: pointer;" (click)="addAddress(i)" #tooltip="matTooltip" matTooltip="ADD Bill TO ADDRESS"
                        matTooltipPosition="right" class="material-icons">add</em></strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="gstinNum">
                    <th scope="row" mat-header-cell *matHeaderCellDef >GSTIN NUM</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #gstinNum='ngModel' [(ngModel)]="element.gstinNum" appGstin matInput name="gstinNum-{{i}}" [(value)]="element.gstinNum" (keyup)="changeValue(i, 'gstinNum', $event.target.value)" (blur)="updateList(i, 'gstinNum', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(gstinNum.errors?.required && (gstinNum.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="collBranchId">
                    <th scope="row" mat-header-cell *matHeaderCellDef >COLLECTION BRANCH</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <div class="relative">
                      <a><span class="fa fa-search fa-lg" id="billingSearch" (click)="searchCollectionBranch(element)"></span></a>
                      <mat-form-field appearance="outline" >
                      <input required #collBranchId='ngModel' [(ngModel)]="element.collBranchName" class="paddingleft1point5rem" matInput name="collBranchId-{{i}}" [(value)]="element.collBranchName" (keyup.enter)="searchCollectionBranch(element)"
                      (keyup)="changeValue(i, 'collBranchName', $event.target.value)" (blur)="updateList(i, 'collBranchName', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(collBranchId.errors?.required && (collBranchId.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="minBillingAmt"> 
                    <th scope="row" mat-header-cell *matHeaderCellDef >MIN. BILLING AMOUNT</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #minBillingAmt='ngModel' [(ngModel)]="element.minBillingAmt" matInput name="minBillingAmt-{{i}}" [(value)]="element.minBillingAmt" (keyup)="changeValue(i, 'minBillingAmt', $event.target.value)" (blur)="updateList(i, 'minBillingAmt', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(minBillingAmt.errors?.required && (minBillingAmt.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                      <span *ngIf="(minBillingAmt.value <= 0) && !minBillingAmt.errors?.required" class="hasErrorMsg">
                        <em>Greater Than 0!</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="excludeBillingFlag">
                    <th scope="row" mat-header-cell *matHeaderCellDef >EXCLUDE BILLING</th>
                    <td mat-cell *matCellDef="let element; let i = index"><div style="width: 18rem !important;">
                      <mat-radio-group style="padding-left: 1.5rem !important;" class="example-radio-group" *ngFor="let item of excludeBillingFlagList" (change)="updateList(i, 'excludeBillingFlag', $event.value)"
                      [name]="billingData.billingBy[i].excludeBillingFlag" [(value)]="element.excludeBillingFlag">
                      <mat-radio-button class="example-radio-button" [value]="item.id">
                        {{item.value}}
                      </mat-radio-button>
                    </mat-radio-group>
                  
                  </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="excludeBillingDt">
                    <th scope="row" mat-header-cell *matHeaderCellDef >EXCLUDE BILLING DATE</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline"  style="width: 13rem !important;">
                        <input required #excludeBillingDt='ngModel' [(ngModel)]="element.excludeBillingDt" matInput [matDatepicker]="picker2" name="excludeBillingDt-{{i}}" [min]="minDatee" [max]="tomorrow" [(value)]="element.excludeBillingDt"
                        (keyup)="changeValue(i, 'excludeBillingDt', $event.target.value)" (blur)="updateList(i, 'excludeBillingDt', $event.target.value)" placeholder="DD/MM/YYYY" class="date_picker">
                        <mat-datepicker panelClass="creditDatepicker" #picker2></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      </mat-form-field>
                      <span *ngIf="(excludeBillingDt.errors?.required && (excludeBillingDt.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>

                    </td>
                  </ng-container>
                  <ng-container matColumnDef="tanNum">
                    <th scope="row" mat-header-cell *matHeaderCellDef >TAN</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #tanNum='ngModel' [(ngModel)]="element.tanNum" appTan matInput name="tanNum-{{i}}" [(value)]="element.tanNum" (keyup)="changeValue(i, 'tanNum', $event.target.value)" (blur)="updateList(i, 'tanNum', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(tanNum.errors?.required && (tanNum.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="lkpGbCtgyId">
                    <th scope="row" mat-header-cell *matHeaderCellDef >GB CATEGORY</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <mat-select required #lkpGbCtgyId='ngModel' [(ngModel)]="element.lkpGbCtgyId" name="lkpGbCtgyId-{{i}}" [(value)]="element.lkpGbCtgyId" (selectionChange)="updateList(i, 'lkpGbCtgyId', $event.value)">
                          <mat-option *ngFor="let item of gbCategoryList" [value]="item.id">
                            {{item.descr}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <span *ngIf="(lkpGbCtgyId.errors?.required && (lkpGbCtgyId.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="creditRisk">
                    <th scope="row" mat-header-cell *matHeaderCellDef >CREDIT RISK</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #creditRisk='ngModel' [(ngModel)]="element.creditRisk" matInput name="creditRisk-{{i}}" [(value)]="element.creditRisk" (keyup)="changeValue(i, 'creditRisk', $event.target.value)" (blur)="updateList(i, 'creditRisk', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(creditRisk.errors?.required && (creditRisk.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="mnthPotential">
                    <th scope="row" mat-header-cell *matHeaderCellDef >MONTHLY POTENTIAL</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #mnthPotential='ngModel' [(ngModel)]="element.mnthPotential" matInput name="mnthPotential-{{i}}" [(value)]="element.mnthPotential" (keyup)="changeValue(i, 'mnthPotential', $event.target.value)" (blur)="updateList(i, 'mnthPotential', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(mnthPotential.errors?.required && (mnthPotential.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="ebillEmail">
                    <th scope="row" mat-header-cell *matHeaderCellDef >E-BILL E-MAIL ID</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #ebillEmail='ngModel' [(ngModel)]="element.ebillEmail" matInput name="ebillEmail-{{i}}" [(value)]="element.ebillEmail" (keyup)="changeValue(i, 'ebillEmail', $event.target.value)" (blur)="updateList(i, 'ebillEmail', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(ebillEmail.errors?.required && (ebillEmail.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="bdmEmail">
                    <th scope="row" mat-header-cell *matHeaderCellDef >BDM E-MAIL ID</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #bdmEmail='ngModel' [(ngModel)]="element.bdmEmail" matInput name="bdmEmail-{{i}}" [(value)]="element.bdmEmail" (keyup)="changeValue(i, 'bdmEmail', $event.target.value)" (blur)="updateList(i, 'bdmEmail', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(bdmEmail.errors?.required && (bdmEmail.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="commBillEmail">
                    <th scope="row" mat-header-cell *matHeaderCellDef >COMMUNICATION E-MAIL ID</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #commBillEmail='ngModel' [(ngModel)]="element.commBillEmail" matInput name="commBillEmail-{{i}}" [(value)]="element.commBillEmail" (keyup)="changeValue(i, 'commBillEmail', $event.target.value)" (blur)="updateList(i, 'commBillEmail', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(commBillEmail.errors?.required && (commBillEmail.touched || fBilling.submitted))"
                          class="hasErrorMsg">
                          <em>Required !</em>
                      </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

            <!-- next -->
            <div class="row" *ngIf="billingData.cneeCnorBillingCateg!='CONSIGNEE'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 ">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8  label-text">Consignor/Consignee wise Billing
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 ">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2  zonalheadingbar">Name</div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10  zonalheadingbar">Mapped with</div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 " *ngFor="let item of billingData.billingCneeCnorMap">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 ">{{item.cnorName}}</div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 ">{{item.cneeName}}</div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

   

    <div style="margin-top: 3%;">
      <mat-accordion>
        <div class="example-button-row text-center" style="margin-top: 5%">
          <button type="submit" class="btn1" mat-raised-button color="primary" (click)="isValidBillingDraft()">Save As Draft</button>
          <button type="sumit" class="btn1" style="text-align: center" mat-raised-button color="primary" (click)="isValidBilling()">Next</button>
          <button type="button" class="btn1" mat-raised-button color="primary" (click)="ngOnInit()">Reset</button>
        </div>
      </mat-accordion>
    </div>
  </mat-card>
</form>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">  </ngx-spinner>