<form class="hero-content" name="saveBilling" (ngSubmit)="fBilling.form.valid" #fBilling="ngForm" novalidate>
  <div class="row text-left parent">
    <div class="breadcrumb">
      <a href="#" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
      <a href="#" target="_self">Contracts</a><span class="fa fa-caret-right"></span>
      <a href="#" target="_self">Customer</a><span class="fa fa-caret-right"></span>
      CREDIT
    </div>
    <stepper></stepper>
  </div>
  <h3>Credit Contract</h3>
  <div id="mat-card-heading" fxLayout="row"fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start"
    class="mat-card-header-container">
    <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Customer Name :
      </span><span>{{customerName}}</span></div>
    <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>Salesforce Account Id :
      </span><span>{{sfdcAccId}}</span></div>
    <div fxFlex=33 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="start"><span>SFX Code : </span><i>{{sfxCode}}</i>
    </div>
  </div>
  <mat-card>
    <!-- <div> -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 label-text row">Billing Level</div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
        <mat-radio-group style="padding-left: 2rem !important;" *ngFor="let billingLevel of billingLevelList" (change)="changeLevel()"
          name="billingLevel" [(ngModel)]="billingData.lkpBillingLevelId">
          <mat-radio-button [value]="billingLevel.id">
            {{billingLevel.descr}}
          </mat-radio-button>
        </mat-radio-group>
        </div>
      </div>
      <mat-accordion>
        <!-- below code to be used in case of rate card billing -->        
        <mat-expansion-panel class="full-width" id="box-shadow " [expanded]="billingLevel=='RATE CARD'" *ngIf="billingLevel=='RATE CARD'" #first>
          <mat-expansion-panel-header>Billing Level (RATE CARD)</mat-expansion-panel-header>
          <mat-card-content>
            <div class="commercialboxflex">
              <div class="commercialbox1" *ngFor="let item of rateCardList" (click)="loadRateCard(item.id)" style="margin: 1rem;cursor:pointer;">
                <div class="container">
                  <h6 style="margin-top: 3rem; color: #fff;margin-bottom: 1rem !important;">{{item.rateCardCode}}</h6>
                  <hr class="divider">
                  <p>Effective Date:</p><p class="carton-text">{{item.effectiveDt}}</p>
                  <!-- <P class="carton-text">{{item.descr}}</P> -->
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-expansion-panel>

        <mat-expansion-panel class="full-width" id="box-shadow" #second>
          <mat-expansion-panel-header (click)="openDetails()">Detailed</mat-expansion-panel-header>
          <mat-card-content>
            <!-- next -->
            <div class="row">
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: .4rem;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row" *ngIf="billingLevel=='MSA'">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">SFX Code Name</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  paddingtopone">
                    <mat-form-field appearance="outline">
                      <input readonly matInput name="sfxCode" [(ngModel)]="sfxCode" autocomplete="true">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row" *ngIf="billingLevel=='SFX' || billingLevel=='RATE CARD'">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Opportunity Name<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  paddingtopone">
                    <mat-form-field appearance="outline" >
                      <input readonly matInput name="opprName" [(ngModel)]="opprName" autocomplete="true">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Alias Name<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  paddingtopone">
                    <mat-form-field appearance="outline" >
                      <input autocomplete="true" required #aliasname1='ngModel' maxlength="25" alphanumeric matInput name="aliasName" [(ngModel)]="billingData.aliasName" [disabled]="msaBillingExists">
                    </mat-form-field>
                    <span *ngIf="(aliasname1.errors?.required && (aliasname1.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
              </div>
            <!-- next -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" *ngIf="billingLevel!='RATE CARD'">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  label-text">Billing Sublevel<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                    <mat-radio-group *ngFor="let item of billingSubLevelList" [disabled]="msaBillingExists" 
                      name="lkpBillingSublevelId" required #lkpBillingSublevelId="ngModel" [(ngModel)]="billingData.lkpBillingSublevelId" (change)=showOffering(item)>
                      <mat-radio-button [value]="item.id" >
                        <span class="">{{item.descr}}</span>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " *ngIf="selectOffering">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Select Offering<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #serOfferId='ngModel' [(ngModel)]="serviceOfferingId" name="serviceOfferingId" [(value)]='serviceOfferingId'>
                        <mat-option *ngFor="let item of billingOfferingList" [value]="item.serviceOfferingId">
                          {{item.serviceOffering}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(serOfferId.errors?.required && (serOfferId.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <!-- next -->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: .4rem;">
              <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-text">Billing SubType<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" #selectOff='ngModel' required name="lkpBillingSubtypeId" [(ngModel)]="billingData.lkpBillingSubtypeId" placeholder="Select Option" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of billingSubTypeList" [value]="item.id" (click)="changeSubType(item)">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(selectOff.errors?.required && (selectOff.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>                 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline" >
                      <input #amt='ngModel' numeric  decimals="2" required matInput value="inputfiled" name="billingSubtypeInputVal" [placeholder]="subTypePlaceholder"
                          [(ngModel)]="billingData.billingSubtypeInputVal" maxlength="20" autocomplete="true" [disabled]="msaBillingExists">
                    </mat-form-field>
                    <span *ngIf="(amt.errors?.required && (amt.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
              </div>
              </div>
            <!-- next -->
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: -.4rem;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  label-text">Bill Date<span class="redMark"> *</span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  ">
                    <mat-radio-group style="margin-left: -1rem !important;"
                      class="example-radio-group" *ngFor="let item of billingDtlsList " name="billingDtls"
                      [(ngModel)]="billingData.billingDtls" [disabled]="msaBillingExists">
                      <mat-radio-button class="example-radio-button" [value]="item.value">
                        <span class="">{{item.value}}</span>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
              </div>
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: .4rem;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Billing Cycle<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #lkpBillCycleId='ngModel' name="lkpBillCycleId" [(ngModel)]="billingData.lkpBillingCycleId" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of billingCycleList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(lkpBillCycleId.errors?.required && (lkpBillCycleId.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Payment Terms<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #lkpPymt='ngModel' name="lkpPymtTermId" [(ngModel)]="billingData.lkpPymtTermId" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of paymentTermList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(lkpPymt.errors?.required && (lkpPymt.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
              </div>
            <!-- next -->
              <div class=" row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">E-billing<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                      <mat-radio-group class="example-radio-group"
                        *ngFor="let item of ebillingList " name="ebillFlag" [(ngModel)]="billingData.ebillFlag" [disabled]="msaBillingExists">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          <span class=""> {{item.value}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text"> Auto Billing<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                      <mat-radio-group class="example-radio-group"
                        *ngFor="let item of autoBillingList" name="autoBillingFlag"
                        [(ngModel)]="billingData.autoBillingFlag" [disabled]="msaBillingExists">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          <span class="">{{item.value}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                </div>
              </div>
            <!-- NEXT -->
            <!-- next -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">TOD<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">
                      <mat-radio-group  class="example-radio-group" *ngFor="let item of todList"
                        name="todFlag" [(ngModel)]="billingData.todFlag" [disabled]="msaBillingExists">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          {{item.value}}
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text"> Turnover Amount</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop row">
                      <mat-form-field appearance="outline">
                        <input autocomplete="true" #TurnoverAmount='ngModel' numeric  decimals="2" matInput name="todAmt" [(ngModel)]="billingData.todAmt" maxlength="8" [disabled]="msaBillingExists">
                      </mat-form-field>
                      <!-- <span *ngIf="(TurnoverAmount.errors?.required && (TurnoverAmount.touched || fBilling.submitted))"
                          class="hasErrorMsgRight">
                          <i>Required&nbsp;!</i>
                      </span> -->
                    </div>
                  </div>
                </div>
              </div>
            <!-- NEXT -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" style="padding-top: .4rem;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">TOD Based On<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #lkpTod='ngModel' name="lkpTodBasedOnId" [(ngModel)]="billingData.lkpTodBasedOnId" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of todBasedOnList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(lkpTod.errors?.required && (lkpTod.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Billing Format<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #lkpBillFormat='ngModel' name="lkpBillingFormat" [(ngModel)]="billingData.lkpBillingFormat" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of billingFormatList" [value]="item.id">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(lkpBillFormat.errors?.required && (lkpBillFormat.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
              </div>
            <!-- next -->
            <hr id="collapsedivider">
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Billing By<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #billByLevel='ngModel' name="billingByLevelMapId" [(ngModel)]="billingByLevelMapId"
                        (selectionChange)="changeBillingBy(billingByLevelMapId)" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of billingByList" [value]="item.id" #tooltip="matTooltip"
                          matTooltip="Changing Billing By will reset all table data" matTooltipPosition="right">
                          {{item.descr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(billByLevel.errors?.required && (billByLevel.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" (click)="addBillingBy()" *ngIf="addBilling==true"> 
                    <span><i class="material-icons" style="cursor: pointer;" #tooltip="matTooltip"
                        matTooltip="ADD BILLING BY" matTooltipPosition="right">add_circle</i>
                      </span></div>
                  </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Consignor / Consignee Billing<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text ">
                    <mat-radio-group style="padding-left: 1.5rem !important;" class="example-radio-group" *ngFor="let item of cneeCnorFlagList"
                        name="cneeCnorFlag" [(ngModel)]="billingData.cneeCnorFlag" [disabled]="msaBillingExists">
                        <mat-radio-button class="example-radio-button" [value]="item.id">
                          <span class="">{{item.value}}</span>
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
              </div>

              <div class=" row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row " *ngIf="billingData.cneeCnorFlag==1">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  label-text">Category<span class="redMark"> *</span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 positionTop">
                    <mat-form-field appearance="outline">
                      <mat-select disableOptionCentering panelClass="creditSelect" required #cneeCnorBill='ngModel' name="cneeCnorBillingCateg" [(ngModel)]="billingData.cneeCnorBillingCateg" [disabled]="msaBillingExists">
                        <mat-option *ngFor="let item of categoryList" [value]="item.value" (click)="assignConnCnee(item.value)">
                          {{item.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span *ngIf="(cneeCnorBill.errors?.required && (cneeCnorBill.touched || fBilling.submitted))"
                        class="hasErrorMsgRight">
                        <i>Required&nbsp;!</i>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row " *ngIf="billingData.cneeCnorFlag==1 && billingData.cneeCnorBillingCateg && !msaBillingExists">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
                    <span><i class="material-icons" (click)="assignConnCnee(billingData.cneeCnorBillingCateg)"
                        style="cursor: pointer;">create</i>
                      </span></div>
                  </div>
              </div>           
            <!-- </div> -->   
         
          </div>
          <hr id="collapsedivider">
          <!-- next -->       

            <div class="billingby-container example-container mat-elevation-z8" *ngIf="billingByLevelMapId" style="width: 100% !important;">
                <table mat-table [dataSource]="billingData.billingBy" class="biilingTable">
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef >STATE</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index" >
                      <mat-form-field appearance="outline" style="width: 80%;" class="state_dropdown">
                        <mat-select disableOptionCentering panelClass="creditSelect" name="stateId" [(value)]="element.stateId" (selectionChange)="updateList(i, 'stateId', $event.value)" panelClass="state_dropdown" [disabled]="msaBillingExists">
                          <mat-option *ngFor="let item of stateList | sortBy:'asc':'descr'" [value]="item.id">
                            {{item.descr}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="assignBranchId">
                    <th mat-header-cell *matHeaderCellDef >ASSIGN BRANCH</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input autocomplete="true" required #assignBranchId='ngModel' [(ngModel)]="element.assignBranchName" matInput name="assignBranchId-{{i}}" readonly [(value)]="element.assignBranchName" >
                      </mat-form-field>
                      <span *ngIf="(assignBranchId.errors?.required && (assignBranchId.touched || fBilling.submitted))"
                          class="hasErrorMsgRight marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>              
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="billingBranchId">
                    <th mat-header-cell *matHeaderCellDef >BILLING BRANCH</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <a class="pincodeText" (click)="searchBillingBranch(element)" style="cursor: pointer !important;">
                      <mat-form-field appearance="outline" >                        
                        <span class="fa fa-search fa-lg" id="billingSearch" (click)="searchBillingBranch(element)" style="top: -.3rem !important;
                        left: -.3rem !important;"></span>
                        <input autocomplete="true" [readonly]="element.billingBranchName" class="paddingleft1point5rem" required #billingBranchId='ngModel' [(ngModel)]="element.billingBranchName" matInput name="billingBranchId-{{i}}" [(value)]="element.billingBranchName" (keyup.enter)="searchBillingBranch(element, element.billingBranchName)"
                        (keyup)="changeValue(i, 'billingBranchName', $event.target.value)" (blur)="updateList(i, 'billingBranchName', $event.target.value)">
                      </mat-form-field>
                    </a>
                      <span *ngIf="(billingBranchId.errors?.required && (billingBranchId.touched || fBilling.submitted)) && !billingBranchError==true"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="submsnBranchId">
                    <th mat-header-cell *matHeaderCellDef >SUBMISSION BRANCH</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index" >
                      <div class="relative">
                      <a class="pincodeText" (click)="searchSubmissionBranch(element)" style="cursor: pointer !important;"><span class="fa fa-search fa-lg" id="billingSearch" (click)="searchSubmissionBranch(element, element.submsnBranchName)"></span>
                      <mat-form-field appearance="outline">                        
                        <input autocomplete="true" [readonly]="element.submsnBranchName" required #submsnBranchId='ngModel' [(ngModel)]="element.submsnBranchName" class="paddingleft1point5rem" matInput name="submsnBranchId-{{i}}" [(value)]="element.submsnBranchName" (keyup.enter)="searchSubmissionBranch(element, element.submsnBranchName)"
                        (keyup)="changeValue(i, 'submsnBranchName', $event.target.value)" (blur)="updateList(i, 'submsnBranchName', $event.target.value)">
                      </mat-form-field>
                      </a>
                      <span *ngIf="(submsnBranchId.errors?.required && (submsnBranchId.touched || fBilling.submitted)) && !submissionBranchError==true" class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="billtoAddr">
                    <th mat-header-cell *matHeaderCellDef>
                     <div style="min-width: 21rem !important;">BILL TO ADDRESS</div></th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" style="margin-right: .5rem !important;">
                        <mat-select disableOptionCentering panelClass="creditSelect" required #billtoAddr='ngModel' [(ngModel)]="element.billtoAddr" name="billtoAddr-{{i}}" [(value)]="element.billtoAddr" [disabled]="msaBillingExists">
                          <mat-option *ngFor="let item of element.billtoAddrList" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <span *ngIf="(billtoAddr.errors?.required && (billtoAddr.touched || fBilling.submitted))" class="hasErrorMsg marginBilling"><i>Required&nbsp;!</i></span>
                      <b *ngIf="!msaBillingExists"><i style="color: #27AE60; font-size: 3rem; cursor: pointer;" (click)="addAddress(i)" #tooltip="matTooltip" matTooltip="ADD Bill TO ADDRESS"
                        matTooltipPosition="right" class="material-icons">add</i></b>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="gstinNum">
                    <th mat-header-cell *matHeaderCellDef >GSTIN NUM</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #gstinNum='ngModel' [(ngModel)]="element.gstinNum" maxlength="15" minlength="15" [disabled]="msaBillingExists"
                        pattern="\d{2}[A-Za-z]{5}\d{4}[A-Za-z]{1}[A-Za-z\d]{1}[Zz]{1}[A-Za-z\d]{1}" alphanumeric matInput name="gstinNum-{{i}}" [(value)]="element.gstinNum" (keyup)="changeValue(i, 'gstinNum', $event.target.value)" (blur)="updateList(i, 'gstinNum', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(gstinNum.errors?.required && (gstinNum.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                      <span *ngIf="gstinNum.errors?.pattern" class="hasErrorMsg marginBilling">Invalid GSTIN !</span>
                      <span *ngIf=" gstinNum.invalid && (gstinNum.dirty || gstinNum.touched) && !gstinNum.errors?.required && !gstinNum.errors?.pattern" class="hasErrorMsg marginBilling">Invalid GSTIN !</span>
                      <!-- <span *ngIf="!gstinChk && !gstinNum.invalid && !gstinNum.errors?.required " class="hasErrorMsg">Invalid GSTIN !</span> -->
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="collBranchId">
                    <th mat-header-cell *matHeaderCellDef >COLLECTION BRANCH</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <div class="relative">
                      <a class="pincodeText" (click)="searchCollectionBranch(element)" style="cursor: pointer !important;">
                      <span class="fa fa-search fa-lg" id="billingSearch" (click)="searchCollectionBranch(element)"></span>
                      <mat-form-field appearance="outline" >
                      <input required #collBranchId='ngModel'  [readonly]="element.collBranchName" [(ngModel)]="element.collBranchName" class="paddingleft1point5rem" matInput name="collBranchId-{{i}}" [(value)]="element.collBranchName" (keyup.enter)="searchCollectionBranch(element, element.collBranchName)"
                      (keyup)="changeValue(i, 'collBranchName', $event.target.value)" (blur)="updateList(i, 'collBranchName', $event.target.value)">
                      </mat-form-field></a>
                      <span *ngIf="(collBranchId.errors?.required && (collBranchId.touched || fBilling.submitted)) && !collectionBranchError==true"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>                 
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="minBillingAmt"> 
                    <th mat-header-cell *matHeaderCellDef >MIN. BILLING AMOUNT</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #minBillingAmt='ngModel' numeric maxlength="8" decimals="2" [disabled]="msaBillingExists" [(ngModel)]="element.minBillingAmt" matInput name="minBillingAmt-{{i}}" [(value)]="element.minBillingAmt" (keyup)="changeValue(i, 'minBillingAmt', $event.target.value)" (blur)="updateList(i, 'minBillingAmt', $event.target.value)">
                      </mat-form-field>
                      <span *ngIf="(minBillingAmt.errors?.required && (minBillingAmt.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                      <span *ngIf="(((minBillingAmt.value <= 0) || ((minBillingAmt.value <= 0) && fBilling.submitted)) && (!minBillingAmt.errors?.required))" class="hasErrorMsg marginBilling">
                        <i>Greater Than 0!</i>
                      </span>
                    </td>
                    <td></td>
                  </ng-container>
                  <ng-container matColumnDef="excludeBillingFlag">
                    <th mat-header-cell *matHeaderCellDef >EXCLUDE BILLING</th>
                    <td class="paddingtopone" mat-cell *matCellDef="let element; let i = index"><div style="width: 18rem !important;">
                      <mat-radio-group style="padding-left: 1.5rem !important;" class="example-radio-group" *ngFor="let item of excludeBillingFlagList" (change)="updateList(i, 'excludeBillingFlag', $event.value)"
                      name="excludeBillingFlag{{i}}" [(value)]="element.excludeBillingFlag" [disabled]="msaBillingExists">
                      <mat-radio-button class="example-radio-button" [value]="item.id">
                        {{item.value}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <!-- <span *ngIf="(excludeBillingFlag.errors?.required && (excludeBillingFlag.touched || fBilling.submitted))"
                        class="hasErrorMsg">
                        <i>Required&nbsp;!</i>
                    </span> -->
                  </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="excludeBillingDt">
                    <th mat-header-cell *matHeaderCellDef >EXCLUDE BILLING DATE</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline"  style="width: 13rem !important;">
                        <input required #excludeBillingDt='ngModel' [(ngModel)]="element.excludeBillingDt" matInput [matDatepicker]="picker2" name="excludeBillingDt-{{i}}" class="date_picker"
                        [disabled]="!element.excludeBillingFlag || msaBillingExists" [min]="minDate" [max]="maxDate" (dateChange)="updateList(i, 'excludeBillingDt', $event.target.value)" placeholder="DD/MM/YYYY">
                        <mat-datepicker panelClass="creditDatepicker" #picker2></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      </mat-form-field>
                      <span *ngIf="(excludeBillingDt.errors?.required && (excludeBillingDt.touched || fBilling.submitted))" class="hasErrorMsg marginBilling">
                          <i>Required !</i>
                      </span>
                      <span *ngIf="isValidBillingDt && !(excludeBillingDt.errors?.required)" class="hasErrorMsg marginBilling">
                        Invalid Billing Date!
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="tanNum">
                    <th mat-header-cell *matHeaderCellDef >TAN</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                   
                    <input required #tanNum='ngModel' [(ngModel)]="element.tanNum"  matInput name="tanNum-{{i}}"  minlength="10" maxlength="10" [disabled]="msaBillingExists"
                      pattern="^[A-Za-z]{4}\d{5}[A-Za-z]{1}$" alphanumeric [(value)]="element.tanNum" (keyup)="changeValue(i, 'tanNum', $event.target.value)" (blur)="updateList(i, 'tanNum', $event.target.value)">
                    
                    </mat-form-field>
                      <span *ngIf="(tanNum.errors?.required && (tanNum.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                      <span *ngIf="tanNum.errors?.pattern" class="hasErrorMsg marginBilling">Invalid TAN</span>
                      <!-- <span *ngIf="tanNum.invalid && (tanNum.dirty || tanNum.touched) && !tanNum.errors?.required && !tanNum.errors?.pattern" class="hasErrorMsg">Invalid TAN</span>
                      <span *ngIf="!tanNum.invalid && tanNum.errors?.required " class="hasErrorMsg">Invalid TAN</span>
                      <span *ngIf="tanNum.errors?.pattern " class="hasErrorMsg">Invalid TAN</span> -->
                      <!-- <span *ngIf="!tanChk && !tanNum.invalid && !tanNum.errors?.required " class="hasErrorMsg">Invalid TAN</span> -->
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="lkpGbCtgyId">
                    <th mat-header-cell *matHeaderCellDef >GB CATEGORY</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <mat-select disableOptionCentering panelClass="creditSelect" required #lkpGbCtgyId='ngModel' [(ngModel)]="element.lkpGbCtgyId" name="lkpGbCtgyId-{{i}}" 
                        [(value)]="element.lkpGbCtgyId" (selectionChange)="updateList(i, 'lkpGbCtgyId', $event.value)" [disabled]="msaBillingExists">
                          <mat-option *ngFor="let item of gbCategoryList" [value]="item.id">
                            {{item.descr}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <span *ngIf="(lkpGbCtgyId.errors?.required && (lkpGbCtgyId.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="creditRisk">
                    <th mat-header-cell *matHeaderCellDef >CREDIT LIMIT</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #creditRisk='ngModel' [(ngModel)]="element.creditRisk" matInput name="creditRisk-{{i}}" [(value)]="element.creditRisk" 
                        (keyup)="changeValue(i, 'creditRisk', $event.target.value)" (blur)="updateList(i, 'creditRisk', $event.target.value)" [disabled]="msaBillingExists">
                      </mat-form-field>
                      <span *ngIf="(creditRisk.errors?.required && (creditRisk.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="mnthPotential">
                    <th mat-header-cell *matHeaderCellDef >MONTHLY POTENTIAL</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #mnthPotential='ngModel' [(ngModel)]="element.mnthPotential" matInput name="mnthPotential-{{i}}" [(value)]="element.mnthPotential"
                         (keyup)="changeValue(i, 'mnthPotential', $event.target.value)" (blur)="updateList(i, 'mnthPotential', $event.target.value)" [disabled]="msaBillingExists">
                      </mat-form-field>
                      <span *ngIf="(mnthPotential.errors?.required && (mnthPotential.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required&nbsp;!</i>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="ebillEmail">
                    <th mat-header-cell *matHeaderCellDef>E-BILL E-MAIL ID</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">     
                      <mat-form-field appearance="outline" >
                        <input required #ebillEmail='ngModel' [(ngModel)]="element.ebillEmail" matInput name="ebillEmail-{{i}}" [(value)]="element.ebillEmail" 
                        (keyup)="changeValue(i, 'ebillEmail', $event.target.value)" (blur)="updateList(i, 'ebillEmail', $event.target.value)"
                        pattern="[A-Za-z_0-9.]{2,}@([A-Za-z0-9]{1,}[.]{1}[A-Za-z]{2,6}|[A-Za-z0-9]{1,}[.][A-Za-z]{2,6}[.]{1}[A-Za-z]{2,6})$"
                        maxlength="50" email [disabled]="msaBillingExists">
                      </mat-form-field>
                      <span *ngIf="(ebillEmail.errors?.required && (ebillEmail.touched || fBilling.submitted))" class="hasErrorMsg marginBilling"><i>Required !</i></span>
                      <span *ngIf="(ebillEmail.errors?.pattern && (ebillEmail.touched || fBilling.submitted))" class="hasErrorMsg marginBilling">Invalid Email</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="bdmEmail">
                    <th mat-header-cell *matHeaderCellDef ><div style="min-width: 22rem !important;">BDM E-MAIL ID</div></th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" style="margin-right: 0 !important;">
                        <mat-select disableOptionCentering panelClass="creditSelect" #bdmEmail='ngModel' [(ngModel)]="element.bdmEmail" matInput name="bdmEmail-{{i}}" [(value)]="element.bdmEmail" [disabled]="msaBillingExists">
                          <mat-option *ngFor="let item of element.bdmemailList" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select >
                      </mat-form-field>
                      <b *ngIf="!msaBillingExists"><i style="color: #27AE60; font-size: 3rem; cursor: pointer;" (click)="emailAddress(i)" #tooltip="matTooltip" matTooltip="ADD BDM E-MAIL ID"
                        matTooltipPosition="right" class="material-icons">add</i></b>
                  </ng-container>
                  <ng-container matColumnDef="commBillEmail">
                    <th mat-header-cell *matHeaderCellDef >COMMUNICATION E-MAIL ID</th>
                    <td class="paddingtopone paddingbottomone" mat-cell *matCellDef="let element; let i = index">
                      <mat-form-field appearance="outline" >
                        <input required #commBillEmail='ngModel' [(ngModel)]="element.commBillEmail" matInput name="commBillEmail-{{i}}" 
                        [(value)]="element.commBillEmail" (keyup)="changeValue(i, 'commBillEmail', $event.target.value)" 
                        (blur)="updateList(i, 'commBillEmail', $event.target.value)" pattern="[A-Za-z_0-9.]{2,}@([A-Za-z0-9]{1,}[.]{1}[A-Za-z]{2,6}|[A-Za-z0-9]{1,}[.][A-Za-z]{2,6}[.]{1}[A-Za-z]{2,6})$"
                        maxlength="50" email [disabled]="msaBillingExists">
                      </mat-form-field>
                      <span *ngIf="(commBillEmail.errors?.required && (commBillEmail.touched || fBilling.submitted))"
                          class="hasErrorMsg marginBilling">
                          <i>Required !</i>
                      </span>
                      <span *ngIf="(commBillEmail.errors?.pattern && (commBillEmail.touched || fBilling.submitted))" class="hasErrorMsg marginBilling">
                        Invalid Email
                      </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

            <!-- next -->
            <div class="row" *ngIf="billingData.cneeCnorBillingCateg=='CONSIGNEE' && billingData.cneeCnorFlag==1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  label-text">Consignee wise Billing</div></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zonalheadingbar">Mapped Consignee</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-border bilingConsinee" *ngFor="let item of billingData.billingCneeCnorMap">
                    {{item.cneeName}}
                  </div>
                </div>              
            </div>

            <div class="row" *ngIf="billingData.cneeCnorBillingCateg!='CONSIGNEE' && billingData.cneeCnorFlag==1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  label-text">Consignor/Consignee wise Billing
                </div></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  zonalheadingbar">Name</div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  zonalheadingbar">Mapped with</div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " *ngFor="let item of billingData.billingCneeCnorMap">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-border bilingConsinee">{{item.cnorName}}</div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bottom-border bilingConsinee">{{item.cneeName}}</div>
                </div>              
            </div>      

          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

    <!-- </div> -->

    <div style="margin-top: 3%;">
      <mat-accordion>
        <div class="example-button-row text-center" style="margin-top: 5%">
          <button *ngxPermissionsOnly="['BILLING CONFIG_CREATE','BILLING CONFIG_UPDATE']" type="submit" id="billingDraftButton" class="btn1" mat-raised-button color="primary" [disabled]="!fBilling.form.valid" (click)="isValidBillingDraft()">Save As Draft</button>
          <button *ngxPermissionsOnly="['BILLING CONFIG_CREATE','BILLING CONFIG_UPDATE']" type="sumit" id="billingNextButton" class="btn1" style="text-align: center" mat-raised-button color="primary" [disabled]="!fBilling.form.valid" (click)="isValidBilling()">Next</button>
          <button *ngxPermissionsOnly="['BILLING CONFIG_CREATE','BILLING CONFIG_UPDATE']" type="button" id="billingResetButton" class="btn1" mat-raised-button color="primary" (click)="ngOnInit()">Reset</button>
        </div>
      </mat-accordion>
    </div>
  </mat-card>
</form>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">  </ngx-spinner>