<div class="modal-container">
    <h5 class="sub_heading">Pin Code</h5>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <div>
        <div class="add_branch_main">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="25%">
                    <mat-label><strong>State</strong></mat-label>
                </div>
                <div fxFlex="70%">
                    <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search_2"
                       class="search_select" #State1Selected="ngModel"
                        (selectionChange)="getDistricts()" [(ngModel)]="stateId" name="State1Selected">
                        <ngx-mat-select-search [(ngModel)]="stateSearchCtrl" [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'" name="search">
                            <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search
                            </mat-icon>
                        </ngx-mat-select-search>
                        <mat-option [value]="state.id"
                            *ngFor="let state of stateList  | stringFilter:stateSearchCtrl:'stateName' | sortBy:'stateName'"
                            matTooltip="{{state.stateName}}" [matTooltipPosition]="'above'">
                            {{state.stateName}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="25%">
                    <mat-label><strong>District</strong></mat-label>
                </div>
                <div fxFlex="70%">
                    <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search_2"
                        class="search_select" #district1Id="ngModel"
                        [(ngModel)]="districtId" (selectionChange)="getCities()" name="State1Selected">
                        <ngx-mat-select-search [(ngModel)]="districtSearchCtrl" [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'" name="search">
                            <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search
                            </mat-icon>
                        </ngx-mat-select-search>
                        <mat-option [value]="district.id"
                            *ngFor="let district of districtList  | stringFilter:districtSearchCtrl:'districtName' | sortBy:'districtName'"
                            matTooltip="{{district.districtName}}" [matTooltipPosition]="'above'">
                            {{district.districtName}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="25%">
                    <mat-label><strong>City</strong></mat-label>
                </div>
                <div fxFlex="70%">

                    <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search_2"
                        class="search_select" #district1Id="ngModel"
                        [(ngModel)]="cityId" (selectionChange)="getPincodes()" name="city1Selected">
                        <ngx-mat-select-search [(ngModel)]="citySearchCtrl" [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'" name="search">
                            <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search
                            </mat-icon>
                        </ngx-mat-select-search>
                        <mat-option [value]="city.id"
                            *ngFor="let city of cityList  | stringFilter:citySearchCtrl:'cityName' | sortBy:'cityName'"
                            matTooltip="{{city.cityName}}" [matTooltipPosition]="'above'">
                            {{city.cityName}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="25%">
                    <mat-label><strong>Pin Code</strong></mat-label>
                </div>
                <div fxFlex="70%">
                    <mat-select disableOptionCentering panelClass="anyClass multipleAnyClass_search_2"
                        class="search_select" #district1Id="ngModel" 
                        [(ngModel)]="pincodeId" (selectionChange)="selectPincode()" name="pincode1Selected">
                        <ngx-mat-select-search [(ngModel)]="pincodeSearchCtrl" [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'" name="search">
                            <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search">search
                            </mat-icon>
                        </ngx-mat-select-search>
                        <mat-option [value]="pincode.id"
                            *ngFor="let pincode of pincodeList  | stringFilter:pincodeSearchCtrl:'pincode' | sortBy:'pincode'"
                            matTooltip="{{pincode.pincode}}" [matTooltipPosition]="'above'">
                            {{pincode.pincode}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                    <div class="branch_next_btn">
                        <button mat-button [mat-dialog-close]="pincode" (click)="submitPincode()">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>