<!-- view rate group details -->
<div *ngxPermissionsOnly="['CREATE','UPDATE','READ']">
    <div *ngIf="viewRate">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="18%">
                <h3 class="grid_title">Rate Group</h3>
            </div>
            <div fxFlex="82%%">
                <div class="hdr_srch_field">
                    <span matSuffix><em class="material-icons search_icon"
                            (click)="searchRateGroup($event)">search</em></span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="29%">
                            <mat-grid-list cols="1" rowHeight="40px">
                                <mat-grid-tile class="module_area" rowHeight="40px">
                                    <mat-form-field appearance="outline">
                                        <input matInput name="rateGroupName" [(ngModel)]="rateGroupName"
                                            (input)="rateGroupName=$event.target.value.toUpperCase()"
                                            (keyup)="clearSearch()" (keyup.enter)="searchRateGroup($event)"
                                            maxlength="5" />
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%">
                            <button (click)="addRate = true; viewRate = false;type='Create'" mat-button class="add_btn"
                                *ngxPermissionsOnly="['CREATE','UPDATE']">
                                <em class="material-icons">add</em>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.5%">
            <div fxFlex="18%">

                <h3 class="grid_title mr_top_30">Rate Group Value</h3>
            </div>
            <div fxFlex="82%">

                <mat-card class="card_body">
                    <div class="mat-table mat_table_main">
                        <div class="mat-row bg bg_light_grey table_main_header">
                            <div class="mat-cell mat_cell_head">NAME</div>
                            <div class="mat-cell mat_cell_head">STATUS</div>
                            <div class="mat-cell mat_cell_head">DESCRIPTION</div>
                            <div class="mat-cell"></div>
                        </div>
                        <div class="mat-row bg_light_grey"
                            *ngFor="let rate of rateGroupList| paginate: { itemsPerPage: 10, currentPage: page }">
                            <div class="mat-cell table_color hyperlink hyperLink_Color"
                                [matTooltip]="rate.rateGroupName" [matTooltipPosition]="'above'">
                                <span class="hyperlink" (click)="editRate(rate, 1)"> {{ rate.rateGroupName }}</span>
                            </div>
                            <div class="mat-cell">{{ rate.status | statusDesc }}</div>
                            <div class="mat-cell display_overflow_hidden" [matTooltip]="rate.description"
                                [matTooltipPosition]="'above'">
                                {{ rate.description }}</div>
                            <div class="mat-cell mat_cell_icon">
                                <mat-label><em class="material-icons icon_btn_display icon_theme_color"
                                        (click)="editRate(rate, 1)">remove_red_eye</em>
                                </mat-label>
                                <button mat-button (click)="editRate(rate,0)" class="float_right mr_top_10"
                                    *ngxPermissionsOnly="['CREATE','UPDATE']">
                                    <em class="material-icons icon_theme_color table_color">edit</em>
                                </button>
                            </div>
                        </div>
                        <div class="mat-row bg_light_grey" *ngIf="!rateGroupList.length">
                            <div class="mat-cell  upper-case text-center" style="text-align: center !important;">No Data
                                Present
                            </div>
                        </div>
                        <div class="pagination_area">
                            <pagination-controls (pageChange)="page = $event"></pagination-controls>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- add rate group details -->
    <mat-accordion *ngIf="addRate">
        <form autocomplete="off" name="form" (ngSubmit)="rateForm.form.valid && addRateGroup()" #rateForm="ngForm"
            novalidate>
            <mat-expansion-panel [expanded]="isExpand" [hideToggle]="isExpand">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{type}} Rate Group
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <br />
                <div class="padding_15">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Rate Group Name <sup class="mandatory">*</sup> </strong>
                                    </mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area input_padding">
                                    <mat-form-field appearance="outline" class=" pd_8"
                                        [ngClass]="{ 'mandatory_input': rateForm.submitted && rateGroupName.invalid }">
                                        <input matInput name="rateGroupName" class="form-control"
                                            #rateGroupName="ngModel" [(ngModel)]="rateGroupObj.rateGroupName"
                                            maxlength="50" required [disabled]="rateGroupObj.id"
                                            (input)="rateGroupObj.rateGroupName=$event.target.value.toUpperCase()" />
                                    </mat-form-field>
                                    <div *ngIf="rateGroupName.touched || (rateForm.submitted && rateGroupName.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="rateGroupName.errors?.required">Rate Group Name is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%"></div>
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Status <sup class="mandatory">*</sup> </strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area input_padding">
                                    <mat-form-field class="select_box_dropwodn pd_8 collapisable_slelect_dropdown"
                                        [ngClass]="{ 'mandatory_input': rateForm.submitted && status.invalid }">

                                        <mat-select disableOptionCentering panelClass="anyClass" uppercase
                                            [(ngModel)]="rateGroupObj.status" name="status" #status="ngModel">
                                            <mat-option [value]="1">
                                                ACTIVE
                                            </mat-option>
                                            <mat-option [value]="0">
                                                INACTIVE
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="status.touched || (rateForm.submitted && status.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="status.errors?.required">Status is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Effective Date <sup class="mandatory">*</sup> </strong>
                                    </mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust pd_8"
                                        [ngClass]="{ 'mandatory_input': (effectiveDate.errors?.required && (effectiveDate.touched || rateForm.submitted)) }">
                                        <mat-datepicker #date_picker_rate_group_2 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_2"
                                            (opened)="checkForExpiryDate(rateGroupObj.effectiveDate)"
                                            (closed)="removeMinDate(rateGroupObj.effectiveDate)">
                                        </mat-datepicker>
                                        <mat-datepicker-toggle matSuffix
                                            (onMenuOpen)="checkForExpiryDate(rateGroupObj.effectiveDate)"
                                            [for]="date_picker_rate_group_2" class="date_adjust">
                                        </mat-datepicker-toggle>
                                        <input matInput [matDatepicker]="date_picker_rate_group_2"
                                            class="date_input_height date_picker_input" name="effectiveDate" validDate
                                            #effectiveDate="ngModel" [(ngModel)]="rateGroupObj.effectiveDate"
                                            [min]="today" (change)="isChange=false"
                                            [disabled]="rateGroupObj.effectiveDate < today && this.rateGroupObj.id && isChange"
                                            (dateChange)="changeDateFormat(rateGroupObj.effectiveDate,rateGroupObj.expiryDate)"
                                            placeholder="DD/MM/YYYY" required />
                                    </mat-form-field>
                                    <div *ngIf="effectiveDate.touched || (rateForm.submitted && effectiveDate.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="effectiveDate.errors?.required">Effective Date is required</div>
                                        <div *ngIf="rateGroupObj.effectiveDate < today ">Effective Date can not be less
                                            than
                                            Current Date</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%"></div>
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Expiry Date</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust pd_8"
                                        [ngClass]="{ 'mandatory_input': isVar && ((rateGroupObj.expiryDate<=rateGroupObj.effectiveDate && !rateGroupObj.id) || (today>rateGroupObj.expiryDate && rateGroupObj.id))  }">
                                        <mat-datepicker #date_picker_rate_group_1 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_1"
                                            (opened)="checkForExpiryDate(rateGroupObj.effectiveDate)"
                                            (closed)="removeMinDate(rateGroupObj.effectiveDate)">
                                        </mat-datepicker>
                                        <input matInput [matDatepicker]="date_picker_rate_group_1" #expiryDate
                                            class="date_picker_input" [(ngModel)]="rateGroupObj.expiryDate"
                                            [required]="isInactive==true" name="expiryDate" placeholder="DD/MM/YYYY"
                                            validDate [min]="expiryMinDate"
                                            (dateChange)="changeDateFormat(rateGroupObj.effectiveDate,rateGroupObj.expiryDate);"
                                            (change)="isVar=true" />
                                        <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_1"
                                            class="date_adjust">
                                        </mat-datepicker-toggle>
                                    </mat-form-field>
                                    <div *ngIf="isVar" class="invalid-feedback">
                                        <div
                                            *ngIf="(rateGroupObj.expiryDate<=rateGroupObj.effectiveDate) || (today>rateGroupObj.expiryDate)">
                                            Must be Greater than Effective and Current Date.</div>
                                    </div>
                                    <div *ngIf="rateForm.submitted && expiryDate.invalid" class="invalid-feedback">
                                        <div *ngIf="rateGroupObj.expiryDate< currentDate && rateGroupObj.expiryDate">
                                            Must be Greater than Effective and Current Date</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Description</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area input_padding">
                                    <mat-form-field appearance="outline" class="pd_8">
                                        <input matInput name="description" class="form-control"
                                            [(ngModel)]="rateGroupObj.description" maxlength="50"
                                            (input)="rateGroupObj.description=$event.target.value.toUpperCase()" />
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <div fxFlex="10%"></div>

                        <div fxFlex="45 %"></div>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" *ngIf="!rateGroupObj.id">
                    <div fxFlex="100%">
                        <mat-grid-list cols="1" rowHeight="30px" class="row_height">
                            <mat-grid-tile class="module_area">
                                <button mat-flat-button class="theme_btn round_btn"
                                    [disabled]="!rateGroupObj.status && !rateGroupObj.id">
                                    Next
                                </button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </mat-expansion-panel>
        </form>
    </mat-accordion>

    <div cols="1" class="min_row_width">
        <div *ngIf="addSla">
            <form autocomplete="off" name="slaF" (ngSubmit)="slaF.form.valid && addServiceOffering()" #slaF="ngForm"
                novalidate>
                <div class="all_form" *ngIf="isValidRateGroup()">
                    <h3 class="zone_title">{{ type }} SLA</h3>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Service Offering<sup class="mandatory">*</sup> </strong>
                                    </mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn">
                                        <mat-select disableOptionCentering
                                            panelClass="anyClass multipleAnyClass_search_2"
                                            class="search_select_branch mr_top_22" [dataArr]="serviceOfferingList"
                                            appAutoSelectFirstOption [disabled]="rateGroupObj.status==0"
                                            [(ngModel)]="selectedServiceOffer" name="serviceOffer"
                                            (selectionChange)="emptyInput()"
                                            [ngClass]="{ 'mandatory_input': slaF.submitted && serviceOffer.invalid }"
                                            #serviceOffer="ngModel" required [compareWith]="compareServiceOffering">
                                            <ngx-mat-select-search [(ngModel)]="serviceOfferCtrl"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="search">
                                                <mat-icon
                                                    class="mat-select-search-custom-header-content mat_ngx_select_search">
                                                    search
                                                </mat-icon>
                                            </ngx-mat-select-search>
                                            <mat-option [value]="serviceOffer"
                                                *ngFor="let serviceOffer of serviceOfferingList | stringFilter:serviceOfferCtrl:'serviceOffering' | sortBy:'serviceOffering'"
                                                matTooltip=" {{ serviceOffer.serviceOffering }}"
                                                [matTooltipPosition]="'above'">
                                                {{ serviceOffer.serviceOffering }}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <mat-select disableOptionCentering panelClass="anyClass"
                                            [disabled]="rateGroupObj.status==0" [(ngModel)]="selectedServiceOffer"
                                            name="serviceOffer" (selectionChange)="emptyInput()"
                                            [ngClass]="{ 'mandatory_input': slaF.submitted && serviceOffer.invalid }"
                                            #serviceOffer="ngModel" required [compareWith]="compareServiceOffering">
                                            <mat-option [value]="serviceOffer" [matTooltip]="serviceOffer.serviceOffering" [matTooltipPosition]="'above'"
                                                *ngFor="let serviceOffer of serviceOfferingList">
                                                {{ serviceOffer.serviceOffering }}
                                            </mat-option>
                                        </mat-select> -->
                                    </mat-form-field>
                                    <div *ngIf="serviceOffer.touched || (slaF.submitted && serviceOffer.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="serviceOffer.errors?.required">Service Offering is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%"></div>
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>Status<sup class="mandatory">*</sup> </strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field class="select_box_dropwodn">

                                        <mat-select panelClass="anyClass" [(ngModel)]="serviceOfferObj.status"
                                            [disabled]="rateGroupObj.status==0" name="serviceStatus"
                                            [ngClass]="{ 'mandatory_input': slaF.submitted && serviceStatus.invalid }"
                                            #serviceStatus="ngModel" required uppercase>
                                            <mat-option [value]="1">ACTIVE</mat-option>
                                            <mat-option [value]="0">INACTIVE</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="serviceOffer.touched || (slaF.submitted && serviceOffer.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="serviceOffer.errors?.required">Status is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="55px">
                                <mat-grid-tile>
                                    <mat-label><strong>SLA <sup class="mandatory">*</sup></strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline"
                                        [ngClass]="{ 'mandatory_input': slaF.submitted && sla.invalid }">
                                        <input matInput name="sla" class="form-control" maxlength="3"
                                            [disabled]="rateGroupObj.status==0" [(ngModel)]="serviceOfferObj.sla"
                                            appTwoDigitDecimaNumber #sla="ngModel" required />
                                    </mat-form-field>
                                    <div *ngIf="sla.touched || (slaF.submitted && sla.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="sla.errors?.required">SLA is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%"></div>
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="60px">
                                <mat-grid-tile>
                                    <mat-label><strong>Price :<sup class="mandatory">*</sup> </strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline"
                                        [ngClass]="{ 'mandatory_input': slaF.submitted && price.invalid }">
                                        <input matInput name="price" class="form-control" maxlength="5"
                                            [disabled]="rateGroupObj.status==0" [(ngModel)]="serviceOfferObj.price"
                                            appTwoDigitDecimaNumber #price="ngModel" maxlength="8" required />
                                    </mat-form-field>
                                    <div *ngIf="price.touched || (slaF.submitted && price.invalid)"
                                        class="invalid-feedback">
                                        <div *ngIf="price.errors?.required">Price is required</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="45%">
                            <mat-grid-list cols="2" rowHeight="60px">
                                <mat-grid-tile>
                                    <mat-label><strong>Effective Date<sup class="mandatory">*</sup></strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust"
                                        [ngClass]="{ 'mandatory_input': ( slaEffectiveDate.errors?.required && (slaEffectiveDate.touched ) && (serviceOfferObj.effectiveDate < slaToday)) }">
                                        <mat-datepicker #date_picker_rate_group_3 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_3" (opened)="checkSlaEffectiveDate()">
                                        </mat-datepicker>
                                        <input matInput [matDatepicker]="date_picker_rate_group_3"
                                            class="date_input_height" placeholder="" placeholder="DD/MM/YYYY" validDate
                                            [(ngModel)]="serviceOfferObj.effectiveDate" name="slaEffectiveDate"
                                            [disabled]="rateGroupObj.effectiveDate < today && serviceOfferObj.id"
                                            #slaEffectiveDate="ngModel" required [min]="slaToday"
                                            [max]="rateGroupObj.expiryDate"
                                            (dateChange)="changeSLADateFormat(serviceOfferObj.effectiveDate,serviceOfferObj.expiryDate)" />
                                        <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_3">
                                        </mat-datepicker-toggle>
                                    </mat-form-field>
                                    <div *ngIf="(slaEffectiveDate.errors?.required && (slaEffectiveDate.touched || slaF.submitted))"
                                        class="invalid-feedback">
                                        Effective Date is required
                                    </div>
                                    <div class="invalid-feedback"
                                        *ngIf="rateGroupObj.id && serviceOfferObj.effectiveDate < rateGroupObj.effectiveDate">
                                        Must Be Equal Or Greater than Rate group Effective and Current Date </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="10%"></div>
                        <div fxFlex="45%">

                            <mat-grid-list cols="2" rowHeight="60px">
                                <mat-grid-tile>
                                    <mat-label><strong>Expiry Date</strong></mat-label>
                                </mat-grid-tile>
                                <mat-grid-tile class="module_area">
                                    <mat-form-field appearance="outline" class="date_picker_adjust"
                                        [ngClass]="{ 'mandatory_input': serviceOfferObj.expiryDate <= serviceOfferObj.effectiveDate }">
                                        <mat-datepicker #date_picker_rate_group_4 panelClass="mdmDatepicker"
                                            class="date_picker_rate_group_4">
                                        </mat-datepicker>
                                        <input matInput [matDatepicker]="date_picker_rate_group_4"
                                            class="date_input_height" placeholder="DD/MM/YYYY" #slaExpiryDate
                                            [disabled]="rateGroupObj.status==0" [(ngModel)]="serviceOfferObj.expiryDate"
                                            name="slaExpiryDate" validDate [minDate]="serviceOfferObj.effectiveDate"
                                            [min]="checkForExpiryDate(serviceOfferObj.effectiveDate)"
                                            [max]="rateGroupObj.expiryDate"
                                            (dateChange)="changeSLADateFormat(serviceOfferObj.effectiveDate,serviceOfferObj.expiryDate)" />
                                        <mat-datepicker-toggle matSuffix [for]="date_picker_rate_group_4">
                                        </mat-datepicker-toggle>
                                    </mat-form-field>

                                    <div *ngIf="serviceOfferObj.expiryDate <= serviceOfferObj.effectiveDate"
                                        class="invalid-feedback">
                                        <div>Greater than Effective Date</div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                        <div fxFlex="100%">
                            <mat-grid-list cols="1" rowHeight="30px" class="row_height">
                                <mat-grid-tile class="module_area">
                                    <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission"
                                        [disabled]="(!serviceOfferObj.status && !serviceOfferObj.id) ||(this.serviceOfferObj.effectiveDate < this.rateGroupObj.effectiveDate)">
                                        {{slaTitle}}
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
                <div class="Retegroup_all_form" *ngIf="!isValidRateGroup()">
                    <p class="">SLA can not be added or updated for INACTIVE Rate-group </p>
                </div>
            </form>
            <div>
                <div class="all_form">
                    <div class="mat-table mat_table_main">
                        <div class="mat-row bg bg_light_grey table_main_header">
                            <div class="mat-cell mat_cell_head"><strong>SERVICE OFFERING</strong></div>
                            <div class="mat-cell mat_cell_head"><strong>SLA</strong></div>
                            <div class="mat-cell mat_cell_head"><strong>PRICE</strong></div>
                            <div class="mat-cell mat_cell_head"><strong>STATUS</strong></div>
                            <div class="mat-cell" *ngIf="!submitPermission"></div>
                        </div>


                        <div *ngFor="let service of rateGroupObj.serviceOfferingSlaList;let i = index;">
                            <div class="mat-row bg_light_grey">
                                <div class="mat-cell table_color hyperlink">
                                    {{ service.serviceOffering }}
                                </div>
                                <div class="mat-cell">{{ service.sla }}</div>
                                <div class="mat-cell">{{ service.price }}</div>
                                <div class="mat-cell">{{ service.status | statusDesc }}</div>
                                <div class="mat-cell mat_cell_icon" *ngIf="!submitPermission">
                                    <mat-label>
                                        <mat-label>
                                            <span class="mat-button-wrapper">
                                                <em class="material-icons icon_btn_display icon_theme_color"
                                                    [ngClass]="{'disable-span': !isValidRateGroup() }"
                                                    *ngIf="!isValidRateGroup()">edit</em>
                                                <em class="material-icons icon_btn_display icon_theme_color"
                                                    (click)="editServiceOffering(i)"
                                                    *ngIf="isValidRateGroup()">edit</em>
                                            </span>
                                        </mat-label>
                                        <mat-label *ngIf="(!service.id || checkType(service.id)=='string')"><em
                                                class="material-icons icon_btn_display icon_theme_color"
                                                (click)="deleteServiceOffering(i)">delete</em>
                                        </mat-label>
                                    </mat-label>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-grid-list cols="1" rowHeight="40px" class="row_height mr_top_40">
                                    <mat-grid-tile class="module_area ">
                                        <button mat-flat-button class="theme_btn round_btn" *ngIf="submitPermission"
                                            (click)="showViewTable()">Back</button>
                                        <button mat-flat-button class="theme_btn round_btn" *ngIf="!submitPermission"
                                            [disabled]="checkForRateStatus() || (inActiveFlag && rateGroupObj.status == 0)"
                                            (click)="submitRateGroup()">
                                            Submit
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>